<div id="body">
  <div class="container-fluid px-1">
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-10 text-left">
            <!-- <ng-container *ngIf="branchId == null; else partial"> -->
            <h3 class="text-center d-inline mx-auto">DANH SÁCH VAI TRÒ</h3>
            <!-- </ng-container>
              <ng-template #partial>
                <h5 class="text-center d-inline mx-auto">DANH SÁCH MÔN HỌC NGÀNH
                  <span class="text-uppercase text-primary">{{branch.brA_NAME}}</span>
                </h5>
              </ng-template> -->
          </div>
          <div class="col-2 text-right my-auto">
            <ng-container *ngIf="per_add == true">
              <button class="btn btn-primary btn-sm ml-1" (click)="openModal()">
                <i class="fa fa-plus-circle"></i>
              </button>
            </ng-container>
            <!-- <ng-container *ngIf="per_del == true">
              <button class="btn btn-danger btn-sm ml-1" (click)="openModalDeleteMul()">
                <i class="fa fa-trash"></i>
              </button>
            </ng-container> -->
          </div>
        </div>
      </div>
      <div class="col-12 mt-2">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-bordered table-striped table-hover">
          <tfoot>
            <tr>
              <!-- <th><input style="display: none;" type="text" name="search-check" />
              </th>
              <th><input type="text" name="search-id" />
              </th> -->
              <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại khóa học" name="search-stt" />
              </th>
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm vai trò" name="search-first-name" /></th>
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm trạng thái" name="search-last-name" /></th>
              <th><input style="display: none;" type="text" placeholder="Search first name" name="search-option" /></th>
            </tr>
          </tfoot>
          <thead class="text-white">
            <tr class="text-center table-custom-bg">
              <!-- <th class="select-checkbox toggle-per-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
              <th></th> -->
              <th>STT</th>
              <th>Tên vai trò</th>
              <th>Trạng thái</th>
              <th style="min-width: 86px;"></th>
            </tr>
          </thead>
          <tbody class="text-center">
            <ng-container *ngFor="let item of permissions; let i = index">
              <tr>
                <!-- <td></td>
                <td>{{item.id}}</td> -->
                <td class="align-middle">{{i+1}}</td>
                <td class="align-middle">{{item.peR_NAME}}</td>
                <td class="align-middle">
                  <ng-container *ngIf="item.peR_STATUS == 1; else notactive">
                    <span class="text-success">Sử dụng</span>
                  </ng-container>
                  <ng-template #notactive>
                    <span class="text-danger">Loại bỏ</span>
                  </ng-template>
                </td>
                <td>
                  <button class="btn btn-success btn-sm" title="Chi tiết vai trò" (click)="openModalDetail(item.id)"><i
                      class="fa fa-eye"></i></button>
                  <ng-container *ngIf="item.id != 1 && item.id != 7 && item.id != 8 && item.id != 9">
                    <ng-container *ngIf="per_upd == true">
                      <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                          class="fa fa-pencil-square-o"></i></button>
                    </ng-container>
                    <ng-container *ngIf="per_del == true">
                      <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                          class="fa fa-trash"></i></button>
                    </ng-container>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog" (onHide)="resetDetailModal()"
  (onHidden)="resetDetailModal()" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">
          <ng-container *ngIf="permission != null">
            Thông tin vai trò {{permission.peR_NAME}}
          </ng-container>
        </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <div class="col-12 px-0">
            <ul class="d-flex nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link nav-link-custom active" (click)="loadTab(1)" id="tab_per_1" data-toggle="tab"
                  href="#content_1">Thông tin
                  chi tiết</a>
              </li>
              <span class="py-1">
                <div class="border-right">&nbsp;</div>
              </span>
              <ng-container *ngIf="per_ref == true">
                <li class="nav-item">
                  <a class="nav-link nav-link-custom" (click)="loadTab(2)" id="tab_per_2" data-toggle="tab"
                    href="#content_2">Danh sách
                    <ng-container *ngIf="permission != null">
                      {{permission.peR_NAME}}
                    </ng-container>
                  </a>
                </li>
                <span class="py-1">
                  <div class="border-right">&nbsp;</div>
                </span>
              </ng-container>
            </ul>
          </div>
          <div class="col-12 px-0 tab-content mt-3 border-0">
            <div class="tab-pane px-0 active" id="content_1">
              <div class="row px-3">
                <ng-container *ngIf="permission != null">
                  <div class="col-6">
                    <p><span class="font-weight-bold">Tên vai trò: </span>
                      {{permission.peR_NAME}}
                    </p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Trạng thái: </span>
                      <ng-container *ngIf="permission.peR_STATUS == 1; else nouse">
                        <span class="text-success">Sử dụng</span>
                      </ng-container>
                      <ng-template #nouse>
                        <span class="text-danger">Lược bỏ</span>
                      </ng-template>
                    </p>
                  </div>
                  <div class="col-12 border-bottom mb-4">
                    <div class="row">
                      <div class="col-auto bg-primary py-1 text-left">
                        <span class="text-white text-uppercase align-middle h5">Danh sách quyền</span>
                      </div>
                      <div class="arrow-half-custom"></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <ng-container *ngIf="roleTypes != null">
                        <ng-container *ngFor="let item of roleTypes">
                          <div class="col-3">
                            <h5 class="font-weight-bold text-primary">{{item.rotY_NAME}}</h5>
                            <div class="row">
                              <ul class="tree">
                                <ng-container *ngIf="item.roles != null">
                                  <ng-container *ngFor="let item1 of item.roles">
                                    <li class="branch my-1" style="line-height: normal;">
                                      <div class="row">
                                        <div class="col-auto my-auto"
                                          [ngClass]="{'pr-2': item1.roL_ACTID != 8, 'pr-0': item1.roL_ACTID == 8}">
                                          <ng-container *ngIf="item1.roL_ACTID != 8">
                                            <i id="{{'icon_vie_' + item1.id}}"
                                              class="fa fa-chevron-circle-down text-secondary"
                                              (click)="showItemView(item1.id)"
                                              style="cursor: pointer; font-size: large"></i>
                                          </ng-container>
                                        </div>
                                        <div class="col pl-0">
                                          <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                              (click)="showItem(item1.id);checkItem(item1.id,item.id)"
                                              class="custom-control-input" id="{{'role_vie_' + item1.id}}" disabled>
                                            <label class="custom-control-label text-dark text-capitalize"
                                              for="{{'role_vie_' + item1.id}}">{{item1.actionns.acT_NAME}}
                                              {{item1.tables.taB_NAME}}</label>
                                          </div>
                                        </div>
                                      </div>
                                      <ul id="{{'child_vie_' + item1.id}}" class="collapse">
                                        <ng-container *ngIf="item1.roles != null">
                                          <ng-container *ngFor="let item2 of item1.roles">
                                            <li class="branch my-1" style="line-height: normal; font-weight: normal;">
                                              <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                  id="{{'role_vie_' + item2.id}}" disabled>
                                                <label class="custom-control-label text-dark text-capitalize"
                                                  for="{{'role_vie_' + item2.id}}">{{item2.actionns.acT_NAME}}
                                                  {{item2.tables.taB_NAME}}</label>
                                              </div>
                                            </li>
                                          </ng-container>
                                        </ng-container>
                                      </ul>
                                    </li>
                                  </ng-container>
                                </ng-container>
                              </ul>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-6 mt-3">
                    <ng-container *ngIf="permission.userCreated != null">
                      <p class="text-secondary mb-0"><em>Tạo bởi
                          <ng-template #usercreated>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{permission.userCreated.employees[0].fileUrl}}"
                                  alt="{{permission.userCreated.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{permission.userCreated.employees[0].emP_CODE}}</p>
                                <p><span class="font-weight-bold">Quyền:
                                  </span>{{branchDetail.userCreated.employees.emP_CODE}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{permission.userCreated.employees[0].emP_LASTNAME}}
                                  {{permission.userCreated.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{permission.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{permission.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + permission.userCreated.employees.emP_PHONE}}">{{permission.userCreated.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{permission.userCreated.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + permission.userCreated.employees.emP_EMAIL}}">{{permission.userCreated.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{permission.userCreated.employees[0].emP_LASTNAME}}
                            {{permission.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                          {{permission.peR_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                    <ng-container *ngIf="permission.userModified != null">
                      <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                          <ng-template #usermodified>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{permission.userModified.employees[0].fileUrl}}"
                                  alt="{{permission.userModified.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{permission.userModified.employees[0].emP_CODE}}</p>
                                <p><span class="font-weight-bold">Quyền:
                                  </span>{{branchDetail.userModified.employees.emP_CODE}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{permission.userModified.employees[0].emP_LASTNAME}}
                                  {{permission.userModified.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{permission.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{permission.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + permission.userModified.employees.emP_PHONE}}">{{permission.userModified.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{permission.userModified.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + permission.userModified.employees.emP_EMAIL}}">{{permission.userModified.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{permission.userModified.employees[0].emP_LASTNAME}}
                            {{permission.userModified.employees[0].emP_FIRSTNAME}} </span> -
                          {{permission.peR_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                  </div>
                  <div class="col-6 mt-3 align-self-end text-right px-0">
                    <ng-container *ngIf="per_upd == true">
                      <button class="btn btn-warning btn-sm" (click)="openModal(permission.id)"><i
                          class="fa fa-pencil-square-o"></i>
                        Cập nhật</button>
                    </ng-container>
                    <ng-container *ngIf="per_del == true">
                      <button class="btn btn-danger btn-sm" (click)="openModalDelete(permission.id)"><i
                          class="fa fa-trash"></i>
                        Xóa</button>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
            <ng-container *ngIf="per_ref == true">
              <div class="tab-pane px-0 fade" id="content_2">
                <ng-container *ngIf="tabControl == 2">
                  <div class="col-12">
                    <ng-container *ngIf="permission_Id != null">
                      <div class="row mt-3">
                        <div class="col-12 px-0">
                          <ng-container *ngIf="permission.id == 8; else employee">
                            <app-student></app-student>
                          </ng-container>
                          <ng-template #employee>
                            <app-employee permissionId="{{permission_Id}}"></app-employee>
                          </ng-template>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
          <!-- <div class="col-12 border-bottom mb-4">
            <div class="row">
              <div class="col-auto bg-primary py-1 text-left">
                <span class="text-white text-uppercase align-middle h5">Thông tin vai trò</span>
              </div>
              <div class="arrow-half-custom"></div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left"><span id="modal_title_per"></span></h5>
        <button type="button" class="close pull-right close_modal_per_addupdate" aria-label="Close"
          (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 border-bottom mb-4 mx-3">
            <div class="row">
              <div class="col-auto bg-primary py-1 text-left">
                <span class="text-white text-uppercase align-middle h5">Vai trò</span>
              </div>
              <div class="arrow-half-custom"></div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tên vai trò:</label>
              <div class="col-8 my-auto">
                <input class="form-control d-inline form-control-sm" id="field_per_1" (blur)="validate_per_name()"
                  placeholder="Tên vai trò..." [(ngModel)]="permission.peR_NAME">
                <span id="valid_mes_per_1" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Trạng thái:</label>
              <div class="col-8 my-auto">
                <select id="field_per_2" [(ngModel)]="permission.peR_STATUS"
                  class="form-control d-inline form-control-sm" (blur)="validate_per_status()">
                  <option value="1">Sử dụng</option>
                  <option value="2">Lược bỏ</option>
                </select>
                <span id="valid_mes_per_2" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-12 border-bottom mb-4 mx-3">
            <div class="row">
              <div class="col-auto bg-primary py-1 text-left">
                <span class="text-white text-uppercase align-middle h5">Danh sách quyền</span>
              </div>
              <div class="arrow-half-custom"></div>
            </div>
          </div>
          <div class="col-12">
            <div class="row px-3">
              <ng-container *ngIf="roleTypes != null">
                <ng-container *ngFor="let item of roleTypes">
                  <div class="col-3">
                    <h5 class="font-weight-bold text-primary">{{item.rotY_NAME}}</h5>
                    <div class="row">
                      <ul class="tree">
                        <ng-container *ngIf="item.roles != null">
                          <ng-container *ngFor="let item1 of item.roles">
                            <li class="branch my-1" style="line-height: normal;">
                              <div class="row">
                                <div class="col-auto my-auto"
                                  [ngClass]="{'pr-2': item1.roL_ACTID != 8, 'pr-0': item1.roL_ACTID == 8}">
                                  <ng-container *ngIf="item1.roL_ACTID != 8">
                                    <i id="{{'icon_' + item1.id}}" class="fa fa-chevron-circle-down text-secondary"
                                      (click)="showItem(item1.id)" style="cursor: pointer; font-size: large"></i>
                                  </ng-container>
                                </div>
                                <div class="col pl-0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" (click)="showItem(item1.id);checkItem(item1.id,item.id)"
                                      class="custom-control-input" id="{{'role_' + item1.id}}">
                                    <label class="custom-control-label text-dark text-capitalize"
                                      for="{{'role_' + item1.id}}">{{item1.actionns.acT_NAME}}
                                      {{item1.tables.taB_NAME}}</label>
                                  </div>
                                </div>
                              </div>
                              <ul id="{{'child_' + item1.id}}" class="collapse">
                                <ng-container *ngIf="item1.roles != null">
                                  <ng-container *ngFor="let item2 of item1.roles">
                                    <li class="branch my-1" style="line-height: normal; font-weight: normal;">
                                      <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="{{'role_' + item2.id}}">
                                        <label class="custom-control-label text-dark text-capitalize"
                                          for="{{'role_' + item2.id}}">{{item2.actionns.acT_NAME}}
                                          {{item2.tables.taB_NAME}}</label>
                                      </div>
                                    </li>
                                  </ng-container>
                                </ng-container>
                              </ul>
                            </li>
                          </ng-container>
                        </ng-container>
                      </ul>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
          <div class="col-12">
            <ng-container *ngIf="roleIsNull == 0">
              <span class="text-warning px-3" id="warning_per_all"><i class='fa fa-warning'></i> Không có quyền nào được
                chọn!</span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_per_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_per_addupdate"><i
            class="fa fa-times"></i> Thoát</button>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_per_addupdate"><i
            class="fa fa-check"></i> OK</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa vai trò</h5>
        <button type="button" class="close pull-right close_modal_per_delete" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="permission != null">
                <p class="text-justify">
                  Bạn có chắc chắn muốn xóa vai trò <span class="text-primary">{{permission.peR_NAME}}</span> không?
                </p>
              </ng-container>
            </div>
            <div class="col-8">
              <div class="row">
                <ng-container *ngIf="permission != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">{{permission.peR_NAME}}</span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(permission.id)"><i id="{{'buttonicon_per_' + permission.id}}"
                              class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <div class="col-12 border-left mb-2" id="{{'detailToggle_per_' + permission.id}}">
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Tên vai trò: </strong>
                              {{permission.peR_NAME}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Trạng thái: </strong>
                              <ng-container *ngIf="permission.peR_STATUS == 1; else nouse">
                                Sử dụng
                              </ng-container>
                              <ng-template #nouse>
                                Loại bỏ
                              </ng-template>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-auto">
                                <strong>Danh sách quyền:</strong>
                              </div>
                              <div class="col">
                                <ng-container *ngIf="permission != null">
                                  <ng-container *ngFor="let item of permission.role_Permissions">
                                    <ng-container *ngIf="item.ropE_ISACTIVE == true">
                                      {{item.roles.actionns.acT_NAME}} {{item.roles.tables.taB_NAME}} <br>
                                    </ng-container>
                                  </ng-container>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_per_delete"><i
            class="fa fa-times"></i>
          Thoát</button>
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_per_delete"><i
            class="fa fa-check"></i> OK</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDeletMul="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl text-uppercase">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Xóa danh sách vai trò</h5>
        <button type="button" class="close pull-right close_modal_per_multidel" aria-label="Close"
          (click)="modalDeletMul.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="isListItemNull == true; else haveitem">
                <p class='text-danger'><i class='fa fa-exclamation-circle'></i> Không có vai trò nào được
                  chọn!</p>
              </ng-container>
              <ng-template #haveitem>
                <p class="text-justify">Bạn có chắc chắn muốn xóa danh sách vai trò:</p>
              </ng-template>
            </div>
            <div class="col-8">
              <ng-container *ngIf="isListItemNull == true; else haveitem1">
                <div class="row">
                  <div class="col-12 text-center border-left" style="height: 65vh;">
                    <img src="../assets/img/no-results.png" alt="no item found">
                  </div>
                </div>
              </ng-container>
              <ng-template #haveitem1>
                <ng-container *ngIf="permissionsMultiDel != null">
                  <ng-container *ngFor="let item of permissionsMultiDel">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12 border-bottom mb-2">
                            <div class="row">
                              <div class="col-auto bg-primary py-1 text-left">
                                <span class="text-white text-uppercase align-middle">{{item.peR_NAME}}</span>
                              </div>
                              <div class="arrow-half-custom"></div>
                              <button style="right: 0;bottom: -1px;"
                                class="btn btn-outline-secondary btn-sm position-absolute"
                                (click)="ToggleGroupMulti(item.id)"><i id="{{'buttonicon_per_mul_' + item.id}}"
                                  class="fa fa-minus"></i></button>
                            </div>
                          </div>
                          <div class="col-12 border-left mb-2" id="{{'detailToggle_per_mul_' + item.id}}">
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Tên vai trò: </strong>
                                  {{item.peR_NAME}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Trạng thái: </strong>
                                  <ng-container *ngIf="item.peR_STATUS == 1; else nouse">
                                    Sử dụng
                                  </ng-container>
                                  <ng-template #nouse>
                                    Loại bỏ
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <div class="row">
                                  <div class="col-auto">
                                    <strong>Danh sách quyền:</strong>
                                  </div>
                                  <div class="col">
                                    <ng-container *ngIf="item.role_Permissions != null">
                                      <ng-container *ngFor="let item1 of item.role_Permissions">
                                        <ng-container *ngIf="item1.ropE_ISACTIVE == true">
                                          {{item1.roles.actionns.acT_NAME}} {{item1.roles.tables.taB_NAME}} <br>
                                        </ng-container>
                                      </ng-container>
                                    </ng-container>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDeletMul.hide()" class="btn btn-danger close_modal_per_multidel"><i
            class="fa fa-times"></i>
          Thoát</button>
        <ng-container *ngIf="isListItemNull == false">
          <button type="button" (click)="deleteMul()" class="btn btn-success" id="save_modal_per_multidel"><i
              class="fa fa-check"></i> OK</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
