<div id="body">
  <!-- <div class="container-fluid px-1"> -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-10 text-left">
          <h3 class="text-center d-inline mx-auto">DANH SÁCH LỊCH THI</h3>
        </div>
        <div class="col-2 text-right my-auto">
          <ng-container *ngIf="scte_add == true">
            <button class="btn btn-primary btn-sm ml-1" (click)="openModal()">
              <i class="fa fa-plus-circle"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="scte_del == true">
            <button class="btn btn-danger btn-sm ml-1" (click)="openModalDeleteMul()">
              <i class="fa fa-trash"></i>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped table-hover myTable" id="tb_main">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" name="search-check" />
            </th>
            <th><input type="text" name="search-id" />
            </th>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại bài thi" name="search-stt" />
            </th>
            <!-- <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                    placeholder="Tìm kiếm mã đề thi" name="search-testtype" /></th> -->
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm loại bài thi" name="search-testtype" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm môn học" name="search-first-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm ngày thi" name="search-time" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm ca thi" name="search-last-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm phòng thi" name="search-last-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm trạng thái" name="search-last-name" /></th>
            <th><input style="display: none;" type="text" placeholder="Search first name" name="search-option" /></th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th class="select-checkbox toggle-scte-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
            <th></th>
            <th>STT</th>
            <!-- <th>Mã đề thi</th> -->
            <th>Loại bài thi</th>
            <th>Môn học</th>
            <th>Ngày thi</th>
            <th>Ca thi</th>
            <th>Phòng thi</th>
            <th>Trạng thái</th>
            <th style="min-width: 86px;"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of scheduleTests; let i = index">
            <tr>
              <td></td>
              <td>{{item.id}}</td>
              <td class="align-middle">{{i+1}}</td>
              <!-- <td class="align-middle">{{item.teS_CODE}}</td> -->
              <td class="align-middle">
                <ng-container *ngIf="item.tests != null && item.tests.test_Types != null">
                  {{item.tests.test_Types.tetY_NAME}}
                </ng-container>
              </td>
              <td class="align-middle">
                <ng-container *ngIf="item.tests != null && item.tests.subjects != null">
                  {{item.tests.subjects.suB_NAME}}
                </ng-container>
              </td>
              <td class="align-middle">
                {{item.sctE_DATE | date : 'dd/MM/yyyy'}}
              </td>
              <td class="align-middle">
                {{item.testShifts.shI_NAME}} <br> ({{"2020-06-22 " + item.testShifts.shI_TIMESTART | date: 'shortTime'}}
                - {{item.testShifts.timeEnd}})
              </td>
              <td class="align-middle">
                {{item.labs.laB_NAME}}
              </td>
              <td class="align-middle">
                <ng-container *ngIf="item.sctE_STATUS == 1">
                  <span class="text-secondary">Đang chờ</span>
                </ng-container>
                <ng-container *ngIf="item.sctE_STATUS == 2">
                  <span class="text-success">Đã mở</span>
                </ng-container>
                <ng-container *ngIf="item.sctE_STATUS == 3">
                  <span class="text-danger">Đang thi</span>
                </ng-container>
                <ng-container *ngIf="item.sctE_STATUS == 4">
                  <span class="text-secondary">Đã kết thúc</span>
                </ng-container>
              </td>
              <td class="align-middle">
                <button class="btn btn-success btn-sm" title="Chi tiết lịch thi" (click)="openModalDetail(item.id)"><i
                    class="fa fa-eye"></i></button>
                <ng-container *ngIf="scte_upd == true">
                  <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                      class="fa fa-pencil-square-o"></i></button>
                </ng-container>
                <ng-container *ngIf="scte_del == true">
                  <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                      class="fa fa-trash"></i></button>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog" (onHide)="resetDetailModal()"
  (onHidden)="resetDetailModal()" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Thông tin chi tiết</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <div class="col-12 px-0">
            <ul class="d-flex nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link nav-link-custom active" (click)="loadTab(1)" id="tab_scte_1" data-toggle="tab"
                  href="#content_scte_1">Thông tin
                  chi tiết</a>
              </li>
              <span class="py-1">
                <div class="border-right">&nbsp;</div>
              </span>
              <ng-container *ngIf="scte_ref == true">
                <li class="nav-item">
                  <a class="nav-link nav-link-custom" (click)="loadTab(2)" id="tab_scte_2" data-toggle="tab"
                    href="#content_scte_2">Danh sách sinh viên
                  </a>
                </li>
                <span class="py-1">
                  <div class="border-right">&nbsp;</div>
                </span>
              </ng-container>
            </ul>
          </div>
          <div class="col-12 px-0 tab-content mt-3 border-0">
            <div class="tab-pane px-0 active" id="content_scte_1">
              <div class="row px-3">
                <ng-container *ngIf="scheduleTestView != null">
                  <div class="col-6">
                    <p><span class="font-weight-bold">Loại bài thi: </span>
                      <ng-container *ngIf="scheduleTestView.tests != null">
                        <a class="text-decoration-none" href="#" [routerLink]="['/testtype']"
                          [queryParams]="{id: scheduleTestView.tests.test_Types.id}">{{scheduleTestView.tests.test_Types.tetY_NAME}}</a>
                      </ng-container>
                    </p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Môn học: </span>
                      <ng-container *ngIf="scheduleTestView.tests != null">
                        <a class="text-decoration-none" href="#" [routerLink]="['/subject']"
                          [queryParams]="{id: scheduleTestView.tests.subjects.id}">{{scheduleTestView.tests.subjects.suB_NAME}}</a>
                      </ng-container>
                    </p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Ngày thi: </span>
                      {{scheduleTestView.sctE_DATE | date: 'dd/MM/yyyy'}}
                    </p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Ca thi: </span>
                      <ng-container *ngIf="scheduleTestView.testShifts != null">
                        {{scheduleTestView.testShifts.shI_NAME}}
                        ({{"2020-06-22 " + scheduleTestView.testShifts.shI_TIMESTART | date: 'shortTime'}} -
                        {{scheduleTestView.testShifts.timeEnd}})
                      </ng-container>
                    </p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Phòng thi: </span>
                      <ng-container *ngIf="scheduleTestView.labs != null">
                        {{scheduleTestView.labs.laB_NAME}}
                      </ng-container>
                    </p>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="col-auto my-auto">
                        <p class="mb-0"><span class="font-weight-bold">Đề thi: </span>
                        </p>
                      </div>
                      <div class="col">
                        <div class="input-group input-group-sm">
                          <ng-container
                            *ngIf="scheduleTestView.tests != null && scheduleTestView.tests.userCreated != null">
                            <input class="form-control d-inline form-control-sm"
                              value="{{'Đề thi - Giảng viên ' + scheduleTestView.tests.userCreated.employees[0].emP_LASTNAME + ' ' + scheduleTestView.tests.userCreated.employees[0].emP_FIRSTNAME}}"
                              disabled>
                          </ng-container>
                          <div class="input-group-append">
                            <button id="button_field_10" class="btn btn-outline-secondary" title="Xem đề thi"
                              (click)="showTest(scheduleTestView.sctE_TESID)"><i class="fa fa-eye"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-6 mt-3">
                    <ng-container *ngIf="scheduleTestView.userCreated != null">
                      <p class="text-secondary mb-0"><em>Tạo bởi
                          <ng-template #usercreated>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{scheduleTestView.userCreated.employees[0].fileUrl}}"
                                  alt="{{scheduleTestView.userCreated.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{scheduleTestView.userCreated.employees[0].emP_CODE}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{scheduleTestView.userCreated.employees[0].emP_LASTNAME}}
                                  {{scheduleTestView.userCreated.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{scheduleTestView.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{scheduleTestView.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + scheduleTestView.userCreated.employees.emP_PHONE}}">{{scheduleTestView.userCreated.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{scheduleTestView.userCreated.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + scheduleTestView.userCreated.employees.emP_EMAIL}}">{{scheduleTestView.userCreated.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{scheduleTestView.userCreated.employees[0].emP_LASTNAME}}
                            {{scheduleTestView.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                          {{scheduleTestView.sctE_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                    <ng-container *ngIf="scheduleTestView.userModified != null">
                      <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                          <ng-template #usermodified>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{scheduleTestView.userModified.employees[0].fileUrl}}"
                                  alt="{{scheduleTestView.userModified.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{scheduleTestView.userModified.employees[0].emP_CODE}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{scheduleTestView.userModified.employees[0].emP_LASTNAME}}
                                  {{scheduleTestView.userModified.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{scheduleTestView.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{scheduleTestView.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + scheduleTestView.userModified.employees.emP_PHONE}}">{{scheduleTestView.userModified.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{scheduleTestView.userModified.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + scheduleTestView.userModified.employees.emP_EMAIL}}">{{scheduleTestView.userModified.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{scheduleTestView.userModified.employees[0].emP_LASTNAME}}
                            {{scheduleTestView.userModified.employees[0].emP_FIRSTNAME}} </span> -
                          {{scheduleTestView.sctE_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                  </div>
                  <div class="col-6 align-self-end text-right px-0">
                    <ng-container *ngIf="scte_upd == true">
                      <button class="btn btn-warning btn-sm" (click)="openModal(scheduleTestView.id)"><i
                          class="fa fa-pencil-square-o"></i> Cập nhật</button>
                    </ng-container>
                    <ng-container *ngIf="scte_del == true">
                      <button class="btn btn-danger btn-sm" (click)="openModalDelete(scheduleTestView.id)"><i
                          class="fa fa-trash"></i>
                        Xóa</button>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
            <ng-container *ngIf="scte_ref == true">
              <div class="tab-pane px-0 fade" id="content_scte_2">
                <div class="row px-3">
                  <ng-container *ngIf="scheduleTest_Id != null">
                    <app-student scheduleTestId="{{scheduleTest_Id}}"></app-student>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger">
          <i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left"><span id="modal_title_scte"></span></h5>
        <button type="button" class="close pull-right close_modal_scte_addupd" aria-label="Close"
          (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <div class="col-12 px-0">
            <ul class="d-flex nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link nav-link-custom active" id="tab_addupd_scte_1" data-toggle="tab"
                  href="#content_addupd_scte_1">Lịch thi</a>
              </li>
              <span class="py-1">
                <div class="border-right">&nbsp;</div>
              </span>
              <li class="nav-item">
                <a class="nav-link nav-link-custom" id="tab_addupd_scte_2" data-toggle="tab"
                  href="#content_addupd_scte_2" [ngClass]="{'disabled': tabControlAddupd == 1}">Danh sách sinh viên
                </a>
              </li>
            </ul>
          </div>
          <div class="col-12 px-0 tab-content mt-3 border-0">
            <div class="tab-pane px-0 active" id="content_addupd_scte_1">
              <div class="row px-3">
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Loại bài thi:</label>
                    <div class="col-8 my-auto">
                      <select class="form-control d-inline form-control-sm" id="field_scte_1"
                        (blur)="validate_scte_testtype()" [(ngModel)]="testtypeID" (ngModelChange)="generateTest()">
                        <ng-container *ngIf="testtypes != null">
                          <ng-container *ngFor="let item of testtypes">
                            <option value="{{item.id}}">{{item.tetY_NAME}}</option>
                          </ng-container>
                        </ng-container>
                      </select>
                      <span id="valid_mes_scte_1" class="invalid-feedback"></span>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Môn học:</label>
                    <div class="col-8 my-auto">
                      <select class="form-control d-inline form-control-sm" id="field_scte_2"
                        (blur)="validate_scte_subject()" [(ngModel)]="subjectID" (ngModelChange)="generateTest()">
                        <ng-container *ngIf="subjects != null">
                          <ng-container *ngFor="let item of subjects">
                            <option value="{{item.id}}">{{item.suB_NAME}}</option>
                          </ng-container>
                        </ng-container>
                      </select>
                      <span id="valid_mes_scte_2" class="invalid-feedback"></span>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Ngày thi:</label>
                    <div class="col-8 my-auto">
                      <input type="date" class="form-control d-inline form-control-sm" id="field_scte_4"
                        (blur)="validate_scte_date();validate_scte_scheduletest_allow()"
                        [(ngModel)]="scheduleTest.sctE_DATE">
                      <span id="valid_mes_scte_4" class="invalid-feedback"></span>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Ca thi:</label>
                    <div class="col-8 my-auto">
                      <select class="form-control d-inline form-control-sm" id="field_scte_5"
                        (blur)="validate_scte_testshift();validate_scte_scheduletest_allow()"
                        [(ngModel)]="scheduleTest.sctE_SHIID">
                        <ng-container *ngIf="testShifts != null">
                          <ng-container *ngFor="let item of testShifts">
                            <ng-container *ngIf="item.shI_STATUS == 1">
                              <option value="{{item.id}}">{{item.shI_NAME}}
                                ({{"2020-06-22 " + item.shI_TIMESTART | date: 'shortTime'}})</option>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </select>
                      <span id="valid_mes_scte_5" class="invalid-feedback"></span>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Phòng thi:</label>
                    <div class="col-8 my-auto">
                      <select class="form-control d-inline form-control-sm" id="field_scte_6"
                        (blur)="validate_scte_lab();validate_scte_scheduletest_allow()"
                        [(ngModel)]="scheduleTest.sctE_LABID">
                        <ng-container *ngIf="labs != null">
                          <ng-container *ngFor="let item of labs">
                            <ng-container *ngIf="item.laB_STATUS == 1">
                              <option value="{{item.id}}">{{item.laB_NAME}}</option>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </select>
                      <span id="valid_mes_scte_6" class="invalid-feedback"></span>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Đề thi:</label>
                    <div class="col-8 my-auto">
                      <div class="input-group input-group-sm">
                        <select class="form-control d-inline form-control-sm" id="field_scte_3"
                          (blur)="validate_scte_test()" [(ngModel)]="scheduleTest.sctE_TESID" disabled>
                          <ng-container *ngIf="tests != null">
                            <ng-container *ngFor="let item of tests">
                              <option value="{{item.id}}">Đề thi - Giảng viên
                                <ng-container *ngIf="item.userCreated != null">
                                  <span class="text-primary">
                                    {{item.userCreated.employees[0].emP_LASTNAME}}
                                    {{item.userCreated.employees[0].emP_FIRSTNAME}}
                                  </span>
                                </ng-container>
                              </option>
                            </ng-container>
                          </ng-container>
                        </select>
                        <div class="input-group-append">
                          <button id="button_field_10" class="btn btn-outline-secondary" title="Xem đề thi"
                            (click)="showTest(scheduleTest.sctE_TESID)"
                            [disabled]="!(testtypeID != null && subjectID != null)"><i class="fa fa-eye"></i></button>
                        </div>
                      </div>
                      <span id="valid_mes_scte_3" style="display: block;" class="invalid-feedback"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row px-3">
                <span id="valid_mes_tes_all_tab1" style="display: block;" class="text-danger"></span>
              </div>
            </div>
            <div class="tab-pane px-0 fade pb-0" id="content_addupd_scte_2">
              <div class="row px-3">
                <div class="col-3">
                  <div class="row mb-2">
                    <div class="col-12 border-bottom mt-1">
                      <div class="row">
                        <div class="col-auto bg-primary py-1 text-left">
                          <span class="text-white text-uppercase align-middle h5">Danh sách sinh viên</span>
                        </div>
                        <div class="arrow-half-custom"></div>
                        <button style="right: 5px;" class="btn btn-success btn-sm position-absolute"
                          [disabled]="scheduleTest.id != 0 && scheduleTest != null && allowUpdateStudent == false"
                          title="Thêm thí sinh" (click)="openModalAddStudent()"><i class="fa fa-plus"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="row overflow-auto" style="height: 44vh;">
                    <ng-container *ngIf="listStudent[0] != null">
                      <ng-container *ngFor="let item of listStudent; let i = index">
                        <div class="col-12 py-2 border rounded" style="max-height: 42px;">
                          <a href="#" (click)="showQuestion(item.id,$event)" class="text-decoration-none">
                            <span><strong><span id="{{'markStudent_' + item.id}}">{{i+1}}</span>.</strong>
                              {{item.stU_LASTNAME}} {{item.stU_FIRSTNAME}}
                            </span>
                            <ng-container
                              *ngIf="scheduleTest.id != 0 && scheduleTest != null && allowUpdateStudent == false; else allowAction">
                              <span class="float-right text-decoration-none"><i
                                  class="fa fa-times text-danger"></i></span>
                            </ng-container>
                            <ng-template #allowAction>
                              <a href="#" (click)="removeStudent(item.id,$event)"
                                class="float-right text-decoration-none">
                                <i class="fa fa-times text-danger"></i>
                              </a>
                            </ng-template>
                          </a>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-12 border-bottom mb-4 mt-1">
                      <div class="row">
                        <div class="col-auto bg-primary py-1 text-left">
                          <span class="text-white text-uppercase align-middle h5" id="title_detail">Thông tin sinh
                            viên</span>
                        </div>
                        <div class="arrow-half-custom"></div>
                        <span class="position-absolute" style="right: 0px; bottom: 2px;"><span
                            class="font-weight-bold">Số lượng sinh viên: </span><span
                            [ngClass]="{'text-danger': countStudent > maxStudent || countStudent < minStudent, 'text-success': countStudent <= maxStudent && countStudent >= minStudent}">{{countStudent}}</span>
                          / {{maxStudent}}</span>
                        <span class="position-absolute" style="right: 16rem; bottom: 2px;"><span
                            class="font-weight-bold">Tối đa: </span>{{maxStudent}}</span>
                        <span class="position-absolute" style="right: 25rem; bottom: 2px;"><span
                            class="font-weight-bold">Tối thiểu: </span>{{minStudent}}</span>
                      </div>
                    </div>
                    <div class="col-12 overflow-auto" style="height: 48vh;">
                      <div class="row px-2">
                        <ng-container *ngIf="student != null">
                          <div class="col-12 mb-2">
                            <div class="row">
                              <div class="col-6">
                                <span><strong>Mã sinh viên: </strong>{{student.stU_CODE}}</span>
                              </div>
                              <div class="col-6">
                                <span><strong>CMND: </strong>{{student.stU_IDENTITY}}</span>
                              </div>
                              <div class="col-6">
                                <span><strong>Họ và tên: </strong>{{student.stU_LASTNAME}}
                                  {{student.stU_FIRSTNAME}}</span>
                              </div>
                              <div class="col-6">
                                <span><strong>Ngày sinh:
                                  </strong>{{student.stU_DATEOFBIRTH | date: 'dd/MM/yyyy'}}</span>
                              </div>
                              <div class="col-6">
                                <span><strong>Giới tính:
                                  </strong>
                                  <ng-container *ngIf="student.stU_GENDER == true; else Female">
                                    Nam
                                  </ng-container>
                                  <ng-template #Female>
                                    Nữ
                                  </ng-template>
                                </span>
                              </div>
                              <div class="col-6">
                                <span><strong>Số điện thoại:
                                  </strong>{{student.stU_PHONE}}</span>
                              </div>
                              <div class="col-6">
                                <span><strong>Email:
                                  </strong>{{student.stU_EMAIL}}</span>
                              </div>
                              <div class="col-6">
                                <span><strong>Địa chỉ:
                                  </strong>{{student.stU_ADDRESS}}</span>
                              </div>
                              <div class="col-6">
                                <span><strong>Niên khóa:
                                  </strong>{{student.schoolYears.scyE_CODE}}</span>
                              </div>
                              <div class="col-6">
                                <span><strong>Ngành:
                                  </strong>{{student.branches.brA_NAME}}</span>
                              </div>
                              <div class="col-6">
                                <span><strong>Lớp:
                                  </strong>{{student.classes.clA_CODE}}</span>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="countStudent < minStudent || countStudent > maxStudent">
                <div class="row px-3">
                  <span id="valid_mes_tes_all_tab2" style="display: block;" class="text-danger"><i
                      class="fa fa-exclamation-circle"></i> Vui lòng chọn đủ số
                    lượng sinh viên!</span>
                </div>
              </ng-container>
              <ng-container *ngIf="scheduleTest.id != 0 && scheduleTest != null && allowUpdateStudent == false">
                <div class="row px-3">
                  <span style="display: block;" class="text-warning"><i class="fa fa-warning"></i> Ngày hiện tại cách
                    ngày thi ít hơn 7 ngày, không thể chỉnh sửa danh sách sinh viên!</span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_scte_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <ng-container *ngIf="tabControlAddupd == 1">
          <button type="button" (click)="nextStep()" class="btn btn-success"><i class="fa fa-arrow-circle-right"></i>
            Kế
            tiếp</button>
          <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_scte_addupd"><i
              class="fa fa-times"></i> Thoát</button>
        </ng-container>
        <ng-container *ngIf="tabControlAddupd == 2">
          <button type="button" (click)="prevStep()" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i>
            Trở
            lại</button>
          <button type="button" (click)="save()" class="btn btn-success" id="save_modal_scte_addupd"><i
              class="fa fa-check"></i> OK</button>
          <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_scte_addupd"><i
              class="fa fa-times"></i> Thoát</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalAddStudent="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">Chọn sinh viên</h5>
        <button type="button" class="close pull-right close_modal_scte_addstu" aria-label="Close"
          (click)="modalAddStudent.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-6 text-left">
                <h3 class="text-center d-inline mx-auto">DANH SÁCH SINH VIÊN</h3>
              </div>
              <div class="col-6 text-right">
                <span>
                  <span
                    [ngClass]="{'text-danger': numberOfStudentLeft < countStudentPickLeft, 'text-success': numberOfStudentLeft >= countStudentPickLeft}">{{countStudentPickLeft}}</span>
                  / {{numberOfStudentLeft}} sinh viên còn lại</span>
              </div>
            </div>
          </div>
          <div class="col-12 mt-2">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1"
              class="table table-bordered table-striped table-hover myTable w-100" id="tb_sub">
              <tfoot>
                <tr>
                  <th><input style="display: none;" type="text" name="search-check" />
                  </th>
                  <th><input type="text" name="search-id" />
                  </th>
                  <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại bài thi" name="search-stt" />
                  </th>
                  <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                      placeholder="Tìm kiếm mã SV" name="search-testtype" /></th>
                  <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                      placeholder="Tìm kiếm họ" name="search-first-name" /></th>
                  <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                      placeholder="Tìm kiếm tên" name="search-time" /></th>
                  <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                      placeholder="Tìm kiếm niên khóa" name="search-last-name" /></th>
                  <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                      placeholder="Tìm kiếm ngành" name="search-last-name" /></th>
                  <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                      placeholder="Tìm kiếm lớp" name="search-last-name" /></th>
                </tr>
              </tfoot>
              <thead class="text-white">
                <tr class="text-center table-custom-bg">
                  <th class="select-checkbox toggle-scte-stu-all" (click)="Select_Clear_All_Student()"
                    style="width: 4%;"></th>
                  <th></th>
                  <th>STT</th>
                  <th>Mã SV</th>
                  <th>Họ</th>
                  <th>Tên</th>
                  <th>Niên khóa</th>
                  <th>Ngành</th>
                  <th>Lớp</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <ng-container *ngFor="let item of students; let i = index">
                  <ng-container *ngIf="item != null">
                    <tr id="{{'table_stupick_row_' + item.id}}">
                      <td (click)="studentPick(item.id)"></td>
                      <td>{{item.id}}</td>
                      <td class="align-middle">{{i+1}}</td>
                      <td class="align-middle">{{item.stU_CODE}}</td>
                      <td class="align-middle text-left">
                        {{item.stU_LASTNAME}}
                      </td>
                      <td class="align-middle text-left">{{item.stU_FIRSTNAME}}</td>
                      <td class="align-middle">
                        {{item.schoolYears.scyE_CODE}}
                      </td>
                      <td class="align-middle">
                        {{item.branches.brA_NAME}}
                      </td>
                      <td class="align-middle">{{item.classes.clA_CODE}}</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row px-3">
          <span id="valid_mes_tes_addstudent" style="display: block;" class="text-danger"></span>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_scte_stu_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="addStudent()" class="btn btn-success" id="save_modal_scte_addstu"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalAddStudent.hide()" class="btn btn-danger close_modal_scte_addstu"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalTestView="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}" (onHide)="resetshowTest()" (onHidden)="resetshowTest()">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">Xem đề thi</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalTestView.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <ng-container *ngIf="test_Id != null">
            <app-test testId="{{test_Id}}"></app-test>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalTestView.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa lịch thi</h5>
        <button type="button" class="close pull-right close_modal_scte_del" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="scheduleTest != null">
                <p class="text-justify">
                  Bạn có chắc chắn muốn xóa lịch thi
                  <ng-container *ngIf="scheduleTest.tests != null">
                    {{scheduleTest.tests.test_Types.tetY_NAME}}
                  </ng-container>
                  môn <span class="text-primary">
                    <ng-container *ngIf="scheduleTest.tests != null">
                      {{scheduleTest.tests.subjects.suB_NAME}}
                    </ng-container>
                  </span> không?
                </p>
              </ng-container>
            </div>
            <div class="col-8">
              <div class="row">
                <ng-container *ngIf="scheduleTest != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">Lịch thi
                              <ng-container *ngIf="scheduleTest.tests != null">
                                {{scheduleTest.tests.test_Types.tetY_NAME}}
                              </ng-container>
                              môn
                              <ng-container *ngIf="scheduleTest.tests != null">
                                {{scheduleTest.tests.subjects.suB_NAME}}
                              </ng-container>
                            </span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(scheduleTest.id)"><i id="{{'buttonicon_scte_' + scheduleTest.id}}"
                              class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <div class="col-12 border-left mb-2" id="{{'detailToggle_scte_' + scheduleTest.id}}">
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Ngày thi: </strong>
                              {{scheduleTest.sctE_DATE | date: 'dd/MM/yyyy'}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Ca thi: </strong>
                              <ng-container *ngIf="scheduleTest.testShifts != null">
                                {{scheduleTest.testShifts.shI_NAME}}
                                ({{"2020-06-22 " + scheduleTest.testShifts.shI_TIMESTART | date: 'shortTime'}} -
                                {{scheduleTest.testShifts.timeEnd}})
                              </ng-container>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Phòng thi: </strong>
                              <ng-container *ngIf="scheduleTest.labs != null">
                                {{scheduleTest.labs.laB_NAME}}
                              </ng-container>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Trạng thái: </strong>
                              <ng-container *ngIf="scheduleTest.sctE_STATUS == 1">
                                <span class="text-success">Đang chờ</span>
                              </ng-container>
                              <ng-container *ngIf="scheduleTest.sctE_STATUS == 2">
                                <span class="text-danger">Đang thi</span>
                              </ng-container>
                              <ng-container *ngIf="scheduleTest.sctE_STATUS == 3">
                                <span class="text-secondary">Đã kết thúc</span>
                              </ng-container>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_scte_del"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_scte_del"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDeletMul="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa danh sách lịch thi</h5>
        <button type="button" class="close pull-right close_modal_scte_muldel" aria-label="Close"
          (click)="modalDeletMul.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="isListItemNull == true; else haveitem">
                <p class='text-danger'><i class='fa fa-exclamation-circle'></i> Không có lịch thi nào được
                  chọn!</p>
              </ng-container>
              <ng-template #haveitem>
                <p class="text-justify">Bạn có chắc chắn muốn xóa danh sách lịch thi:</p>
              </ng-template>
            </div>
            <div class="col-8">
              <ng-container *ngIf="isListItemNull == true; else haveitem1">
                <div class="row">
                  <div class="col-12 text-center border-left" style="height: 65vh;">
                    <img src="../assets/img/no-results.png" alt="no item found">
                  </div>
                </div>
              </ng-container>
              <ng-template #haveitem1>
                <ng-container *ngIf="scheduleTestsMultiDel != null">
                  <ng-container *ngFor="let item of scheduleTestsMultiDel">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12 border-bottom mb-2">
                            <div class="row">
                              <div class="col-auto bg-primary py-1 text-left">
                                <span class="text-white text-uppercase align-middle">Lịch thi
                                  <ng-container *ngIf="item.tests != null">
                                    {{item.tests.test_Types.tetY_NAME}}
                                  </ng-container>
                                  môn
                                  <ng-container *ngIf="item.tests != null">
                                    {{item.tests.subjects.suB_NAME}}
                                  </ng-container>
                                </span>
                              </div>
                              <div class="arrow-half-custom"></div>
                              <button style="right: 0;bottom: -1px;"
                                class="btn btn-outline-secondary btn-sm position-absolute"
                                (click)="ToggleGroupMulti(item.id)"><i id="{{'buttonicon_scte_mul_' + item.id}}"
                                  class="fa fa-minus"></i></button>
                            </div>
                          </div>
                          <div class="col-12 border-left mb-2" id="{{'detailToggle_scte_mul_' + item.id}}">
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Ngày thi: </strong>
                                  {{item.sctE_DATE | date: 'dd/MM/yyyy'}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Ca thi: </strong>
                                  <ng-container *ngIf="item.testShifts != null">
                                    {{item.testShifts.shI_NAME}}
                                    ({{"2020-06-22 " + item.testShifts.shI_TIMESTART | date: 'shortTime'}} -
                                    {{item.testShifts.timeEnd}})
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Phòng thi: </strong>
                                  <ng-container *ngIf="item.labs != null">
                                    {{item.labs.laB_NAME}}
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Trạng thái: </strong>
                                  <ng-container *ngIf="item.sctE_STATUS == 1">
                                    <span class="text-success">Đang chờ</span>
                                  </ng-container>
                                  <ng-container *ngIf="item.sctE_STATUS == 2">
                                    <span class="text-danger">Đang thi</span>
                                  </ng-container>
                                  <ng-container *ngIf="item.sctE_STATUS == 3">
                                    <span class="text-secondary">Đã kết thúc</span>
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="isListItemNull == false">
          <button type="button" (click)="deleteMul()" class="btn btn-success" id="save_modal_scte_muldel"><i
              class="fa fa-check"></i> OK</button>
        </ng-container>
        <button type="button" (click)="modalDeletMul.hide()" class="btn btn-danger close_modal_scte_muldel"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
