<div #script style.display="none">
  <ng-content></ng-content>
</div>

<!-- <script-hack>alert('hoi');</script-hack> -->

<!-- <script-hack src="//platform.twitter.com/widgets.js" type="text/javascript"></script-hack> -->