<div id="body">
  <!-- <div class="container-fluid px-1"> -->
  <ng-container *ngIf="isListItemNull == true">
    <div class="row" style="height: 70vh;">
      <div class="col-12 text-center my-auto">
        <img src="../assets/img/no-results.png" alt="no item found">
      </div>
      <div class="col-12 text-center">
        <h5 class="text-danger">Hiện tại không tìm thấy lịch thi nào!</h5>
      </div>
    </div>
  </ng-container>
  <div class="row" [ngClass]="{'d-none': isListItemNull == true, 'd-block': isListItemNull == false}">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-12 text-left">
          <h3 class="text-center d-inline mx-auto">LỊCH THI</h3>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped table-hover">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại bài thi" name="search-stt" />
            </th>
            <!-- <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                                    placeholder="Tìm kiếm mã đề thi" name="search-testtype" /></th> -->
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm loại bài thi" name="search-testtype" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm môn học" name="search-first-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm ngày thi" name="search-time" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm ca thi" name="search-last-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm phòng thi" name="search-last-name" /></th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th>STT</th>
            <!-- <th>Mã đề thi</th> -->
            <th>Loại bài thi</th>
            <th>Môn học</th>
            <th>Ngày thi</th>
            <th>Ca thi</th>
            <th>Phòng thi</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of scheduleTests; let i = index">
            <tr>
              <td class="align-middle">{{i+1}}</td>
              <!-- <td class="align-middle">{{item.teS_CODE}}</td> -->
              <td class="align-middle">
                <ng-container *ngIf="item.tests != null && item.tests.test_Types != null">
                  {{item.tests.test_Types.tetY_NAME}}
                </ng-container>
              </td>
              <td class="align-middle">
                <ng-container *ngIf="item.tests != null && item.tests.subjects != null">
                  {{item.tests.subjects.suB_NAME}}
                </ng-container>
              </td>
              <td class="align-middle">
                {{item.sctE_DATE | date : 'dd/MM/yyyy'}}
              </td>
              <td class="align-middle">
                {{item.testShifts.shI_NAME}} <br>
                ({{"2020-06-22 " + item.testShifts.shI_TIMESTART | date: 'shortTime'}}
                - {{item.testShifts.timeEnd}})
              </td>
              <td class="align-middle">
                {{item.labs.laB_NAME}}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>
