<div class="row">
  <div class="col-12">
    <!-- <div class="row">
      <div class="col-4 border rounded chart-custom" (click)="openModal(1)">
        <div class="row">
          <div class="col-12">
            <div style="display: block" class="mt-2 p-2">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
          </div>
          <div class="col-12">
            <p class="ml-3 font-weight-bold">Khóa học được quan tâm</p>
          </div>
        </div>
      </div>
      <div class="col-4 border rounded chart-custom" (click)="openModal(2)">
        <div class="row">
          <div class="col-12">
            <div style="display: block" class="mt-2 p-2">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
          </div>
          <div class="col-12">
            <p class="ml-3 font-weight-bold">Học viên mới</p>
          </div>
        </div>
      </div>
      <div class="col-4 border rounded chart-custom" (click)="openModal(3)">
        <div class="row">
          <div class="col-12">
            <div style="display: block" class="mt-2 p-2">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
          </div>
          <div class="col-12">
            <p class="ml-3 font-weight-bold">Lớp học mới</p>
          </div>
        </div>
      </div>
      <div class="col-4 border rounded chart-custom" (click)="openModal(4)">
        <div class="row">
          <div class="col-12">
            <div style="display: block" class="mt-2 p-2">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
          </div>
          <div class="col-12">
            <p class="ml-3 font-weight-bold">Học viên theo học nhiều lớp nhất</p>
          </div>
        </div>
      </div>
      <div class="col-4 border rounded chart-custom" (click)="openModal(5)">
        <div class="row">
          <div class="col-12">
            <div style="display: block" class="mt-2 p-2">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
          </div>
          <div class="col-12">
            <p class="ml-3 font-weight-bold">Giảng viên dạy nhiều lớp nhất</p>
          </div>
        </div>
      </div>
      <div class="col-4 border rounded chart-custom" [routerLink]="['/openingclass']">
        <div class="row">
          <div class="col-12">
            <div style="display: block" class="mt-2 p-2">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
          </div>
          <div class="col-12">
            <p class="ml-3 font-weight-bold">Các lớp đang học</p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row mt-3">
      <div class="col-sm-6 col-lg-4">
        <div class="card text-white bg-info" (click)="openModal(1)">
          <div class="card-body pb-0">
            <!-- <button type="button" class="btn btn-transparent p-0 float-right">
              <i class="icon-location-pin"></i>
            </button> -->
            <!-- <div class="text-value">9.823</div> -->
            <div class="font-weight-bold">Khóa học được quan tâm</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels"
              [options]="lineChart2Options" [colors]="lineChart2Colours" [legend]="lineChart2Legend"
              [chartType]="lineChart2Type"></canvas>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6 col-lg-4" (click)="openModal(2)">
        <div class="card text-white bg-primary">
          <div class="card-body pb-0">
            <!-- <div class="btn-group float-right" dropdown>
              <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div> -->
            <!-- <div class="text-value">9.823</div> -->
            <div class="font-weight-bold">Học viên mới</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas baseChart class="chart" [datasets]="lineChart1Data" [labels]="lineChart1Labels"
              [options]="lineChart1Options" [colors]="lineChart1Colours" [legend]="lineChart1Legend"
              [chartType]="lineChart1Type"></canvas>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6 col-lg-4" (click)="openModal(3)">
        <div class="card text-white bg-warning">
          <div class="card-body pb-0">
            <!-- <div class="btn-group float-right" dropdown>
              <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div> -->
            <!-- <div class="text-value">9.823</div> -->
            <div class="font-weight-bold">Khóa học mới mở lớp</div>
          </div>
          <div class="chart-wrapper mt-3" style="height:70px;">
            <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels"
              [options]="lineChart3Options" [colors]="lineChart3Colours" [legend]="lineChart3Legend"
              [chartType]="lineChart3Type"></canvas>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6 col-lg-4" (click)="openModal(4)">
        <div class="card text-white bg-danger">
          <div class="card-body pb-0">
            <!-- <div class="btn-group float-right" dropdown>
              <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div> -->
            <!-- <div class="text-value">9.823</div> -->
            <div class="font-weight-bold">Học viên theo học nhiều lớp nhất</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels"
              [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend"
              [chartType]="barChart1Type" [plugins]="barChartPlugins"></canvas>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6 col-lg-4" (click)="openModal(5)">
        <div class="card text-white bg-success">
          <div class="card-body pb-0">
            <!-- <div class="btn-group float-right" dropdown>
              <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div> -->
            <!-- <div class="text-value">9.823</div> -->
            <div class="font-weight-bold">Giảng viên dạy nhiều lớp nhất</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels"
              [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend"
              [chartType]="barChart1Type"></canvas>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6 col-lg-4" (click)="openModal(6)">
        <div class="card text-white bg-teal">
          <div class="card-body pb-0">
            <!-- <div class="btn-group float-right" dropdown>
              <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div> -->
            <!-- <div class="text-value">9.823</div> -->
            <div class="font-weight-bold">Các lớp đang học</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels"
              [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend"
              [chartType]="barChart1Type"></canvas>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
  </div>
</div>
<div bsModal #modal="bs-modal" class="modal fade right" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h4 class="modal-title pull-left"><span id="modal_title"></span></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <ng-container *ngIf="number == 1">
          <app-reporttopcourse></app-reporttopcourse>
        </ng-container>
        <ng-container *ngIf="number == 2">
          <app-reportnewstudent></app-reportnewstudent>
        </ng-container>
        <ng-container *ngIf="number == 3">
          <app-reportnewclass></app-reportnewclass>
        </ng-container>
        <ng-container *ngIf="number == 4">
          <app-reporttopstudent></app-reporttopstudent>
        </ng-container>
        <ng-container *ngIf="number == 5">
          <app-reporttopteacher></app-reporttopteacher>
        </ng-container>
        <ng-container *ngIf="number == 6">
          <app-reportopenclass></app-reportopenclass>
        </ng-container> -->
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modal.hide()" class="btn btn-secondary">Thoát</button>
      </div>
    </div>
  </div>
</div>
