<div id="body">
  <!-- <div class="container-fluid px-1"> -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-10 text-left">
          <h3 class="text-center d-inline mx-auto">DANH SÁCH CA THI</h3>
        </div>
        <div class="col-2 text-right my-auto">
          <ng-container *ngIf="tesf_add == true">
            <button class="btn btn-primary btn-sm ml-1" (click)="openModal()">
              <i class="fa fa-plus-circle"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="tesf_del == true">
            <button class="btn btn-danger btn-sm ml-1" (click)="openModalDeleteMul()">
              <i class="fa fa-trash"></i>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped table-hover myTable">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" name="search-check" />
            </th>
            <th><input type="text" name="search-id" />
            </th>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại khóa học" name="search-stt" />
            </th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text" placeholder="Tìm kiếm tên"
                name="search-first-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm thời gian" name="search-time" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm trạng thái" name="search-last-name" /></th>
            <th><input style="display: none;" type="text" placeholder="Search first name" name="search-option" /></th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th class="select-checkbox toggle-shi-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
            <th></th>
            <th>STT</th>
            <th>Tên ca thi</th>
            <th>Thời gian bắt đầu</th>
            <th>Trạng thái</th>
            <th style="min-width: 86px;"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of testshifts; let i = index">
            <tr>
              <td></td>
              <td>{{item.id}}</td>
              <td class="align-middle">{{i+1}}</td>
              <td class="align-middle">{{item.shI_NAME}}</td>
              <td class="align-middle">{{"2020-06-22 " + item.shI_TIMESTART | date: 'shortTime'}}</td>
              <td class="align-middle">
                <ng-container *ngIf="item.shI_STATUS == 1; else nouse">
                  <span class="text-success">Sử dụng</span>
                </ng-container>
                <ng-template #nouse>
                  <span class="text-danger">Không sử dụng</span>
                </ng-template>
              </td>
              <td>
                <button class="btn btn-success btn-sm" title="Chi tiết ca thi" (click)="openModalDetail(item.id)"><i
                    class="fa fa-eye"></i></button>
                <ng-container *ngIf="tesf_upd == true">
                  <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                      class="fa fa-pencil-square-o"></i></button>
                </ng-container>
                <ng-container *ngIf="tesf_del == true">
                  <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                      class="fa fa-trash"></i></button>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog" (onHide)="resetDetailModal()"
  (onHidden)="resetDetailModal()" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Thông tin chi tiết</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <div class="col-12 px-0">
            <ul class="d-flex nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link nav-link-custom active" (click)="loadTab(1)" id="tab_shi_1" data-toggle="tab"
                  href="#content_shi_1">Thông tin
                  chi tiết</a>
              </li>
              <span class="py-1">
                <div class="border-right">&nbsp;</div>
              </span>
            </ul>
          </div>
          <div class="col-12 px-0 tab-content mt-3 border-0">
            <div class="tab-pane px-0 active" id="content_shi_1">
              <div class="row px-3">
                <ng-container *ngIf="testshift != null">
                  <div class="col-6">
                    <p><span class="font-weight-bold">Tên ca thi: </span> {{testshift.shI_NAME}}</p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Thời gian bắt đầu: </span>
                      <ng-container *ngIf="testshift.shI_TIMESTART != null">
                        {{"2020-06-22 " + testshift.shI_TIMESTART | date : 'shortTime'}}
                      </ng-container>
                    </p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Trạng thái: </span>
                      <ng-container *ngIf="testshift.shI_STATUS == 1; else nouse1">
                        <span class="text-success">Sử dụng</span>
                      </ng-container>
                      <ng-template #nouse1>
                        <span class="text-danger">Không sử dụng</span>
                      </ng-template>
                    </p>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-6 mt-3">
                    <ng-container *ngIf="testshift.userCreated != null">
                      <p class="text-secondary mb-0"><em>Tạo bởi
                          <ng-template #usercreated>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{testshift.userCreated.employees[0].fileUrl}}"
                                  alt="{{testshift.userCreated.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{testshift.userCreated.employees[0].emP_CODE}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{testshift.userCreated.employees[0].emP_LASTNAME}}
                                  {{testshift.userCreated.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{testshift.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{testshift.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + testshift.userCreated.employees.emP_PHONE}}">{{testshift.userCreated.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{testshift.userCreated.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + testshift.userCreated.employees.emP_EMAIL}}">{{testshift.userCreated.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{testshift.userCreated.employees[0].emP_LASTNAME}}
                            {{testshift.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                          {{testshift.shI_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                    <ng-container *ngIf="testshift.userModified != null">
                      <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                          <ng-template #usermodified>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{testshift.userModified.employees[0].fileUrl}}"
                                  alt="{{testshift.userModified.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{testshift.userModified.employees[0].emP_CODE}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{testshift.userModified.employees[0].emP_LASTNAME}}
                                  {{testshift.userModified.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{testshift.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{testshift.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + testshift.userModified.employees.emP_PHONE}}">{{testshift.userModified.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{testshift.userModified.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + testshift.userModified.employees.emP_EMAIL}}">{{testshift.userModified.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{testshift.userModified.employees[0].emP_LASTNAME}}
                            {{testshift.userModified.employees[0].emP_FIRSTNAME}} </span> -
                          {{testshift.shI_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                  </div>
                  <div class="col-6 align-self-end text-right px-0">
                    <ng-container *ngIf="tesf_upd == true">
                      <button class="btn btn-warning btn-sm" (click)="openModal(testshift.id)"><i
                          class="fa fa-pencil-square-o"></i> Cập nhật</button>
                    </ng-container>
                    <ng-container *ngIf="tesf_del == true">
                      <button class="btn btn-danger btn-sm" (click)="openModalDelete(testshift.id)"><i
                          class="fa fa-trash"></i>
                        Xóa</button>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left"><span id="modal_title_shi"></span></h5>
        <button type="button" class="close pull-right close_modal_shi_addupd" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tên ca thi:</label>
              <div class="col-8 my-auto">
                <input class="form-control d-inline form-control-sm" id="field_shi_1" (blur)="validate_shi_name()"
                  placeholder="Tên ca thi..." [(ngModel)]="testshift.shI_NAME">
                <span id="valid_mes_shi_1" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Thời gian bắt đầu:</label>
              <div class="col-8 my-auto">
                <input type="time" class="form-control d-inline form-control-sm" id="field_shi_2"
                  (blur)="validate_shi_timestart()" placeholder="Thời gian bắt đầu..."
                  [(ngModel)]="testshift.shI_TIMESTART">
                <span id="valid_mes_shi_2" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Trạng thái:</label>
              <div class="col-8 my-auto">
                <select id="field_shi_3" [(ngModel)]="testshift.shI_STATUS"
                  class="form-control d-inline form-control-sm" (blur)="validate_shi_status()">
                  <option value="1">Sử dụng</option>
                  <option value="2">Không sử dụng</option>
                </select>
                <span id="valid_mes_shi_3" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_shi_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_shi_addupd"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_shi_addupd"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa ca thi</h5>
        <button type="button" class="close pull-right close_modal_shi_del" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="testshift != null">
                <p class="text-justify">
                  Bạn có chắc chắn muốn xóa ca thi <span class="text-primary">{{testshift.shI_NAME}}</span> không?
                </p>
              </ng-container>
            </div>
            <div class="col-8">
              <div class="row">
                <ng-container *ngIf="testshift != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">{{testshift.shI_NAME}}</span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(testshift.id)"><i id="{{'buttonicon_shi_' + testshift.id}}"
                              class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <div class="col-12 border-left mb-2" id="{{'detailToggle_shi_' + testshift.id}}">
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Tên ca thi: </strong>
                              {{testshift.shI_NAME}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Thời gian bắt đầu: </strong>
                              <ng-container *ngIf="testshift.shI_TIMESTART != null">
                                {{"2020-06-22 " + testshift.shI_TIMESTART | date : 'shortTime'}}
                              </ng-container>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Trạng thái: </strong>
                              <ng-container *ngIf="testshift.shI_STATUS == 1; else nouse2">
                                <span class="text-success">Sử dụng</span>
                              </ng-container>
                              <ng-template #nouse2>
                                <span class="text-danger">Không sử dụng</span>
                              </ng-template>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_shi_del"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_shi_del"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDeletMul="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa danh sách ca thi</h5>
        <button type="button" class="close pull-right close_modal_shi_muldel" aria-label="Close"
          (click)="modalDeletMul.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="isListItemNull == true; else haveitem">
                <p class='text-danger'><i class='fa fa-exclamation-circle'></i> Không có ca thi nào được
                  chọn!</p>
              </ng-container>
              <ng-template #haveitem>
                <p class="text-justify">Bạn có chắc chắn muốn xóa danh sách ca thi:</p>
              </ng-template>
            </div>
            <div class="col-8">
              <ng-container *ngIf="isListItemNull == true; else haveitem1">
                <div class="row">
                  <div class="col-12 text-center border-left" style="height: 65vh;">
                    <img src="../assets/img/no-results.png" alt="no item found">
                  </div>
                </div>
              </ng-container>
              <ng-template #haveitem1>
                <ng-container *ngIf="testshiftsMultiDel != null">
                  <ng-container *ngFor="let item of testshiftsMultiDel">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12 border-bottom mb-2">
                            <div class="row">
                              <div class="col-auto bg-primary py-1 text-left">
                                <span class="text-white text-uppercase align-middle">{{item.shI_NAME}}</span>
                              </div>
                              <div class="arrow-half-custom"></div>
                              <button style="right: 0;bottom: -1px;"
                                class="btn btn-outline-secondary btn-sm position-absolute"
                                (click)="ToggleGroupMulti(item.id)"><i id="{{'buttonicon_shi_mul_' + item.id}}"
                                  class="fa fa-minus"></i></button>
                            </div>
                          </div>
                          <div class="col-12 border-left mb-2" id="{{'detailToggle_shi_mul_' + item.id}}">
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Tên ca thi: </strong>
                                  {{item.shI_NAME}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Thời gian bắt đầu: </strong>
                                  {{"2020-06-22 " + item.shI_TIMESTART | date: 'shortTime'}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Trạng thái: </strong>
                                  <ng-container *ngIf="item.shI_STATUS == 1; else nouse2">
                                    <span class="text-success">Sử dụng</span>
                                  </ng-container>
                                  <ng-template #nouse2>
                                    <span class="text-danger">Không sử dụng</span>
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="isListItemNull == false">
          <button type="button" (click)="deleteMul()" class="btn btn-success" id="save_modal_shi_muldel"><i
              class="fa fa-check"></i> OK</button>
        </ng-container>
        <button type="button" (click)="modalDeletMul.hide()" class="btn btn-danger close_modal_shi_muldel"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
