<div id="body">
  <!-- <div class="container-fluid px-1"> -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center ">
        <div class="col-8 text-left">
          <ng-container *ngIf="part.paR_NAME == null && passage.id == null;else partial">
            <h4 class="text-center d-inline mx-auto">DANH SÁCH CÂU HỎI</h4>
          </ng-container>
          <ng-template #partial>
            <ng-container *ngIf="part.paR_NAME != null;else passagetitle">
              <h4 class="text-center d-inline mx-auto">DANH SÁCH CÂU HỎI HỌC PHẦN <span
                  class="text-uppercase text-primary">{{part.paR_NAME}}</span></h4>
            </ng-container>
            <ng-template #passagetitle>
              <h4 class="text-center d-inline mx-auto">DANH SÁCH CÂU HỎI
                <span class="text-uppercase text-primary">
                  <ng-container *ngIf="passage.parts != null">
                    {{passage.parts.paR_NAME}} /
                  </ng-container>
                  Đoạn văn {{passage.paS_ORDER}}
                </span>
              </h4>
            </ng-template>
          </ng-template>
        </div>
        <div class="col-4 text-right my-auto">
          <ng-container *ngIf="que_add == true">
            <button class="btn btn-primary btn-sm ml-1" (click)="openModal()">
              <i class="fa fa-plus-circle"></i>
            </button>
            <button class="btn btn-primary btn-sm ml-1" title="Nhập excel danh sách câu hỏi" (click)=openModalImport()>
              <i class="fa fa-file-excel-o"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="que_con == true">
            <ng-container *ngIf="que_del == true">
              <button class="btn btn-danger btn-sm ml-1" (click)="openModalDeleteMul()">
                <i class="fa fa-trash"></i>
              </button>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped table-hover myTable" style="width: 100%;">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" name="search-check" />
            </th>
            <th><input type="text" name="search-id" />
            </th>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại khóa học" name="search-stt" />
            </th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm loại câu hỏi" name="search-first-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm môn học" name="search-last-name" /></th>
            <ng-container *ngIf="partId == null && passageId == null">
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm học phần / đoạn văn" name="search-credit" /></th>
            </ng-container>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm số điểm" name="search-credit" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm độ khó" name="search-credit" /></th>
            <th><input style="display: none;" type="text" placeholder="Search first name" name="search-option" /></th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th class="select-checkbox toggle-que-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
            <th></th>
            <th>STT</th>
            <th>Loại câu hỏi</th>
            <th>Thuộc môn học</th>
            <ng-container *ngIf="partId == null && passageId == null">
              <th>Thuộc học phần / đoạn văn</th>
            </ng-container>
            <th>Số điểm</th>
            <th>Độ khó</th>
            <th style="min-width: 86px;"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of questions; let i = index">
            <tr>
              <td></td>
              <td>{{item.id}}</td>
              <td class="align-middle">{{i+1}}</td>
              <td class="align-middle">{{item.answerTypes.antY_NAME}}</td>
              <td class="align-middle">
                <ng-container *ngIf="item.parts != null; else passage">
                  {{item.parts.subjects.suB_NAME}}
                </ng-container>
                <ng-template #passage>
                  {{item.passages.parts.subjects.suB_NAME}}
                </ng-template>
              </td>
              <ng-container *ngIf="partId == null && passageId == null">
                <ng-container *ngIf="item.passages != null;else part">
                  <td class="align-middle">{{item.passages.parts.paR_NAME}} / Đoạn văn {{item.passages.paS_ORDER}}
                  </td>
                </ng-container>
                <ng-template #part>
                  <td class="align-middle">{{item.parts.paR_NAME}}</td>
                </ng-template>
              </ng-container>
              <td class="align-middle">{{item.quE_SCORE}}</td>
              <td class="align-middle">
                <ng-container *ngIf="difficultDisplay.seT_CHOICEVALUE == 'Bằng chữ';else numberdisplay0">
                  <ng-container [ngSwitch]="item.quE_LEVEL">
                    <ng-container *ngSwitchCase="1">Dễ</ng-container>
                    <ng-container *ngSwitchCase="2">Trung bình Dễ</ng-container>
                    <ng-container *ngSwitchCase="3">Trung bình</ng-container>
                    <ng-container *ngSwitchCase="4">Trung bình Khó</ng-container>
                    <ng-container *ngSwitchCase="5">Khó</ng-container>
                  </ng-container>
                </ng-container>
                <ng-template #numberdisplay0>
                  <ng-container [ngSwitch]="item.quE_LEVEL">
                    <ng-container *ngSwitchCase="1">1</ng-container>
                    <ng-container *ngSwitchCase="2">2</ng-container>
                    <ng-container *ngSwitchCase="3">3</ng-container>
                    <ng-container *ngSwitchCase="4">4</ng-container>
                    <ng-container *ngSwitchCase="5">5</ng-container>
                  </ng-container>
                </ng-template>
              </td>
              <td>
                <!-- <ng-container *ngIf="partId == null && passageId == null;else linkpage"> -->
                <button class="btn btn-success btn-sm" title="Chi tiết câu hỏi" (click)="openModalDetail(item.id)"><i
                    class="fa fa-eye"></i></button>
                <!-- </ng-container>
                  <ng-template #linkpage>
                    <a class="btn btn-success btn-sm" title="Chi tiết học phần"
                      href="{{'/question?queid=' + item.id}}"><i class="fa fa-eye"></i></a>
                  </ng-template> -->
                <ng-container *ngIf="que_con == true; else questionSpecialize">
                  <ng-container *ngIf="que_upd == true">
                    <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                        class="fa fa-pencil-square-o"></i></button>
                  </ng-container>
                  <ng-container *ngIf="que_del == true">
                    <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                        class="fa fa-trash"></i></button>
                  </ng-container>
                </ng-container>
                <ng-template #questionSpecialize>
                  <ng-container
                    *ngIf="(item.parts != null && subjectsConstraint.includes(item.parts.subjects.id)) || (item.passages != null && subjectsConstraint.includes(item.passages.parts.subjects.id))">
                    <ng-container *ngIf="que_upd == true">
                      <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                          class="fa fa-pencil-square-o"></i></button>
                    </ng-container>
                    <ng-container *ngIf="que_del == true">
                      <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                          class="fa fa-trash"></i></button>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog" (onHide)="stopMedia(1)"
  (onHidden)="stopMedia(1)" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Chi tiết câu hỏi</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 border-bottom mb-4 mx-3">
            <div class="row">
              <div class="col-auto bg-primary py-1 text-left">
                <span class="text-white text-uppercase align-middle h5">Thông tin câu hỏi</span>
              </div>
              <div class="arrow-half-custom"></div>
            </div>
          </div>
          <ng-container *ngIf="question != null">
            <ng-container *ngIf="question.parts != null;else passage">
              <div class="col-6">
                <p><span class="font-weight-bold">Thuộc môn học: </span>
                  <a href="#" [routerLink]="['/subject']" [queryParams]="{id: question.parts.subjects.id}"
                    class="text-decoration-none">{{question.parts.subjects.suB_NAME}}</a>
                </p>
              </div>
            </ng-container>
            <ng-template #passage>
              <div class="col-6">
                <ng-container *ngIf="question.passages != null">
                  <p><span class="font-weight-bold">Thuộc môn học: </span>
                    <a href="#" [routerLink]="['/subject']" [queryParams]="{id: question.passages.parts.subjects.id}"
                      class="text-decoration-none">{{question.passages.parts.subjects.suB_NAME}}</a>
                  </p>
                </ng-container>
              </div>
            </ng-template>
            <ng-container *ngIf="partId == null && passageId == null">
              <div class="col-6">
                <p>
                  <ng-container *ngIf="question.parts != null; else passage1">
                    <span class="font-weight-bold">Thuộc học phần: </span>
                    <a href="#" [routerLink]="['/part']" [queryParams]="{id: question.parts.id}"
                      class="text-decoration-none">{{question.parts.paR_NAME}}</a>
                  </ng-container>
                  <ng-template #passage1>
                    <ng-container *ngIf="question.passages != null">
                      <span class="font-weight-bold">Thuộc học phần / đoạn văn: </span>
                      <a href="#" [routerLink]="['/part']" [queryParams]="{id: question.passages.parts.id}"
                        class="text-decoration-none">{{question.passages.parts.paR_NAME}} </a>/
                      <a href="#" [routerLink]="['/passage']" [queryParams]="{id: question.passages.id}"
                        class="text-decoration-none"> Đoạn văn
                        {{question.passages.paS_ORDER}}</a>
                    </ng-container>
                  </ng-template>
                </p>
              </div>
            </ng-container>
            <ng-container *ngIf="question.answerTypes != null">
              <div class="col-6">
                <p><span class="font-weight-bold">Loại câu hỏi: </span>
                  <a href="#" [routerLink]="['/answertype']" [queryParams]="{id: question.answerTypes.id}"
                    class="text-decoration-none">{{question.answerTypes.antY_NAME}}</a>
                </p>
              </div>
            </ng-container>
            <div class="col-6">
              <p><span class="font-weight-bold">Số điểm: </span>
                {{question.quE_SCORE}}
              </p>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Độ khó: </span>
                <ng-container *ngIf="difficultDisplay.seT_CHOICEVALUE == 'Bằng chữ';else numberdisplay0">
                  <ng-container [ngSwitch]="question.quE_LEVEL">
                    <ng-container *ngSwitchCase="1">Dễ</ng-container>
                    <ng-container *ngSwitchCase="2">Trung bình Dễ</ng-container>
                    <ng-container *ngSwitchCase="3">Trung bình</ng-container>
                    <ng-container *ngSwitchCase="4">Trung bình Khó</ng-container>
                    <ng-container *ngSwitchCase="5">Khó</ng-container>
                  </ng-container>
                </ng-container>
                <ng-template #numberdisplay0>
                  <ng-container [ngSwitch]="question.quE_LEVEL">
                    <ng-container *ngSwitchCase="1">1</ng-container>
                    <ng-container *ngSwitchCase="2">2</ng-container>
                    <ng-container *ngSwitchCase="3">3</ng-container>
                    <ng-container *ngSwitchCase="4">4</ng-container>
                    <ng-container *ngSwitchCase="5">5</ng-container>
                  </ng-container>
                </ng-template>
              </p>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Hiển thị đáp án: </span>
                {{question.quE_OPTCOLUMN}} cột
              </p>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Trộn đáp án: </span>
                <ng-container *ngIf="question.quE_ISSHUFFLE == true; else noshuffle1">
                  Có
                </ng-container>
                <ng-template #noshuffle1>
                  Không
                </ng-template>
              </p>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Trạng thái: </span>
                <ng-container *ngIf="question.quE_STATUS == 1; else nouse">
                  <span class="text-success">Sử dụng</span>
                </ng-container>
                <ng-template #nouse>
                  <span class="text-danger">Lược bỏ</span>
                </ng-template>
              </p>
            </div>
            <div class="col-12">
              <div class="row pr-3">
                <div class="col-auto">
                  <p><span class="font-weight-bold">Lời giải: </span></p>
                </div>
                <ng-container *ngIf="question.quE_REFERENCE != ''">
                  <div class="col border rounded mt-2 py-2 p-style ck-content"
                    [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(question.quE_REFERENCE)">
                    <!-- <ckeditor [disabled]="true" [editor]="EditorView" [(ngModel)]="question.quE_REFERENCE"
                      [config]="editorViewConfig"></ckeditor> -->
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-12 border-bottom mb-4 mx-3 mt-2">
              <div class="row">
                <div class="col-auto bg-primary py-1 text-left">
                  <span class="text-white text-uppercase align-middle h5">Nội dung câu hỏi</span>
                </div>
                <div class="arrow-half-custom"></div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-auto">
                  <span class="font-weight-bold">Câu hỏi: </span>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-12 p-style ck-content"
                      [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(question.quE_CONTENT)"></div>
                    <ng-container *ngIf="question.quE_MEDIA != null">
                      <ng-container *ngIf="mediaType == 'video'">
                        <div class="col-12 mt-2">
                          <video id="que_media" width="50%" height="auto" controls>
                            <source src="{{question.fileUrl}}">
                          </video>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="mediaType == 'audio'">
                        <div class="col-12 pl-0 mt-2">
                          <audio id="que_media" controls="true" class="p-2">
                            <source src="{{question.fileUrl}}">
                          </audio>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-2">
              <div class="row">
                <div class="col-auto">
                  <span class="font-weight-bold">Đáp án: </span>
                </div>
                <div class="col">
                  <div class="row">
                    <ng-container *ngFor="let item of question.options; let i = index">
                      <div
                        [ngClass]="{'col-12': question.quE_OPTCOLUMN <= 1, 'col-6': question.quE_OPTCOLUMN == 2, 'col-4': question.quE_OPTCOLUMN == 3, 'col-3': question.quE_OPTCOLUMN >= 4}">
                        <div class="row">
                          <ng-container *ngIf="question.quE_ANTYID == 2; else radio">
                            <div class="col-auto mx-auto">
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="{{'field_opt_view_' + item.id}}" name="checkbox_option_view"
                                  class="custom-control-input" disabled [checked]="item.opT_ISCORRECT == true">
                                <label class="custom-control-label font-weight-bold text-dark"
                                  for="{{'field_opt_view_' + item.id}}">{{optionKey[i]}}.</label>
                              </div>
                            </div>
                            <div class="col pl-0 p-style" [innerHTML]="item.opT_CONTENT"></div>
                          </ng-container>
                          <ng-template #radio>
                            <div class="col-auto mx-auto">
                              <div class="custom-control custom-radio">
                                <input type="radio" id="{{'field_opt_view_' + item.id}}" name="radio_option_view"
                                  class="custom-control-input" disabled [checked]="item.opT_ISCORRECT == true">
                                <label class="custom-control-label font-weight-bold text-dark"
                                  for="{{'field_opt_view_' + item.id}}">{{optionKey[i]}}.</label>
                              </div>
                            </div>
                            <ng-container *ngIf="item.opT_CONTENT != ''">
                              <div class="col pl-0 p-style ck-content" [innerHTML]="item.opT_CONTENT"></div>
                            </ng-container>
                          </ng-template>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 mt-4">
              <ng-container *ngIf="question.userCreated != null">
                <p class="text-secondary mb-0"><em>Tạo bởi
                    <ng-template #usercreated>
                      <div class="row mt-1">
                        <div class="col-6">
                          <img class="img-thumbnail" src="{{question.userCreated.employees[0].fileUrl}}"
                            alt="{{question.userCreated.usE_USERNAME}}">
                        </div>
                        <div class="col-6 text-left">
                          <p class="mb-0"><span class="font-weight-bold">ID:
                            </span>{{question.userCreated.employees[0].emP_CODE}}</p>
                          <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p>
                                          <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p> -->
                          <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                            {{question.userCreated.employees[0].emP_LASTNAME}}
                            {{question.userCreated.employees[0].emP_FIRSTNAME}}
                          </p>
                        </div>
                        <div class="col-12 text-left mt-2">
                          <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                            </span>{{question.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                          </p>
                          <p class="mb-0"><span class="font-weight-bold">Giới tính:
                            </span>{{question.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                          <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                            </span><a
                              href="{{'tel:' + question.userCreated.employees.emP_PHONE}}">{{question.userCreated.employees[0].emP_PHONE}}</a>
                          </p>
                          <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                            </span>{{question.userCreated.employees[0].emP_ADDRESS}}</p>
                          <p class="mb-0"><span class="font-weight-bold">Email:
                            </span><a
                              href="{{'mailto:' + question.userCreated.employees.emP_EMAIL}}">{{question.userCreated.employees[0].emP_EMAIL}}</a>
                          </p>
                        </div>
                      </div>
                    </ng-template>
                    <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                      class="text-primary">{{question.userCreated.employees[0].emP_LASTNAME}}
                      {{question.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                    {{question.quE_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
              </ng-container>
              <ng-container *ngIf="question.userModified != null">
                <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                    <ng-template #usermodified>
                      <div class="row mt-1">
                        <div class="col-6">
                          <img class="img-thumbnail" src="{{question.userModified.employees[0].fileUrl}}"
                            alt="{{question.userModified.usE_USERNAME}}">
                        </div>
                        <div class="col-6 text-left">
                          <p class="mb-0"><span class="font-weight-bold">ID:
                            </span>{{question.userModified.employees[0].emP_CODE}}</p>
                          <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userModified.employees.emP_CODE}}</p>
                                          <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userModified.employees.emP_CODE}}</p> -->
                          <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                            {{question.userModified.employees[0].emP_LASTNAME}}
                            {{question.userModified.employees[0].emP_FIRSTNAME}}
                          </p>
                        </div>
                        <div class="col-12 text-left mt-2">
                          <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                            </span>{{question.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                          </p>
                          <p class="mb-0"><span class="font-weight-bold">Giới tính:
                            </span>{{question.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                          <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                            </span><a
                              href="{{'tel:' + question.userModified.employees.emP_PHONE}}">{{question.userModified.employees[0].emP_PHONE}}</a>
                          </p>
                          <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                            </span>{{question.userModified.employees[0].emP_ADDRESS}}</p>
                          <p class="mb-0"><span class="font-weight-bold">Email:
                            </span><a
                              href="{{'mailto:' + question.userModified.employees.emP_EMAIL}}">{{question.userModified.employees[0].emP_EMAIL}}</a>
                          </p>
                        </div>
                      </div>
                    </ng-template>
                    <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                      class="text-primary">{{question.userModified.employees[0].emP_LASTNAME}}
                      {{question.userModified.employees[0].emP_FIRSTNAME}} </span> -
                    {{question.quE_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
              </ng-container>
            </div>
            <!-- <ng-container *ngIf="partId == null && passageId == null"> -->
            <div class="col-6 mt-4 align-self-end text-right">
              <ng-container *ngIf="que_con == true; else questionSpecialize1">
                <ng-container *ngIf="que_add == true">
                  <button class="btn btn-warning btn-sm" (click)="openModal(question.id)"><i
                      class="fa fa-pencil-square-o"></i>
                    Cập nhật</button>
                </ng-container>
                <ng-container *ngIf="que_del == true">
                  <button class="btn btn-danger btn-sm" (click)="openModalDelete(question.id)"><i
                      class="fa fa-trash"></i>
                    Xóa</button>
                </ng-container>
              </ng-container>
              <ng-template #questionSpecialize1>
                <ng-container
                  *ngIf="(question.parts != null && subjectsConstraint.includes(question.parts.subjects.id)) || (question.passges != null && subjectsConstraint.includes(question.passages.parts.subjects.id))">
                  <ng-container *ngIf="que_add == true">
                    <button class="btn btn-warning btn-sm" (click)="openModal(question.id)"><i
                        class="fa fa-pencil-square-o"></i>
                      Cập nhật</button>
                  </ng-container>
                  <ng-container *ngIf="que_del == true">
                    <button class="btn btn-danger btn-sm" (click)="openModalDelete(question.id)"><i
                        class="fa fa-trash"></i>
                      Xóa</button>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
            <!-- </ng-container> -->
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase"><span id="modal_title_que"></span></h5>
        <button type="button" class="close pull-right close_modal_que_addupd" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 border-bottom mb-4 mx-3">
            <div class="row">
              <div class="col-auto bg-primary py-1 text-left">
                <span class="text-white text-uppercase align-middle h5">Câu hỏi</span>
              </div>
              <div class="arrow-half-custom"></div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Nội dung câu hỏi:</label>
              <div class="col-10 my-auto">
                <ckeditor [editor]="Editor" [(ngModel)]="question.quE_CONTENT" [config]="editorConfig"
                  (blur)="validate_que_content()" (ready)="onReadyCKEditor($event)" id="field_que_1"></ckeditor>
                <span id="valid_mes_que_1" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tệp âm thanh, video:</label>
              <div class="col-8 my-auto">
                <div class="custom-file form-control-sm">
                  <input type="file" class="custom-file-input" id="field_que_2" (change)="onSelectFile($event)"
                    accept="audio/*,video/*" (blur)="validate_que_media()">
                  <label class="custom-file-label" for="field_que_2" id="label_field_que_2">Tải tệp lên...</label>
                </div>
                <span id="valid_mes_que_2" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <ng-container *ngIf="file != null || fileIsExist != null">
            <div class="col-1">
              <div class="row pt-1">
                <a class="text-decoration-none text-danger" (click)="removeFile($event)"><i
                    class="fa fa-2x fa-times"></i></a>
              </div>
            </div>
          </ng-container>
          <div class="w-100"></div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Số điểm:</label>
              <div class="col-8 my-auto">
                <input type="number" id="field_que_3" [(ngModel)]="question.quE_SCORE" min="0" max="4" step="0.25"
                  class="form-control d-inline form-control-sm" (blur)="validate_que_score()">
                <span id="valid_mes_que_3" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Độ khó:</label>
              <div class="col-8 my-auto">
                <select id="field_que_4" [(ngModel)]="question.quE_LEVEL" class="form-control d-inline form-control-sm"
                  (blur)="validate_que_level()">
                  <ng-container *ngIf="difficultDisplay.seT_CHOICEVALUE == 'Bằng chữ'; else numberdisplay">
                    <option value="1">Dễ</option>
                    <option value="2">Trung bình Dễ</option>
                    <option value="3">Trung bình</option>
                    <option value="4">Trung bình Khó</option>
                    <option value="5">Khó</option>
                  </ng-container>
                  <ng-template #numberdisplay>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </ng-template>
                </select>
                <span id="valid_mes_que_4" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Chia cột đáp án:</label>
              <div class="col-8 my-auto">
                <input type="number" id="field_que_11" min="1" max="4" step="1" [(ngModel)]="question.quE_OPTCOLUMN"
                  class="form-control d-inline form-control-sm" (blur)="validate_que_column()"
                  (ngModelChange)="generateColumn()">
                <span id="valid_mes_que_11" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Trạng thái:</label>
              <div class="col-8 my-auto">
                <select id="field_que_6" [(ngModel)]="question.quE_STATUS" class="form-control d-inline form-control-sm"
                  (blur)="validate_que_status()">
                  <option value="1">Sử dụng</option>
                  <option value="2">Lược bỏ</option>
                </select>
                <span id="valid_mes_que_6" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Trộn đáp án:</label>
              <div class="col-8 my-auto">
                <ng-container
                  *ngIf="question.quE_ISSHUFFLE != null && question.quE_ISSHUFFLE == true; else falsechoice">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="field_que_5" checked>
                    <label class="custom-control-label" for="field_que_5"></label>
                  </div>
                </ng-container>
                <ng-template #falsechoice>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="field_que_5">
                    <label class="custom-control-label" for="field_que_5"></label>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Loại câu hỏi:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="passageId != null; else mainview">
                  <select id="field_que_7" [(ngModel)]="question.quE_ANTYID" (blur)="validate_que_antyid()"
                    class="form-control d-inline form-control-sm" disabled>
                    <ng-container *ngIf="answertypes != null">
                      <ng-container *ngFor="let item of answertypes">
                        <option value="{{item.id}}">{{item.antY_NAME}}</option>
                      </ng-container>
                    </ng-container>
                  </select>
                </ng-container>
                <ng-template #mainview>
                  <select id="field_que_7" [(ngModel)]="question.quE_ANTYID" (blur)="validate_que_antyid()"
                    class="form-control d-inline form-control-sm" [disabled]="question.id != null && question.id != 0">
                    <ng-container *ngIf="answertypes != null">
                      <ng-container *ngFor="let item of answertypes">
                        <option value="{{item.id}}">{{item.antY_NAME}}</option>
                      </ng-container>
                    </ng-container>
                  </select>
                </ng-template>
                <span id="valid_mes_que_7" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <ng-container *ngIf="partId == null && passageId == null">
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 col-form-label font-weight-bold">Thuộc môn học:</label>
                <div class="col-8 my-auto">
                  <select id="field_que_8" [(ngModel)]="sub_id" class="form-control d-inline form-control-sm"
                    (ngModelChange)="generatePartList()" (blur)="validate_que_subid()">
                    <ng-container *ngIf="subjects != null">
                      <ng-container *ngIf="que_con == true; else questionSpecialize2">
                        <ng-container *ngFor="let item of subjects">
                          <option value="{{item.id}}">{{item.suB_NAME}}</option>
                        </ng-container>
                      </ng-container>
                      <ng-template #questionSpecialize2>
                        <ng-container *ngFor="let item of subjects">
                          <!-- <ng-container *ngIf="item != null"> -->
                          <ng-container *ngIf="subjectsConstraint != null && subjectsConstraint.includes(item.id)">
                            <option value="{{item.id}}">{{item.suB_NAME}}</option>
                          </ng-container>
                          <!-- </ng-container> -->
                        </ng-container>
                      </ng-template>
                    </ng-container>
                  </select>
                  <span id="warning_mes_que_8" style="display: block;" class="invalid-feedback text-warning"></span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 col-form-label font-weight-bold">Thuộc học phần:</label>
                <div class="col-8 my-auto">
                  <select id="field_que_9" [(ngModel)]="question.quE_PARID" (blur)="validate_que_parid()"
                    (ngModelChange)="generatePassageList()" class="form-control d-inline form-control-sm"
                    [disabled]="sub_id == null">
                    <ng-container *ngIf="parts != null">
                      <ng-container *ngFor="let item of parts">
                        <ng-container *ngIf="item.paR_STATUS == 1">
                          <ng-container *ngIf="item.countPassage == 0; else redpick">
                            <option value="{{item.id}}">{{item.paR_NAME}}</option>
                          </ng-container>
                          <ng-template #redpick>
                            <option class="text-danger" value="{{item.id}}">{{item.paR_NAME}}</option>
                          </ng-template>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </select>
                  <span id="valid_mes_que_9" class="invalid-feedback"></span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 col-form-label font-weight-bold">Thuộc đoạn văn:</label>
                <div class="col-8 my-auto">
                  <div class="input-group input-group-sm">
                    <select id="field_que_10" [(ngModel)]="question.quE_PASID"
                      (blur)="validate_que_pasid();validate_que_parid()" class="form-control d-inline form-control-sm"
                      (ngModelChange)="generateAnswerType()"
                      [disabled]="question.quE_PARID == null || question.quE_PARID == 0">
                      <ng-container *ngIf="passages != null">
                        <ng-container *ngFor="let item of passages;let i = index">
                          <ng-container *ngIf="item.paS_STATUS == 1">
                            <option value="{{item.id}}">Đoạn văn {{i + 1}}</option>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-danger" (click)="removePassagePick()"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                  <span id="valid_mes_que_10" class="invalid-feedback"></span>
                  <span id="warning_mes_que_10" style="display: block;" class="invalid-feedback text-warning"></span>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="col-12">
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Lời giải:</label>
              <div class="col-10 my-auto">
                <ckeditor [editor]="Editor1" [(ngModel)]="question.quE_REFERENCE" [config]="editorConfig1"
                  (blur)="validate_que_reference()" (ready)="onReadyCKEditor($event)" id="field_que_12"></ckeditor>
                <span id="valid_mes_que_12" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-12 border-bottom mb-4 mx-3">
            <div class="row">
              <div class="col-auto bg-primary py-1 text-left">
                <span class="text-white text-uppercase align-middle h5">Đáp án</span>
              </div>
              <div class="arrow-half-custom"></div>
              <ng-container *ngIf="question.quE_ANTYID != null && question.quE_ANTYID != 0 && question.quE_ANTYID != 3">
                <button style="right: 67px;bottom: -1px;" (click)="addOption()"
                  class="btn btn-outline-success btn-sm position-absolute">
                  <i class="fa fa-plus"></i></button>
                <button style="right: 30px;bottom: -1px;" (click)="removeOption()"
                  class="btn btn-outline-danger btn-sm position-absolute">
                  <i class="fa fa-times"></i></button>
              </ng-container>
            </div>
          </div>
          <ng-container *ngIf="question.quE_ANTYID != null && question.quE_ANTYID != 0 && question.quE_ANTYID != 3">
            <div class="col-12">
              <div class="row">
                <div class="{{'col-' + column}}">
                  <div class="form-group row">
                    <div class="{{'col-' + label_opt}} pb-1">
                      <ng-container *ngIf="question.quE_ANTYID == 1">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="field_opt_1" name="radio_option" class="custom-control-input"
                            (blur)="validate_opt(1)">
                          <label class="custom-control-label font-weight-bold" for="field_opt_1">Đáp án A :</label>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="question.quE_ANTYID == 2">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="field_opt_1" (blur)="validate_opt(1)">
                          <label class="custom-control-label font-weight-bold" for="field_opt_1">Đáp án A :</label>
                        </div>
                      </ng-container>
                    </div>
                    <div class="{{'col-' + ckeditor_opt}} my-auto">
                      <ckeditor [editor]="EditorA" [(ngModel)]="optionA" [config]="editorConfigOptionA"
                        (blur)="validate_opt(1);validate_option_duplicate()" (ready)="onReadyCKEditor($event)"
                        id="field_opt_content_1" class="option"
                        [ngClass]="{'optionleft': (question.quE_OPTCOLUMN == 2),'optionleft3': (question.quE_OPTCOLUMN == 3),'optionleft4': (question.quE_OPTCOLUMN >= 4)}">
                      </ckeditor>
                      <span id="valid_mes_opt_1" class="invalid-feedback" style="display: block;"></span>
                    </div>
                  </div>
                </div>
                <div class="{{'col-' + column}}">
                  <div class="form-group row">
                    <div class="{{'col-' + label_opt}} pb-1">
                      <ng-container *ngIf="question.quE_ANTYID == 1">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="field_opt_2" name="radio_option" class="custom-control-input"
                            (blur)="validate_opt(2)">
                          <label class="custom-control-label font-weight-bold" for="field_opt_2">Đáp án B :</label>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="question.quE_ANTYID == 2">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="field_opt_2" (blur)="validate_opt(2)">
                          <label class="custom-control-label font-weight-bold" for="field_opt_2">Đáp án B :</label>
                        </div>
                      </ng-container>
                    </div>
                    <div class="{{'col-' + ckeditor_opt}} my-auto">
                      <ckeditor [editor]="EditorB" [(ngModel)]="optionB" [config]="editorConfigOptionB"
                        (blur)="validate_opt(2);validate_option_duplicate()" (ready)="onReadyCKEditor($event)"
                        id="field_opt_content_2" class="option"
                        [ngClass]="{'optionleft4': (question.quE_OPTCOLUMN >= 4), 'optioncenter': (question.quE_OPTCOLUMN == 3)}">
                      </ckeditor>
                      <span id="valid_mes_opt_2" class="invalid-feedback" style="display: block;"></span>
                    </div>
                  </div>
                </div>
                <div class="{{'col-' + column}}">
                  <div class="form-group row">
                    <div class="{{'col-' + label_opt}} pb-1">
                      <ng-container *ngIf="question.quE_ANTYID == 1">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="field_opt_3" name="radio_option" class="custom-control-input"
                            (blur)="validate_opt(3)">
                          <label class="custom-control-label font-weight-bold" for="field_opt_3">Đáp án C :</label>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="question.quE_ANTYID == 2">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="field_opt_3" (blur)="validate_opt(3)">
                          <label class="custom-control-label font-weight-bold" for="field_opt_3">Đáp án C :</label>
                        </div>
                      </ng-container>
                    </div>
                    <div class="{{'col-' + ckeditor_opt}} my-auto">
                      <ckeditor [editor]="EditorC" [(ngModel)]="optionC" [config]="editorConfigOptionC"
                        (blur)="validate_opt(3);validate_option_duplicate()" (ready)="onReadyCKEditor($event)"
                        id="field_opt_content_3" class="option"
                        [ngClass]="{'optionleft': (question.quE_OPTCOLUMN == 2)}">
                      </ckeditor>
                      <span id="valid_mes_opt_3" class="invalid-feedback" style="display: block;"></span>
                    </div>
                  </div>
                </div>
                <div class="{{'col-' + column}}" id="option4" style="display: none;">
                  <div class="form-group row">
                    <div class="{{'col-' + label_opt}} pb-1">
                      <ng-container *ngIf="question.quE_ANTYID == 1">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="field_opt_4" name="radio_option" class="custom-control-input"
                            (blur)="validate_opt(4)">
                          <label class="custom-control-label font-weight-bold" for="field_opt_4">Đáp án D :</label>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="question.quE_ANTYID == 2">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="field_opt_4" (blur)="validate_opt(4)">
                          <label class="custom-control-label font-weight-bold" for="field_opt_4">Đáp án D :</label>
                        </div>
                      </ng-container>
                    </div>
                    <div class="{{'col-' + ckeditor_opt}} my-auto">
                      <ckeditor [editor]="EditorD" [(ngModel)]="optionD" [config]="editorConfigOptionD"
                        (blur)="validate_opt(4);validate_option_duplicate()" (ready)="onReadyCKEditor($event)"
                        id="field_opt_content_4" class="option"
                        [ngClass]="{'optionleft3': (question.quE_OPTCOLUMN == 3)}">
                      </ckeditor>
                      <span id="valid_mes_opt_4" class="invalid-feedback" style="display: block;"></span>
                    </div>
                  </div>
                </div>
                <div class="{{'col-' + column}}" id="option5" style="display: none;">
                  <div class="form-group row">
                    <div class="{{'col-' + label_opt}} pb-1">
                      <ng-container *ngIf="question.quE_ANTYID == 1">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="field_opt_5" name="radio_option" class="custom-control-input"
                            (blur)="validate_opt(5)">
                          <label class="custom-control-label font-weight-bold" for="field_opt_5">Đáp án E :</label>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="question.quE_ANTYID == 2">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="field_opt_5" (blur)="validate_opt(5)">
                          <label class="custom-control-label font-weight-bold" for="field_opt_5">Đáp án E :</label>
                        </div>
                      </ng-container>
                    </div>
                    <div class="{{'col-' + ckeditor_opt}} my-auto">
                      <ckeditor [editor]="EditorE" [(ngModel)]="optionE" [config]="editorConfigOptionE"
                        (blur)="validate_opt(5);validate_option_duplicate()" (ready)="onReadyCKEditor($event)"
                        id="field_opt_content_5" class="option"
                        [ngClass]="{'optionleft': (question.quE_OPTCOLUMN == 2), 'optioncenter': (question.quE_OPTCOLUMN == 3), 'optionleft4': (question.quE_OPTCOLUMN >= 4)}">
                      </ckeditor>
                      <span id="valid_mes_opt_5" class="invalid-feedback" style="display: block;"></span>
                    </div>
                  </div>
                </div>
                <div class="{{'col-' + column}}" id="option6" style="display: none;">
                  <div class="form-group row">
                    <div class="{{'col-' + label_opt}} pb-1">
                      <ng-container *ngIf="question.quE_ANTYID == 1">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="field_opt_6" name="radio_option" class="custom-control-input"
                            (blur)="validate_opt(6)">
                          <label class="custom-control-label font-weight-bold" for="field_opt_6">Đáp án F :</label>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="question.quE_ANTYID == 2">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="field_opt_6" (blur)="validate_opt(6)">
                          <label class="custom-control-label font-weight-bold" for="field_opt_6">Đáp án F :</label>
                        </div>
                      </ng-container>
                    </div>
                    <div class="{{'col-' + ckeditor_opt}} my-auto">
                      <ckeditor [editor]="EditorF" [(ngModel)]="optionF" [config]="editorConfigOptionF"
                        (blur)="validate_opt(6);validate_option_duplicate()" (ready)="onReadyCKEditor($event)"
                        id="field_opt_content_6" class="option"
                        [ngClass]="{'optionleft4': (question.quE_OPTCOLUMN >= 4)}">
                      </ckeditor>
                      <span id="valid_mes_opt_6" class="invalid-feedback" style="display: block;"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="question.quE_ANTYID == 3">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-auto">
                      <select id="type_opt" [(ngModel)]="yesNoQuestionType" (ngModelChange)="generateYesNoQuestion()"
                        class="form-control form-control-sm">
                        <option value="1">Đúng / Sai</option>
                        <option value="2">Đồng ý / Không đồng ý</option>
                      </select>
                    </div>
                    <div class="col-auto my-auto">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="field_opt_1" name="radio_option" class="custom-control-input"
                          (blur)="validate_opt(1)">
                        <label class="custom-control-label font-weight-bold" for="field_opt_1">A :</label>
                      </div>
                    </div>
                    <div class="col-auto">
                      <input type="text" value="Đúng" id="field_opt_content_1" class="form-control form-control-sm"
                        disabled>
                    </div>
                    <div class="col-auto my-auto">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="field_opt_2" name="radio_option" class="custom-control-input"
                          (blur)="validate_opt(2)">
                        <label class="custom-control-label font-weight-bold" for="field_opt_2">B :</label>
                      </div>
                    </div>
                    <div class="col-auto">
                      <input type="text" value="Sai" id="field_opt_content_2" class="form-control form-control-sm"
                        disabled>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="question.quE_ANTYID != null">
            <div class="col-12">
              <span class="text-danger" style="left: 1rem;display: none;" id="valid_opt_duplicate"><i
                  class='fa fa-exclamation-circle'></i> Đáp án <span id="option_duplicate"></span> trùng nhau!</span>
            </div>
            <div class="col-12">
              <ng-container *ngIf="question.quE_ANTYID == 1 || question.quE_ANTYID == 3">
                <span class="text-danger" style="left: 1rem;display: none;" id="valid_opt_all"><i
                    class='fa fa-exclamation-circle'></i> Vui lòng chọn đáp án đúng!</span>
              </ng-container>
              <ng-container *ngIf="question.quE_ANTYID == 2">
                <span class="text-danger" style="left: 1rem;display: none;" id="valid_opt_all"><i
                    class='fa fa-exclamation-circle'></i> Vui lòng chọn ít nhất 2 đáp án đúng!</span>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_que_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_que_addupd"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_que_addupd"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa câu hỏi</h5>
        <button type="button" class="close pull-right close_modal_que_del" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <p class="text-justify">Bạn có chắc chắn muốn xóa câu hỏi: </p>
              <!-- <p class="text-warning"><i class="fa fa-warning"></i> Xóa đoạn văn sẽ xóa toàn bộ câu hỏi của đoạn văn đó!
              </p> -->
            </div>
            <div class="col-8">
              <div class="row">
                <ng-container *ngIf="question != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">Câu hỏi</span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(question.id)"><i id="{{'buttonicon_que_' + question.id}}"
                              class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <ng-container *ngIf="question != null">
                        <div class="col-12 border-left mb-2" id="{{'detailToggle_que_' + question.id}}">
                          <div class="row">
                            <div class="col-auto"><strong>Nội dung câu hỏi: </strong></div>
                            <div class="col pl-0 p-style ck-content"
                              [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(question.quE_CONTENT)"></div>
                          </div>
                          <div class="row">
                            <div class="col-auto"><strong>Đáp án: </strong></div>
                            <div class="col">
                              <ng-container *ngIf="question.quE_ANTYID == 1 || question.quE_ANTYID == 3; else checkbox">
                                <ng-container *ngFor="let item of question.options; let i = index">
                                  <div class="col-12">
                                    <div class="row">
                                      <div class="col-auto my-auto font-weight-bold">
                                        <ng-container *ngIf="item.opT_ISCORRECT == true; else incorrect">
                                          <i class="fa fa-dot-circle-o"></i> {{optionKey[i]}}.
                                        </ng-container>
                                        <ng-template #incorrect>
                                          <i class="fa fa-circle-o"></i> {{optionKey[i]}}.
                                        </ng-template>
                                      </div>
                                      <div class="col pl-0 p-style ck-content"
                                        [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item.opT_CONTENT)">
                                      </div>
                                    </div>
                                  </div>
                                </ng-container>
                              </ng-container>
                              <ng-template #checkbox>
                                <ng-container *ngFor="let item of question.options; let i = index">
                                  <div class="col-12">
                                    <div class="row">
                                      <div class="col-auto my-auto font-weight-bold">
                                        <ng-container *ngIf="item.opT_ISCORRECT == true; else incorrect">
                                          <i class="fa fa-check-square-o"></i> {{optionKey[i]}}.
                                        </ng-container>
                                        <ng-template #incorrect>
                                          <i class="fa fa-square-o"></i> {{optionKey[i]}}.
                                        </ng-template>
                                      </div>
                                      <div class="col pl-0 p-style ck-content"
                                        [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item.opT_CONTENT)">
                                      </div>
                                    </div>
                                  </div>
                                </ng-container>
                              </ng-template>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Tệp âm thanh, video: </strong>
                                {{question.quE_MEDIA}}
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Số điểm: </strong>{{question.quE_SCORE}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Độ khó: </strong>
                                <ng-container
                                  *ngIf="difficultDisplay.seT_CHOICEVALUE == 'Bằng chữ';else numberdisplay0">
                                  <ng-container [ngSwitch]="question.quE_LEVEL">
                                    <ng-container *ngSwitchCase="1">Dễ</ng-container>
                                    <ng-container *ngSwitchCase="2">Trung bình Dễ</ng-container>
                                    <ng-container *ngSwitchCase="3">Trung bình</ng-container>
                                    <ng-container *ngSwitchCase="4">Trung bình Khó</ng-container>
                                    <ng-container *ngSwitchCase="5">Khó</ng-container>
                                  </ng-container>
                                </ng-container>
                                <ng-template #numberdisplay0>
                                  <ng-container [ngSwitch]="question.quE_LEVEL">
                                    <ng-container *ngSwitchCase="1">1</ng-container>
                                    <ng-container *ngSwitchCase="2">2</ng-container>
                                    <ng-container *ngSwitchCase="3">3</ng-container>
                                    <ng-container *ngSwitchCase="4">4</ng-container>
                                    <ng-container *ngSwitchCase="5">5</ng-container>
                                  </ng-container>
                                </ng-template>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <ng-container *ngIf="question.parts != null">
                                <span><strong>Thuộc môn học: </strong>
                                  <ng-container *ngIf="question.parts != null; else passage">
                                    {{question.parts.subjects.suB_NAME}}
                                  </ng-container>
                                  <ng-template #passage>
                                    {{question.passages.parts.subjects.suB_NAME}}
                                  </ng-template>
                                </span>
                              </ng-container>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <ng-container *ngIf="question.parts != null">
                                <span><strong>Thuộc học phần / môn học: </strong>
                                  <ng-container *ngIf="question.parts != null; else passage1">
                                    {{question.parts.paR_NAME}}
                                  </ng-container>
                                  <ng-template #passage1>
                                    {{question.passages.parts.paR_NAME}} / Đoạn văn {{question.passages.paS_ORDER}}
                                  </ng-template>
                                </span>
                              </ng-container>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <ng-container *ngIf="question.answerTypes != null">
                                <span><strong>Loại câu hỏi: </strong>{{question.answerTypes.antY_NAME}}</span>
                              </ng-container>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Trộn đáp án: </strong>
                                <ng-container *ngIf="question.quE_ISSHUFFLE == true;else shuffle">
                                  Có
                                </ng-container>
                                <ng-template #shuffle>
                                  Không
                                </ng-template>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Chia cột đáp án: </strong>{{question.quE_OPTCOLUMN}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Trạng thái: </strong>
                                <ng-container *ngIf="question.quE_STATUS == 1;else status">
                                  Sử dụng
                                </ng-container>
                                <ng-template #status>
                                  Loại bỏ
                                </ng-template>
                              </span>
                            </div>
                          </div>
                          <div class="row pl-3">
                            <div class="col-auto pl-0">
                              <strong>Lời giải: </strong>
                            </div>
                            <ng-container *ngIf="question.quE_REFERENCE != ''">
                              <div class="col border rounded mt-2 py-2 p-style ck-content"
                                [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(question.quE_REFERENCE)">
                                <!-- <ckeditor [disabled]="true" [editor]="EditorView" [(ngModel)]="question.quE_REFERENCE"
                                  [config]="editorViewConfig"></ckeditor> -->
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_que_del"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_que_del"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDeletMul="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa danh sách câu hỏi</h5>
        <button type="button" class="close pull-right close_modal_que_muldel" aria-label="Close"
          (click)="modalDeletMul.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="isListItemNull == true; else haveitem">
                <p class='text-danger'><i class='fa fa-exclamation-circle'></i> Không có câu hỏi nào được
                  chọn!</p>
              </ng-container>
              <ng-template #haveitem>
                <p class="text-justify">Bạn có chắc chắn muốn xóa danh sách câu hỏi:</p>
              </ng-template>
            </div>
            <div class="col-8">
              <ng-container *ngIf="isListItemNull == true; else haveitem1">
                <div class="row">
                  <div class="col-12 text-center border-left" style="height: 65vh;">
                    <img src="../assets/img/no-results.png" alt="no item found">
                  </div>
                </div>
              </ng-container>
              <ng-template #haveitem1>
                <ng-container *ngIf="questionsMultiDel != null">
                  <ng-container *ngFor="let item of questionsMultiDel; let i = index">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12 border-bottom mb-2">
                            <div class="row">
                              <div class="col-auto bg-primary py-1 text-left">
                                <span class="text-white text-uppercase align-middle">Câu hỏi {{item.id}}</span>
                              </div>
                              <div class="arrow-half-custom"></div>
                              <button style="right: 0;bottom: -1px;"
                                class="btn btn-outline-secondary btn-sm position-absolute"
                                (click)="ToggleGroupMulti(item.id)"><i id="{{'buttonicon_que_mul_' + item.id}}"
                                  class="fa fa-minus"></i></button>
                            </div>
                          </div>
                          <div class="col-12 border-left mb-2" id="{{'detailToggle_que_mul_' + item.id}}">
                            <div class="row">
                              <div class="col-auto"><strong>Nội dung câu hỏi: </strong></div>
                              <div class="col pl-0 p-style ck-content"
                                [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item.quE_CONTENT)">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-auto"><strong>Đáp án: </strong></div>
                              <div class="col">
                                <ng-container *ngIf="item.quE_ANTYID == 1 || item.quE_ANTYID == 3; else checkbox">
                                  <ng-container *ngFor="let item1 of item.options; let i = index">
                                    <div class="col-12">
                                      <div class="row">
                                        <div class="col-auto my-auto font-weight-bold">
                                          <ng-container *ngIf="item1.opT_ISCORRECT == true; else incorrect">
                                            <i class="fa fa-dot-circle-o"></i> {{optionKey[i]}}.
                                          </ng-container>
                                          <ng-template #incorrect>
                                            <i class="fa fa-circle-o"></i> {{optionKey[i]}}.
                                          </ng-template>
                                        </div>
                                        <div class="col pl-0 p-style ck-content" [innerHTML]="item1.opT_CONTENT">
                                        </div>
                                      </div>
                                    </div>
                                  </ng-container>
                                </ng-container>
                                <ng-template #checkbox>
                                  <ng-container *ngFor="let item1 of item.options; let i = index">
                                    <div class="col-12">
                                      <div class="row">
                                        <div class="col-auto my-auto font-weight-bold">
                                          <ng-container *ngIf="item1.opT_ISCORRECT == true; else incorrect">
                                            <i class="fa fa-check-square-o"></i> {{optionKey[i]}}.
                                          </ng-container>
                                          <ng-template #incorrect>
                                            <i class="fa fa-square-o"></i> {{optionKey[i]}}.
                                          </ng-template>
                                        </div>
                                        <div class="col pl-0 p-style ck-content" [innerHTML]="item1.opT_CONTENT">
                                        </div>
                                      </div>
                                    </div>
                                  </ng-container>
                                </ng-template>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Tệp âm thanh, video: </strong>
                                  {{item.quE_MEDIA}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Số điểm: </strong>{{item.quE_SCORE}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Độ khó: </strong>
                                  <ng-container
                                    *ngIf="difficultDisplay.seT_CHOICEVALUE == 'Bằng chữ';else numberdisplay0">
                                    <ng-container [ngSwitch]="item.quE_LEVEL">
                                      <ng-container *ngSwitchCase="1">Dễ</ng-container>
                                      <ng-container *ngSwitchCase="2">Trung bình Dễ</ng-container>
                                      <ng-container *ngSwitchCase="3">Trung bình</ng-container>
                                      <ng-container *ngSwitchCase="4">Trung bình Khó</ng-container>
                                      <ng-container *ngSwitchCase="5">Khó</ng-container>
                                    </ng-container>
                                  </ng-container>
                                  <ng-template #numberdisplay0>
                                    <ng-container [ngSwitch]="item.quE_LEVEL">
                                      <ng-container *ngSwitchCase="1">1</ng-container>
                                      <ng-container *ngSwitchCase="2">2</ng-container>
                                      <ng-container *ngSwitchCase="3">3</ng-container>
                                      <ng-container *ngSwitchCase="4">4</ng-container>
                                      <ng-container *ngSwitchCase="5">5</ng-container>
                                    </ng-container>
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <ng-container *ngIf="item.parts != null">
                                  <span><strong>Thuộc môn học: </strong>
                                    <ng-container *ngIf="item.parts != null; else passage">
                                      {{item.parts.subjects.suB_NAME}}
                                    </ng-container>
                                    <ng-template #passage>
                                      {{item.passages.parts.subjects.suB_NAME}}
                                    </ng-template>
                                  </span>
                                </ng-container>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <ng-container *ngIf="item.parts != null">
                                  <span><strong>Thuộc học phần / môn học: </strong>
                                    <ng-container *ngIf="item.parts != null; else passage1">
                                      {{item.parts.paR_NAME}}
                                    </ng-container>
                                    <ng-template #passage1>
                                      {{item.passages.parts.paR_NAME}} / Đoạn văn
                                      {{item.passages.paS_ORDER}}
                                    </ng-template>
                                  </span>
                                </ng-container>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <ng-container *ngIf="item.answerTypes != null">
                                  <span><strong>Loại câu hỏi:
                                    </strong>{{item.answerTypes.antY_NAME}}</span>
                                </ng-container>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Trộn đáp án: </strong>
                                  <ng-container *ngIf="item.quE_ISSHUFFLE == true;else shuffle">
                                    Có
                                  </ng-container>
                                  <ng-template #shuffle>
                                    Không
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Chia cột đáp án: </strong>{{item.quE_OPTCOLUMN}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Trạng thái: </strong>
                                  <ng-container *ngIf="item.quE_STATUS == 1;else status">
                                    Sử dụng
                                  </ng-container>
                                  <ng-template #status>
                                    Loại bỏ
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row pl-3">
                              <div class="col-auto pl-0">
                                <strong>Lời giải: </strong>
                              </div>
                              <ng-container *ngIf="item.quE_REFERENCE != ''">
                                <div class="col border rounded mt-2 py-2 p-style ck-content"
                                  [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item.quE_REFERENCE)">
                                  <!-- <ckeditor [disabled]="true" [editor]="EditorView" [(ngModel)]="item.quE_REFERENCE"
                                    [config]="editorViewConfig"></ckeditor> -->
                                </div>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="isListItemNull == false">
          <button type="button" (click)="deleteMul()" class="btn btn-success" id="save_modal_que_muldel"><i
              class="fa fa-check"></i> OK</button>
        </ng-container>
        <button type="button" (click)="modalDeletMul.hide()" class="btn btn-danger close_modal_que_muldel"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalImport="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Nhập excel danh sách câu hỏi</h5>
        <button type="button" class="close pull-right close_modal_que_import" aria-label="Close"
          (click)="modalImport.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-12 border-bottom mb-4 px-3">
                  <div class="row">
                    <div class="col-auto bg-primary py-1 text-left">
                      <span class="text-white text-uppercase align-middle h5">File excel mẫu</span>
                    </div>
                    <div class="arrow-half-custom"></div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12">
                      <p>
                        <ng-container *ngIf="sampleFileLink != null">
                          <a href="#" class="text-decoration-none align-middle" (click)="downloadFile($event)"
                            style="cursor: pointer;">DSCH.xlsx</a>
                          <a href="#" (click)="downloadFile($event)" class="btn btn-sm btn-success ml-2"><i
                              class="fa fa-download"></i></a>
                        </ng-container>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="font-weight-bold">Chú thích:</p>
                      <p>
                        <strong>(*)</strong>: Trường dữ liệu bắt buộc<br>
                        <strong>(-)</strong>: Trường dữ liệu có thể nhập hoặc để trống nếu học phần cho phép<br>
                        <strong>(+)</strong>: Trường dữ liệu có thể nhập hoặc để trống
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-12 border-bottom mb-4 px-3">
                  <div class="row">
                    <div class="col-auto bg-primary py-1 text-left">
                      <span class="text-white text-uppercase align-middle h5">Tùy chọn</span>
                    </div>
                    <div class="arrow-half-custom"></div>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                  <div class="custom-file form-control-sm">
                    <input type="file" class="custom-file-input" id="field_que_import"
                      (change)="onSelectFileImport($event)" accept=".xlsx, .xls, .csv"
                      (blur)="validate_que_importfile()">
                    <label class="custom-file-label" for="field_que_import" id="label_field_que_import">Tải tệp
                      lên...</label>
                  </div>
                  <span id="valid_mes_que_import" class="invalid-feedback" style="display: block;"></span>
                </div>
                <ng-container *ngIf="fileImport != null || fileImportIsExist != null">
                  <div class="col-auto my-auto">
                    <div class="row">
                      <a class="text-decoration-none text-danger" style="cursor: pointer;"
                        (click)="removeFileImport($event)"><i class="fa fa-2x fa-times"></i></a>
                    </div>
                  </div>
                </ng-container>
                <div class="w-100"></div>
                <ng-container *ngIf="partId == null && passageId == null">
                  <div class="col-12 border-bottom mb-4 px-3 mt-3">
                    <div class="row">
                      <div class="col-auto bg-primary py-1 text-left">
                        <span class="text-white text-uppercase align-middle h5">Chọn học phần / đoạn văn</span>
                      </div>
                      <div class="arrow-half-custom"></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group row">
                      <label class="col-4 col-form-label font-weight-bold">Thuộc môn học:</label>
                      <div class="col-8 my-auto">
                        <select id="field_import_1" [(ngModel)]="subIdImport"
                          class="form-control d-inline form-control-sm" (ngModelChange)="generatePartListImport()"
                          (blur)="validate_import_subid()">
                          <ng-container *ngIf="subjects != null">
                            <ng-container *ngIf="que_con == true; else questionSpecialize3">
                              <ng-container *ngFor="let item of subjects">
                                <option value="{{item.id}}">{{item.suB_NAME}}</option>
                              </ng-container>
                            </ng-container>
                            <ng-template #questionSpecialize3>
                              <ng-container *ngFor="let item of subjects">
                                <ng-container
                                  *ngIf="subjectsConstraint != null && subjectsConstraint.includes(item.id)">
                                  <option value="{{item.id}}">{{item.suB_NAME}}</option>
                                </ng-container>
                              </ng-container>
                            </ng-template>
                          </ng-container>
                        </select>
                        <span id="warning_mes_import_1" style="display: block;"
                          class="invalid-feedback text-warning"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group row">
                      <label class="col-4 col-form-label font-weight-bold">Thuộc học phần:</label>
                      <div class="col-8 my-auto">
                        <select id="field_import_2" [(ngModel)]="parIdImport" (blur)="validate_import_parid()"
                          (ngModelChange)="generatePassageListImport()" class="form-control d-inline form-control-sm"
                          [disabled]="subIdImport == null || subIdImport == 0">
                          <ng-container *ngIf="partsImport != null">
                            <ng-container *ngFor="let item of partsImport">
                              <ng-container *ngIf="item.paR_STATUS == 1">
                                <ng-container *ngIf="item.countPassage == 0; else redpick">
                                  <option value="{{item.id}}">{{item.paR_NAME}}</option>
                                </ng-container>
                                <ng-template #redpick>
                                  <option class="text-danger" value="{{item.id}}">{{item.paR_NAME}}</option>
                                </ng-template>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </select>
                        <span id="valid_mes_import_2" class="invalid-feedback"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group row">
                      <label class="col-4 col-form-label font-weight-bold">Thuộc đoạn văn:</label>
                      <div class="col-8 my-auto">
                        <div class="input-group input-group-sm">
                          <select id="field_import_3" [(ngModel)]="passageIdImport"
                            (blur)="validate_import_pasid();validate_import_parid()"
                            class="form-control d-inline form-control-sm"
                            [disabled]="parIdImport == null || parIdImport == 0">
                            <ng-container *ngIf="passagesImport != null">
                              <ng-container *ngFor="let item of passagesImport;let i = index">
                                <ng-container *ngIf="item.paS_STATUS == 1">
                                  <option value="{{item.id}}">Đoạn văn {{i + 1}}</option>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </select>
                          <div class="input-group-append">
                            <button class="btn btn-danger" (click)="removePassagePickImport()"><i
                                class="fa fa-times"></i></button>
                          </div>
                        </div>
                        <span id="valid_mes_import_3" class="invalid-feedback"></span>
                        <span id="warning_mes_import_3" style="display: block;"
                          class="invalid-feedback text-warning"></span>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="w-100"></div>
            <ng-container *ngIf="errorImport == true">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 border-bottom mb-4 px-3">
                    <div class="row">
                      <div class="col-auto bg-danger py-1 text-left">
                        <span class="text-white text-uppercase align-middle h5">Danh sách lỗi</span>
                      </div>
                      <div class="arrow-half-custom" style="border-bottom: 35px solid #dc3545"></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <p [innerHTML]="errorImportLog"></p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_que_import"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" id="save_modal_que_import" (click)="ImportExcel()" class="btn btn-success"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalImport.hide()" class="btn btn-danger close_modal_que_import"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
