<div id="body">
  <!-- <div class="container-fluid px-1"> -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-10 text-left">
          <ng-container *ngIf="branchId == null && facultyId == null">
            <h3 class="text-center d-inline mx-auto">DANH SÁCH MÔN HỌC</h3>
          </ng-container>
          <ng-container *ngIf="facultyId != null">
            <h5 class="text-center d-inline mx-auto">DANH SÁCH MÔN HỌC THUỘC KHOA
              <span class="text-uppercase text-primary">{{faculty.faC_NAME}}</span>
            </h5>
          </ng-container>
          <ng-container *ngIf="branchId != null">
            <h5 class="text-center d-inline mx-auto">DANH SÁCH MÔN HỌC NGÀNH
              <span class="text-uppercase text-primary">{{branch.brA_NAME}}</span>
            </h5>
          </ng-container>
        </div>
        <div class="col-2 text-right my-auto">
          <ng-container *ngIf="sub_add == true">
            <button class="btn btn-primary btn-sm ml-1" (click)="openModal()">
              <i class="fa fa-plus-circle"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="sub_con == true">
            <ng-container *ngIf="sub_del == true">
              <button class="btn btn-danger btn-sm ml-1" (click)="openModalDeleteMul()">
                <i class="fa fa-trash"></i>
              </button>
            </ng-container>
          </ng-container>
          <!-- <a href="#" class="btn btn-success ml-1" title="Xuất excel danh sách tài khoản" (click)="export($event)">
              <i class="fa fa-file-excel-o "></i>
            </a> -->
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped table-hover myTable">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" name="search-check" />
            </th>
            <th><input type="text" name="search-id" />
            </th>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại khóa học" name="search-stt" />
            </th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm mã môn" name="search-first-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm tên môn học" name="search-last-name" /></th>
            <ng-container *ngIf="branchId == null">
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm ngành" name="search-gender" /></th>
            </ng-container>
            <ng-container *ngIf="facultyId == null">
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm khoa" name="search-faculty" /></th>
            </ng-container>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm tín chỉ" name="search-credit" /></th>
            <th style="width: auto;"><input style="display: none;" type="text" placeholder="Search first name"
                name="search-option" />
            </th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th class="select-checkbox toggle-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
            <th></th>
            <th>STT</th>
            <th>Mã môn học</th>
            <th>Tên môn học</th>
            <ng-container *ngIf="branchId == null">
              <th>Các ngành sử dụng</th>
            </ng-container>
            <ng-container *ngIf="facultyId == null">
              <th>Thuộc khoa</th>
            </ng-container>
            <th>Số tín chỉ</th>
            <th style="min-width: 86px;"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of subjects; let i = index">
            <tr>
              <td></td>
              <td>{{item.id}}</td>
              <td class="align-middle">{{i+1}}</td>
              <td class="align-middle">{{item.suB_CODE}}</td>
              <td class="align-middle">{{item.suB_NAME}}</td>
              <ng-container *ngIf="branchId == null">
                <td class="align-middle">
                  <ng-container *ngIf="item.subject_Branches[0] != null; else allbranch">
                    <ng-container *ngFor="let item1 of item.subject_Branches; let j = index">
                      <ng-container *ngIf="j == 0; else seconditem">
                        {{item1.branches.brA_NAME}}
                      </ng-container>
                      <ng-template #seconditem>
                        , {{item1.branches.brA_NAME}}
                      </ng-template>
                    </ng-container>
                  </ng-container>
                  <ng-template #allbranch>
                    Tất cả
                  </ng-template>
                </td>
              </ng-container>
              <ng-container *ngIf="facultyId == null">
                <td class="align-middle">{{item.faculties.faC_NAME}}</td>
              </ng-container>
              <td class="align-middle">{{item.suB_CREDIT}}</td>
              <td>
                <button class="btn btn-success btn-sm" title="Chi tiết môn học" (click)="openModalDetail(item.id)"><i
                    class="fa fa-eye"></i></button>
                <ng-container *ngIf="sub_con == true; else subjectSpecicalize">
                  <ng-container *ngIf="sub_upd == true">
                    <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                        class="fa fa-pencil-square-o"></i></button>
                  </ng-container>
                  <ng-container *ngIf="sub_del == true">
                    <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                        class="fa fa-trash"></i></button>
                  </ng-container>
                </ng-container>
                <ng-template #subjectSpecicalize>
                  <ng-container *ngIf="subjectsConstraint != null && subjectsConstraint.includes(item.id)">
                    <ng-container *ngIf="sub_upd == true">
                      <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                          class="fa fa-pencil-square-o"></i></button>
                    </ng-container>
                    <ng-container *ngIf="sub_del == true">
                      <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                          class="fa fa-trash"></i></button>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog" (onHide)="resetDetailModal()"
  (onHidden)="resetDetailModal()" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Chi tiết môn học</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <div class="col-12 px-0">
            <ul class="d-flex nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link nav-link-custom active" (click)="loadTab(1)" id="tab_sub_1" data-toggle="tab"
                  href="#content_sub_1">Thông tin
                  chi tiết</a>
              </li>
              <span class="py-1">
                <div class="border-right">&nbsp;</div>
              </span>
              <ng-container *ngIf="sub_ref == true">
                <li class="nav-item">
                  <a class="nav-link nav-link-custom" (click)="loadTab(2)" id="tab_sub_2" data-toggle="tab"
                    href="#content_sub_2">Danh sách học phần
                  </a>
                </li>
                <span class="py-1">
                  <div class="border-right">&nbsp;</div>
                </span>
              </ng-container>
            </ul>
          </div>
          <div class="col-12 px-0 tab-content mt-3 border-0">
            <div class="tab-pane px-0 active" id="content_sub_1">
              <div class="row px-3">
                <ng-container *ngIf="subject != null">
                  <div class="col-6">
                    <p><span class="font-weight-bold">Tên môn học: </span> {{subject.suB_NAME}}</p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Mã môn học: </span> {{subject.suB_CODE}}</p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Số tín chỉ: </span> {{subject.suB_CREDIT}}</p>
                  </div>
                  <ng-container *ngIf="subject.faculties != null">
                    <div class="col-6">
                      <p><span class="font-weight-bold">Thuộc khoa: </span>
                        <a class="text-decoration-none" href="#" [routerLink]="['/faculty']"
                          [queryParams]="{id: subject.faculties.id}">{{subject.faculties.faC_NAME}}</a>
                      </p>
                    </div>
                  </ng-container>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Các ngành sử dụng: </span>
                      <ng-container *ngIf="subject.subject_Branches != null">
                        <ng-container *ngIf="subject.subject_Branches[0] != null; else allbranch1">
                          <ng-container *ngFor="let item of subject.subject_Branches; let i = index">
                            <ng-container *ngIf="i == 0; else seconditem1">
                              <a class="text-decoration-none" href="#" [routerLink]="['/branch']"
                                [queryParams]="{id: item.branches.id}">{{item.branches.brA_NAME}}</a>
                            </ng-container>
                            <ng-template #seconditem1>
                              , <a class="text-decoration-none" href="#" [routerLink]="['/branch']"
                                [queryParams]="{id: item.branches.id}">{{item.branches.brA_NAME}}</a>
                            </ng-template>
                          </ng-container>
                        </ng-container>
                        <ng-template #allbranch1>
                          Tất cả
                        </ng-template>
                      </ng-container>
                    </p>
                  </div>
                  <div class="w-100"></div>
                  <div class="col-6">
                    <ng-container *ngIf="subject.userCreated != null">
                      <p class="text-secondary mb-0"><em>Tạo bởi
                          <ng-template #usercreated>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{subject.userCreated.employees[0].fileUrl}}"
                                  alt="{{subject.userCreated.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{subject.userCreated.employees[0].emP_CODE}}</p>
                                <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p>
                                                    <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p> -->
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{subject.userCreated.employees[0].emP_LASTNAME}}
                                  {{subject.userCreated.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{subject.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{subject.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + subject.userCreated.employees.emP_PHONE}}">{{subject.userCreated.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{subject.userCreated.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + subject.userCreated.employees.emP_EMAIL}}">{{subject.userCreated.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{subject.userCreated.employees[0].emP_LASTNAME}}
                            {{subject.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                          {{subject.suB_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                    <ng-container *ngIf="subject.userModified != null">
                      <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                          <ng-template #usermodified>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{subject.userModified.employees[0].fileUrl}}"
                                  alt="{{subject.userModified.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{subject.userModified.employees[0].emP_CODE}}</p>
                                <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userModified.employees.emP_CODE}}</p>
                                                    <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userModified.employees.emP_CODE}}</p> -->
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{subject.userModified.employees[0].emP_LASTNAME}}
                                  {{subject.userModified.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{subject.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{subject.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + subject.userModified.employees.emP_PHONE}}">{{subject.userModified.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{subject.userModified.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + subject.userModified.employees.emP_EMAIL}}">{{subject.userModified.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{subject.userModified.employees[0].emP_LASTNAME}}
                            {{subject.userModified.employees[0].emP_FIRSTNAME}} </span> -
                          {{subject.suB_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                  </div>
                  <div class="col-6 align-self-end text-right">
                    <ng-container *ngIf="sub_con == true; else subjectSpecicalize1">
                      <ng-container *ngIf="sub_upd == true">
                        <button class="btn btn-warning btn-sm" (click)="openModal(subject.id)"><i
                            class="fa fa-pencil-square-o"></i> Cập nhật</button>
                      </ng-container>
                      <ng-container *ngIf="sub_del == true">
                        <button class="btn btn-danger btn-sm" (click)="openModalDelete(subject.id)"><i
                            class="fa fa-trash"></i>
                          Xóa</button>
                      </ng-container>
                    </ng-container>
                    <ng-template #subjectSpecicalize1>
                      <ng-container *ngIf="subjectsConstraint != null && subjectsConstraint.includes(subject.id)">
                        <ng-container *ngIf="sub_upd == true">
                          <button class="btn btn-warning btn-sm" (click)="openModal(subject.id)"><i
                              class="fa fa-pencil-square-o"></i> Cập nhật</button>
                        </ng-container>
                        <ng-container *ngIf="sub_del == true">
                          <button class="btn btn-danger btn-sm" (click)="openModalDelete(subject.id)"><i
                              class="fa fa-trash"></i>
                            Xóa</button>
                        </ng-container>
                      </ng-container>
                    </ng-template>
                  </div>
                </ng-container>
              </div>
            </div>
            <ng-container *ngIf="sub_ref == true">
              <div class="tab-pane px-0 fade" id="content_sub_2">
                <ng-container *ngIf="tabControl == 2">
                  <div class="col-12">
                    <ng-container *ngIf="subject_Id != null">
                      <app-part subjectId="{{subject_Id}}"></app-part>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase"><span id="modal_title"></span></h5>
        <button type="button" class="close pull-right close_modal_sub_addupd" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tên môn học:</label>
              <div class="col-8 my-auto">
                <input class="form-control d-inline form-control-sm" id="field_1" (blur)="validate_sub_name()"
                  placeholder="Tên môn học..." [(ngModel)]="subject.suB_NAME">
                <span id="valid_mes_1" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Mã môn học:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="autoGenCode.seT_ISACTIVE == false; else auto">
                  <input class="form-control d-inline form-control-sm" id="field_2" (blur)="validate_sub_code()"
                    placeholder="Mã môn học..." [(ngModel)]="subject.suB_CODE">
                  <span id="valid_mes_2" class="invalid-feedback"></span>
                </ng-container>
                <ng-template #auto>
                  <input class="form-control d-inline form-control-sm" id="field_2" (blur)="validate_sub_code()"
                    placeholder="Mã môn học..." [(ngModel)]="subject.suB_CODE" disabled>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Số tín chỉ:</label>
              <div class="col-8 my-auto">
                <input type="number" class="form-control form-control-sm" id="field_3" (blur)="validate_sub_credit()"
                  placeholder="Số tín chỉ..." min="1" max="6" step="1" [(ngModel)]="subject.suB_CREDIT"
                  aria-describedby="input-group-duration">
                <span id="valid_mes_3" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Thuộc khoa:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="faculties != null">
                  <select id="field_6" class="form-control form-control-sm" (blur)="validate_sub_faculty()"
                    (ngModelChange)="generateCode()" [(ngModel)]="subject.suB_FACID" [disabled]="facultyId != null">
                    <ng-container *ngIf="sub_con == true; else facultySpecicalize">
                      <ng-container *ngFor="let item of faculties">
                        <option value="{{item.id}}">{{item.faC_NAME}}</option>
                      </ng-container>
                    </ng-container>
                    <ng-template #facultySpecicalize>
                      <ng-container *ngFor="let item of faculties">
                        <ng-container *ngIf="facultyConstraint != null && facultyConstraint.id == item.id">
                          <option value="{{item.id}}">{{item.faC_NAME}}</option>
                        </ng-container>
                      </ng-container>
                    </ng-template>
                  </select>
                </ng-container>
                <span id="valid_mes_6" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Thuộc ngành:</label>
              <div class="col-8 my-auto">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" (click)="toggleDropdown()" id="choice_1" name="field_5"
                    class="custom-control-input" checked>
                  <label class="custom-control-label" for="choice_1">Tất cả</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" (click)="toggleDropdown()" id="choice_2" name="field_5"
                    class="custom-control-input">
                  <label class="custom-control-label" for="choice_2">Chọn ngành học</label>
                </div>
              </div>
              <div class="offset-4 col-8" id="branch_choice" style="display: none;">
                <ng-container *ngIf="isHasChild.seT_ISACTIVE == true; else nochildchoice">
                  <ng-select [(ngModel)]="list_branch" bindLabel="name" placeholder="Chọn ngành học..." id="field_4"
                    appendTo="body" multiple="true" [searchable]="true" [clearable]="true"
                    (blur)="validate_sub_branch()">
                    <!-- loop0 -->
                    <ng-container *ngFor="let item of branchParents">
                      <ng-container *ngIf="item.brA_ISDELETED == false">
                        <ng-container *ngIf="item.branches != null;else nochilddropdown">
                          <ng-container *ngIf="size >= 2;else nodropdown">
                            <ng-option class="form-control form-control-sm" [value]="item.id">&#9207;
                              {{item.brA_NAME}}
                            </ng-option>
                          </ng-container>
                          <ng-template #nodropdown>
                            <ng-option class="form-control form-control-sm" [value]="item.id">&#9205;
                              {{item.brA_NAME}}
                            </ng-option>
                          </ng-template>
                          <!-- loop1 -->
                          <ng-container *ngFor="let item1 of item.branches">
                            <ng-container *ngIf="item1.brA_ISDELETED == false && size >= 2">
                              <ng-container *ngIf="item1.branches != null;else nochilddropdown1">
                                <ng-container *ngIf="size >= 3; else nodropdown1">
                                  <ng-option class="form-control form-control-sm" [value]="item1.id">
                                    &emsp;&#9207;{{item1.brA_NAME}}
                                  </ng-option>
                                </ng-container>
                                <ng-template #nodropdown1>
                                  <ng-option class="form-control form-control-sm" [value]="item1.id">&emsp;&#9205;
                                    {{item1.brA_NAME}}
                                  </ng-option>
                                </ng-template>
                                <!-- loop2 -->
                                <ng-container *ngFor="let item2 of item1.branches">
                                  <ng-container *ngIf="item2.brA_ISDELETED == false && size >= 3">
                                    <ng-container *ngIf="item2.branches != null;else nochilddropdown2">
                                      <ng-container *ngIf="size >= 4; else nodropdown2">
                                        <ng-option class="form-control form-control-sm" [value]="item2.id">
                                          &emsp;&emsp;&#9207;
                                          {{item2.brA_NAME}}
                                        </ng-option>
                                      </ng-container>
                                      <ng-template #nodropdown2>
                                        <ng-option class="form-control form-control-sm" [value]="item2.id">
                                          &emsp;&emsp;&#9205;
                                          {{item2.brA_NAME}}
                                        </ng-option>
                                      </ng-template>
                                      <!-- loop3 -->
                                      <ng-container *ngFor="let item3 of item2.branches">
                                        <ng-container *ngIf="item3.brA_ISDELETED == false && size >= 4">
                                          <ng-option class="form-control form-control-sm" [value]="item3.id">
                                            &emsp;&emsp;&emsp;&#9205;
                                            {{item3.brA_NAME}}
                                          </ng-option>
                                        </ng-container>
                                      </ng-container>
                                    </ng-container>
                                    <ng-template #nochilddropdown2>
                                      <ng-option class="form-control form-control-sm" [value]="item2.id">
                                        &emsp;&emsp;&#9205;
                                        {{item2.brA_NAME}}
                                      </ng-option>
                                    </ng-template>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                              <ng-template #nochilddropdown1>
                                <ng-option class="form-control form-control-sm" [value]="item1.id">&emsp;&#9205;
                                  {{item1.brA_NAME}}
                                </ng-option>
                              </ng-template>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                        <ng-template #nochilddropdown>
                          <ng-option class="form-control form-control-sm" [value]="item.id">&#9205; {{item.brA_NAME}}
                          </ng-option>
                        </ng-template>
                      </ng-container>
                    </ng-container>
                  </ng-select>
                </ng-container>
                <ng-template #nochildchoice>
                  <ng-select [(ngModel)]="list_branch[0]" bindLabel="name" placeholder="Chọn ngành học..." id="field_4"
                    appendTo="body" multiple="true" [searchable]="true" [clearable]="true"
                    (blur)="validate_sub_branch()" (ngModelChange)="validate_sub_branch()">
                    <ng-container *ngFor="let item of branches">
                      <ng-container *ngIf="item.brA_ISDELETED == false">
                        <ng-option class="form-control form-control-sm" [value]="item.id">&#9205;
                          {{item.brA_NAME}}
                        </ng-option>
                      </ng-container>
                    </ng-container>
                  </ng-select>
                </ng-template>
                <span id="valid_mes_4" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_sub_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_sub_addupd"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_sub_addupd"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa môn học</h5>
        <button type="button" class="close pull-right close_modal_sub_del" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="subject != null">
                <p class="text-justify">
                  Bạn có chắc chắn muốn xóa môn học <span class="text-primary">{{subject.suB_NAME}}</span> không?
                </p>
                <p class="text-warning"><i class="fa fa-warning"></i> Xóa môn học sẽ xóa toàn bộ học phần, câu hỏi đơn
                  cũng như
                  câu hỏi đoạn văn của môn học đó!</p>
              </ng-container>
            </div>
            <div class="col-8">
              <div class="row">
                <ng-container *ngIf="subject != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">{{subject.suB_NAME}}</span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(subject.id)"><i id="{{'buttonicon_sub_' + subject.id}}"
                              class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <div class="col-12 border-left mb-2" id="{{'detailToggle_sub_' + subject.id}}">
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Tên môn học: </strong>
                              {{subject.suB_NAME}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Mã môn học: </strong>
                              {{subject.suB_CODE}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Số tín chỉ: </strong>
                              {{subject.suB_CREDIT}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Các ngành sử dụng: </strong>
                              <ng-container *ngIf="subject.subject_Branches != null">
                                <ng-container *ngIf="subject.subject_Branches[0] != null; else allbranchdel">
                                  <span class="mb-0">
                                    <ng-container *ngFor="let item1 of subject.subject_Branches; let i = index">
                                      <ng-container *ngIf="i == 0; else seconditemdel">
                                        {{item1.branches.brA_NAME}}
                                      </ng-container>
                                      <ng-template #seconditemdel>
                                        , {{item1.branches.brA_NAME}}
                                      </ng-template>
                                    </ng-container>
                                  </span>
                                </ng-container>
                                <ng-template #allbranchdel>
                                  Tất cả các ngành
                                </ng-template>
                              </ng-container>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <ng-container *ngIf="subject.faculties != null">
                              <span><strong>Thuộc khoa: </strong>
                                {{subject.faculties.faC_NAME}}
                              </span>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_sub_del"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_sub_del"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDeletMul="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa danh sách môn học</h5>
        <button type="button" class="close pull-right close_modal_sub_muldel" aria-label="Close"
          (click)="modalDeletMul.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="isListItemNull == true; else haveitem">
                <p class='text-danger'><i class='fa fa-exclamation-circle'></i> Không có môn học nào được
                  chọn!</p>
              </ng-container>
              <ng-template #haveitem>
                <p class="text-justify">Bạn có chắc chắn muốn xóa danh sách môn học:</p>
                <p class="text-warning"><i class="fa fa-warning"></i> Xóa môn học sẽ xóa toàn bộ học phần, câu hỏi đơn
                  cũng như
                  câu hỏi đoạn văn của môn học đó!
                </p>
              </ng-template>
            </div>
            <div class="col-8">
              <ng-container *ngIf="isListItemNull == true; else haveitem1">
                <div class="row">
                  <div class="col-12 text-center border-left" style="height: 65vh;">
                    <img src="../assets/img/no-results.png" alt="no item found">
                  </div>
                </div>
              </ng-container>
              <ng-template #haveitem1>
                <ng-container *ngIf="subjectsMultiDel != null">
                  <ng-container *ngFor="let item of subjectsMultiDel">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12 border-bottom mb-2">
                            <div class="row">
                              <div class="col-auto bg-primary py-1 text-left">
                                <span class="text-white text-uppercase align-middle">{{item.suB_NAME}}</span>
                              </div>
                              <div class="arrow-half-custom"></div>
                              <button style="right: 0;bottom: -1px;"
                                class="btn btn-outline-secondary btn-sm position-absolute"
                                (click)="ToggleGroupMulti(item.id)"><i id="{{'buttonicon_sub_mul_' + item.id}}"
                                  class="fa fa-minus"></i></button>
                            </div>
                          </div>
                          <div class="col-12 border-left mb-2" id="{{'detailToggle_sub_mul_' + item.id}}">
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Tên môn học: </strong>
                                  {{item.suB_NAME}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Mã môn học: </strong>
                                  {{item.suB_CODE}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Số tín chỉ: </strong>
                                  {{item.suB_CREDIT}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Các ngành sử dụng: </strong>
                                  <ng-container *ngIf="item.subject_Branches != null">
                                    <ng-container *ngIf="item.subject_Branches[0] != null; else allbranchdel">
                                      <span class="mb-0">
                                        <ng-container *ngFor="let item1 of item.subject_Branches; let i = index">
                                          <ng-container *ngIf="i == 0; else seconditemdel">
                                            {{item1.branches.brA_NAME}}
                                          </ng-container>
                                          <ng-template #seconditemdel>
                                            , {{item1.branches.brA_NAME}}
                                          </ng-template>
                                        </ng-container>
                                      </span>
                                    </ng-container>
                                    <ng-template #allbranchdel>
                                      Tất cả các ngành
                                    </ng-template>
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <ng-container *ngIf="item.faculties != null">
                                  <span><strong>Thuộc khoa: </strong>
                                    {{item.faculties.faC_NAME}}
                                  </span>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="isListItemNull == false">
          <button type="button" (click)="deleteMul()" class="btn btn-success" id="save_modal_sub_muldel"><i
              class="fa fa-check"></i> OK</button>
        </ng-container>
        <button type="button" (click)="modalDeletMul.hide()" class="btn btn-danger close_modal_sub_muldel"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
