<div id="body">
  <!-- <div class="container-fluid px-1"> -->
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-12 border-bottom mb-2">
          <div class="row">
            <div class="col-auto bg-primary py-1 text-left">
              <span class="text-white text-uppercase align-middle">DANH SÁCH NGÀNH HỌC</span>
            </div>
            <div class="arrow-half-custom"></div>
            <ng-container *ngIf="bra_add == true">
              <button style="right: 0;" class="btn btn-primary btn-sm position-absolute" (click)="openModal()"><i
                  class="fa fa-plus"></i></button>
            </ng-container>
          </div>
        </div>
        <div class="col-12 px-0">
          <ng-container *ngIf="isHasChild.seT_ISACTIVE == true; else noanychild">
            <ul class="tree">
              <!-- loop0 -->
              <ng-container *ngFor="let item of branchParents">
                <ng-container *ngIf="item.brA_ISDELETED == false">
                  <ng-container *ngIf="item.branches != null;else nochild">
                    <li class="branch my-auto">
                      <a href="{{'#child_' + item.id}}" data-toggle="collapse" class="p-1 fa fa-chevron-down"
                        id="{{'icon_' + item.id}}" style="cursor: pointer;" (click)="changeIcon(item.id)"></a>
                      <a class="text-uppercase" href="#" (click)="showSubject($event,item.id)">{{item.brA_NAME}}</a>
                      <ng-container *ngIf="bra_con == true; else branchSpecialize01">
                        <ng-container *ngIf="bra_upd == true">
                          <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                            (click)="openModal(item.id)"></i>
                        </ng-container>
                        <ng-container *ngIf="bra_del == true">
                          <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                            (click)="openModalDelete(item.id)"></i>
                        </ng-container>
                      </ng-container>
                      <ng-template #branchSpecialize01>
                        <ng-container *ngIf="facultyConstraint != null && item.brA_FACID == facultyConstraint.id">
                          <ng-container *ngIf="bra_upd == true">
                            <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                              (click)="openModal(item.id)"></i>
                          </ng-container>
                          <ng-container *ngIf="bra_del == true">
                            <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                              (click)="openModalDelete(item.id)"></i>
                          </ng-container>
                        </ng-container>
                      </ng-template>
                      <ul id="{{'child_' + item.id}}" class="collapse">
                        <!-- loop1 -->
                        <ng-container *ngFor="let item1 of item.branches">
                          <ng-container *ngIf="item1.brA_ISDELETED == false && size >= 2">
                            <ng-container *ngIf="item1.branches != null;else nochild1">
                              <li class="branch">
                                <ng-container *ngIf="size >= 3;else nocollapse">
                                  <a href="{{'#child_' + item1.id}}" data-toggle="collapse"
                                    class="p-1 fa fa-chevron-down" id="{{'icon_' + item1.id}}" style="cursor: pointer;"
                                    (click)="changeIcon(item1.id)"></a>
                                </ng-container>
                                <ng-template #nocollapse>
                                  <i class="fa fa-chevron-right p-1"></i>
                                </ng-template>
                                <a class="text-uppercase" href="#"
                                  (click)="showSubject($event,item1.id)">{{item1.brA_NAME}}</a>
                                <ng-container *ngIf="bra_con == true; else branchSpecialize02">
                                  <ng-container *ngIf="bra_upd == true">
                                    <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                                      (click)="openModal(item1.id)"></i>
                                  </ng-container>
                                  <ng-container *ngIf="bra_del == true">
                                    <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                                      (click)="openModalDelete(item1.id)"></i>
                                  </ng-container>
                                </ng-container>
                                <ng-template #branchSpecialize02>
                                  <ng-container
                                    *ngIf="facultyConstraint != null && item.brA_FACID == facultyConstraint.id">
                                    <ng-container *ngIf="bra_upd == true">
                                      <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                                        (click)="openModal(item1.id)"></i>
                                    </ng-container>
                                    <ng-container *ngIf="bra_del == true">
                                      <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                                        (click)="openModalDelete(item1.id)"></i>
                                    </ng-container>
                                  </ng-container>
                                </ng-template>
                                <ul id="{{'child_' + item1.id}}" class="collapse">
                                  <!-- loop2 -->
                                  <ng-container *ngFor="let item2 of item1.branches">
                                    <ng-container *ngIf="item2.brA_ISDELETED == false && size >= 3">
                                      <ng-container *ngIf="item2.branches != null; else nochild2">
                                        <li class="branch">
                                          <ng-container *ngIf="size >= 4; else nocollapse1">
                                            <a href="{{'#child_' + item2.id}}" data-toggle="collapse"
                                              class="p-1 fa fa-chevron-down" id="{{'icon_' + item2.id}}"
                                              style="cursor: pointer;" (click)="changeIcon(item2.id)"></a>
                                          </ng-container>
                                          <ng-template #nocollapse1>
                                            <i class="fa fa-chevron-right p-1"></i>
                                          </ng-template>
                                          <a class="text-uppercase" href="#"
                                            (click)="showSubject($event,item2.id)">{{item2.brA_NAME}}</a>
                                          <ng-container *ngIf="bra_con == true; else branchSpecialize03">
                                            <ng-container *ngIf="bra_upd == true">
                                              <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                                                (click)="openModal(item2.id)"></i>
                                            </ng-container>
                                            <ng-container *ngIf="bra_del == true">
                                              <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                                                (click)="openModalDelete(item2.id)"></i>
                                            </ng-container>
                                          </ng-container>
                                          <ng-template #branchSpecialize03>
                                            <ng-container
                                              *ngIf="facultyConstraint != null && item.brA_FACID == facultyConstraint.id">
                                              <ng-container *ngIf="bra_upd == true">
                                                <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                                                  (click)="openModal(item2.id)"></i>
                                              </ng-container>
                                              <ng-container *ngIf="bra_del == true">
                                                <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                                                  (click)="openModalDelete(item2.id)"></i>
                                              </ng-container>
                                            </ng-container>
                                          </ng-template>
                                          <ul id="{{'child_' + item2.id}}" class="collapse">
                                            <!-- loop3 -->
                                            <ng-container *ngFor="let item3 of item2.branches">
                                              <ng-container *ngIf="item3.brA_ISDELETED == false && size >= 4">
                                                <li class="my-auto">
                                                  <i class="fa fa-chevron-right p-1"></i>
                                                  <a href="#" class="text-uppercase"
                                                    (click)="showSubject($event,item3.id)">{{item3.brA_NAME}}</a>
                                                  <ng-container *ngIf="bra_con == true; else branchSpecialize04">
                                                    <ng-container *ngIf="bra_upd == true">
                                                      <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                                                        (click)="openModal(item3.id)"></i>
                                                    </ng-container>
                                                    <ng-container *ngIf="bra_del == true">
                                                      <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                                                        (click)="openModalDelete(item3.id)"></i>
                                                    </ng-container>
                                                  </ng-container>
                                                  <ng-template #branchSpecialize04>
                                                    <ng-container
                                                      *ngIf="facultyConstraint != null && item.brA_FACID == facultyConstraint.id">
                                                      <ng-container *ngIf="bra_upd == true">
                                                        <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                                                          (click)="openModal(item3.id)"></i>
                                                      </ng-container>
                                                      <ng-container *ngIf="bra_del == true">
                                                        <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                                                          (click)="openModalDelete(item3.id)"></i>
                                                      </ng-container>
                                                    </ng-container>
                                                  </ng-template>
                                                </li>
                                              </ng-container>
                                            </ng-container>
                                          </ul>
                                        </li>
                                      </ng-container>
                                      <ng-template #nochild2>
                                        <li class="my-auto">
                                          <i class="fa fa-chevron-right p-1"></i>
                                          <a href="#" class="text-uppercase"
                                            (click)="showSubject($event,item2.id)">{{item2.brA_NAME}}</a>
                                          <ng-container *ngIf="bra_con == true; else branchSpecialize05">
                                            <ng-container *ngIf="bra_upd == true">
                                              <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                                                (click)="openModal(item2.id)"></i>
                                            </ng-container>
                                            <ng-container *ngIf="bra_del == true">
                                              <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                                                (click)="openModalDelete(item2.id)"></i>
                                            </ng-container>
                                          </ng-container>
                                          <ng-template #branchSpecialize05>
                                            <ng-container
                                              *ngIf="facultyConstraint != null && item.brA_FACID == facultyConstraint.id">
                                              <ng-container *ngIf="bra_upd == true">
                                                <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                                                  (click)="openModal(item2.id)"></i>
                                              </ng-container>
                                              <ng-container *ngIf="bra_del == true">
                                                <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                                                  (click)="openModalDelete(item2.id)"></i>
                                              </ng-container>
                                            </ng-container>
                                          </ng-template>
                                        </li>
                                      </ng-template>
                                    </ng-container>
                                  </ng-container>
                                </ul>
                              </li>
                            </ng-container>
                            <ng-template #nochild1>
                              <li class="my-auto">
                                <i class="fa fa-chevron-right p-1"></i>
                                <a href="#" class="text-uppercase"
                                  (click)="showSubject($event,item1.id)">{{item1.brA_NAME}}</a>
                                <ng-container *ngIf="bra_con == true; else branchSpecialize06">
                                  <ng-container *ngIf="bra_upd == true">
                                    <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                                      (click)="openModal(item1.id)"></i>
                                  </ng-container>
                                  <ng-container *ngIf="bra_del == true">
                                    <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                                      (click)="openModalDelete(item1.id)"></i>
                                  </ng-container>
                                </ng-container>
                                <ng-template #branchSpecialize06>
                                  <ng-container
                                    *ngIf="facultyConstraint != null && item.brA_FACID == facultyConstraint.id">
                                    <ng-container *ngIf="bra_upd == true">
                                      <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                                        (click)="openModal(item1.id)"></i>
                                    </ng-container>
                                    <ng-container *ngIf="bra_del == true">
                                      <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                                        (click)="openModalDelete(item1.id)"></i>
                                    </ng-container>
                                  </ng-container>
                                </ng-template>
                              </li>
                            </ng-template>
                          </ng-container>
                        </ng-container>
                      </ul>
                    </li>
                  </ng-container>
                  <ng-template #nochild>
                    <li class="my-auto">
                      <i class="fa fa-chevron-right p-1"></i>
                      <a href="#" class="text-uppercase" (click)="showSubject($event,item.id)">{{item.brA_NAME}}</a>
                      <ng-container *ngIf="bra_con == true;else branchSpecialize07">
                        <ng-container *ngIf="bra_upd == true">
                          <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                            (click)="openModal(item.id)"></i>
                        </ng-container>
                        <ng-container *ngIf="bra_del == true">
                          <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                            (click)="openModalDelete(item.id)"></i>
                        </ng-container>
                      </ng-container>
                      <ng-template #branchSpecialize07>
                        <ng-container *ngIf="facultyConstraint != null && item.brA_FACID == facultyConstraint.id">
                          <ng-container *ngIf="bra_upd == true">
                            <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                              (click)="openModal(item.id)"></i>
                          </ng-container>
                          <ng-container *ngIf="bra_del == true">
                            <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                              (click)="openModalDelete(item.id)"></i>
                          </ng-container>
                        </ng-container>
                      </ng-template>
                    </li>
                  </ng-template>
                </ng-container>
              </ng-container>
            </ul>
          </ng-container>
          <ng-template #noanychild>
            <ul class="tree">
              <ng-container *ngFor="let item of branches">
                <li class="my-auto">
                  <i class="fa fa-chevron-right p-1"></i>
                  <a href="#" class="text-uppercase" (click)="showSubject($event,item.id)">{{item.brA_NAME}}</a>
                  <ng-container *ngIf="bra_con == true; else branchSpecialize08">
                    <ng-container *ngIf="bra_upd == true">
                      <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                        (click)="openModal(item.id)"></i>
                    </ng-container>
                    <ng-container *ngIf="bra_del == true">
                      <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                        (click)="openModalDelete(item.id)"></i>
                    </ng-container>
                  </ng-container>
                  <ng-template #branchSpecialize08>
                    <ng-container *ngIf="facultyConstraint != null && item.brA_FACID == facultyConstraint.id">
                      <ng-container *ngIf="bra_upd == true">
                        <i class="fa fa-pencil-square-o text-warning p-1 border rounded button_update"
                          (click)="openModal(item.id)"></i>
                      </ng-container>
                      <ng-container *ngIf="bra_del == true">
                        <i class="fa fa-trash text-danger p-1 border rounded button_delete"
                          (click)="openModalDelete(item.id)"></i>
                      </ng-container>
                    </ng-container>
                  </ng-template>
                </li>
              </ng-container>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-8 pl-5">
      <div class="row">
        <div class="col-12 px-0">
          <ul class="d-flex nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link nav-link-custom active" (click)="loadTab(1)" id="tab_bra_1" data-toggle="tab"
                href="#content_bra_1">Thông tin
                chi tiết</a>
            </li>
            <span class="py-1">
              <div class="border-right">&nbsp;</div>
            </span>
            <ng-container *ngIf="bra_ref == true">
              <li class="nav-item">
                <a class="nav-link nav-link-custom" (click)="loadTab(2)" id="tab_bra_2" data-toggle="tab"
                  href="#content_bra_2">Danh sách môn học
                </a>
              </li>
            </ng-container>
          </ul>
        </div>
        <div class="col-12 px-0 tab-content mt-3 border-0">
          <div class="tab-pane px-0 active" id="content_bra_1">
            <div class="row px-3">
              <ng-container *ngIf="branchDetail.brA_NAME != null">
                <div class="col-6 mb-2">
                  <div class="row">
                    <div class="col-12">
                      <span class="font-weight-bold">Tên ngành:</span> {{branchDetail.brA_NAME}}
                    </div>
                  </div>
                </div>
                <div class="col-6 mb-2">
                  <div class="row">
                    <div class="col-12">
                      <span class="font-weight-bold">Mã ngành:</span> {{branchDetail.brA_CODE}}
                    </div>
                  </div>
                </div>
                <div class="col-6 mb-2">
                  <div class="row">
                    <div class="col-12">
                      <span class="font-weight-bold">Thời lượng:</span> {{branchDetail.brA_DURATION}} năm
                    </div>
                  </div>
                </div>
                <ng-container *ngIf="isHasChild.seT_ISACTIVE == true">
                  <ng-container *ngIf="branchDetail.branchesParent != null">
                    <div class="col-6 mb-2">
                      <div class="row">
                        <div class="col-12">
                          <span class="font-weight-bold">Thuộc ngành:</span>
                          {{branchDetail.branchesParent.brA_NAME}}
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <div class="col-6 mb-2">
                    <div class="row">
                      <div class="col-12">
                        <span class="font-weight-bold">Cho phép tạo chuyên ngành:</span>
                        <ng-container *ngIf="branchDetail.brA_ISPARENT == true; else noactive">
                          <span class="text-success">Có</span>
                        </ng-container>
                        <ng-template #noactive>
                          <span class="text-danger">Không</span>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <div class="col-6 mb-2">
                  <div class="row">
                    <div class="col-12">
                      <ng-container *ngIf="branchDetail.faculties != null">
                        <span class="font-weight-bold">Thuộc khoa:</span>
                        <a href="{{'/faculty?facid=' + branchDetail.faculties.id}}" class="text-decoration-none"
                          style="cursor: pointer;">{{branchDetail.faculties.faC_NAME}}</a>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <p class="text-secondary mb-0"><em>Tạo bởi
                      <ng-template #usercreated>
                        <div class="row mt-1">
                          <div class="col-6">
                            <img class="img-thumbnail" src="{{branchDetail.userCreated.employees[0].fileUrl}}"
                              alt="{{branchDetail.userCreated.usE_USERNAME}}">
                          </div>
                          <div class="col-6 text-left">
                            <p class="mb-0"><span class="font-weight-bold">ID:
                              </span>{{branchDetail.userCreated.employees[0].emP_CODE}}</p>
                            <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p>
                                          <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p> -->
                            <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                              {{branchDetail.userCreated.employees[0].emP_LASTNAME}}
                              {{branchDetail.userCreated.employees[0].emP_FIRSTNAME}}
                            </p>
                          </div>
                          <div class="col-12 text-left mt-2">
                            <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                              </span>{{branchDetail.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                            </p>
                            <p class="mb-0"><span class="font-weight-bold">Giới tính:
                              </span>{{branchDetail.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}}
                            </p>
                            <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                              </span><a
                                href="{{'tel:' + branchDetail.userCreated.employees.emP_PHONE}}">{{branchDetail.userCreated.employees[0].emP_PHONE}}</a>
                            </p>
                            <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                              </span>{{branchDetail.userCreated.employees[0].emP_ADDRESS}}</p>
                            <p class="mb-0"><span class="font-weight-bold">Email:
                              </span><a
                                href="{{'mailto:' + branchDetail.userCreated.employees.emP_EMAIL}}">{{branchDetail.userCreated.employees[0].emP_EMAIL}}</a>
                            </p>
                          </div>
                        </div>
                      </ng-template>
                      <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                        class="text-primary">{{branchDetail.userCreated.employees[0].emP_LASTNAME}}
                        {{branchDetail.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                      {{branchDetail.brA_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                  <ng-container *ngIf="branchDetail.userModified != null">
                    <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                        <ng-template #usermodified>
                          <div class="row mt-1">
                            <div class="col-6">
                              <img class="img-thumbnail" src="{{branchDetail.userModified.employees[0].fileUrl}}"
                                alt="{{branchDetail.userModified.usE_USERNAME}}">
                            </div>
                            <div class="col-6 text-left">
                              <p class="mb-0"><span class="font-weight-bold">ID:
                                </span>{{branchDetail.userModified.employees[0].emP_CODE}}</p>
                              <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userModified.employees.emP_CODE}}</p>
                                              <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userModified.employees.emP_CODE}}</p> -->
                              <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                {{branchDetail.userModified.employees[0].emP_LASTNAME}}
                                {{branchDetail.userModified.employees[0].emP_FIRSTNAME}}
                              </p>
                            </div>
                            <div class="col-12 text-left mt-2">
                              <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                </span>{{branchDetail.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                              </p>
                              <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                </span>{{branchDetail.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}}
                              </p>
                              <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                </span><a
                                  href="{{'tel:' + branchDetail.userModified.employees.emP_PHONE}}">{{branchDetail.userModified.employees[0].emP_PHONE}}</a>
                              </p>
                              <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                </span>{{branchDetail.userModified.employees[0].emP_ADDRESS}}</p>
                              <p class="mb-0"><span class="font-weight-bold">Email:
                                </span><a
                                  href="{{'mailto:' + branchDetail.userModified.employees.emP_EMAIL}}">{{branchDetail.userModified.employees[0].emP_EMAIL}}</a>
                              </p>
                            </div>
                          </div>
                        </ng-template>
                        <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                          class="text-primary">{{branchDetail.userModified.employees[0].emP_LASTNAME}}
                          {{branchDetail.userModified.employees[0].emP_FIRSTNAME}} </span> -
                        {{branchDetail.brA_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
          <ng-container *ngIf="bra_ref == true">
            <div class="tab-pane px-0 fade" id="content_bra_2">
              <ng-container *ngIf="tabControl == 2">
                <div class="col-12">
                  <ng-container *ngIf="branch_Id != null">
                    <app-subject branchId="{{branch_Id}}"></app-subject>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left"><span id="modal_title_bra"></span></h5>
        <button type="button" class="close pull-right close_modal_bra_addupd" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tên ngành:</label>
              <div class="col-8 my-auto">
                <input class="form-control d-inline form-control-sm" id="field_bra_1" (blur)="validate_bra_name()"
                  placeholder="Tên ngành..." [(ngModel)]="branch.brA_NAME">
                <span id="valid_mes_bra_1" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Mã ngành:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="autoGenCode.seT_ISACTIVE == false; else auto">
                  <input class="form-control d-inline form-control-sm" id="field_bra_2" (blur)="validate_bra_code()"
                    placeholder="Mã ngành..." [(ngModel)]="branch.brA_CODE">
                  <span id="valid_mes_bra_2" class="invalid-feedback"></span>
                </ng-container>
                <ng-template #auto>
                  <input class="form-control d-inline form-control-sm" id="field_bra_2" (blur)="validate_bra_code()"
                    placeholder="Mã ngành..." [(ngModel)]="branch.brA_CODE" disabled>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Thời lượng:</label>
              <div class="col-8 my-auto">
                <div class="input-group input-group-sm">
                  <input type="number" class="form-control d-inline form-control-sm" id="field_bra_3"
                    (blur)="validate_bra_duration()" placeholder="Thời lượng..." min="0" max="6" step="0.5"
                    [(ngModel)]="branch.brA_DURATION" aria-describedby="input-group-duration">
                  <div class="input-group-append">
                    <span class="input-group-text" id="input-group-duration">Năm</span>
                  </div>
                </div>
                <span id="valid_mes_bra_3" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <ng-container *ngIf="isHasChild.seT_ISACTIVE == true">
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 col-form-label font-weight-bold">Thuộc ngành:</label>
                <div class="col-8 my-auto">
                  <div class="input-group input-group-sm">
                    <select id="field_bra_4" class="form-control form-control-sm d-inline"
                      [(ngModel)]="branch.brA_PARENT" (blur)="validate_bra_parent()">
                      <ng-container *ngIf="bra_con == true; else branchSpecialize2">
                        <!-- loop0 -->
                        <ng-container *ngFor="let item of branchAllowChilds">
                          <ng-container *ngIf="item.brA_ISDELETED == false">
                            <ng-container *ngIf="item.branches != null;else nochilddropdown">
                              <ng-container *ngIf="size >= 3;else nodropdown">
                                <option class="form-control form-control-sm" value="{{item.id}}">&#9207;
                                  {{item.brA_NAME}}
                                </option>
                              </ng-container>
                              <ng-template #nodropdown>
                                <option class="form-control form-control-sm" value="{{item.id}}">&#9205;
                                  {{item.brA_NAME}}
                                </option>
                              </ng-template>
                              <!-- loop1 -->
                              <ng-container *ngFor="let item1 of item.branches">
                                <ng-container *ngIf="item1.brA_ISDELETED == false && size >= 3">
                                  <ng-container *ngIf="item1.branches != null;else nochilddropdown1">
                                    <ng-container *ngIf="size >= 4; else nodropdown1">
                                      <option class="form-control form-control-sm" value="{{item1.id}}">
                                        &emsp;&#9207;{{item1.brA_NAME}}
                                      </option>
                                    </ng-container>
                                    <ng-template #nodropdown1>
                                      <option class="form-control form-control-sm" value="{{item1.id}}">&emsp;&#9205;
                                        {{item1.brA_NAME}}
                                      </option>
                                    </ng-template>
                                    <!-- loop2 -->
                                    <ng-container *ngFor="let item2 of item1.branches">
                                      <ng-container *ngIf="item2.brA_ISDELETED == false && size >= 4">
                                        <option class="form-control form-control-sm" value="{{item2.id}}">
                                          &emsp;&emsp;&#9205;
                                          {{item2.brA_NAME}}
                                        </option>
                                      </ng-container>
                                    </ng-container>
                                  </ng-container>
                                  <ng-template #nochilddropdown1>
                                    <option class="form-control form-control-sm" value="{{item1.id}}">&emsp;&#9205;
                                      {{item1.brA_NAME}}
                                    </option>
                                  </ng-template>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                            <ng-template #nochilddropdown>
                              <option class="form-control form-control-sm" value="{{item.id}}">&#9205; {{item.brA_NAME}}
                              </option>
                            </ng-template>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <ng-template #branchSpecialize2>
                        <!-- loop0 -->
                        <ng-container *ngFor="let item of branchAllowChilds">
                          <ng-container *ngIf="item.brA_ISDELETED == false">
                            <ng-container *ngIf="facultyConstraint != null && item.brA_FACID == facultyConstraint.id">
                              <ng-container *ngIf="item.branches != null;else nochilddropdown">
                                <ng-container *ngIf="size >= 3;else nodropdown">
                                  <option class="form-control form-control-sm" value="{{item.id}}">&#9207;
                                    {{item.brA_NAME}}
                                  </option>
                                </ng-container>
                                <ng-template #nodropdown>
                                  <option class="form-control form-control-sm" value="{{item.id}}">&#9205;
                                    {{item.brA_NAME}}
                                  </option>
                                </ng-template>
                                <!-- loop1 -->
                                <ng-container *ngFor="let item1 of item.branches">
                                  <ng-container *ngIf="item1.brA_ISDELETED == false && size >= 3">
                                    <ng-container *ngIf="item1.branches != null;else nochilddropdown1">
                                      <ng-container *ngIf="size >= 4; else nodropdown1">
                                        <option class="form-control form-control-sm" value="{{item1.id}}">
                                          &emsp;&#9207;{{item1.brA_NAME}}
                                        </option>
                                      </ng-container>
                                      <ng-template #nodropdown1>
                                        <option class="form-control form-control-sm" value="{{item1.id}}">&emsp;&#9205;
                                          {{item1.brA_NAME}}
                                        </option>
                                      </ng-template>
                                      <!-- loop2 -->
                                      <ng-container *ngFor="let item2 of item1.branches">
                                        <ng-container *ngIf="item2.brA_ISDELETED == false && size >= 4">
                                          <option class="form-control form-control-sm" value="{{item2.id}}">
                                            &emsp;&emsp;&#9205;
                                            {{item2.brA_NAME}}
                                          </option>
                                        </ng-container>
                                      </ng-container>
                                    </ng-container>
                                    <ng-template #nochilddropdown1>
                                      <option class="form-control form-control-sm" value="{{item1.id}}">&emsp;&#9205;
                                        {{item1.brA_NAME}}
                                      </option>
                                    </ng-template>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                              <ng-template #nochilddropdown>
                                <option class="form-control form-control-sm" value="{{item.id}}">&#9205;
                                  {{item.brA_NAME}}
                                </option>
                              </ng-template>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-template>
                    </select>
                    <div class="input-group-append">
                      <button class="btn btn-danger" (click)="removeBranchPick()"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Thuộc khoa:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="faculties != null">
                  <select class="form-control d-inline form-control-sm" id="field_bra_6" (blur)="validate_bra_faculty()"
                    [(ngModel)]="branch.brA_FACID" [disabled]="facultyId != null">
                    <ng-container *ngIf="bra_con == true; else facultySpecialize">
                      <ng-container *ngFor="let item of faculties">
                        <option value="{{item.id}}">{{item.faC_NAME}}</option>
                      </ng-container>
                    </ng-container>
                    <ng-template #facultySpecialize>
                      <ng-container *ngFor="let item of faculties">
                        <ng-container *ngIf="facultyConstraint != null && item.id == facultyConstraint.id">
                          <option value="{{item.id}}">{{item.faC_NAME}}</option>
                        </ng-container>
                      </ng-container>
                    </ng-template>
                  </select>
                </ng-container>
                <span id="valid_mes_bra_6" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="isHasChild.seT_ISACTIVE == true">
          <div class="row">
            <div class="col-12">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="field_bra_5">
                <label class="custom-control-label" for="field_bra_5">Cho phép chia chuyên ngành.</label>
                <a class="text-decoration-none text-secondary"
                  tooltip="Kích hoạt để có thể tạo các chuyên ngành con cho ngành học này" placement="right">
                  <i class="fa fa-info-circle"></i>
                </a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_bra_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_bra_addupd"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_bra_addupd"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Xóa ngành học</h5>
        <button type="button" class="close pull-right close_modal_bra_del" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="branch != null">
                <p class="text-justify">
                  Bạn có chắc chắn muốn xóa ngành học <span class="text-primary">{{branch.brA_NAME}}</span> không?
                </p>
                <p class="text-warning"><i class="fa fa-warning"></i> Xóa ngành học vẫn bảo toàn các môn học của ngành
                  đó!</p>
              </ng-container>
            </div>
            <div class="col-8">
              <div class="row">
                <ng-container *ngIf="branch != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">{{branch.brA_NAME}}</span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(branch.id)"><i id="{{'buttonicon_bra_' + branch.id}}"
                              class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <div class="col-12 border-left mb-2" id="{{'detailToggle_bra_' + branch.id}}">
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Tên ngành: </strong>
                              {{branch.brA_NAME}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Mã ngành: </strong>
                              {{branch.brA_CODE}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Thời lượng: </strong>
                              {{branch.brA_DURATION}} năm
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <ng-container *ngIf="branch.branchesParent != null">
                              <p class="mb-0"><span class="font-weight-bold">Thuộc ngành:
                                </span>{{branch.branchesParent.brA_NAME}}</p>
                            </ng-container>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <ng-container *ngIf="branch.faculties != null">
                              <span><strong>Thuộc khoa: </strong>
                                {{branch.faculties.faC_NAME}}
                              </span>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_bra_del"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_bra_del"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
