<div id="body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-center ">
          <!-- <h3 class="text-center d-inline mx-auto align-middle">DANH SÁCH CHỨC VỤ</h3>
          <a href="#" class="btn btn-primary position-absolute ml-1" style="left: 0.7rem;" (click)="showModal($event)">
            <i class="fa fa-plus-circle"></i>
            Thêm chức vụ
          </a> -->
          <div class="col-6 text-left">
            <h3 class="text-center d-inline mx-auto">DANH SÁCH CHỨC VỤ</h3>
          </div>
          <div class="col-6 text-right">
            <a href="#" class="btn btn-primary ml-1" title="Thêm chức vụ" (click)="showModal($event)">
              <i class="fa fa-plus-circle"></i>
            </a>
            <a href="#" class="btn btn-success ml-1" title="Xuất excel danh sách chức vụ" (click)="export($event)">
              <i class="fa fa-file-excel-o "></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 mt-2">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-bordered table-striped table-hover myTable">
          <tfoot>
            <tr>
              <th><input style="display: none;" type="text" name="search-check" />
              </th>
              <th><input type="text" name="search-id" />
              </th>
              <th><input style="display: none;" type="text" placeholder="Tìm kiếm số thứ tự" name="search-stt" /></th>
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm chức vụ" name="search-position" /></th>
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm mức lương" name="search-salary" /></th>
              <th><input style="display: none;" type="text" name="search-status" /></th>
              <th><input style="display: none;" type="text" name="search-allowstatus" /></th>
              <th><input style="display: none;" type="text" placeholder="Search first name" name="search-option" /></th>
            </tr>
          </tfoot>
          <thead>
            <tr class="table-custom-bg text-center">
              <th class="select-checkbox toggle-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
              <th></th>
              <th id="search-id">#</th>
              <th>Tên chức vụ</th>
              <th>Mức lương</th>
              <th>Trạng thái</th>
              <th>Sử dụng hệ thống</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="text-center">
            <ng-container *ngFor="let item of positions; let i = index">
              <tr>
                <td></td>
                <td>{{item.id}}</td>
                <td>{{i+1}}</td>
                <td id="{{'pos_' + item.id}}">{{item.poS_NAME}}</td>
                <td>{{item.poS_SALARYRATE}}</td>
                <td>
                  <ng-container *ngIf="item.poS_STATUS == 1">
                    <!-- <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="{{'ckb_' + item.id}}" checked disabled>
                      <label class="custom-control-label" for="{{'ckb_' + item.id}}"></label>
                    </div> -->
                    <label class="switch switch-label switch-pill switch-warning">
                      <input type="checkbox" class="switch-input" checked disabled>
                      <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
                  </ng-container>
                  <ng-container *ngIf="item.poS_STATUS == 0">
                    <!-- <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="{{'ckb_' + item.id}}" disabled>
                      <label class="custom-control-label" for="{{'ckb_' + item.id}}"></label>
                    </div> -->
                    <label class="switch switch-label switch-pill switch-warning">
                      <input type="checkbox" class="switch-input" disabled>
                      <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="item.poS_ISALLOWUSER == true">
                    <!-- <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="{{'ckb2_' + item.id}}" checked disabled>
                      <label class="custom-control-label" for="{{'ckb2_' + item.id}}"></label>
                    </div> -->
                    <label class="switch switch-label switch-pill switch-warning">
                      <input type="checkbox" class="switch-input" checked disabled>
                      <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
                  </ng-container>
                  <ng-container *ngIf="item.poS_ISALLOWUSER == false">
                    <!-- <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="{{'ckb2_' + item.id}}" disabled>
                      <label class="custom-control-label" for="{{'ckb2_' + item.id}}"></label>
                    </div> -->
                    <label class="switch switch-label switch-pill switch-warning">
                      <input type="checkbox" class="switch-input" disabled>
                      <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
                  </ng-container>
                </td>
                <td>
                  <a href="#" class="btn btn-warning btn-sm" title="Chỉnh sửa chức vụ"
                    (click)="showModal($event, item.id)">
                    <i class="fa fa-pencil-square-o"></i>
                  </a>
                  <!-- <a href="#" (click)="open_Delete($event,item.id)" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i>
                  </a> -->
                </td>
              </tr>
            </ng-container>
          </tbody>
          <!-- <tfoot>
            <tr>
              <th><input type="text" placeholder="Search ID" name="search-id" /></th>
              <th><input type="text" placeholder="Search first name" name="search-first-name" /></th>
              <th><input type="text" placeholder="Search last name" name="search-last-name" /></th>
            </tr>
          </tfoot> -->
        </table>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h4 class="modal-title pull-left"><span id="modal_title"></span></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label font-weight-bold">Chức vụ :</label>
          <div class="col-sm-8">
            <input [(ngModel)]="position.poS_NAME" id="field_1" placeholder="Tên chức vụ..."
              (blur)="validate_pos_name()" class="form-control">
            <span id="valid_mes_1" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label font-weight-bold">Mức lương :</label>
          <div class="col-sm-8">
            <input type="number" [(ngModel)]="position.poS_SALARYRATE" id="field_2" placeholder="Mức lương..."
              (blur)="validate_pos_salary()" class="form-control">
            <span id="valid_mes_2" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label font-weight-bold">Trạng thái :</label>
          <div class="col-sm-8">
            <ng-container *ngIf="position.poS_STATUS == 1; else checkoffmodal">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="field_7" checked>
                <label class="custom-control-label" for="field_7"></label>
              </div>
            </ng-container>
            <ng-template #checkoffmodal>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="field_7">
                <label class="custom-control-label" for="field_7"></label>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label font-weight-bold">Cho phép sử dụng hệ thống :</label>
          <div class="col-sm-8">
            <ng-container *ngIf="position.poS_ISALLOWUSER == true;else allowoff">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="field_8" checked>
                <label class="custom-control-label" for="field_8"></label>
              </div>
            </ng-container>
            <ng-template #allowoff>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="field_8">
                <label class="custom-control-label" for="field_8"></label>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modal.hide()" class="btn btn-secondary">Thoát</button>
        <button type="button" (click)="save()" class="btn btn-warning" id="button_modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h4 class="modal-title pull-left">Xóa loại bài viết</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="delete_message"></span>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDelete.hide()" class="btn btn-secondary">Thoát</button>
        <button type="button" (click)="delete()" class="btn btn-warning">OK</button>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="id_delete">
