<div id="body">
  <!-- <div class="container-fluid px-1"> -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center ">
        <div class="col-8 text-left">
          <ng-container *ngIf="subject.suB_NAME == null;else partial">
            <h4 class="text-center d-inline mx-auto">DANH SÁCH HỌC PHẦN</h4>
          </ng-container>
          <ng-template #partial>
            <h4 class="text-center d-inline mx-auto">DANH SÁCH HỌC PHẦN MÔN HỌC <span
                class="text-uppercase text-primary">{{subject.suB_NAME}}</span></h4>
          </ng-template>
        </div>
        <div class="col-4 text-right my-auto">
          <ng-container *ngIf="par_add == true">
            <button class="btn btn-primary btn-sm ml-1" (click)="openModal()">
              <i class="fa fa-plus-circle"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="par_con == true;">
            <ng-container *ngIf="par_del == true">
              <button class="btn btn-danger btn-sm ml-1" (click)="openModalDeleteMul()">
                <i class="fa fa-trash"></i>
              </button>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped table-hover myTable" style="width: 100%;">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" name="search-check" />
            </th>
            <th><input type="text" name="search-id" />
            </th>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại khóa học" name="search-stt" />
            </th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm học phần" name="search-first-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm số điểm" name="search-last-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm độ khó" name="search-credit" /></th>
            <ng-container *ngIf="subjectId == null">
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm môn học" name="search-subject" /></th>
            </ng-container>
            <th><input style="display: none;" type="text" placeholder="Search first name" name="search-option" /></th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th class="select-checkbox toggle-ins-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
            <th></th>
            <th>STT</th>
            <th>Tên học phần</th>
            <th>Điểm học phần</th>
            <th>Độ khó</th>
            <ng-container *ngIf="subjectId == null">
              <th>Thuộc môn học</th>
            </ng-container>
            <th style="min-width: 86px;"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of parts; let i = index">
            <tr>
              <td></td>
              <td>{{item.id}}</td>
              <td class="align-middle">{{i+1}}</td>
              <td class="align-middle text-left">{{item.paR_NAME}}</td>
              <td class="align-middle">{{item.paR_DEFAULTSCORE}}</td>
              <td class="align-middle">
                <ng-container *ngIf="difficultDisplay.seT_CHOICEVALUE == 'Bằng chữ';else numberdisplay0">
                  <ng-container [ngSwitch]="item.paR_DEFAULTLEVEL">
                    <ng-container *ngSwitchCase="1">Dễ</ng-container>
                    <ng-container *ngSwitchCase="2">Trung bình Dễ</ng-container>
                    <ng-container *ngSwitchCase="3">Trung bình</ng-container>
                    <ng-container *ngSwitchCase="4">Trung bình Khó</ng-container>
                    <ng-container *ngSwitchCase="5">Khó</ng-container>
                  </ng-container>
                </ng-container>
                <ng-template #numberdisplay0>
                  <ng-container [ngSwitch]="item.paR_DEFAULTLEVEL">
                    <ng-container *ngSwitchCase="1">1</ng-container>
                    <ng-container *ngSwitchCase="2">2</ng-container>
                    <ng-container *ngSwitchCase="3">3</ng-container>
                    <ng-container *ngSwitchCase="4">4</ng-container>
                    <ng-container *ngSwitchCase="5">5</ng-container>
                  </ng-container>
                </ng-template>
              </td>
              <ng-container *ngIf="subjectId == null">
                <td class="align-middle">{{item.subjects.suB_NAME}}</td>
              </ng-container>
              <td>
                <button class="btn btn-success btn-sm" title="Chi tiết học phần" (click)="openModalDetail(item.id)"><i
                    class="fa fa-eye"></i></button>
                <ng-container *ngIf="par_con == true; else partSpecialize">
                  <ng-container *ngIf="par_upd == true">
                    <button class="btn btn-warning btn-sm" [ngClass]="{'d-none': par_upd == false}" title="Cập nhật"
                      (click)="openModal(item.id)"><i class="fa fa-pencil-square-o"></i></button>
                  </ng-container>
                  <ng-container *ngIf="par_del == true">
                    <button class="btn btn-danger btn-sm" [ngClass]="{'d-none': par_del == false}" title="Xóa"
                      (click)="openModalDelete(item.id)"><i class="fa fa-trash"></i></button>
                  </ng-container>
                </ng-container>
                <ng-template #partSpecialize>
                  <ng-container *ngIf="subjectsConstraint != null && subjectsConstraint.includes(item.subjects.id)">
                    <ng-container *ngIf="par_upd == true">
                      <button class="btn btn-warning btn-sm" [ngClass]="{'d-none': par_upd == false}" title="Cập nhật"
                        (click)="openModal(item.id)"><i class="fa fa-pencil-square-o"></i></button>
                    </ng-container>
                    <ng-container *ngIf="par_del == true">
                      <button class="btn btn-danger btn-sm" [ngClass]="{'d-none': par_del == false}" title="Xóa"
                        (click)="openModalDelete(item.id)"><i class="fa fa-trash"></i></button>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog" (onHide)="resetDetailModal()"
  (onHidden)="resetDetailModal()" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">Chi tiết học phần</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 px-0">
            <ul class="d-flex nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link nav-link-custom active" (click)="loadTab(1)" id="tab_par_1" data-toggle="tab"
                  href="#content_par_1">Thông tin
                  chi tiết</a>
              </li>
              <span class="py-1">
                <div class="border-right">&nbsp;</div>
              </span>
              <ng-container *ngIf="par_ref == true">
                <li class="nav-item">
                  <a class="nav-link nav-link-custom" (click)="loadTab(2)" id="tab_par_2" data-toggle="tab"
                    href="#content_par_2">Danh sách câu hỏi
                  </a>
                </li>
                <span class="py-1">
                  <div class="border-right">&nbsp;</div>
                </span>
              </ng-container>
            </ul>
          </div>
          <div class="col-12 px-0 tab-content mt-3 border-0">
            <div class="tab-pane px-0 active" id="content_par_1">
              <div class="row px-3">
                <ng-container *ngIf="part != null">
                  <div class="col-6">
                    <p><span class="font-weight-bold">Tên học phần: </span> {{part.paR_NAME}}</p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Số điểm: </span> {{part.paR_DEFAULTSCORE}}</p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Độ khó: </span>
                      <ng-container *ngIf="difficultDisplay.seT_CHOICEVALUE == 'Bằng chữ';else numberdisplay0">
                        <ng-container [ngSwitch]="part.paR_DEFAULTLEVEL">
                          <ng-container *ngSwitchCase="1">Dễ</ng-container>
                          <ng-container *ngSwitchCase="2">Trung bình Dễ</ng-container>
                          <ng-container *ngSwitchCase="3">Trung bình</ng-container>
                          <ng-container *ngSwitchCase="4">Trung bình Khó</ng-container>
                          <ng-container *ngSwitchCase="5">Khó</ng-container>
                        </ng-container>
                      </ng-container>
                      <ng-template #numberdisplay0>
                        <ng-container [ngSwitch]="part.paR_DEFAULTLEVEL">
                          <ng-container *ngSwitchCase="1">1</ng-container>
                          <ng-container *ngSwitchCase="2">2</ng-container>
                          <ng-container *ngSwitchCase="3">3</ng-container>
                          <ng-container *ngSwitchCase="4">4</ng-container>
                          <ng-container *ngSwitchCase="5">5</ng-container>
                        </ng-container>
                      </ng-template>
                    </p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Trạng thái: </span>
                      <ng-container *ngIf="part.paR_STATUS == 1; else nouse">
                        <span class="text-success">Sử dụng</span>
                      </ng-container>
                      <ng-template #nouse>
                        <span class="text-danger">Lược bỏ</span>
                      </ng-template>
                    </p>
                  </div>
                  <ng-container *ngIf="subjectId == null">
                    <div class="col-6">
                      <p><span class="font-weight-bold">Thuộc môn học: </span>
                        <ng-container *ngIf="part.subjects != null">
                          <a href="#" [routerLink]="['/subject']" [queryParams]="{id: part.subjects.id}"
                            class="text-decoration-none">{{part.subjects.suB_NAME}}</a>
                        </ng-container>
                      </p>
                    </div>
                  </ng-container>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Trộn câu hỏi: </span>
                      <ng-container *ngIf="part.paR_ISSHUFFLE == true; else noshuffle">
                        <span class="text-success">Có</span>
                      </ng-container>
                      <ng-template #noshuffle>
                        <span class="text-danger">Không</span>
                      </ng-template>
                    </p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Cho phép trộn câu hỏi: </span>
                      <ng-container *ngIf="part.paR_ISALLOWSHUFFLEQUESTION == true; else noshuffle">
                        <span class="text-success">Có</span>
                      </ng-container>
                      <ng-template #noshuffle>
                        <span class="text-danger">Không</span>
                      </ng-template>
                    </p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Cho phép trộn đáp án: </span>
                      <ng-container *ngIf="part.paR_ISALLOWSHUFFLEOPTION == true; else noshuffle">
                        <span class="text-success">Có</span>
                      </ng-container>
                      <ng-template #noshuffle>
                        <span class="text-danger">Không</span>
                      </ng-template>
                    </p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Cho phép tạo câu hỏi không có nội dung: </span>
                      <ng-container *ngIf="part.paR_ISALLOWNULLQUESTION == true; else noshuffle">
                        <span class="text-success">Có</span>
                      </ng-container>
                      <ng-template #noshuffle>
                        <span class="text-danger">Không</span>
                      </ng-template>
                    </p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Cho phép tạo đáp án không có nội dung: </span>
                      <ng-container *ngIf="part.paR_ISALLOWNULLOPTION == true; else noshuffle">
                        <span class="text-success">Có</span>
                      </ng-container>
                      <ng-template #noshuffle>
                        <span class="text-danger">Không</span>
                      </ng-template>
                    </p>
                  </div>
                  <ng-container *ngIf="part.paR_NOTE != null && part.paR_NOTE != ''">
                    <div class="col-6">
                      <p><span class="font-weight-bold">Ghi chú: </span>{{part.paR_NOTE}}</p>
                    </div>
                  </ng-container>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-auto">
                        <p><span class="font-weight-bold">Hướng dẫn làm bài: </span></p>
                      </div>
                      <ng-container *ngIf="part.paR_DIRECTION != null && part.paR_DIRECTION != ''">
                        <div class="col border rounded mt-2 py-2 p-style ck-content"
                          [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(part.paR_DIRECTION)">
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-6 mt-4">
                    <ng-container *ngIf="part.userCreated != null">
                      <p class="text-secondary mb-0"><em>Tạo bởi
                          <ng-template #usercreated>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{part.userCreated.employees[0].fileUrl}}"
                                  alt="{{part.userCreated.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{part.userCreated.employees[0].emP_CODE}}</p>
                                <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p>
                                                        <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p> -->
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{part.userCreated.employees[0].emP_LASTNAME}}
                                  {{part.userCreated.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{part.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{part.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + part.userCreated.employees.emP_PHONE}}">{{part.userCreated.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{part.userCreated.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + part.userCreated.employees.emP_EMAIL}}">{{part.userCreated.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{part.userCreated.employees[0].emP_LASTNAME}}
                            {{part.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                          {{part.paR_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                    <ng-container *ngIf="part.userModified != null">
                      <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                          <ng-template #usermodified>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{part.userModified.employees[0].fileUrl}}"
                                  alt="{{part.userModified.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{part.userModified.employees[0].emP_CODE}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{part.userModified.employees[0].emP_LASTNAME}}
                                  {{part.userModified.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{part.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{part.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + part.userModified.employees.emP_PHONE}}">{{part.userModified.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{part.userModified.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + part.userModified.employees.emP_EMAIL}}">{{part.userModified.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{part.userModified.employees[0].emP_LASTNAME}}
                            {{part.userModified.employees[0].emP_FIRSTNAME}} </span> -
                          {{part.paR_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                  </div>
                  <div class="col-6 mt-4 align-self-end text-right">
                    <ng-container *ngIf="par_con == true; else partSpecialize1">
                      <ng-container *ngIf="par_upd == true">
                        <button class="btn btn-warning btn-sm" (click)="openModal(part.id)"><i
                            class="fa fa-pencil-square-o"></i>
                          Cập nhật</button>
                      </ng-container>
                      <ng-container *ngIf="par_del == true">
                        <button class="btn btn-danger btn-sm" (click)="openModalDelete(part.id)"><i
                            class="fa fa-trash"></i>
                          Xóa</button>
                      </ng-container>
                    </ng-container>
                    <ng-template #partSpecialize1>
                      <ng-container *ngIf="part.subjects != null && subjectsConstraint.includes(part.subjects.id)">
                        <ng-container *ngIf="par_upd == true">
                          <button class="btn btn-warning btn-sm" (click)="openModal(part.id)"><i
                              class="fa fa-pencil-square-o"></i>
                            Cập nhật</button>
                        </ng-container>
                        <ng-container *ngIf="par_del == true">
                          <button class="btn btn-danger btn-sm" (click)="openModalDelete(part.id)"><i
                              class="fa fa-trash"></i>
                            Xóa</button>
                        </ng-container>
                      </ng-container>
                    </ng-template>
                  </div>
                </ng-container>
              </div>
            </div>
            <ng-container *ngIf="par_ref == true">
              <div class="tab-pane px-0 fade" id="content_par_2">
                <ng-container *ngIf="tabControl == 2">
                  <div class="col-12">
                    <ng-container *ngIf="part_Id != null">
                      <div class="row">
                        <div class="col-12">
                          <ul class="d-flex nav nav-tabs">
                            <ng-container *ngIf="part.questions[0] == null && part.passages[0] == null; else hasvalue">
                              <li class="nav-item">
                                <a class="nav-link nav-link-custom"
                                  [ngClass]="{'disabled': activeTab == 2, 'active': activeTab == 1 || activeTab == 0}"
                                  id="pas_tab" data-toggle="tab" href="#passage">Câu hỏi
                                  đoạn văn</a>
                              </li>
                              <span class="py-1">
                                <div class="border-right">&nbsp;</div>
                              </span>
                              <li class="nav-item">
                                <a class="nav-link nav-link-custom" id="que_tab"
                                  [ngClass]="{'disabled': activeTab == 1, 'active': activeTab == 2}" data-toggle="tab"
                                  href="#question">Câu
                                  hỏi đơn</a>
                              </li>
                            </ng-container>
                            <ng-template #hasvalue>
                              <ng-container *ngIf="part.passages[0] == null; else questions">
                                <li class="nav-item">
                                  <a class="nav-link nav-link-custom disabled" id="pas_tab" data-toggle="tab"
                                    href="#passage">Câu
                                    hỏi
                                    đoạn văn</a>
                                </li>
                                <span class="py-1">
                                  <div class="border-right">&nbsp;</div>
                                </span>
                                <li class="nav-item">
                                  <a class="nav-link nav-link-custom active" id="que_tab" data-toggle="tab"
                                    href="#question">Câu
                                    hỏi đơn</a>
                                </li>
                              </ng-container>
                              <ng-template #questions>
                                <li class="nav-item">
                                  <a class="nav-link nav-link-custom active" id="pas_tab" data-toggle="tab"
                                    href="#passage">Câu
                                    hỏi
                                    đoạn văn</a>
                                </li>
                                <span class="py-1">
                                  <div class="border-right">&nbsp;</div>
                                </span>
                                <li class="nav-item">
                                  <a class="nav-link nav-link-custom disabled" id="que_tab" data-toggle="tab"
                                    href="#question">Câu
                                    hỏi đơn</a>
                                </li>
                              </ng-template>
                            </ng-template>
                          </ul>
                        </div>
                        <div class="col-12 tab-content mt-3 border-0">
                          <!-- <ng-container *ngIf="part.questions[0] == null && part.passages[0] == null; else hasvalue1"> -->
                          <div class="tab-pane px-0"
                            [ngClass]="{'active': ((part.questions[0] == null && part.passages[0] == null && (activeTab == 0 || activeTab == 1)) || (part.questions[0] == null && part.passages[0] != null)), 'fade': (part.questions[0] != null && part.passages[0] == null) || activeTab == 2}"
                            id="passage">
                            <app-passage partId="{{part_Id}}"></app-passage>
                          </div>
                          <div class="tab-pane px-0"
                            [ngClass]="{'fade': ((part.questions[0] == null && part.passages[0] == null && (activeTab == 0 || activeTab == 1)) || (part.questions[0] == null && part.passages[0] != null)), 'active': (part.questions[0] != null && part.passages[0] == null) || activeTab == 2}"
                            id="question">
                            <app-question partId="{{part_Id}}"></app-question>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left"><span id="modal_title_par"></span></h5>
        <button type="button" class="close pull-right close_modal_par_addupd" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tên học phần:</label>
              <div class="col-8 my-auto">
                <input class="form-control d-inline form-control-sm" id="field_ins_1" (blur)="validate_par_name()"
                  placeholder="Tên học phần..." [(ngModel)]="part.paR_NAME">
                <span id="valid_mes_ins_1" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <ng-container *ngIf="subjectId == null">
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 col-form-label font-weight-bold">Thuộc môn học:</label>
                <div class="col-8 my-auto">
                  <select id="field_ins_7" [(ngModel)]="part.paR_SUBID" (blur)="validate_par_subid()"
                    class="form-control d-inline form-control-sm" [disabled]="isAllowUpdate == false">
                    <ng-container *ngIf="subjects != null">
                      <ng-container *ngIf="par_con == true; else partSpecialize2">
                        <ng-container *ngFor="let item of subjects">
                          <ng-container *ngIf="item.suB_STATUS == 1">
                            <option value="{{item.id}}">{{item.suB_NAME}}</option>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <ng-template #partSpecialize2>
                        <ng-container *ngFor="let item of subjects">
                          <ng-container *ngIf="subjectsConstraint != null && subjectsConstraint.includes(item.id)">
                            <ng-container *ngIf="item.suB_STATUS == 1">
                              <option value="{{item.id}}">{{item.suB_NAME}}</option>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-template>
                    </ng-container>
                  </select>
                  <span id="valid_mes_ins_7" class="invalid-feedback"></span>
                  <ng-container *ngIf="isAllowUpdate == false">
                    <span id="warning_mes_ins_7" style="display: block;" class="invalid-feedback text-warning"><i
                        class='fa fa-warning'></i> Học phần đã có câu hỏi, không thể sửa môn học!</span>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="w-100"></div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Số điểm mặc định:</label>
              <div class="col-8 my-auto">
                <input class="form-control d-inline form-control-sm" id="field_ins_2" (blur)="validate_par_score()"
                  placeholder="Số điểm..." type="number" min="0" max="10" step="0.25"
                  [(ngModel)]="part.paR_DEFAULTSCORE">
                <span id="valid_mes_ins_2" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Độ khó mặc định:</label>
              <div class="col-8 my-auto">
                <select id="field_ins_3" [(ngModel)]="part.paR_DEFAULTLEVEL"
                  class="form-control d-inline form-control-sm" (blur)="validate_par_level()">
                  <ng-container *ngIf="difficultDisplay.seT_CHOICEVALUE == 'Bằng chữ'; else numberdisplay">
                    <option value="1">Dễ</option>
                    <option value="2">Trung bình Dễ</option>
                    <option value="3">Trung bình</option>
                    <option value="4">Trung bình Khó</option>
                    <option value="5">Khó</option>
                  </ng-container>
                  <ng-template #numberdisplay>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </ng-template>
                </select>
                <span id="valid_mes_ins_3" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Hiển thị câu hỏi:</label>
              <div class="col-8 my-auto">
                <div class="input-group input-group-sm">
                  <!-- <div class="input-group-prepend">
                    <span class="input-group-text" id="input-group-defcolumn">&emsp;</span>
                  </div> -->
                  <input type="number" class="form-control d-inline form-control-sm" id="field_ins_8"
                    (blur)="validate_par_column()" placeholder="Hiển thị câu hỏi..." min="1" max="2" step="1"
                    [(ngModel)]="part.paR_DEFAULTCOLUMN" aria-describedby="input-group-defcolumn">
                  <div class="input-group-append">
                    <span class="input-group-text" id="input-group-defcolumn">cột</span>
                  </div>
                  <!-- <a class="text-decoration-none text-secondary position-absolute pt-1"
                    tooltip="Quy định số cột hiển thị câu hỏi của học phần" placement="bottom" style="left: 9px;">
                    <i class="fa fa-info-circle"></i>
                  </a> -->
                </div>
                <span id="valid_mes_ins_8" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Trạng thái:</label>
              <div class="col-8 my-auto">
                <select id="field_ins_4" [(ngModel)]="part.paR_STATUS" class="form-control d-inline form-control-sm"
                  (blur)="validate_par_status()">
                  <option value="1">Sử dụng</option>
                  <option value="2">Lược bỏ</option>
                </select>
                <span id="valid_mes_ins_4" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Ghi chú:</label>
              <div class="col-8 my-auto">
                <textarea id="field_ins_5" [(ngModel)]="part.paR_NOTE" cols="20" rows="5"
                  class="form-control d-inline form-control-sm" (blur)="validate_par_note()">
                </textarea>
                <span id="valid_mes_ins_5" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Trộn câu hỏi:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="part.paR_ISSHUFFLE != null && part.paR_ISSHUFFLE == true; else falsechoice">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="field_ins_9" checked
                      [disabled]="part.paR_ISALLOWSHUFFLEQUESTION == null || part.paR_ISALLOWSHUFFLEQUESTION == false">
                    <label class="custom-control-label" for="field_ins_9"></label>
                  </div>
                </ng-container>
                <ng-template #falsechoice>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="field_ins_9"
                      [disabled]="part.paR_ISALLOWSHUFFLEQUESTION == null || part.paR_ISALLOWSHUFFLEQUESTION == false">
                    <label class="custom-control-label" for="field_ins_9"></label>
                  </div>
                </ng-template>
                <span id="warning_mes_ins_9" style="display: block;" class="invalid-feedback text-warning"><i
                    class="fa fa-warning"></i> Thiết lập cho phép trộn câu hỏi để chỉnh sửa!</span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Hướng dẫn làm bài:</label>
              <div class="col-10 my-auto">
                <ckeditor [editor]="Editor" [(ngModel)]="part.paR_DIRECTION" [config]="editorConfig"
                  (blur)="validate_par_direction()" (ready)="onReadyCKEditor($event)" id="field_ins_6"></ckeditor>
                <span id="valid_mes_ins_6" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Cài đặt học phần:</label>
              <div class="col-8 mt-2">
                <div class="row">
                  <!-- shuffle question -->
                  <div class="col-12">
                    <ng-container
                      *ngIf="part.paR_ISALLOWSHUFFLEQUESTION != null && part.paR_ISALLOWSHUFFLEQUESTION == true; else allowshufflequestion">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="field_ins_10" checked
                          [disabled]="part.id != 0" (click)="toggleAllowShuffleQuestion()">
                        <label class="custom-control-label" for="field_ins_10">Cho phép trộn câu hỏi</label>
                      </div>
                    </ng-container>
                    <ng-template #allowshufflequestion>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="field_ins_10" [disabled]="part.id != 0"
                          (click)="toggleAllowShuffleQuestion()">
                        <label class="custom-control-label" for="field_ins_10">Cho phép trộn câu hỏi</label>
                      </div>
                    </ng-template>
                  </div>
                  <!-- shuffle option -->
                  <div class="col-12">
                    <ng-container
                      *ngIf="part.paR_ISALLOWSHUFFLEOPTION != null && part.paR_ISALLOWSHUFFLEOPTION == true; else allowshuffleoption">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="field_ins_11" checked
                          [disabled]="part.id != 0">
                        <label class="custom-control-label" for="field_ins_11">Cho phép trộn đáp án</label>
                      </div>
                    </ng-container>
                    <ng-template #allowshuffleoption>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="field_ins_11" [disabled]="part.id != 0">
                        <label class="custom-control-label" for="field_ins_11">Cho phép trộn đáp án</label>
                      </div>
                    </ng-template>
                  </div>
                  <!-- null question -->
                  <div class="col-12">
                    <ng-container
                      *ngIf="part.paR_ISALLOWNULLQUESTION != null && part.paR_ISALLOWNULLQUESTION == true; else allownullquestion">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="field_ins_12" checked
                          [disabled]="part.id != 0">
                        <label class="custom-control-label" for="field_ins_12">Cho phép tạo câu hỏi không có nội
                          dung</label>
                      </div>
                    </ng-container>
                    <ng-template #allownullquestion>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="field_ins_12" [disabled]="part.id != 0">
                        <label class="custom-control-label" for="field_ins_12">Cho phép tạo câu hỏi không có nội
                          dung</label>
                      </div>
                    </ng-template>
                  </div>
                  <!-- null option -->
                  <div class="col-12">
                    <ng-container
                      *ngIf="part.paR_ISALLOWNULLOPTION != null && part.paR_ISALLOWNULLOPTION == true; else allownulloption">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="field_ins_13" checked
                          [disabled]="part.id != 0">
                        <label class="custom-control-label" for="field_ins_13">Cho phép tạo đáp án không có nội
                          dung</label>
                      </div>
                    </ng-container>
                    <ng-template #allownulloption>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="field_ins_13" [disabled]="part.id != 0">
                        <label class="custom-control-label" for="field_ins_13">Cho phép tạo đáp án không có nội
                          dung</label>
                      </div>
                    </ng-template>
                  </div>
                  <div class="col-12">
                    <span class="text-warning"><i class='fa fa-warning'></i> Thiết lập sẽ không thể chỉnh sửa!</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_par_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_par_addupd"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_par_addupd"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">Xóa học phần</h5>
        <button type="button" class="close pull-right close_modal_par_del" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="part != null">
                <p class="text-justify">
                  Bạn có chắc chắn muốn xóa học phần <span class="text-primary">{{part.paR_NAME}}</span> không?
                </p>
                <p class="text-warning"><i class="fa fa-warning"></i> Xóa học phần sẽ xóa toàn bộ câu hỏi đơn cũng như
                  câu hỏi đoạn văn của học phần
                  đó!</p>
              </ng-container>
            </div>
            <div class="col-8">
              <div class="row">
                <ng-container *ngIf="part != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">{{part.paR_NAME}}</span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute" (click)="ToggleGroup(part.id)"><i
                              id="{{'buttonicon_ins_' + part.id}}" class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <div class="col-12 border-left mb-2" id="{{'detailToggle_ins_' + part.id}}">
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Tên học phần: </strong>
                              {{part.paR_NAME}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Số điểm mặc định: </strong>
                              {{part.paR_DEFAULTSCORE}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Độ khó mặc định: </strong>
                              <ng-container *ngIf="difficultDisplay.seT_CHOICEVALUE == 'Bằng chữ';else numberdisplay1">
                                <ng-container [ngSwitch]="part.paR_DEFAULTLEVEL">
                                  <ng-container *ngSwitchCase="1">Dễ</ng-container>
                                  <ng-container *ngSwitchCase="2">Trung bình Dễ</ng-container>
                                  <ng-container *ngSwitchCase="3">Trung bình</ng-container>
                                  <ng-container *ngSwitchCase="4">Trung bình Khó</ng-container>
                                  <ng-container *ngSwitchCase="5">Khó</ng-container>
                                </ng-container>
                              </ng-container>
                              <ng-template #numberdisplay1>
                                <ng-container [ngSwitch]="part.paR_DEFAULTLEVEL">
                                  <ng-container *ngSwitchCase="1">1</ng-container>
                                  <ng-container *ngSwitchCase="2">2</ng-container>
                                  <ng-container *ngSwitchCase="3">3</ng-container>
                                  <ng-container *ngSwitchCase="4">4</ng-container>
                                  <ng-container *ngSwitchCase="5">5</ng-container>
                                </ng-container>
                              </ng-template>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Hiển thị câu hỏi: </strong>
                              {{part.paR_DEFAULTCOLUMN}} cột
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <ng-container *ngIf="part.subjects != null">
                              <span><strong>Thuộc môn học: </strong>
                                {{part.subjects.suB_NAME}}
                              </span>
                            </ng-container>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Trộn câu hỏi: </strong>
                              <ng-container *ngIf="part.paR_ISSHUFFLE == true;else shuffle">
                                Có
                              </ng-container>
                              <ng-template #shuffle>
                                Không
                              </ng-template>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Cho phép trộn câu hỏi: </strong>
                              <ng-container *ngIf="part.paR_ISALLOWSHUFFLEQUESTION == true;else shuffle">
                                Có
                              </ng-container>
                              <ng-template #shuffle>
                                Không
                              </ng-template>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Cho phép trộn đáp án: </strong>
                              <ng-container *ngIf="part.paR_ISALLOWSHUFFLEOPTION == true;else shuffle">
                                Có
                              </ng-container>
                              <ng-template #shuffle>
                                Không
                              </ng-template>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Cho phép tạo câu hỏi không có nội dung: </strong>
                              <ng-container *ngIf="part.paR_ISALLOWNULLQUESTION == true;else shuffle">
                                Có
                              </ng-container>
                              <ng-template #shuffle>
                                Không
                              </ng-template>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Cho phép tạo đáp án không có nội dung: </strong>
                              <ng-container *ngIf="part.paR_ISALLOWNULLOPTION == true;else shuffle">
                                Có
                              </ng-container>
                              <ng-template #shuffle>
                                Không
                              </ng-template>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Trạng thái: </strong>
                              <ng-container *ngIf="part.paR_STATUS == 1;else status">
                                Sử dụng
                              </ng-container>
                              <ng-template #status>
                                Loại bỏ
                              </ng-template>
                            </span>
                          </div>
                        </div>
                        <div class="row pl-3">
                          <div class="col-auto pl-0">
                            <strong>Hướng dẫn làm bài: </strong>
                          </div>
                          <ng-container *ngIf="part.paR_DIRECTION != ''">
                            <div class="col border rounded mt-2 py-2 p-style ck-content"
                              [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(part.paR_DIRECTION)">
                              <!-- <ckeditor [disabled]="true" [editor]="EditorView" [(ngModel)]="part.paR_DIRECTION"
                                [config]="editorViewConfig"></ckeditor> -->
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_par_del"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_par_del"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDeletMul="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">Xóa danh sách học phần</h5>
        <button type="button" class="close pull-right close_modal_par_muldel" aria-label="Close"
          (click)="modalDeletMul.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="isListItemNull == true; else haveitem">
                <p class='text-danger'><i class='fa fa-exclamation-circle'></i> Không có học phần nào được
                  chọn!</p>
              </ng-container>
              <ng-template #haveitem>
                <p class="text-justify">Bạn có chắc chắn muốn xóa danh sách học phần:</p>
                <p class="text-warning"><i class="fa fa-warning"></i> Xóa học phần sẽ xóa toàn bộ câu hỏi đơn cũng như
                  câu hỏi đoạn văn của học phần đó!
                </p>
              </ng-template>
            </div>
            <div class="col-8">
              <ng-container *ngIf="isListItemNull == true; else haveitem1">
                <div class="row">
                  <div class="col-12 text-center border-left" style="height: 65vh;">
                    <img src="../assets/img/no-results.png" alt="no item found">
                  </div>
                </div>
              </ng-container>
              <ng-template #haveitem1>
                <ng-container *ngIf="partsMultiDel != null">
                  <ng-container *ngFor="let item of partsMultiDel">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12 border-bottom mb-2">
                            <div class="row">
                              <div class="col-auto bg-primary py-1 text-left">
                                <span class="text-white text-uppercase align-middle">{{item.paR_NAME}}</span>
                              </div>
                              <div class="arrow-half-custom"></div>
                              <button style="right: 0;bottom: -1px;"
                                class="btn btn-outline-secondary btn-sm position-absolute"
                                (click)="ToggleGroupMulti(item.id)"><i id="{{'buttonicon_ins_mul_' + item.id}}"
                                  class="fa fa-minus"></i></button>
                            </div>
                          </div>
                          <div class="col-12 border-left mb-2" id="{{'detailToggle_ins_mul_' + item.id}}">
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Tên học phần: </strong>
                                  {{item.paR_NAME}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Số điểm mặc định: </strong>
                                  {{item.paR_DEFAULTSCORE}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Độ khó mặc định: </strong>
                                  <ng-container
                                    *ngIf="difficultDisplay.seT_CHOICEVALUE == 'Bằng chữ';else numberdisplay1">
                                    <ng-container [ngSwitch]="item.paR_DEFAULTLEVEL">
                                      <ng-container *ngSwitchCase="1">Dễ</ng-container>
                                      <ng-container *ngSwitchCase="2">Trung bình Dễ</ng-container>
                                      <ng-container *ngSwitchCase="3">Trung bình</ng-container>
                                      <ng-container *ngSwitchCase="4">Trung bình Khó</ng-container>
                                      <ng-container *ngSwitchCase="5">Khó</ng-container>
                                    </ng-container>
                                  </ng-container>
                                  <ng-template #numberdisplay1>
                                    <ng-container [ngSwitch]="item.paR_DEFAULTLEVEL">
                                      <ng-container *ngSwitchCase="1">1</ng-container>
                                      <ng-container *ngSwitchCase="2">2</ng-container>
                                      <ng-container *ngSwitchCase="3">3</ng-container>
                                      <ng-container *ngSwitchCase="4">4</ng-container>
                                      <ng-container *ngSwitchCase="5">5</ng-container>
                                    </ng-container>
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Hiển thị câu hỏi: </strong>
                                  {{item.paR_DEFAULTCOLUMN}} cột
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <ng-container *ngIf="item.subjects != null">
                                  <span><strong>Thuộc môn học: </strong>
                                    {{item.subjects.suB_NAME}}
                                  </span>
                                </ng-container>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Trộn câu hỏi: </strong>
                                  <ng-container *ngIf="item.paR_ISSHUFFLE == true;else shuffle">
                                    Có
                                  </ng-container>
                                  <ng-template #shuffle>
                                    Không
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Cho phép trộn câu hỏi: </strong>
                                  <ng-container *ngIf="item.paR_ISALLOWSHUFFLEQUESTION == true;else shuffle">
                                    Có
                                  </ng-container>
                                  <ng-template #shuffle>
                                    Không
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Cho phép trộn đáp án: </strong>
                                  <ng-container *ngIf="item.paR_ISALLOWSHUFFLEOPTION == true;else shuffle">
                                    Có
                                  </ng-container>
                                  <ng-template #shuffle>
                                    Không
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Cho phép tạo câu hỏi không có nội dung: </strong>
                                  <ng-container *ngIf="item.paR_ISALLOWNULLQUESTION == true;else shuffle">
                                    Có
                                  </ng-container>
                                  <ng-template #shuffle>
                                    Không
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Cho phép tạo đáp án không có nội dung: </strong>
                                  <ng-container *ngIf="item.paR_ISALLOWNULLOPTION == true;else shuffle">
                                    Có
                                  </ng-container>
                                  <ng-template #shuffle>
                                    Không
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Trạng thái: </strong>
                                  <ng-container *ngIf="item.paR_STATUS == 1;else status">
                                    Sử dụng
                                  </ng-container>
                                  <ng-template #status>
                                    Loại bỏ
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row pl-3">
                              <div class="col-auto pl-0">
                                <strong>Hướng dẫn làm bài: </strong>
                              </div>
                              <ng-container *ngIf="item.paR_DIRECTION != ''">
                                <div class="col border rounded mt-2 py-2 p-style ck-content"
                                  [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item.paR_DIRECTION)">
                                  <!-- <ckeditor [disabled]="true" [editor]="EditorView" [(ngModel)]="item.paR_DIRECTION"
                                    [config]="editorViewConfig"></ckeditor> -->
                                </div>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="isListItemNull == false">
          <button type="button" (click)="deleteMul()" class="btn btn-success" id="save_modal_par_muldel"><i
              class="fa fa-check"></i> OK</button>
        </ng-container>
        <button type="button" (click)="modalDeletMul.hide()" class="btn btn-danger close_modal_par_muldel"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
