<div id="body">
  <!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center ">
        <div class="col-12 text-left">
          <h4 class="text-center d-inline mx-auto">DANH SÁCH LOẠI CÂU HỎI</h4>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped table-hover" style="width: 100%;">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại khóa học" name="search-stt" />
            </th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm tên loại câu hỏi" name="search-first-name" /></th>
            <th><input style="display: none;" type="text" placeholder="Search first name" name="search-option" /></th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th>STT</th>
            <th>Tên loại câu hỏi</th>
            <th style="width: 86px;"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of answertypes; let i = index">
            <tr>
              <td class="align-middle">{{i+1}}</td>
              <td class="align-middle">{{item.antY_NAME}}</td>
              <td class="align-middle">
                <ng-container *ngIf="ans_upd == true">
                  <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                      class="fa fa-pencil-square-o"></i></button>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase"><span id="modal_title_inside"></span></h5>
        <button type="button" class="close pull-right close_modal_ans_addupd" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tên loại câu hỏi:</label>
              <div class="col-8 my-auto">
                <input type="text" class="form-control form-control-sm" [disabled]="true"
                  [(ngModel)]="answertype.antY_NAME">
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Mẫu câu hỏi:</label>
              <div class="col-10 my-auto">
                <ckeditor [editor]="Editor" [(ngModel)]="answertype.antY_SAMPLE" [config]="editorConfig"
                  (blur)="validate_anty_sample()" (ready)="onReadyCKEditor($event)" id="field_1"></ckeditor>
                <span id="valid_mes_1" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-10 offset-2">
                <ng-container *ngIf="answertype.userModified != null">
                  <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                      <ng-template #usermodified>
                        <div class="row mt-1">
                          <div class="col-6">
                            <img class="img-thumbnail" src="{{answertype.userModified.employees[0].fileUrl}}"
                              alt="{{answertype.userModified.usE_USERNAME}}">
                          </div>
                          <div class="col-6 text-left">
                            <p class="mb-0"><span class="font-weight-bold">ID:
                              </span>{{answertype.userModified.employees[0].emP_CODE}}</p>
                            <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userModified.employees.emP_CODE}}</p>
                                                      <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userModified.employees.emP_CODE}}</p> -->
                            <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                              {{answertype.userModified.employees[0].emP_LASTNAME}}
                              {{answertype.userModified.employees[0].emP_FIRSTNAME}}
                            </p>
                          </div>
                          <div class="col-12 text-left mt-2">
                            <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                              </span>{{answertype.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                            </p>
                            <p class="mb-0"><span class="font-weight-bold">Giới tính:
                              </span>{{answertype.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                            <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                              </span><a
                                href="{{'tel:' + answertype.userModified.employees.emP_PHONE}}">{{answertype.userModified.employees[0].emP_PHONE}}</a>
                            </p>
                            <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                              </span>{{answertype.userModified.employees[0].emP_ADDRESS}}</p>
                            <p class="mb-0"><span class="font-weight-bold">Email:
                              </span><a
                                href="{{'mailto:' + answertype.userModified.employees.emP_EMAIL}}">{{answertype.userModified.employees[0].emP_EMAIL}}</a>
                            </p>
                          </div>
                        </div>
                      </ng-template>
                      <span [tooltip]="usermodified" placement="bottom" style="cursor: pointer;"
                        class="text-primary">{{answertype.userModified.employees[0].emP_LASTNAME}}
                        {{answertype.userModified.employees[0].emP_FIRSTNAME}} </span> -
                      {{answertype.antY_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_ans_addupd"><i class="fa fa-times"></i> Thoát</button>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_ans_addupd">OK</button>
      </div>
    </div>
  </div>
</div>
