<div id="body">
  <!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-10 text-left">
          <h3 class="text-center d-inline mx-auto">DANH SÁCH LỚP HỌC</h3>
        </div>
        <div class="col-2 text-right">
          <ng-container *ngIf="cla_add == true">
            <button class="btn btn-primary btn-sm ml-1" (click)="openModal()">
              <i class="fa fa-plus-circle"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="cla_con == true">
            <ng-container *ngIf="cla_del == true">
              <button class="btn btn-danger btn-sm ml-1" (click)="openModalDeleteMul()">
                <i class="fa fa-trash"></i>
              </button>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped table-hover myTable">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" name="search-check" />
            </th>
            <th><input type="text" name="search-id" />
            </th>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm số thứ tự" name="search-stt" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm mã lớp" name="search-code" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm niên khóa" name="search-first-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm ngành học" name="search-branch" /></th>
            <!-- <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                    placeholder="Tìm kiếm trạng thái" name="search-status" /></th> -->
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm trạng thái" name="search-option" />
            </th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th class="select-checkbox toggle-cla-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
            <th></th>
            <th>STT</th>
            <th>Mã lớp</th>
            <th>Niên khóa</th>
            <th>Ngành học</th>
            <th style="min-width: 86px;"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of classes; let i = index">
            <tr>
              <td></td>
              <td>{{item.id}}</td>
              <td>{{i+1}}</td>
              <td>{{item.clA_CODE}}</td>
              <td>{{item.schoolYears.scyE_CODE}} ({{item.schoolYears.scyE_STARTYEAR}} -
                {{item.schoolYears.scyE_STARTYEAR + math.floor(item.branches.brA_DURATION)}})</td>
              <td>{{item.branches.brA_NAME}}</td>
              <td>
                <button class="btn btn-success btn-sm" title="Chi tiết lớp học" (click)="openModalDetail(item.id)"><i
                    class="fa fa-eye"></i></button>
                <ng-container *ngIf="cla_con == true; else classSpecialize">
                  <ng-container *ngIf="cla_upd == true">
                    <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                        class="fa fa-pencil-square-o"></i></button>
                  </ng-container>
                  <ng-container *ngIf="cla_del == true">
                    <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                        class="fa fa-trash"></i></button>
                  </ng-container>
                </ng-container>
                <ng-template #classSpecialize>
                  <ng-container
                    *ngIf="facultyConstraint != null && item.branches != null && facultyConstraint.id == item.branches.faculties.id">
                    <ng-container *ngIf="cla_upd == true">
                      <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                          class="fa fa-pencil-square-o"></i></button>
                    </ng-container>
                    <ng-container *ngIf="cla_del == true">
                      <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                          class="fa fa-trash"></i></button>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog" (onHide)="resetDetailModal()"
  (onHidden)="resetDetailModal()" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">Chi tiết lớp học</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <div class="col-12 px-0">
            <ul class="d-flex nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link nav-link-custom active" (click)="loadTab(1)" id="tab_cla_1" data-toggle="tab"
                  href="#content_cla_1">Thông tin
                  chi tiết</a>
              </li>
              <span class="py-1">
                <div class="border-right">&nbsp;</div>
              </span>
              <ng-container *ngIf="cla_ref == true">
                <li class="nav-item">
                  <a class="nav-link nav-link-custom" (click)="loadTab(2)" id="tab_cla_2" data-toggle="tab"
                    href="#content_cla_2">Danh sách sinh viên
                  </a>
                </li>
                <span class="py-1">
                  <div class="border-right">&nbsp;</div>
                </span>
              </ng-container>
            </ul>
          </div>
          <div class="col-12 px-0 tab-content mt-3 border-0">
            <div class="tab-pane px-0 active" id="content_cla_1">
              <div class="row px-3">
                <ng-container *ngIf="classs != null">
                  <div class="col-6">
                    <p><span class="font-weight-bold">Mã lớp: </span> {{classs.clA_CODE}}</p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Niên khóa: </span>
                      <ng-container *ngIf="classs.schoolYears != null">
                        <a href="#" class="text-decoration-none" [routerLink]="['/schoolyear']"
                          [queryParams]="{id: classs.schoolYears.id}">{{classs.schoolYears.scyE_CODE}}</a>
                      </ng-container>
                    </p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Ngành: </span>
                      <ng-container *ngIf="classs.branches != null">
                        <a href="#" class="text-decoration-none" [routerLink]="['/branch']"
                          [queryParams]="{id: classs.branches.id}">{{classs.branches.brA_NAME}}</a>
                      </ng-container>
                    </p>
                  </div>
                  <div class="w-100"></div>
                  <!-- </ng-container> -->
                  <div class="col-6 mt-4">
                    <ng-container *ngIf="classs.userCreated != null">
                      <p class="text-secondary mb-0"><em>Tạo bởi
                          <ng-template #usercreated>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{classs.userCreated.employees[0].fileUrl}}"
                                  alt="{{classs.userCreated.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{classs.userCreated.employees[0].emP_CODE}}</p>
                                <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p>
                                                      <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p> -->
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{classs.userCreated.employees[0].emP_LASTNAME}}
                                  {{classs.userCreated.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{classs.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{classs.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + classs.userCreated.employees.emP_PHONE}}">{{classs.userCreated.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{classs.userCreated.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + classs.userCreated.employees.emP_EMAIL}}">{{classs.userCreated.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{classs.userCreated.employees[0].emP_LASTNAME}}
                            {{classs.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                          {{classs.clA_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                    <ng-container *ngIf="classs.userModified != null">
                      <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                          <ng-template #usermodified>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{classs.userModified.employees[0].fileUrl}}"
                                  alt="{{classs.userModified.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{classs.userModified.employees[0].emP_CODE}}</p>
                                <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userModified.employees.emP_CODE}}</p>
                                                      <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userModified.employees.emP_CODE}}</p> -->
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{classs.userModified.employees[0].emP_LASTNAME}}
                                  {{classs.userModified.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{classs.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{classs.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + classs.userModified.employees.emP_PHONE}}">{{classs.userModified.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{classs.userModified.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + classs.userModified.employees.emP_EMAIL}}">{{classs.userModified.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{classs.userModified.employees[0].emP_LASTNAME}}
                            {{classs.userModified.employees[0].emP_FIRSTNAME}} </span> -
                          {{classs.clA_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                  </div>
                  <div class="col-6 mt-4 align-self-end text-right">
                    <ng-container *ngIf="cla_con == true; else classSpecialize1">
                      <ng-container *ngIf="cla_upd == true">
                        <button class="btn btn-warning btn-sm" (click)="openModal(classs.id)"><i
                            class="fa fa-pencil-square-o"></i>
                          Cập nhật</button>
                      </ng-container>
                      <ng-container *ngIf="cla_del == true">
                        <button class="btn btn-danger btn-sm" (click)="openModalDelete(classs.id)"><i
                            class="fa fa-trash"></i>
                          Xóa</button>
                      </ng-container>
                    </ng-container>
                    <ng-template #classSpecialize1>
                      <ng-container
                        *ngIf="facultyConstraint != null && classs.branches != null && facultyConstraint.id == classs.branches.faculties.id">
                        <ng-container *ngIf="cla_upd == true">
                          <button class="btn btn-warning btn-sm" (click)="openModal(classs.id)"><i
                              class="fa fa-pencil-square-o"></i>
                            Cập nhật</button>
                        </ng-container>
                        <ng-container *ngIf="cla_del == true">
                          <button class="btn btn-danger btn-sm" (click)="openModalDelete(classs.id)"><i
                              class="fa fa-trash"></i>
                            Xóa</button>
                        </ng-container>
                      </ng-container>
                    </ng-template>
                  </div>
                </ng-container>
              </div>
            </div>
            <ng-container *ngIf="cla_ref == true">
              <div class="tab-pane px-0 fade" id="content_cla_2">
                <ng-container *ngIf="tabControl == 2">
                  <div class="col-12">
                    <ng-container *ngIf="class_Id != null">
                      <app-student classId="{{class_Id}}"></app-student>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left"><span id="modal_title_cla"></span></h5>
        <button type="button" class="close pull-right close_modal_cla_addupdate" aria-label="Close"
          (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Mã lớp học:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="autoGenCode.seT_ISACTIVE == false; else auto">
                  <input class="form-control d-inline form-control-sm" id="field_cla_1" (blur)="validate_cla_code()"
                    placeholder="Mã lớp học..." [(ngModel)]="classs.clA_CODE">
                  <span id="valid_mes_cla_1" class="invalid-feedback"></span>
                </ng-container>
                <ng-template #auto>
                  <input class="form-control d-inline form-control-sm" id="field_cla_1" (blur)="validate_cla_code()"
                    placeholder="Mã lớp học..." [(ngModel)]="classs.clA_CODE" disabled>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Niên khóa:</label>
              <div class="col-8 my-auto">
                <select id="field_cla_2" class="form-control form-control-sm" [(ngModel)]="classs.clA_SCYEID"
                  (blur)="validate_cla_schoolyear()" (ngModelChange)="resetCode()">
                  <ng-container *ngIf="schoolyear != null">
                    <option value="{{schoolyear.id}}">{{schoolyear.scyE_CODE}}</option>
                  </ng-container>
                </select>
                <span id="valid_mes_cla_2" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Khoa:</label>
              <div class="col-8 my-auto">
                <select id="field_cla_3" class="form-control form-control-sm" [(ngModel)]="fac_id"
                  (blur)="validate_cla_facid()" (ngModelChange)="generateBranch()">
                  <ng-container *ngIf="faculties != null">
                    <ng-container *ngIf="cla_con == true; else classSpecialize2">
                      <ng-container *ngFor="let item of faculties">
                        <option value="{{item.id}}">{{item.faC_NAME}}</option>
                      </ng-container>
                    </ng-container>
                    <ng-template #classSpecialize2>
                      <ng-container *ngFor="let item of faculties">
                        <ng-container *ngIf="facultyConstraint != null && item.id == facultyConstraint.id">
                          <option value="{{item.id}}">{{item.faC_NAME}}</option>
                        </ng-container>
                      </ng-container>
                    </ng-template>
                  </ng-container>
                </select>
                <span id="warning_mes_cla_3" class="invalid-feedback text-warning" style="display: block;"><i
                    class="fa fa-warning"></i> Chọn khoa để chọn ngành học</span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Ngành học:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="isHasChild.seT_ISACTIVE == true; else nochildchoice">
                  <select id="field_cla_4" [(ngModel)]="classs.clA_BRAID" (blur)="validate_cla_braid()"
                    (ngModelChange)="resetCode()" class="form-control d-inline form-control-sm"
                    [disabled]="fac_id == null || fac_id == 0">
                    <ng-container *ngFor="let item of branchParents">
                      <ng-container *ngIf="item.brA_FACID == fac_id">
                        <ng-container *ngIf="item.branches != null;else nochilddropdown">
                          <ng-container *ngIf="size >= 2;else nodropdown">
                            <option class="form-control form-control-sm" [value]="item.id">&#9207;
                              {{item.brA_NAME}}
                            </option>
                          </ng-container>
                          <ng-template #nodropdown>
                            <option class="form-control form-control-sm" [value]="item.id">&#9205;
                              {{item.brA_NAME}}
                            </option>
                          </ng-template>
                          <!-- loop1 -->
                          <ng-container *ngFor="let item1 of item.branches">
                            <ng-container *ngIf="size >= 2">
                              <ng-container *ngIf="item1.branches != null;else nochilddropdown1">
                                <ng-container *ngIf="size >= 3; else nodropdown1">
                                  <option class="form-control form-control-sm" [value]="item1.id">
                                    &emsp;&#9207;{{item1.brA_NAME}}
                                  </option>
                                </ng-container>
                                <ng-template #nodropdown1>
                                  <option class="form-control form-control-sm" [value]="item1.id">&emsp;&#9205;
                                    {{item1.brA_NAME}}
                                  </option>
                                </ng-template>
                                <!-- loop2 -->
                                <ng-container *ngFor="let item2 of item1.branches">
                                  <ng-container *ngIf="size >= 3">
                                    <ng-container *ngIf="item2.branches != null;else nochilddropdown2">
                                      <ng-container *ngIf="size >= 4; else nodropdown2">
                                        <option class="form-control form-control-sm" [value]="item2.id">
                                          &emsp;&emsp;&#9207;
                                          {{item2.brA_NAME}}
                                        </option>
                                      </ng-container>
                                      <ng-template #nodropdown2>
                                        <option class="form-control form-control-sm" [value]="item2.id">
                                          &emsp;&emsp;&#9205;
                                          {{item2.brA_NAME}}
                                        </option>
                                      </ng-template>
                                      <!-- loop3 -->
                                      <ng-container *ngFor="let item3 of item2.branches">
                                        <ng-container *ngIf="size >= 4">
                                          <option class="form-control form-control-sm" [value]="item3.id">
                                            &emsp;&emsp;&emsp;&#9205;
                                            {{item3.brA_NAME}}
                                          </option>
                                        </ng-container>
                                      </ng-container>
                                    </ng-container>
                                    <ng-template #nochilddropdown2>
                                      <option class="form-control form-control-sm" [value]="item2.id">
                                        &emsp;&emsp;&#9205;
                                        {{item2.brA_NAME}}
                                      </option>
                                    </ng-template>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                              <ng-template #nochilddropdown1>
                                <option class="form-control form-control-sm" [value]="item1.id">&emsp;&#9205;
                                  {{item1.brA_NAME}}
                                </option>
                              </ng-template>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                        <ng-template #nochilddropdown>
                          <option class="form-control form-control-sm" [value]="item.id">&#9205; {{item.brA_NAME}}
                          </option>
                        </ng-template>
                      </ng-container>
                    </ng-container>
                  </select>
                </ng-container>
                <ng-template #nochildchoice>
                  <select id="field_cla_4" [(ngModel)]="classs.clA_BRAID" (blur)="validate_cla_braid()"
                    (ngModelChange)="resetCode()" class="form-control d-inline form-control-sm"
                    [disabled]="fac_id == null || fac_id == 0">
                    <ng-container *ngFor="let item of branches">
                      <ng-container *ngIf="item.brA_FACID == fac_id">
                        <option class="form-control form-control-sm" [value]="item.id">&#9205;
                          {{item.brA_NAME}}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </ng-template>
                <span id="valid_mes_cla_4" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_cla_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_cla_addupdate"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_cla_addupdate"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Xóa lớp học</h5>
        <button type="button" class="close pull-right close_modal_cla_delete" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-5">
              <p class="text-justify">Bạn có chắc chắn muốn xóa lớp học</p>
            </div>
            <div class="col-7">
              <div class="row">
                <ng-container *ngIf="classs != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">
                              Thông tin lớp học {{classs.clA_CODE}}
                            </span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(classs.id)"><i id="{{'buttonicon_cla_' + classs.id}}"
                              class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <ng-container *ngIf="classs != null">
                        <div class="col-12 border-left mb-2" id="{{'detailToggle_cla_' + classs.id}}">
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Mã lớp học: </strong>{{classs.clA_CODE}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Niên khóa: </strong>
                                <ng-container *ngIf="classs.schoolYears != null">
                                  {{classs.schoolYears.scyE_CODE}}
                                </ng-container>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Ngành:
                                </strong>
                                <ng-container *ngIf="classs.branches != null">
                                  {{classs.branches.brA_NAME}}
                                </ng-container>
                              </span>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_cla_delete"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_cla_delete"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDeletMul="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Xóa danh sách lớp học</h5>
        <button type="button" class="close pull-right close_modal_cla_multidel" aria-label="Close"
          (click)="modalDeletMul.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="isListItemNull == true; else haveitem">
                <p class='text-danger'><i class='fa fa-exclamation-circle'></i> Không có lớp học nào được
                  chọn!</p>
              </ng-container>
              <ng-template #haveitem>
                <p class="text-justify">Bạn có chắc chắn muốn xóa danh sách lớp học:</p>
              </ng-template>
            </div>
            <div class="col-8">
              <ng-container *ngIf="isListItemNull == true; else haveitem1">
                <div class="row">
                  <div class="col-12 text-center border-left" style="height: 65vh;">
                    <img src="../assets/img/no-results.png" alt="no item found">
                  </div>
                </div>
              </ng-container>
              <ng-template #haveitem1>
                <ng-container *ngIf="classesMultiDel != null">
                  <ng-container *ngFor="let item of classesMultiDel; let i = index">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12 border-bottom mb-2">
                            <div class="row">
                              <div class="col-auto bg-primary py-1 text-left">
                                <span class="text-white text-uppercase align-middle">
                                  Thông tin lớp học {{item.clA_CODE}}
                                </span>
                              </div>
                              <div class="arrow-half-custom"></div>
                              <button style="right: 0;bottom: -1px;"
                                class="btn btn-outline-secondary btn-sm position-absolute"
                                (click)="ToggleGroupMulti(item.id)"><i id="{{'buttonicon_cla_mul_' + item.id}}"
                                  class="fa fa-minus"></i></button>
                            </div>
                          </div>
                          <div class="col-12 border-left mb-2" id="{{'detailToggle_cla_mul_' + item.id}}">
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Mã lớp học: </strong>{{item.clA_CODE}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Niên khóa: </strong>
                                  <ng-container *ngIf="item.schoolYears != null">
                                    {{item.schoolYears.scyE_CODE}}
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Ngành:</strong>
                                  <ng-container *ngIf="item.branches != null">
                                    {{item.branches.brA_NAME}}
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="isListItemNull == false">
          <button type="button" id="save_modal_cla_multidel" (click)="deleteMul()" class="btn btn-success"><i
              class="fa fa-check"></i> OK</button>
        </ng-container>
        <button type="button" (click)="modalDeletMul.hide()" class="btn btn-danger close_modal_cla_multidel"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
