<div class="container-fluid">
  <div class="row">
    <div class="col-12 border-bottom fixed-top" style="background: #fafafa;">
      <div class="row py-3 px-4">
        <div class="col-4">
          <div class="row">
            <ng-container *ngIf="informations != null">
              <div class="col-3">
                <img class="img-fluid" [src]="_DomSanitizer.bypassSecurityTrustUrl(logoUrl)"
                  alt="{{'Logo ' + organizationName}}">
              </div>
              <div class="col-9">
                <h5 class="text-left mb-0">BỘ GIÁO DỤC VÀ ĐÀO TẠO</h5>
                <hr>
                <h6 class="text-uppercase text-left">{{organizationName}}</h6>
              </div>
            </ng-container>
          </div>
        </div>
        <ng-container *ngIf="scheduleTest != null">
          <div class="col-6 offset-1 border-right border-left">
            <h5>Phòng thi {{scheduleTest.labs.laB_NAME}}</h5>
            <p class="text-uppercase mb-0 font-weight-bold">Đề thi {{scheduleTest.tests.test_Types.tetY_NAME}}</p>
            <p class="mb-0"><strong>Môn thi:</strong> {{scheduleTest.tests.subjects.suB_NAME}}</p>
            <p class="mb-0"><strong>Thời gian làm bài: </strong> {{scheduleTest.tests.teS_TIME}} phút
              <ng-container *ngIf="test != null && test.teS_ISSHUFFLE == true">
                <span class="ml-5"><strong>Mã đề:</strong> {{testCode}}</span>
              </ng-container>
            </p>
          </div>
        </ng-container>
        <div class="col-1 text-center my-auto">
          <ng-container *ngIf="timeCount != null">
            <p class="mb-0 font-weight-bold">Phát đề sau:</p>
            <countdown [config]="{leftTime: timeCount}" (event)="loadTest($event)"></countdown>
          </ng-container>
          <ng-container *ngIf="timeRemainingExam != null && timeCount == null">
            <p class="mb-0 font-weight-bold">Thu bài sau:</p>
            <countdown [config]="{leftTime: timeRemainingExam}" (event)="autoSubmit($event)"></countdown>
            <hr class="mt-1 mb-2">
            <ng-container *ngIf="isEnd == false; else end">
              <button class="btn btn-sm btn-primary" (click)="openConfirmSubmit()"><i class="fa fa-paper-plane"></i> Nộp
                bài</button>
            </ng-container>
            <ng-template #end>
              <a href="#" [routerLink]="['/roomview']" class="btn btn-sm btn-danger"><i class="fa fa-sign-out"></i> Rời
                khỏi</a>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
    <ng-container *ngIf="test != null">
      <div class="col-12" style="margin-top: 8.5rem">
        <div class="row px-1">
          <!-- navigation -->
          <div class="col-3 border-right">
            <div class="row">
              <div class="col-12 border-bottom mt-1">
                <div class="row">
                  <div class="col-auto bg-primary py-1 text-left">
                    <span class="text-white text-uppercase align-middle h5">Danh sách câu hỏi</span>
                  </div>
                  <div class="arrow-half-custom"></div>
                  <span class="position-absolute" style="bottom: 1px; right: 5px;">
                    <ng-container *ngIf="countQuestionDone != test.countQuestion; else done">
                      <span class="text-danger">{{countQuestionDone}}</span>
                    </ng-container>
                    <ng-template #done>
                      <span class="text-success">{{countQuestionDone}}</span>
                    </ng-template>
                    /
                    {{test.countQuestion}} câu hỏi
                  </span>
                </div>
              </div>
            </div>
            <div class="row overflow-auto" style="height: 76vh;">
              <ng-container *ngIf="test.testingFormats[0].tesF_ISSHOWPART == false; else toeicFormat">
                <ng-container *ngIf="testQuestionsView != null">
                  <ng-container *ngFor="let item of testQuestionsView; let i = index">
                    <ng-container *ngIf="item.teqU_QUEID != null">
                      <div class="col-12 py-2 border rounded">
                        <!-- <a href="#" (click)="showQuestion(1,item.teqU_QUEID,$event)" class="text-decoration-none"> -->
                        <span><strong>Câu {{item.questions.index}}</strong>
                          <ng-container *ngIf="showScore == true">
                            -
                            <ng-container *ngIf="test.testingFormats[0].tesF_ISSHOWPART == false;else toeicScore">
                              <ng-container *ngIf="test.teS_MAXSCORE == 10">
                                ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.1-2'}}đ)
                              </ng-container>
                              <ng-container *ngIf="test.teS_MAXSCORE == 100">
                                ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.0-0'}}đ)
                              </ng-container>
                              <ng-container *ngIf="test.teS_MAXSCORE == 990">
                                (10đ)
                              </ng-container>
                            </ng-container>
                            <ng-template #toeicScore>
                              (10đ)
                            </ng-template>
                          </ng-container>
                          <ng-container *ngIf="item.questions.isDone == true; else notDone">
                            <span class="float-right" id="{{'que_icon_' + item.teqU_QUEID}}"><i
                                class="fa fa-check-square-o text-success"></i></span>
                          </ng-container>
                          <ng-template #notDone>
                            <span class="float-right" id="{{'que_icon_' + item.teqU_QUEID}}"><i
                                class="fa fa-square-o text-secondary"></i></span>
                          </ng-template>
                        </span>
                        <!-- </a> -->
                      </div>
                    </ng-container>
                    <ng-container *ngIf="item.teqU_PASID != null">
                      <div class="col-12 py-2 border rounded">
                        <div class="row">
                          <div class="col-12">
                            <!-- <a href="#" (click)="showQuestion(2,item.teqU_PASID,$event)" class="text-decoration-none"> -->
                            <span><strong>Nội dung đoạn văn</strong></span>
                            <!-- </a> -->
                          </div>
                          <ng-container *ngIf="item.passages != null && item.passages.questions != null">
                            <ng-container *ngFor="let item1 of item.passages.questions; let j = index">
                              <div class="col-11 offset-1">
                                <!-- <a href="#" (click)="showQuestion(3,item1.id,$event)" class="text-decoration-none"> -->
                                <span><strong>Câu {{item1.index}}</strong>
                                  <ng-container *ngIf="showScore == true">
                                    -
                                    <ng-container
                                      *ngIf="test.testingFormats[0].tesF_ISSHOWPART == false;else toeicScore">
                                      <ng-container *ngIf="test.teS_MAXSCORE == 10">
                                        ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.1-2'}}đ)
                                      </ng-container>
                                      <ng-container *ngIf="test.teS_MAXSCORE == 100">
                                        ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.0-0'}}đ)
                                      </ng-container>
                                      <ng-container *ngIf="test.teS_MAXSCORE == 990">
                                        (10đ)
                                      </ng-container>
                                    </ng-container>
                                    <ng-template #toeicScore>
                                      (10đ)
                                    </ng-template>
                                  </ng-container>
                                  <ng-container *ngIf="item1.isDone == true; else noDone">
                                    <span class="float-right" id="{{'que_icon_' + item1.id}}"><i
                                        class="fa fa-check-square-o text-success"></i></span>
                                  </ng-container>
                                  <ng-template #noDone>
                                    <span class="float-right" id="{{'que_icon_' + item1.id}}"><i
                                        class="fa fa-square-o text-secondary"></i></span>
                                  </ng-template>
                                </span>
                                <!-- </a> -->
                              </div>
                            </ng-container>
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-template #toeicFormat>
                <ng-container *ngIf="subject != null">
                  <ng-container *ngFor="let item5 of subject.parts; let k = index">
                    <ng-container *ngIf="item5.noquestion != 0">
                      <div class="col-12 border rounded" style="background: #cecccc;">
                        <span>{{partKey[k]}}. {{item5.paR_NAME}}</span>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="testQuestionsView != null">
                      <ng-container *ngFor="let item of testQuestionsView; let i = index">
                        <ng-container *ngIf="item.teqU_QUEID != null && item.questions.quE_PARID == item5.id">
                          <div class="col-12 py-2 border rounded" style="max-height: 42px;">
                            <!-- <a href="#" (click)="showQuestion(1,item.teqU_QUEID,$event)" class="text-decoration-none"> -->
                            <span><strong>Câu {{item.questions.index}}</strong>
                              <ng-container *ngIf="showScore == true">
                                -
                                <ng-container *ngIf="test.testingFormats[0].tesF_ISSHOWPART == false;else toeicScore">
                                  <ng-container *ngIf="test.teS_MAXSCORE == 10">
                                    ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.1-2'}}đ)
                                  </ng-container>
                                  <ng-container *ngIf="test.teS_MAXSCORE == 100">
                                    ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.0-0'}}đ)
                                  </ng-container>
                                  <ng-container *ngIf="test.teS_MAXSCORE == 990">
                                    (10đ)
                                  </ng-container>
                                </ng-container>
                                <ng-template #toeicScore>
                                  (10đ)
                                </ng-template>
                              </ng-container>
                              <ng-container *ngIf="item.questions.isDone == true; else noDone">
                                <span class="float-right" id="{{'que_icon_' + item.teqU_QUEID}}"><i
                                    class="fa fa-check-square-o text-success"></i></span>
                              </ng-container>
                              <ng-template #noDone>
                                <span class="float-right" id="{{'que_icon_' + item.teqU_QUEID}}"><i
                                    class="fa fa-square-o text-secondary"></i></span>
                              </ng-template>
                            </span>
                            <!-- </a> -->
                          </div>
                        </ng-container>
                        <ng-container *ngIf="item.teqU_PASID != null && item.passages.paS_PARID == item5.id">
                          <div class="col-12 py-2 border rounded">
                            <div class="row">
                              <div class="col-12">
                                <!-- <a href="#" (click)="showQuestion(2,item.teqU_PASID,$event)"
                                  class="text-decoration-none"> -->
                                <span><strong>Nội dung đoạn văn</strong></span>
                                <!-- </a> -->
                              </div>
                              <ng-container *ngIf="item.passages != null && item.passages.questions != null">
                                <ng-container *ngFor="let item1 of item.passages.questions; let j = index">
                                  <div class="col-11 offset-1">
                                    <!-- <a href="#" (click)="showQuestion(3,item1.id,$event)" class="text-decoration-none"> -->
                                    <span><strong>Câu {{item1.index}}</strong>
                                      <ng-container *ngIf="showScore == true">
                                        -
                                        <ng-container
                                          *ngIf="test.testingFormats[0].tesF_ISSHOWPART == false;else toeicScore">
                                          <ng-container *ngIf="test.teS_MAXSCORE == 10">
                                            ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.1-2'}}đ)
                                          </ng-container>
                                          <ng-container *ngIf="test.teS_MAXSCORE == 100">
                                            ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.0-0'}}đ)
                                          </ng-container>
                                          <ng-container *ngIf="test.teS_MAXSCORE == 990">
                                            (10đ)
                                          </ng-container>
                                        </ng-container>
                                        <ng-template #toeicScore>
                                          (10đ)
                                        </ng-template>
                                      </ng-container>
                                      <ng-container *ngIf="item1.isDone == true; else noDone">
                                        <span class="float-right" id="{{'que_icon_' + item1.id}}"><i
                                            class="fa fa-check-square-o text-success"></i></span>
                                      </ng-container>
                                      <ng-template #noDone>
                                        <span class="float-right" id="{{'que_icon_' + item1.id}}"><i
                                            class="fa fa-square-o text-secondary"></i></span>
                                      </ng-template>
                                    </span>
                                    <!-- </a> -->
                                  </div>
                                </ng-container>
                              </ng-container>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
          </div>
          <!-- content question -->
          <div class="col-9">
            <div class="row overflow-auto" style="height: 82vh;">
              <div class="col-12 mt-4 px-4">
                <ng-container *ngIf="testQuestionsView != null">
                  <!-- normal -->
                  <ng-container *ngIf="test.testingFormats[0].tesF_ISSHOWPART == false; else toeicFormat1">
                    <!-- <ng-container *ngFor="let item of testQuestionsView"> -->
                    <ng-container *ngIf="testQuestionsView[loadCount].teqU_QUEID != null; else passageView">
                      <div class="row">
                        <div id="{{'que' + testQuestionsView[loadCount].teqU_QUEID}}"
                          [ngClass]="{'col-12': testQuestionsView[loadCount].questions.parts.paR_DEFAULTCOLUMN <= 1, 'col-6': testQuestionsView[loadCount].questions.parts.paR_DEFAULTCOLUMN >= 2}">
                          <span><strong>Câu {{testQuestionsView[loadCount].questions.index}}: </strong>
                            <ng-container *ngIf="showScore == true">
                              <ng-container *ngIf="test.testingFormats[0].tesF_ISSHOWPART == false;else toeicScore">
                                <ng-container *ngIf="test.teS_MAXSCORE == 10">
                                  ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.1-2'}}đ)
                                </ng-container>
                                <ng-container *ngIf="test.teS_MAXSCORE == 100">
                                  ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.0-0'}}đ)
                                </ng-container>
                                <ng-container *ngIf="test.teS_MAXSCORE == 990">
                                  (10đ)
                                </ng-container>
                              </ng-container>
                              <ng-template #toeicScore>
                                (10đ)
                              </ng-template>
                            </ng-container>
                            <span class="p-style p-inline ck-content"
                              [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(testQuestionsView[loadCount].questions.quE_CONTENT)"></span>
                            <div class="w-100"></div>
                            <ng-container *ngIf="testQuestionsView[loadCount].questions.quE_MEDIA != null">
                              <div class="col mt-2">
                                <ng-container *ngIf="testQuestionsView[loadCount].questions.mediaType == 'video'">
                                  <div class="col-12">
                                    <video class="testpreview_media" width="50%" height="auto" controls>
                                      <source src="{{testQuestionsView[loadCount].questions.fileUrl}}">
                                    </video>
                                  </div>
                                </ng-container>
                                <ng-container *ngIf="testQuestionsView[loadCount].questions.mediaType == 'audio'">
                                  <div class="col-12 pl-0">
                                    <audio controls="true" class="p-2 testpreview_media">
                                      <source src="{{testQuestionsView[loadCount].questions.fileUrl}}">
                                    </audio>
                                  </div>
                                </ng-container>
                              </div>
                            </ng-container>
                          </span>
                        </div>
                      </div>
                      <div class="row mb-4">
                        <ng-container *ngIf="testQuestionsView[loadCount].questions.options != null">
                          <ng-container
                            *ngFor="let item1 of testQuestionsView[loadCount].questions.options; let i = index">
                            <div
                              [ngClass]="{'col-12': testQuestionsView[loadCount].questions.quE_OPTCOLUMN <= 1, 'col-6': testQuestionsView[loadCount].questions.quE_OPTCOLUMN == 2, 'col-4': testQuestionsView[loadCount].questions.quE_OPTCOLUMN == 3, 'col-3': testQuestionsView[loadCount].questions.quE_OPTCOLUMN >= 4}">
                              <ng-container
                                *ngIf="testQuestionsView[loadCount].questions.quE_ANTYID == 1 || testQuestionsView[loadCount].questions.quE_ANTYID == 3">
                                <div class="custom-control custom-radio">
                                  <ng-container *ngIf="item1.isChoose == true; else noChoose">
                                    <input type="radio" id="{{'option_que_' + item1.id}}"
                                      name="{{'radio_option_que_' + testQuestionsView[loadCount].teqU_QUEID}}"
                                      class="custom-control-input" checked
                                      (click)="checkOption(testQuestionsView[loadCount].teqU_QUEID, item1.id)">
                                  </ng-container>
                                  <ng-template #noChoose>
                                    <input type="radio" id="{{'option_que_' + item1.id}}"
                                      name="{{'radio_option_que_' + testQuestionsView[loadCount].teqU_QUEID}}"
                                      class="custom-control-input"
                                      (click)="checkOption(testQuestionsView[loadCount].teqU_QUEID, item1.id)">
                                  </ng-template>
                                  <label class="custom-control-label" for="{{'option_que_' + item1.id}}">
                                    <span><strong>{{optionKey[i]}}.</strong> <span class="p-style p-inline ck-content"
                                        [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item1.opT_CONTENT)"></span></span>
                                  </label>
                                </div>
                              </ng-container>
                              <ng-container *ngIf="testQuestionsView[loadCount].questions.quE_ANTYID == 2">
                                <div class="custom-control custom-checkbox">
                                  <ng-container *ngIf="item1.isChoose == true; else noChoose1">
                                    <input type="checkbox" id="{{'option_que_' + item1.id}}"
                                      name="{{'checkbox_option_que_' + testQuestionsView[loadCount].teqU_QUEID}}"
                                      class="custom-control-input" checked
                                      (click)="checkOption(testQuestionsView[loadCount].teqU_QUEID,item1.id)">
                                  </ng-container>
                                  <ng-template #noChoose1>
                                    <input type="checkbox" id="{{'option_que_' + item1.id}}"
                                      name="{{'checkbox_option_que_' + testQuestionsView[loadCount].teqU_QUEID}}"
                                      class="custom-control-input"
                                      (click)="checkOption(testQuestionsView[loadCount].teqU_QUEID,item1.id)">
                                  </ng-template>
                                  <label class="custom-control-label" for="{{'option_que_' + item1.id}}">
                                    <span><strong>{{optionKey[i]}}.</strong> <span class="p-style p-inline ck-content"
                                        [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item1.opT_CONTENT)"></span></span>
                                  </label>
                                </div>
                              </ng-container>
                            </div>
                          </ng-container>
                        </ng-container>
                      </div>
                    </ng-container>
                    <ng-template #passageView>
                      <div class="row px-2 mb-4">
                        <div class="col-12">
                          <div class="row">
                            <ng-container *ngIf="testQuestionsView[loadCount].passages != null">
                              <div class="col-12 rounded border"
                                id="{{'pas' + testQuestionsView[loadCount].teqU_PASID}}" style="background: #f3f3f3;">
                                <div class="row">
                                  <div class="col-12 my-2">
                                    <span><strong>Đoạn văn: </strong> <span class="p-style p-inline ck-content"
                                        [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(testQuestionsView[loadCount].passages.paS_CONTENT)"></span></span>
                                    <div class="w-100"></div>
                                    <ng-container *ngIf="testQuestionsView[loadCount].passages.paS_MEDIA != null">
                                      <div class="col mt-2">
                                        <ng-container
                                          *ngIf="testQuestionsView[loadCount].passages.mediaType == 'video'">
                                          <div class="col-12">
                                            <video class="testpreview_media" width="50%" height="auto" controls>
                                              <source src="{{testQuestionsView[loadCount].passages.fileUrl}}">
                                            </video>
                                          </div>
                                        </ng-container>
                                        <ng-container
                                          *ngIf="testQuestionsView[loadCount].passages.mediaType == 'audio'">
                                          <div class="col-12 pl-0">
                                            <audio controls="true" class="p-2 testpreview_media">
                                              <source src="{{testQuestionsView[loadCount].passages.fileUrl}}">
                                            </audio>
                                          </div>
                                        </ng-container>
                                      </div>
                                    </ng-container>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 mt-3">
                                <ng-container *ngIf="testQuestionsView[loadCount].passages.questions != null">
                                  <ng-container *ngFor="let item2 of testQuestionsView[loadCount].passages.questions">
                                    <div class="row">
                                      <div id="{{'pasque' + item2.id}}"
                                        [ngClass]="{'col-12': testQuestionsView[loadCount].passages.parts.paR_DEFAULTCOLUMN <= 1, 'col-6': testQuestionsView[loadCount].passages.parts.paR_DEFAULTCOLUMN >= 2}">
                                        <span><strong>Câu {{item2.index}}: </strong>
                                          <ng-container *ngIf="showScore == true">
                                            <ng-container
                                              *ngIf="test.testingFormats[0].tesF_ISSHOWPART == false;else toeicScore">
                                              <ng-container *ngIf="test.teS_MAXSCORE == 10">
                                                ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.1-2'}}đ)
                                              </ng-container>
                                              <ng-container *ngIf="test.teS_MAXSCORE == 100">
                                                ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.0-0'}}đ)
                                              </ng-container>
                                              <ng-container *ngIf="test.teS_MAXSCORE == 990">
                                                (10đ)
                                              </ng-container>
                                            </ng-container>
                                            <ng-template #toeicScore>
                                              (10đ)
                                            </ng-template>
                                          </ng-container>
                                          <span class="p-style p-inline ck-content"
                                            [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item2.quE_CONTENT)"></span>
                                          <div class="w-100"></div>
                                          <ng-container *ngIf="item2.quE_MEDIA != null">
                                            <div class="col mt-2">
                                              <ng-container *ngIf="item2.mediaType == 'video'">
                                                <div class="col-12">
                                                  <video class="testpreview_media" width="50%" height="auto" controls>
                                                    <source src="{{item2.fileUrl}}">
                                                  </video>
                                                </div>
                                              </ng-container>
                                              <ng-container *ngIf="item2.mediaType == 'audio'">
                                                <div class="col-12 pl-0">
                                                  <audio controls="true" class="p-2 testpreview_media">
                                                    <source src="{{item2.fileUrl}}">
                                                  </audio>
                                                </div>
                                              </ng-container>
                                            </div>
                                          </ng-container>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="row mb-3">
                                      <ng-container *ngIf="item2.options != null">
                                        <ng-container *ngFor="let item1 of item2.options; let i = index">
                                          <div
                                            [ngClass]="{'col-12': item2.quE_OPTCOLUMN <= 1, 'col-6': item2.quE_OPTCOLUMN == 2, 'col-4': item2.quE_OPTCOLUMN == 3, 'col-3': item2.quE_OPTCOLUMN >= 4}">
                                            <ng-container *ngIf="item2.quE_ANTYID == 1 || item2.quE_ANTYID == 3">
                                              <div class="custom-control custom-radio">
                                                <ng-container *ngIf="item1.isChoose == true; else noChoose">
                                                  <input type="radio" id="{{'option_que_' + item1.id}}"
                                                    name="{{'radio_option_que_' + item2.id}}"
                                                    class="custom-control-input" checked
                                                    (click)="checkOption(item2.id, item1.id)">
                                                </ng-container>
                                                <ng-template #noChoose>
                                                  <input type="radio" id="{{'option_que_' + item1.id}}"
                                                    name="{{'radio_option_que_' + item2.id}}"
                                                    class="custom-control-input"
                                                    (click)="checkOption(item2.id, item1.id)">
                                                </ng-template>
                                                <label class="custom-control-label" for="{{'option_que_' + item1.id}}">
                                                  <span><strong>{{optionKey[i]}}.</strong> <span
                                                      class="p-style p-inline ck-content"
                                                      [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item1.opT_CONTENT)"></span></span>
                                                </label>
                                              </div>
                                            </ng-container>
                                            <ng-container *ngIf="item2.quE_ANTYID == 2">
                                              <div class="custom-control custom-checkbox">
                                                <ng-container *ngIf="item1.isChoose == true; else noChoose1">
                                                  <input type="checkbox" id="{{'option_que_' + item1.id}}"
                                                    name="{{'checkbox_option_que_' + item2.teqU_QUEID}}" checked
                                                    class="custom-control-input"
                                                    (click)="checkOption(item2.id,item1.id)">
                                                </ng-container>
                                                <ng-template #noChoose1>
                                                  <input type="checkbox" id="{{'option_que_' + item1.id}}"
                                                    name="{{'checkbox_option_que_' + item2.teqU_QUEID}}"
                                                    class="custom-control-input"
                                                    (click)="checkOption(item2.id,item1.id)">
                                                </ng-template>
                                                <label class="custom-control-label" for="{{'option_que_' + item1.id}}">
                                                  <span><strong>{{optionKey[i]}}.</strong> <span
                                                      class="p-style p-inline ck-content"
                                                      [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item1.opT_CONTENT)"></span></span>
                                                </label>
                                              </div>
                                            </ng-container>
                                          </div>
                                        </ng-container>
                                      </ng-container>
                                    </div>
                                  </ng-container>
                                </ng-container>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <!-- </ng-container> -->
                  </ng-container>
                  <!-- toeic type -->
                  <ng-template #toeicFormat1>
                    <!-- <ng-container *ngFor="let item3 of this.subject.parts; let x = index">
                      <ng-container *ngIf="item3.noquestion != 0">
                        <h5 class="text-uppercase font-weight-bold">{{partKey[x]}}. {{item3.paR_NAME}}</h5>
                      </ng-container> -->
                    <!-- <ng-container *ngFor="let item of testQuestionsView"> -->
                    <ng-container *ngIf="testQuestionsView[loadCount].teqU_QUEID != null; else passageContent">
                      <div class="row px-2">
                        <h5>
                          <!-- {{partKey[partCount]}}.  -->
                          {{testQuestionsView[loadCount].questions.parts.paR_NAME}}</h5>
                        <span class="p-style p-inline ck-content"
                          [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(testQuestionsView[loadCount].questions.parts.paR_DIRECTION)"></span>
                        <!-- <ng-container *ngIf="msaapPlaylist.length > 0">
                          <mat-advanced-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle"
                            [autoPlay]="false" muted="muted" [displayPlaylist]="msaapDisplayPlayList"
                            [pageSizeOptions]="pageSizeOptions" (trackEnded)="onEnded($event)"
                            [displayVolumeControls]="msaapDisplayVolumeControls" [expanded]="true">
                          </mat-advanced-audio-player>
                        </ng-container> -->
                      </div>
                      <div class="row">
                        <div class="col">
                          <hr>
                        </div>
                      </div>
                      <div class="row">
                        <div id="{{'que' + testQuestionsView[loadCount].teqU_QUEID}}"
                          [ngClass]="{'col-12': testQuestionsView[loadCount].questions.parts.paR_DEFAULTCOLUMN <= 1, 'col-6': testQuestionsView[loadCount].questions.parts.paR_DEFAULTCOLUMN >= 2}">
                          <span><strong>Câu {{testQuestionsView[loadCount].questions.index}}: </strong>
                            <ng-container *ngIf="showScore == true">
                              <ng-container *ngIf="test.testingFormats[0].tesF_ISSHOWPART == false;else toeicScore">
                                <ng-container *ngIf="test.teS_MAXSCORE == 10">
                                  ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.1-2'}}đ)
                                </ng-container>
                                <ng-container *ngIf="test.teS_MAXSCORE == 100">
                                  ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.0-0'}}đ)
                                </ng-container>
                                <ng-container *ngIf="test.teS_MAXSCORE == 990">
                                  (10đ)
                                </ng-container>
                              </ng-container>
                              <ng-template #toeicScore>
                                (10đ)
                              </ng-template>
                            </ng-container>
                            <span class="p-style p-inline ck-content"
                              [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(testQuestionsView[loadCount].questions.quE_CONTENT)"></span>
                          </span>
                        </div>
                      </div>
                      <div class="row mb-4">
                        <ng-container *ngIf="testQuestionsView[loadCount].questions.options != null">
                          <ng-container
                            *ngFor="let item1 of testQuestionsView[loadCount].questions.options; let i = index">
                            <div
                              [ngClass]="{'col-12': testQuestionsView[loadCount].questions.quE_OPTCOLUMN <= 1, 'col-6': testQuestionsView[loadCount].questions.quE_OPTCOLUMN == 2, 'col-4': testQuestionsView[loadCount].questions.quE_OPTCOLUMN == 3, 'col-3': testQuestionsView[loadCount].questions.quE_OPTCOLUMN >= 4}">
                              <ng-container
                                *ngIf="testQuestionsView[loadCount].questions.quE_ANTYID == 1 || testQuestionsView[loadCount].questions.quE_ANTYID == 3">
                                <div class="custom-control custom-radio">
                                  <ng-container *ngIf="item1.isChoose == true; else noChoose">
                                    <input type="radio" id="{{'option_que_' + item1.id}}"
                                      name="{{'radio_option_que_' + testQuestionsView[loadCount].teqU_QUEID}}"
                                      class="custom-control-input" checked
                                      (click)="checkOption(testQuestionsView[loadCount].teqU_QUEID, item1.id)">
                                  </ng-container>
                                  <ng-template #noChoose>
                                    <input type="radio" id="{{'option_que_' + item1.id}}"
                                      name="{{'radio_option_que_' + testQuestionsView[loadCount].teqU_QUEID}}"
                                      class="custom-control-input"
                                      (click)="checkOption(testQuestionsView[loadCount].teqU_QUEID, item1.id)">
                                  </ng-template>
                                  <label class="custom-control-label" for="{{'option_que_' + item1.id}}">
                                    <span><strong>{{optionKey[i]}}.</strong> <span class="p-style p-inline ck-content"
                                        [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item1.opT_CONTENT)"></span></span>
                                  </label>
                                </div>
                              </ng-container>
                              <ng-container *ngIf="testQuestionsView[loadCount].questions.quE_ANTYID == 2">
                                <div class="custom-control custom-checkbox">
                                  <ng-container *ngIf="item1.isChoose == true; else noChoose">
                                    <input type="checkbox" id="{{'option_que_' + item1.id}}"
                                      name="{{'checkbox_option_que_' + testQuestionsView[loadCount].teqU_QUEID}}"
                                      class="custom-control-input" checked
                                      (click)="checkOption(testQuestionsView[loadCount].teqU_QUEID,item1.id)">
                                  </ng-container>
                                  <ng-template #noChoose>
                                    <input type="checkbox" id="{{'option_que_' + item1.id}}"
                                      name="{{'checkbox_option_que_' + testQuestionsView[loadCount].teqU_QUEID}}"
                                      class="custom-control-input" checked
                                      (click)="checkOption(testQuestionsView[loadCount].teqU_QUEID,item1.id)">
                                  </ng-template>
                                  <label class="custom-control-label" for="{{'option_que_' + item1.id}}">
                                    <span><strong>{{optionKey[i]}}.</strong> <span class="p-style p-inline ck-content"
                                        [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item1.opT_CONTENT)"></span></span>
                                  </label>
                                </div>
                              </ng-container>
                            </div>
                          </ng-container>
                        </ng-container>
                      </div>
                    </ng-container>
                    <ng-template #passageContent>
                      <div class="row px-2">
                        <h5>
                          <!-- {{partKey[partCount]}}. -->
                          <ng-container *ngIf="testQuestionsView[loadCount].passages.parts != null">
                            {{testQuestionsView[loadCount].passages.parts.paR_NAME}}
                          </ng-container>
                        </h5>
                        <span class="p-style p-inline ck-content"
                          [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(testQuestionsView[loadCount].passages.parts.paR_DIRECTION)"></span>
                      </div>
                      <div class="row px-2 mb-4">
                        <div class="col-12">
                          <div class="row my-2">
                            <ng-container *ngIf="testQuestionsView[loadCount].passages != null">
                              <div class="col-12 rounded border" style="background: #f3f3f3;"
                                id="{{'pas' + testQuestionsView[loadCount].teqU_PASID}}">
                                <div class="row">
                                  <div class="col-12">
                                    <span><strong>Đoạn văn: </strong> <span class="p-style p-inline ck-content"
                                        [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(testQuestionsView[loadCount].passages.paS_CONTENT)"></span></span>
                                  </div>
                                  <ng-container *ngIf="testQuestionsView[loadCount].passages.paS_MEDIA != null">
                                    <div class="col-auto mx-auto mt-2">
                                      <!-- <ng-container *ngIf="mediaType == 'video'">
                                        <div class="col-12">
                                          <video id="pas_media" width="50%" height="auto" autoplay="true">
                                            <source src="{{testQuestionsView[loadCount].passages.fileUrl}}">
                                          </video>
                                        </div>
                                      </ng-container>
                                      <ng-container *ngIf="mediaType == 'audio'">
                                        <div class="col-12 pl-0">
                                          <audio id="pas_media" class="p-2" autoplay="true">
                                            <source src="{{testQuestionsView[loadCount].passages.fileUrl}}">
                                          </audio>
                                        </div>
                                      </ng-container> -->
                                    </div>
                                  </ng-container>
                                </div>
                              </div>
                              <div class="col-12">
                                <ng-container *ngIf="testQuestionsView[loadCount].passages.questions != null">
                                  <ng-container *ngFor="let item2 of testQuestionsView[loadCount].passages.questions">
                                    <div class="row mt-4">
                                      <div id="{{'pasque' + item2.id}}"
                                        [ngClass]="{'col-12': testQuestionsView[loadCount].passages.parts.paR_DEFAULTCOLUMN <= 1, 'col-6': testQuestionsView[loadCount].passages.parts.paR_DEFAULTCOLUMN >= 2}">
                                        <span><strong>Câu {{item2.index}}: </strong>
                                          <ng-container *ngIf="showScore == true">
                                            <ng-container
                                              *ngIf="test.testingFormats[0].tesF_ISSHOWPART == false;else toeicScore">
                                              <ng-container *ngIf="test.teS_MAXSCORE == 10">
                                                ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.1-2'}}đ)
                                              </ng-container>
                                              <ng-container *ngIf="test.teS_MAXSCORE == 100">
                                                ({{(test.teS_MAXSCORE / test.countQuestion) | number: '1.0-0'}}đ)
                                              </ng-container>
                                              <ng-container *ngIf="test.teS_MAXSCORE == 990">
                                                (10đ)
                                              </ng-container>
                                            </ng-container>
                                            <ng-template #toeicScore>
                                              (10đ)
                                            </ng-template>
                                          </ng-container>
                                          <span class="p-style p-inline ck-content"
                                            [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item2.quE_CONTENT)"></span>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <ng-container *ngIf="item2.options != null">
                                        <ng-container *ngFor="let item1 of item2.options; let i = index">
                                          <div class="text-center"
                                            [ngClass]="{'col-12': item2.quE_OPTCOLUMN <= 1, 'col-6': item2.quE_OPTCOLUMN == 2, 'col-4': item2.quE_OPTCOLUMN == 3, 'col-3': item2.quE_OPTCOLUMN >= 4}">
                                            <ng-container *ngIf="item2.quE_ANTYID == 1 || item2.quE_ANTYID == 3">
                                              <div class="custom-control custom-radio">
                                                <ng-container *ngIf="item1.isChoose == true; else noChoose">
                                                  <input type="radio" id="{{'option_que_' + item1.id}}"
                                                    name="{{'radio_option_que_' + item2.id}}"
                                                    class="custom-control-input" checked
                                                    (click)="checkOption(item2.id, item1.id)">
                                                </ng-container>
                                                <ng-template #noChoose>
                                                  <input type="radio" id="{{'option_que_' + item1.id}}"
                                                    name="{{'radio_option_que_' + item2.id}}"
                                                    class="custom-control-input"
                                                    (click)="checkOption(item2.id, item1.id)">
                                                </ng-template>
                                                <label class="custom-control-label" for="{{'option_que_' + item1.id}}">
                                                  <span><strong>{{optionKey[i]}}.</strong> <span
                                                      class="p-style p-inline ck-content"
                                                      [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item1.opT_CONTENT)"></span></span>
                                                </label>
                                              </div>
                                            </ng-container>
                                            <ng-container *ngIf="item2.quE_ANTYID == 2">
                                              <div class="custom-control custom-checkbox">
                                                <ng-container *ngIf="item1.isChoose == true; else noChoose">
                                                  <input type="checkbox" id="{{'option_que_' + item1.id}}"
                                                    name="{{'checkbox_option_que_' + item2.id}}"
                                                    class="custom-control-input" checked
                                                    (click)="checkOption(item2.id,item1.id)">
                                                </ng-container>
                                                <ng-template #noChoose>
                                                  <input type="checkbox" id="{{'option_que_' + item1.id}}"
                                                    name="{{'checkbox_option_que_' + item2.id}}"
                                                    class="custom-control-input"
                                                    (click)="checkOption(item2.id,item1.id)">
                                                </ng-template>
                                                <label class="custom-control-label" for="{{'option_que_' + item1.id}}">
                                                  <span><strong>{{optionKey[i]}}.</strong> <span
                                                      class="p-style p-inline ck-content"
                                                      [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item1.opT_CONTENT)"></span></span>
                                                </label>
                                              </div>
                                            </ng-container>
                                          </div>
                                        </ng-container>
                                      </ng-container>
                                    </div>
                                  </ng-container>
                                </ng-container>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <!-- </ng-container> -->
                    <!-- </ng-container> -->
                  </ng-template>
                </ng-container>
              </div>
            </div>
            <ng-container *ngIf="loadCount != testQuestionsView.length - 1">
              <button class="position-absolute btn btn-sm btn-success" style="right: 30px; bottom: 50px;"
                (click)="nextQuestion()"><i class="fa fa-arrow-circle-right"></i> Kế tiếp</button>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isEnd == true">
      <div class="col-12 text-center" style="margin-top: 15rem;">
        <p><i class="fa fa-check-circle fa-5x text-success"></i></p>
        <p>Bạn đã hoàn thành bài thi!</p>
      </div>
    </ng-container>
  </div>
</div>

<div bsModal #modalConfirmBox="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">Thông báo xác nhận</h5>
        <button type="button" class="close pull-right close_modal_exam_confirm" aria-label="Close"
          (click)="modalConfirmBox.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <div class="col-12">
            <span id="confirmText"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="submit()" class="btn btn-success" id="save_modal_exam_confirm"><i
            class="fa fa-check"></i>
          Có</button>
        <button type="button" (click)="modalConfirmBox.hide()" class="btn btn-danger close_modal_exam_confirm"><i
            class="fa fa-times"></i>
          Không</button>
      </div>
    </div>
  </div>
</div>
