<div class="app-body login">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body" (keydown.enter)="login()">
                <form>
                  <h1>Đăng nhập</h1>
                  <!-- <p class="text-muted">Sign In to your account</p> -->
                  <div class="input-group mb-3 pt-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Tên tài khoản..."
                      [(ngModel)]="loginreq.username" name="username" autocomplete="username" required id="field_1"
                      (blur)="validate_user()">
                    <span id="valid_mes_1" class="invalid-feedback"></span>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Mật khẩu..."
                      [(ngModel)]="loginreq.password" name="password" autocomplete="current-password" required
                      id="field_2" (blur)="validate_pass()">
                    <span id="valid_mes_2" class="invalid-feedback"></span>
                  </div>
                  <div class="row">
                    <div class="col-12 pb-3">
                      <span class="text-danger">{{message}}</span>
                    </div>
                    <div class="col-6 text-left">
                      <button type="button" class="btn btn-link px-0" (click)="openModalResetPassword()">Quên mật
                        khẩu?</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-primary px-4" (click)="login()"><i
                          class="fa fa-sign-in"></i> Đăng nhập</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div bsModal #modalResetPassword="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Đặt lại mật khẩu</h5>
        <button type="button" class="close pull-right close_modal_RP_upd" aria-label="Close"
          (click)="modalResetPassword.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" (keydown.enter)="resetPassword()">
        <div class="form-group row">
          <label class="col-5 col-form-label font-weight-bold">Email:</label>
          <div class="col-7">
            <input [(ngModel)]="resetPasswordRequest.email" id="field_RP_1" class="form-control" placeholder="Email..."
              (blur)="validate_RP_email()" type="text">
            <span id="valid_mes_RP_1" class="invalid-feedback"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalResetPassword.hide()" class="btn btn-danger close_modal_RP_upd"><i
            class="fa fa-times"></i> Thoát</button>
        <button type="button" (click)="resetPassword()" id="save_modal_RP_upd" class="btn btn-success"><i
            class="fa fa-check"></i> OK</button>
      </div>
    </div>
  </div>
</div>
