<div id="body">
  <div class="container-fluid">
    <div class="row">
      <ng-container *ngFor="let item of settingListSortByType">
        <div class="col-12 border-bottom mb-2">
          <div class="row">
            <div class="col-auto bg-primary py-1 text-left">
              <span class="text-white text-uppercase align-middle">THIẾT LẬP {{item.setY_NAME}}</span>
            </div>
            <div class="arrow-half-custom"></div>
            <button style="right: 0;" class="btn btn-outline-secondary btn-sm position-absolute"
              (click)="ToggleGroup(item.id)"><i id="{{'buttonicon_' + item.id}}" class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="col-12">
          <div class="row" id="{{'contentToggle_' + item.id}}">
            <ng-container *ngFor="let item1 of item.settings">
              <div class="col-12">
                <div class="form-group row">
                  <label class="col-4 col-form-label font-weight-bold">{{item1.seT_NAME}}:</label>
                  <ng-container *ngIf="item1.seT_VALUE != null">
                    <div class="col-1 my-auto">
                      <input id="{{'field_' + item1.id}}" class="form-control form-control-sm"
                        (blur)="validate_field(item1.id)" type="number" value="{{item1.seT_VALUE}}" disabled>
                    </div>
                    <div class="col-auto my-auto">
                      <span>{{item1.seT_UNIT}}</span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="item1.seT_ISACTIVE != null">
                    <div class="col-auto my-auto">
                      <ng-container *ngIf="item1.seT_ISACTIVE != null && item1.seT_ISACTIVE == true; else falsechoice">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="{{'field_' + item1.id}}" checked
                            disabled>
                          <label class="custom-control-label" for="{{'field_' + item1.id}}"></label>
                        </div>
                      </ng-container>
                      <ng-template #falsechoice>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="{{'field_' + item1.id}}" disabled>
                          <label class="custom-control-label" for="{{'field_' + item1.id}}"></label>
                        </div>
                      </ng-template>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="item1.seT_CHOICE != null">
                    <div class="col-auto my-auto" id="{{'box_choice_' + item1.id}}">
                      <ng-container *ngFor="let item2 of item1.seT_CHOICE.split('/'); let i = index">
                        <ng-container *ngIf="item2 == item1.seT_CHOICEVALUE;else nocheck">
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="{{'choice_' + item1.id + i}}" value="{{item2}}"
                              name="{{'field_' + item1.id}}" class="custom-control-input" checked disabled
                              (blur)="validate_field(item1.id)">
                            <label class="custom-control-label" for="{{'choice_' + item1.id + i}}">{{item2}}</label>
                          </div>
                        </ng-container>
                        <ng-template #nocheck>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="{{'choice_' + item1.id + i}}" value="{{item2}}"
                              name="{{'field_' + item1.id}}" class="custom-control-input" disabled
                              (blur)="validate_field(item1.id)">
                            <label class="custom-control-label" for="{{'choice_'+ item1.id + i}}">{{item2}}</label>
                          </div>
                        </ng-template>
                      </ng-container>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="item1.seT_MULTICHOICEVALUE != null">
                    <div class="col-auto my-auto" id="{{'box_choice_' + item1.id}}">
                      <ng-container *ngFor="let item2 of item1.seT_MULTICHOICE.split('/'); let i = index">
                        <ng-container *ngIf="item1.seT_MULTICHOICEVALUE.split('/')[i] == 1;else nocheck">
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="{{'choice_' + item1.id + i}}" value="{{item2}}"
                              name="{{'field_' + item1.id}}" class="custom-control-input" checked disabled
                              (blur)="validate_field(item1.id)">
                            <label class="custom-control-label" for="{{'choice_' + item1.id + i}}">{{item2}}</label>
                          </div>
                        </ng-container>
                        <ng-template #nocheck>
                          <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" id="{{'choice_' + item1.id + i}}" value="{{item2}}"
                              name="{{'field_' + item1.id}}" class="custom-control-input" disabled
                              (blur)="validate_field(item1.id)">
                            <label class="custom-control-label" for="{{'choice_'+ item1.id + i}}">{{item2}}</label>
                          </div>
                        </ng-template>
                      </ng-container>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="item1.seT_NOTE != null">
                    <div class="col-2 my-auto">
                      <a class="text-decoration-none text-secondary" tooltip="{{item1.seT_NOTE}}" placement="right">
                        <i class="fa fa-info-circle"></i>
                      </a>
                    </div>
                  </ng-container>
                  <div class="w-100"></div>
                  <div class="col-auto offset-4">
                    <span id="{{'valid_mes_' + item1.id}}" class="invalid-feedback" style="display: block;"></span>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row fixed mb-1">
      <div class="col-12 text-right">
        <ng-container *ngIf="set_upd == true">
          <button class="btn btn-secondary btn-sm" (click)="ClearField()">Khôi phục</button>
          <button class="btn btn-danger btn-sm" (click)="UpdateField()">Cập nhật</button>
          <button class="btn btn-success btn-sm" (click)="SaveUpdate()">Lưu</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalConfirm="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Thông báo</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalConfirm.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="message"></span>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalConfirm.hide()" class="btn btn-danger">Không</button>
        <button type="button" (click)="SaveUpdateConfirm()" class="btn btn-success">Có</button>
      </div>
    </div>
  </div>
</div>
