<div id="body">
  <!-- <div class="container-fluid px-1"> -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center ">
        <div class="col-8 text-left">
          <ng-container *ngIf="part.paR_NAME == null;else partial">
            <h4 class="text-center d-inline mx-auto">DANH SÁCH ĐOẠN VĂN</h4>
          </ng-container>
          <ng-template #partial>
            <h4 class="text-center d-inline mx-auto">DANH SÁCH ĐOẠN VĂN HỌC PHẦN <span
                class="text-uppercase text-primary">{{part.paR_NAME}}</span></h4>
          </ng-template>
        </div>
        <div class="col-4 text-right my-auto">
          <ng-container *ngIf="pas_add == true">
            <button class="btn btn-primary btn-sm ml-1" (click)="openModal()">
              <i class="fa fa-plus-circle"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="pas_con == true">
            <ng-container *ngIf="pas_del == true">
              <button class="btn btn-danger btn-sm ml-1" (click)="openModalDeleteMul()">
                <i class="fa fa-trash"></i>
              </button>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped table-hover myTable" style="width: 100%;">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" name="search-check" />
            </th>
            <th><input type="text" name="search-id" />
            </th>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại khóa học" name="search-stt" />
            </th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm loại câu hỏi" name="search-first-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm môn học" name="search-last-name" /></th>
            <ng-container *ngIf="partId == null">
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm học phần" name="search-credit" /></th>
            </ng-container>
            <th><input style="display: none;" type="text" placeholder="Search first name" name="search-option" /></th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th class="select-checkbox toggle-pas-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
            <th></th>
            <th>STT</th>
            <th>Loại câu hỏi</th>
            <th>Thuộc môn học</th>
            <ng-container *ngIf="partId == null">
              <th>Thuộc học phần</th>
            </ng-container>
            <th style="min-width: 86px;"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of passages; let i = index">
            <tr>
              <td></td>
              <td>{{item.id}}</td>
              <td class="align-middle">{{i+1}}</td>
              <td class="align-middle">{{item.answerTypes.antY_NAME}}</td>
              <td class="align-middle">{{item.parts.subjects.suB_NAME}}</td>
              <ng-container *ngIf="partId == null">
                <td class="align-middle">{{item.parts.paR_NAME}}</td>
              </ng-container>
              <td>
                <!-- <ng-container *ngIf="partId == null;else linkpage"> -->
                <button class="btn btn-success btn-sm" title="Chi tiết đoạn văn" (click)="openModalDetail(item.id)"><i
                    class="fa fa-eye"></i></button>
                <!-- </ng-container>
                  <ng-template #linkpage>
                    <a class="btn btn-success btn-sm" title="Chi tiết học phần"
                      href="{{'/passage?pasid=' + item.id}}"><i class="fa fa-eye"></i></a>
                  </ng-template> -->
                <ng-container *ngIf="pas_con == true; else passageSpecicalize">
                  <ng-container *ngIf="pas_upd == true">
                    <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                        class="fa fa-pencil-square-o"></i></button>
                  </ng-container>
                  <ng-container *ngIf="pas_del == true">
                    <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                        class="fa fa-trash"></i></button>
                  </ng-container>
                </ng-container>
                <ng-template #passageSpecicalize>
                  <ng-container *ngIf="item.parts != null && subjectsConstraint.includes(item.parts.subjects.id)">
                    <ng-container *ngIf="pas_upd == true">
                      <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                          class="fa fa-pencil-square-o"></i></button>
                    </ng-container>
                    <ng-container *ngIf="pas_del == true">
                      <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                          class="fa fa-trash"></i></button>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  (onHide)="resetDetailModal();stopMedia(1)" (onHidden)="resetDetailModal();stopMedia(1)"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">
          <ng-container *ngIf="passage != null">
            <ng-container *ngIf="passage.parts != null">
              Học phần {{passage.parts.paR_NAME}}
            </ng-container>
            / Chi tiết đoạn văn {{passage.paS_ORDER}}
          </ng-container>
        </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <div class="col-12 px-0">
            <ul class="d-flex nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link nav-link-custom active" (click)="loadTab(1)" id="tab_pas_1" data-toggle="tab"
                  href="#content_pas_1">Thông tin
                  chi tiết</a>
              </li>
              <span class="py-1">
                <div class="border-right">&nbsp;</div>
              </span>
              <ng-container *ngIf="pas_ref == true">
                <li class="nav-item">
                  <a class="nav-link nav-link-custom" (click)="loadTab(2)" id="tab_pas_2" data-toggle="tab"
                    href="#content_pas_2">Danh sách câu hỏi
                  </a>
                </li>
                <span class="py-1">
                  <div class="border-right">&nbsp;</div>
                </span>
              </ng-container>
            </ul>
          </div>
          <div class="col-12 px-0 tab-content mt-3 border-0">
            <div class="tab-pane px-0 active" id="content_pas_1">
              <div class="row px-3">
                <ng-container *ngIf="passage != null">
                  <ng-container *ngIf="passage.parts != null">
                    <div class="col-6">
                      <p><span class="font-weight-bold">Thuộc môn học: </span>
                        <a href="#" [routerLink]="['/subject']" [queryParams]="{id: passage.parts.subjects.id}"
                          class="text-decoration-none">{{passage.parts.subjects.suB_NAME}}</a>
                      </p>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="partId == null">
                    <div class="col-6">
                      <p><span class="font-weight-bold">Thuộc học phần: </span>
                        <ng-container *ngIf="passage.parts != null">
                          <a href="#" [routerLink]="['/part']" [queryParams]="{id: passage.parts.id}"
                            class="text-decoration-none">{{passage.parts.paR_NAME}}</a>
                        </ng-container>
                      </p>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="passage.answerTypes != null">
                    <div class="col-6">
                      <p><span class="font-weight-bold">Loại câu hỏi: </span>
                        <a href="#" [routerLink]="['/answertype']" [queryParams]="{id: passage.answerTypes.id}"
                          class="text-decoration-none">{{passage.answerTypes.antY_NAME}}</a>
                      </p>
                    </div>
                  </ng-container>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Trạng thái: </span>
                      <ng-container *ngIf="passage.paS_STATUS == 1; else nouse">
                        <span class="text-success">Sử dụng</span>
                      </ng-container>
                      <ng-template #nouse>
                        <span class="text-danger">Lược bỏ</span>
                      </ng-template>
                    </p>
                  </div>
                  <!-- <ng-container *ngIf="passage.paS_MEDIA != null"> -->
                  <div class="col-12 mb-3">
                    <div class="row">
                      <div class="col-auto" [ngClass]="{'my-auto': mediaType == 'audio'}">
                        <span class="font-weight-bold">Tệp âm thanh, video: </span>
                      </div>
                      <ng-container *ngIf="passage.paS_MEDIA != null">
                        <div class="col mt-2">
                          <ng-container *ngIf="mediaType == 'video'">
                            <div class="col-12">
                              <video id="pas_media" width="50%" height="auto" controls>
                                <source src="{{passage.fileUrl}}">
                              </video>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="mediaType == 'audio'">
                            <div class="col-12 pl-0">
                              <audio id="pas_media" controls="true" class="p-2">
                                <source src="{{passage.fileUrl}}">
                              </audio>
                            </div>
                          </ng-container>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <!-- </ng-container> -->
                  <!-- <ng-container *ngIf="passage.paS_CONTENT != null && passage.paS_CONTENT != ''"> -->
                  <div class="col-12">
                    <div class="row pr-3">
                      <div class="col-auto">
                        <p><span class="font-weight-bold">Nội dung đoạn văn: </span></p>
                      </div>
                      <ng-container *ngIf="passage.paS_CONTENT != null && passage.paS_CONTENT != ''">
                        <div class="col border rounded mt-2 py-2 ck-content"
                          [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(passage.paS_CONTENT)">
                          <!-- <ckeditor [disabled]="true" [editor]="EditorView" [(ngModel)]="passage.paS_CONTENT"
                                    [config]="editorViewConfig">
                                  </ckeditor> -->
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <!-- </ng-container> -->
                  <div class="w-100"></div>
                  <div class="col-6 mt-3">
                    <ng-container *ngIf="passage.userCreated != null">
                      <p class="text-secondary mb-0"><em>Tạo bởi
                          <ng-template #usercreated>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{passage.userCreated.employees[0].fileUrl}}"
                                  alt="{{passage.userCreated.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{passage.userCreated.employees[0].emP_CODE}}</p>
                                <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p>
                                                        <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p> -->
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{passage.userCreated.employees[0].emP_LASTNAME}}
                                  {{passage.userCreated.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{passage.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{passage.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + passage.userCreated.employees.emP_PHONE}}">{{passage.userCreated.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{passage.userCreated.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + passage.userCreated.employees.emP_EMAIL}}">{{passage.userCreated.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{passage.userCreated.employees[0].emP_LASTNAME}}
                            {{passage.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                          {{passage.paS_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                    <ng-container *ngIf="passage.userModified != null">
                      <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                          <ng-template #usermodified>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{passage.userModified.employees[0].fileUrl}}"
                                  alt="{{passage.userModified.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{passage.userModified.employees[0].emP_CODE}}</p>
                                <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userModified.employees.emP_CODE}}</p>
                                                        <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userModified.employees.emP_CODE}}</p> -->
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{passage.userModified.employees[0].emP_LASTNAME}}
                                  {{passage.userModified.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{passage.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{passage.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + passage.userModified.employees.emP_PHONE}}">{{passage.userModified.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{passage.userModified.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + passage.userModified.employees.emP_EMAIL}}">{{passage.userModified.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{passage.userModified.employees[0].emP_LASTNAME}}
                            {{passage.userModified.employees[0].emP_FIRSTNAME}} </span> -
                          {{passage.paS_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                  </div>
                  <!-- <ng-container *ngIf="partId == null"> -->
                  <div class="col-6 mt-3 align-self-end text-right">
                    <ng-container *ngIf="pas_con == true; else passageSpecicalize1">
                      <ng-container *ngIf="pas_upd == true">
                        <button class="btn btn-warning btn-sm" (click)="openModal(passage.id)"><i
                            class="fa fa-pencil-square-o"></i>
                          Cập nhật</button>
                      </ng-container>
                      <ng-container *ngIf="pas_del == true">
                        <button class="btn btn-danger btn-sm" (click)="openModalDelete(passage.id)"><i
                            class="fa fa-trash"></i>
                          Xóa</button>
                      </ng-container>
                    </ng-container>
                    <ng-template #passageSpecicalize1>
                      <ng-container
                        *ngIf="subjectsConstraint != null && passage.parts != null && subjectsConstraint.includes(passage.parts.subjects.id)">
                        <ng-container *ngIf="pas_upd == true">
                          <button class="btn btn-warning btn-sm" (click)="openModal(passage.id)"><i
                              class="fa fa-pencil-square-o"></i>
                            Cập nhật</button>
                        </ng-container>
                        <ng-container *ngIf="pas_del == true">
                          <button class="btn btn-danger btn-sm" (click)="openModalDelete(passage.id)"><i
                              class="fa fa-trash"></i>
                            Xóa</button>
                        </ng-container>
                      </ng-container>
                    </ng-template>
                  </div>
                  <!-- </ng-container> -->
                </ng-container>
              </div>
            </div>
            <ng-container *ngIf="pas_ref == true">
              <div class="tab-pane px-0 fade" id="content_pas_2">
                <ng-container *ngIf="tabControl == 2">
                  <div class="col-12">
                    <ng-container *ngIf="passage_Id != null">
                      <app-question passageId="{{passage_Id}}"></app-question>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <ng-container *ngIf="partId != null">
          <a href="{{'/passage?pasid=' + passage.id}}" class="btn btn-success"><i class="fa fa-mail-forward"></i> Chuyển
            đến trang quản lý câu hỏi đoạn
            văn</a>
        </ng-container> -->
        <!-- <ng-container *ngIf="partId == null"> -->
        <button type="button" (click)="openModalViewMode(passage.id)" class="btn btn-info"><i class="fa fa-eye"></i> Xem
          chế
          độ hiển thị</button>
        <!-- </ng-container> -->
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalViewMode="bs-modal" class="modal right fade" tabindex="-1" role="dialog" (onHide)="stopMedia(2)"
  (onHidden)="stopMedia(2)" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">
          <ng-container *ngIf="passage != null">
            <ng-container *ngIf="passage.parts != null">
              {{passage.parts.paR_NAME}}
            </ng-container>
            / Chi tiết đoạn văn {{passage.paS_ORDER}} (chế độ hiển thị)
          </ng-container>
        </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalViewMode.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-11 mx-auto">
          <div class="row">
            <div class="col-12 border rounded">
              <div class="row">
                <ng-container *ngIf="passage.paS_CONTENT != null && passage.paS_CONTENT != ''">
                  <div class="col ck-content" [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(passage.paS_CONTENT)">
                  </div>
                </ng-container>
              </div>
              <div class="row">
                <ng-container *ngIf="passage.paS_MEDIA != null">
                  <div class="col mt-2">
                    <ng-container *ngIf="mediaType == 'video'">
                      <div class="col-12 text-center">
                        <video id="pas_mediaview" width="50%" height="auto" controls>
                          <source src="{{passage.fileUrl}}">
                        </video>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="mediaType == 'audio'">
                      <div class="col-12 pl-0 text-center">
                        <audio id="pas_mediaview" controls="true">
                          <source src="{{passage.fileUrl}}">
                        </audio>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <ng-container *ngFor="let item of passage.questions; let i = index">
              <div class="mb-5"
                [ngClass]="{'col-12': passage.parts.paR_DEFAULTCOLUMN <= 1, 'col-6': passage.parts.paR_DEFAULTCOLUMN >=2}">
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-auto">
                        <span class="font-weight-bold">{{i + 1}}.</span>
                      </div>
                      <div class="col px-0 p-style ck-content"
                        [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item.quE_CONTENT)"></div>
                    </div>
                  </div>
                  <div class="col-12 mt-2">
                    <ng-container *ngIf="item.fileType == 'mp4' || item.fileType == 'webm' || item.fileType == 'ogg'">
                      <div class="col-12">
                        <video width="50%" height="auto" controls>
                          <source src="{{item.fileUrl}}">
                        </video>
                      </div>
                    </ng-container>
                    <ng-container
                      *ngIf="item.fileType == 'mpeg' || item.fileType == 'wav' || item.fileType == 'm4a' || item.fileType == 'mp3'">
                      <div class="col-12 pl-0">
                        <audio controls="true" class="p-2">
                          <source src="{{item.fileUrl}}">
                        </audio>
                      </div>
                    </ng-container>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <ng-container *ngFor="let item1 of item.options; let j = index">
                        <div
                          [ngClass]="{'col-12': item.quE_OPTCOLUMN <= 1, 'col-6': item.quE_OPTCOLUMN == 2, 'col-4': item.quE_OPTCOLUMN == 3, 'col-3': item.quE_OPTCOLUMN >= 4}">
                          <div class="row">
                            <ng-container *ngIf="item.quE_ANTYID == 2; else checkbox">
                              <div class="col-auto mx-auto">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" id="{{'field_opt_pas_' + item1.id}}"
                                    name="{{'checkbox_option_pas_' + i}}" class="custom-control-input"
                                    [checked]="item.opT_ISCORRECT == true">
                                  <label class="custom-control-label font-weight-bold text-dark"
                                    for="{{'field_opt_pas_' + item1.id}}">{{optionKey[j]}}.</label>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #checkbox>
                              <div class="col-auto mx-auto">
                                <div class="custom-control custom-radio">
                                  <input type="radio" id="{{'field_opt_pas_' + item1.id}}"
                                    name="{{'radio_option_pas_' + i}}" class="custom-control-input"
                                    [checked]="item.opT_ISCORRECT == true">
                                  <label class="custom-control-label font-weight-bold text-dark"
                                    for="{{'field_opt_pas_' + item1.id}}">{{optionKey[j]}}.</label>
                                </div>
                              </div>
                            </ng-template>
                            <ng-container *ngIf="item1.opT_CONTENT != ''">
                              <div class="col pl-0 p-style ck-content"
                                [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item1.opT_CONTENT)"></div>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalViewMode.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase"><span id="modal_title_pas"></span></h5>
        <button type="button" class="close pull-right close_modal_pas_addupd" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Nội dung đoạn văn:</label>
              <div class="col-10 my-auto">
                <ckeditor [editor]="Editor" [(ngModel)]="passage.paS_CONTENT" [config]="editorConfig"
                  (blur)="validate_pas_content()" (ready)="onReadyCKEditor($event)" id="field_pas_1"></ckeditor>
                <span id="valid_mes_pas_1" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tệp âm thanh, video:</label>
              <div class="col-8 my-auto">
                <div class="custom-file form-control-sm">
                  <input type="file" class="custom-file-input" id="field_pas_2" (change)="onSelectFile($event)"
                    accept="audio/*,video/*" (blur)="validate_pas_media()">
                  <label class="custom-file-label" for="field_pas_2" id="label_field_pas_2">Tải tệp lên...</label>
                </div>
                <span id="valid_mes_pas_2" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <ng-container *ngIf="file != null || fileIsExist != null">
            <div class="col-1">
              <div class="row pt-1">
                <a class="text-decoration-none text-danger" (click)="removeFile($event)"><i
                    class="fa fa-2x fa-times"></i></a>
              </div>
            </div>
          </ng-container>
          <div class="w-100"></div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Trộn câu hỏi:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="passage.paS_ISSHUFFLE != null && passage.paS_ISSHUFFLE == true; else falsechoice">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="field_pas_3" checked>
                    <label class="custom-control-label" for="field_pas_3"></label>
                    <a class="text-decoration-none text-secondary"
                      tooltip="Kích hoạt để tự động trộn các câu trắc nghiệm của đoạn văn" placement="right">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </div>
                </ng-container>
                <ng-template #falsechoice>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="field_pas_3">
                    <label class="custom-control-label" for="field_pas_3"></label>
                    <a class="text-decoration-none text-secondary"
                      tooltip="Kích hoạt để tự động trộn các câu hỏi trắc nghiệm thuộc đoạn văn" placement="right">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Trạng thái:</label>
              <div class="col-8 my-auto">
                <select id="field_pas_4" [(ngModel)]="passage.paS_STATUS" class="form-control d-inline form-control-sm"
                  (blur)="validate_pas_status()">
                  <option value="1">Sử dụng</option>
                  <option value="2">Lược bỏ</option>
                </select>
                <span id="valid_mes_pas_4" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Loại câu hỏi:</label>
              <div class="col-8 my-auto">
                <select id="field_pas_5" [(ngModel)]="passage.paS_ANTYID" (blur)="validate_pas_antyid()"
                  class="form-control d-inline form-control-sm">
                  <ng-container *ngIf="answertypes != null">
                    <ng-container *ngFor="let item of answertypes">
                      <option value="{{item.id}}">{{item.antY_NAME}}</option>
                    </ng-container>
                  </ng-container>
                </select>
                <span id="valid_mes_pas_5" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <ng-container *ngIf="partId == null">
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 col-form-label font-weight-bold">Thuộc môn học:</label>
                <div class="col-8 my-auto">
                  <select id="field_pas_6" [(ngModel)]="sub_id" class="form-control d-inline form-control-sm"
                    (ngModelChange)="generatePartList()" (blur)="validate_pas_subid()">
                    <ng-container *ngIf="subjects != null">
                      <ng-container *ngIf="pas_con == true; else passageSpecicalize2">
                        <ng-container *ngFor="let item of subjects">
                          <option value="{{item.id}}">{{item.suB_NAME}}</option>
                        </ng-container>
                      </ng-container>
                      <ng-template #passageSpecicalize2>
                        <ng-container *ngFor="let item of subjects">
                          <!-- <ng-container *ngIf="item != null && item.id != null"> -->
                          <ng-container *ngIf="subjectsConstraint != null && subjectsConstraint.includes(item.id)">
                            <option value="{{item.id}}">{{item.suB_NAME}}</option>
                          </ng-container>
                          <!-- </ng-container> -->
                        </ng-container>
                      </ng-template>
                    </ng-container>
                  </select>
                  <span id="warning_mes_pas_6" style="display: block;" class="invalid-feedback text-warning"></span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label class="col-4 col-form-label font-weight-bold">Thuộc học phần:</label>
                <div class="col-8 my-auto">
                  <select id="field_pas_7" [(ngModel)]="passage.paS_PARID" (blur)="validate_pas_parid()"
                    (ngModelChange)="CheckPartAllowShuffle()" class="form-control d-inline form-control-sm"
                    [disabled]="sub_id == null">
                    <ng-container *ngIf="parts != null">
                      <ng-container *ngFor="let item of parts">
                        <ng-container *ngIf="item.paR_STATUS == 1">
                          <ng-container
                            *ngIf="item.countQuestion == 0 && item.countPassage == 0 || item.countQuestion == 0; else redpick">
                            <option value="{{item.id}}">
                              {{item.paR_NAME}}
                            </option>
                          </ng-container>
                          <ng-template #redpick>
                            <option class="text-danger" value="{{item.id}}">
                              {{item.paR_NAME}}
                            </option>
                          </ng-template>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </select>
                  <span id="valid_mes_pas_7" class="invalid-feedback"></span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_pas_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_pas_addupd"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_pas_addupd"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa đoạn văn</h5>
        <button type="button" class="close pull-right close_modal_pas_del" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-5">
              <p class="text-justify">Bạn có chắc chắn muốn xóa đoạn văn</p>
              <p class="text-warning"><i class="fa fa-warning"></i> Xóa đoạn văn sẽ xóa toàn bộ câu hỏi của đoạn văn đó!
              </p>
            </div>
            <div class="col-7">
              <div class="row">
                <ng-container *ngIf="passage != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">
                              <ng-container *ngIf="passage.parts != null">
                                {{passage.parts.paR_NAME}}
                              </ng-container>
                              / Đoạn văn {{passage.paS_ORDER}}
                            </span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(passage.id)"><i id="{{'buttonicon_pas_' + passage.id}}"
                              class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <ng-container *ngIf="passage.parts != null">
                        <div class="col-12 border-left mb-2" id="{{'detailToggle_pas_' + passage.id}}">
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Thuộc môn học:
                                </strong><span>{{passage.parts.subjects.suB_NAME}}</span></span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Thuộc học phần: </strong>
                                {{passage.parts.paR_NAME}}
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Loại câu hỏi: </strong>{{passage.answerTypes.antY_NAME}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Tệp âm thanh, video: </strong>{{passage.paS_MEDIA}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Trạng thái: </strong>
                                <ng-container *ngIf="passage.paS_STATUS == 1;else status">
                                  Sử dụng
                                </ng-container>
                                <ng-template #status>
                                  Loại bỏ
                                </ng-template>
                              </span>
                            </div>
                          </div>
                          <div class="row pl-3">
                            <div class="col-auto pl-0">
                              <span><strong>Nội dung: </strong></span>
                            </div>
                            <ng-container *ngIf="passage.paS_CONTENT != '' && passage.paS_CONTENT != null">
                              <div class="col border rounded mt-2 py-2 p-style ck-content"
                                [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(passage.paS_CONTENT)">
                                <!-- <ckeditor [disabled]="true" [editor]="EditorView" [(ngModel)]="passage.paS_CONTENT"
                                  [config]="editorViewConfig">
                                </ckeditor> -->
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_pas_del"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_pas_del"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDeletMul="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa danh sách đoạn văn</h5>
        <button type="button" class="close pull-right close_modal_pas_muldel" aria-label="Close"
          (click)="modalDeletMul.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="isListItemNull == true; else haveitem">
                <p class='text-danger'><i class='fa fa-exclamation-circle'></i> Không có đoạn văn nào được
                  chọn!</p>
              </ng-container>
              <ng-template #haveitem>
                <p class="text-justify">Bạn có chắc chắn muốn xóa danh sách đoạn văn:</p>
                <p class="text-warning"><i class="fa fa-warning"></i> Xóa đoạn văn sẽ xóa toàn bộ câu hỏi của đoạn văn
                  đó!
                </p>
              </ng-template>
            </div>
            <div class="col-8">
              <ng-container *ngIf="isListItemNull == true; else haveitem1">
                <div class="row">
                  <div class="col-12 text-center border-left" style="height: 65vh;">
                    <img src="../assets/img/no-results.png" alt="no item found">
                  </div>
                </div>
              </ng-container>
              <ng-template #haveitem1>
                <ng-container *ngIf="passagesMultiDel != null">
                  <ng-container *ngFor="let item of passagesMultiDel; let i = index">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12 border-bottom mb-2">
                            <div class="row">
                              <div class="col-auto bg-primary py-1 text-left">
                                <span class="text-white text-uppercase align-middle">
                                  <ng-container *ngIf="item.parts != null">
                                    {{item.parts.paR_NAME}}
                                  </ng-container>
                                  / Đoạn văn {{item.paS_ORDER}}
                                </span>
                              </div>
                              <div class="arrow-half-custom"></div>
                              <button style="right: 0;bottom: -1px;"
                                class="btn btn-outline-secondary btn-sm position-absolute"
                                (click)="ToggleGroupMulti(item.id)"><i id="{{'buttonicon_pas_mul_' + item.id}}"
                                  class="fa fa-minus"></i></button>
                            </div>
                          </div>
                          <div class="col-12 border-left mb-2" id="{{'detailToggle_pas_mul_' + item.id}}">
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Thuộc môn học:
                                  </strong><span>{{item.parts.subjects.suB_NAME}}</span></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Thuộc học phần: </strong>
                                  {{item.parts.paR_NAME}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Loại câu hỏi: </strong>{{item.answerTypes.antY_NAME}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Tệp âm thanh, video: </strong>{{item.paS_MEDIA}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Trạng thái: </strong>
                                  <ng-container *ngIf="item.paS_STATUS == 1;else status">
                                    Sử dụng
                                  </ng-container>
                                  <ng-template #status>
                                    Loại bỏ
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row pl-3">
                              <div class="col-auto pl-0">
                                <span><strong>Nội dung: </strong></span>
                              </div>
                              <ng-container *ngIf="item.paS_CONTENT != '' && item.paS_CONTENT != null">
                                <div class="col border rounded mt-2 py-2 p-style ck-content"
                                  [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item.paS_CONTENT)">
                                  <!-- <ckeditor [disabled]="true" [editor]="EditorView" [(ngModel)]="item.paS_CONTENT"
                                    [config]="editorViewConfig">
                                  </ckeditor> -->
                                </div>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="isListItemNull == false">
          <button type="button" (click)="deleteMul()" class="btn btn-success" id="save_modal_pas_muldel"><i
              class="fa fa-check"></i> OK</button>
        </ng-container>
        <button type="button" (click)="modalDeletMul.hide()" class="btn btn-danger close_modal_pas_muldel"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
