<div id="body">
  <!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-10 text-left">
          <ng-container *ngIf="permissionId == null && facultyId == null;">
            <h3 class="text-center d-inline mx-auto">DANH SÁCH NHÂN VIÊN</h3>
          </ng-container>
          <ng-container *ngIf="permissionId != null">
            <h3 class="text-center d-inline mx-auto text-uppercase">DANH SÁCH
              <ng-container *ngIf="permission != null">
                <span class="text-info">{{permission.peR_NAME}}</span>
              </ng-container>
            </h3>
          </ng-container>
          <ng-container *ngIf="facultyId != null">
            <h3 class="text-center d-inline mx-auto text-uppercase">DANH SÁCH NHÂN VIÊN KHOA
              <ng-container *ngIf="faculty != null">
                <span class="text-info">{{faculty.faC_NAME}}</span>
              </ng-container>
            </h3>
          </ng-container>
        </div>
        <div class="col-2 text-right">
          <ng-container *ngIf="emp_add == true">
            <button class="btn btn-primary btn-sm ml-1" (click)="openModal()">
              <i class="fa fa-plus-circle"></i>
            </button>
          </ng-container>
          <button class="btn btn-success btn-sm ml-1" title="Xuất excel danh sách nhân viên" (click)=openModalExport()>
            <i class="fa fa-file-excel-o "></i>
          </button>
          <!-- <ng-container *ngIf="emp_del == true">
            <button class="btn btn-danger btn-sm ml-1" (click)="openModalDeleteMul()">
              <i class="fa fa-trash"></i>
            </button>
          </ng-container> -->
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tb_main"
        class="table table-bordered table-striped table-hover myTable">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" name="search-check" />
            </th>
            <th><input type="text" name="search-id" />
            </th>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm số thứ tự" name="search-stt" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text" placeholder="Tìm kiếm mã"
                name="search-code" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text" placeholder="Tìm kiếm họ"
                name="search-first-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text" placeholder="Tìm kiếm tên"
                name="search-last-name" /></th>
            <ng-container *ngIf="facultyId == null">
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm khoa" name="search-phone" /></th>
            </ng-container>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm chuyên môn" name="search-username" /></th>
            <ng-container *ngIf="permissionId == null">
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm vai trò" name="search-position" /></th>
            </ng-container>
            <!-- <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm trạng thái" name="search-status" /></th> -->
            <th style="width: 86px;"><input style="display: none;" type="text" placeholder="Tìm kiếm trạng thái"
                name="search-option" />
            </th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th class="select-checkbox toggle-emp-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
            <th></th>
            <th>STT</th>
            <th>Mã NV</th>
            <th>Họ</th>
            <th>Tên</th>
            <ng-container *ngIf="facultyId == null">
              <th>Khoa</th>
            </ng-container>
            <th>Chuyên môn</th>
            <ng-container *ngIf="permissionId == null">
              <th>Vai trò</th>
            </ng-container>
            <!-- <th>Trạng thái</th> -->
            <th style="min-width: 86px;"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of employees; let i = index">
            <tr>
              <td></td>
              <td>{{item.id}}</td>
              <td>{{i+1}}</td>
              <td>{{item.emP_CODE}}</td>
              <td class="text-left">{{item.emP_LASTNAME}}</td>
              <td class="text-left">{{item.emP_FIRSTNAME}}</td>
              <ng-container *ngIf="facultyId == null">
                <td class="text-left">{{item.faculties.faC_NAME}}</td>
              </ng-container>
              <td class="text-left">
                <ng-container *ngIf="item.employee_Subjects != null">
                  <ng-container *ngFor="let item1 of item.employee_Subjects; let j = index">
                    <ng-container *ngIf="j == 0; else multiPer">
                      {{item1.subjects.suB_NAME}}
                    </ng-container>
                    <ng-template #multiPer>
                      ,&nbsp;{{item1.subjects.suB_NAME}}
                    </ng-template>
                  </ng-container>
                </ng-container>
              </td>
              <ng-container *ngIf="permissionId == null">
                <td class="text-left">
                  <ng-container *ngIf="item.users.user_Permissions != null">
                    <ng-container *ngFor="let item1 of item.users.user_Permissions; let j = index">
                      <ng-container *ngIf="j == 0; else multiPer">
                        {{item1.permissions.peR_NAME}}
                      </ng-container>
                      <ng-template #multiPer>
                        ,&nbsp;{{item1.permissions.peR_NAME}}
                      </ng-template>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>
              <!-- <td>
                  <ng-container *ngIf="item.users.usE_STATUS == 1;else block">
                    <span class="text-success">Sử dụng</span>
                  </ng-container>
                  <ng-template #block>
                    <span class="text-danger">Khóa</span>
                  </ng-template>
                </td> -->
              <td>
                <ng-container *ngIf="item.users != null">
                  <ng-container *ngIf="item.users.id != this.cookieSer.get('Id')">
                    <button class="btn btn-success btn-sm" title="Chi tiết nhân viên"
                      (click)="openModalDetail(item.id)"><i class="fa fa-eye"></i></button>
                    <ng-container *ngIf="emp_con == true; else employeeSpecialize">
                      <ng-container *ngIf="emp_upd == true">
                        <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                            class="fa fa-pencil-square-o"></i></button>
                      </ng-container>
                    </ng-container>
                    <ng-template #employeeSpecialize>
                      <ng-container *ngIf="facultyConstraint != null && facultyConstraint.id == item.emP_FACID">
                        <ng-container *ngIf="emp_upd == true">
                          <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                              class="fa fa-pencil-square-o"></i></button>
                        </ng-container>
                      </ng-container>
                    </ng-template>
                    <!-- <ng-container *ngIf="emp_del == true">
                      <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                        class="fa fa-trash"></i></button>
                    </ng-container> -->
                  </ng-container>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">
          <ng-container *ngIf="employee != null">
            Thông tin nhân viên {{employee.emP_LASTNAME}} {{employee.emP_FIRSTNAME}}
          </ng-container>
        </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 border-bottom mb-4 mx-3">
            <div class="row">
              <div class="col-auto bg-primary py-1 text-left">
                <span class="text-white text-uppercase align-middle h5">Thông tin nhân viên</span>
              </div>
              <div class="arrow-half-custom"></div>
            </div>
          </div>
          <ng-container *ngIf="employee != null">
            <div class="col-6 my-auto">
              <div class="row">
                <div class="col-6 m-auto text-center">
                  <img class="img-fluid img-thumbnail" src="{{employee.fileUrl}}"
                    alt="{{employee.emP_LASTNAME}} {{employee.emP_FIRSTNAME}}">
                </div>
              </div>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Mã nhân viên: </span>
                {{employee.emP_CODE}}
              </p>
              <p><span class="font-weight-bold">CMND: </span>
                {{employee.emP_IDENTITY}}
              </p>
              <p><span class="font-weight-bold">Họ và tên: </span>
                {{employee.emP_LASTNAME}} {{employee.emP_FIRSTNAME}}
              </p>
              <p><span class="font-weight-bold">Ngày sinh: </span>
                {{employee.emP_DATEOFBIRTH | date: 'dd/MM/yyyy' }}
              </p>
              <p><span class="font-weight-bold">Giới tính: </span>
                <ng-container *ngIf="employee.emP_GENDER == true; else female">
                  Nam
                </ng-container>
                <ng-template #female>
                  Nữ
                </ng-template>
              </p>
              <p><span class="font-weight-bold">Số điện thoại: </span>
                {{employee.emP_PHONE}}
              </p>
              <p><span class="font-weight-bold">Email: </span>
                <a href="{{'mailto:' + employee.emP_EMAIL}}" class="text-decoration-none">{{employee.emP_EMAIL}}</a>
              </p>
              <p><span class="font-weight-bold">Địa chỉ: </span>
                {{employee.emP_ADDRESS}}
              </p>
              <p><span class="font-weight-bold">Thuộc khoa: </span>
                <ng-container *ngIf="employee.faculties != null">
                  <a href="#" [routerLink]="['/faculty']" [queryParams]="{id: employee.faculties.id}"
                    class="text-decoration-none">{{employee.faculties.faC_NAME}}</a>
                </ng-container>
              </p>
              <p><span class="font-weight-bold">Chuyên môn: </span>
                <ng-container *ngIf="employee.employee_Subjects != null">
                  <ng-container *ngFor="let item of employee.employee_Subjects; let i = index">
                    <ng-container *ngIf="i == 0; else notfirst">
                      <a href="#" [routerLink]="['/subject']" [queryParams]="{id: item.subjects.id}"
                        class="text-decoration-none">{{item.subjects.suB_NAME}}</a>
                    </ng-container>
                    <ng-template #notfirst>
                      , <a href="#" [routerLink]="['/subject']" [queryParams]="{id: item.subjects.id}"
                        class="text-decoration-none">{{item.subjects.suB_NAME}}</a>
                    </ng-template>
                  </ng-container>
                </ng-container>
              </p>
            </div>
            <div class="col-12 border-bottom mb-4 mx-3">
              <div class="row">
                <div class="col-auto bg-primary py-1 text-left">
                  <span class="text-white text-uppercase align-middle h5">Thông tin tài khoản</span>
                </div>
                <div class="arrow-half-custom"></div>
              </div>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Tên tài khoản: </span>
                <ng-container *ngIf="employee.users != null">
                  {{employee.users.usE_USERNAME}}
                </ng-container>
              </p>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Vai trò: </span>
                <ng-container *ngIf="employee.users != null">
                  <ng-container *ngFor="let item of employee.users.user_Permissions; let i = index">
                    <ng-container *ngIf="i == 0; else notfirst">
                      <a href="#" [routerLink]="['/permission']" [queryParams]="{id: item.permissions.id}"
                        class="text-decoration-none">{{item.permissions.peR_NAME}}</a>
                    </ng-container>
                    <ng-template #notfirst>
                      , <a href="#" [routerLink]="['/permission']" [queryParams]="{id: item.permissions.id}"
                        class="text-decoration-none">{{item.permissions.peR_NAME}}</a>
                    </ng-template>
                  </ng-container>
                </ng-container>
              </p>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Trạng thái tài khoản: </span>
                <ng-container *ngIf="employee.users != null">
                  <ng-container *ngIf="employee.users.usE_STATUS == 1; else nouse">
                    <span class="text-success">Sử dụng</span>
                  </ng-container>
                  <ng-template #nouse>
                    <span class="text-danger">Khóa</span>
                  </ng-template>
                </ng-container>
              </p>
            </div>
            <!-- <div class="col-12">
              <div class="row pr-3">
                <div class="col-auto">
                  <p><span class="font-weight-bold">Nội dung đoạn văn: </span></p>
                </div>
                <ng-container *ngIf="passage.paS_CONTENT != null && passage.paS_CONTENT != ''">
                  <div class="col border rounded mt-2 py-2 p-style ck-content"
                    [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(passage.paS_CONTENT)">
                  </div>
                </ng-container>
              </div>
            </div> -->
            <div class="w-100"></div>
            <div class="col-6 mt-3">
              <ng-container *ngIf="employee.userCreated != null">
                <p class="text-secondary mb-0"><em>Tạo bởi
                    <ng-template #usercreated>
                      <div class="row mt-1">
                        <div class="col-6">
                          <img class="img-thumbnail" src="{{employee.userCreated.employees[0].fileUrl}}"
                            alt="{{employee.userCreated.usE_USERNAME}}">
                        </div>
                        <div class="col-6 text-left">
                          <p class="mb-0"><span class="font-weight-bold">ID:
                            </span>{{employee.userCreated.employees[0].emP_CODE}}</p>
                          <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p>
                                          <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p> -->
                          <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                            {{employee.userCreated.employees[0].emP_LASTNAME}}
                            {{employee.userCreated.employees[0].emP_FIRSTNAME}}
                          </p>
                        </div>
                        <div class="col-12 text-left mt-2">
                          <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                            </span>{{employee.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                          </p>
                          <p class="mb-0"><span class="font-weight-bold">Giới tính:
                            </span>{{employee.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                          <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                            </span><a
                              href="{{'tel:' + employee.userCreated.employees.emP_PHONE}}">{{employee.userCreated.employees[0].emP_PHONE}}</a>
                          </p>
                          <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                            </span>{{employee.userCreated.employees[0].emP_ADDRESS}}</p>
                          <p class="mb-0"><span class="font-weight-bold">Email:
                            </span><a
                              href="{{'mailto:' + employee.userCreated.employees.emP_EMAIL}}">{{employee.userCreated.employees[0].emP_EMAIL}}</a>
                          </p>
                        </div>
                      </div>
                    </ng-template>
                    <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                      class="text-primary">{{employee.userCreated.employees[0].emP_LASTNAME}}
                      {{employee.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                    {{employee.emP_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
              </ng-container>
              <ng-container *ngIf="employee.userModified != null">
                <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                    <ng-template #usermodified>
                      <div class="row mt-1">
                        <div class="col-6">
                          <img class="img-thumbnail" src="{{employee.userModified.employees[0].fileUrl}}"
                            alt="{{employee.userModified.usE_USERNAME}}">
                        </div>
                        <div class="col-6 text-left">
                          <p class="mb-0"><span class="font-weight-bold">ID:
                            </span>{{employee.userModified.employees[0].emP_CODE}}</p>
                          <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userModified.employees.emP_CODE}}</p>
                                          <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userModified.employees.emP_CODE}}</p> -->
                          <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                            {{employee.userModified.employees[0].emP_LASTNAME}}
                            {{employee.userModified.employees[0].emP_FIRSTNAME}}
                          </p>
                        </div>
                        <div class="col-12 text-left mt-2">
                          <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                            </span>{{employee.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                          </p>
                          <p class="mb-0"><span class="font-weight-bold">Giới tính:
                            </span>{{employee.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                          <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                            </span><a
                              href="{{'tel:' + employee.userModified.employees.emP_PHONE}}">{{employee.userModified.employees[0].emP_PHONE}}</a>
                          </p>
                          <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                            </span>{{employee.userModified.employees[0].emP_ADDRESS}}</p>
                          <p class="mb-0"><span class="font-weight-bold">Email:
                            </span><a
                              href="{{'mailto:' + employee.userModified.employees.emP_EMAIL}}">{{employee.userModified.employees[0].emP_EMAIL}}</a>
                          </p>
                        </div>
                      </div>
                    </ng-template>
                    <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                      class="text-primary">{{employee.userModified.employees[0].emP_LASTNAME}}
                      {{employee.userModified.employees[0].emP_FIRSTNAME}} </span> -
                    {{employee.emP_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
              </ng-container>
            </div>
            <div class="col-6 mt-3 align-self-end text-right">
              <ng-container *ngIf="emp_con == true; else employeeSpecialize1">
                <ng-container *ngIf="emp_upd == true">
                  <button class="btn btn-warning btn-sm" (click)="openModal(employee.id)"><i
                      class="fa fa-pencil-square-o"></i>
                    Cập nhật</button>
                </ng-container>
              </ng-container>
              <ng-template #employeeSpecialize1>
                <ng-container *ngIf="facultyConstraint != null && facultyConstraint.id == employee.emP_FACID">
                  <ng-container *ngIf="emp_upd == true">
                    <button class="btn btn-warning btn-sm" (click)="openModal(employee.id)"><i
                        class="fa fa-pencil-square-o"></i>
                      Cập nhật</button>
                  </ng-container>
                </ng-container>
              </ng-template>
              <!-- <ng-container *ngIf="emp_del == true">
                <button class="btn btn-danger btn-sm" (click)="openModalDelete(employee.id)"><i class="fa fa-trash"></i>
                  Xóa</button>
              </ng-container> -->
            </div>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left"><span id="modal_title_emp"></span></h5>
        <button type="button" class="close pull-right close_modal_addupdate" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 border-bottom mb-4 mx-3">
            <div class="row">
              <div class="col-auto bg-primary py-1 text-left">
                <span class="text-white text-uppercase align-middle h5">Thông tin nhân viên</span>
              </div>
              <div class="arrow-half-custom"></div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Họ:</label>
              <div class="col-8 my-auto">
                <input class="form-control d-inline form-control-sm" id="field_emp_1" (blur)="validate_emp_firstname()"
                  placeholder="Họ..." [(ngModel)]="employee.emP_LASTNAME">
                <span id="valid_mes_emp_1" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tên:</label>
              <div class="col-8 my-auto">
                <input class="form-control d-inline form-control-sm" id="field_emp_2" (blur)="validate_emp_lastname()"
                  placeholder="Tên..." [(ngModel)]="employee.emP_FIRSTNAME">
                <span id="valid_mes_emp_2" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Ngày sinh:</label>
              <div class="col-8 my-auto">
                <input type="date" class="form-control d-inline form-control-sm" id="field_emp_3"
                  (blur)="validate_emp_dateofbirth()" placeholder="Ngày sinh..." [(ngModel)]="employee.emP_DATEOFBIRTH">
                <span id="valid_mes_emp_3" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Giới tính:</label>
              <div class="col-8 my-auto">
                <div class="custom-control custom-radio custom-control-inline">
                  <input [(ngModel)]="employee.emP_GENDER" type="radio" id="genderTrue" name="genderRadio"
                    class="custom-control-input" [value]="true">
                  <label class="custom-control-label" for="genderTrue">Nam</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input [(ngModel)]="employee.emP_GENDER" type="radio" id="genderFalse" name="genderRadio"
                    class="custom-control-input" [value]="false">
                  <label class="custom-control-label" for="genderFalse">Nữ</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">CMND:</label>
              <div class="col-8 my-auto">
                <input type="text" class="form-control d-inline form-control-sm" id="field_emp_16"
                  (blur)="validate_emp_identity()" placeholder="CMND..." [(ngModel)]="employee.emP_IDENTITY">
                <span id="valid_mes_emp_16" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Số điện thoại:</label>
              <div class="col-8 my-auto">
                <input type="text" class="form-control d-inline form-control-sm" id="field_emp_4"
                  (blur)="validate_emp_phone()" placeholder="Số điện thoại..." [(ngModel)]="employee.emP_PHONE">
                <span id="valid_mes_emp_4" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Email:</label>
              <div class="col-8 my-auto">
                <input type="text" class="form-control d-inline form-control-sm" id="field_emp_6"
                  (blur)="validate_emp_email()" placeholder="Email..." [(ngModel)]="employee.emP_EMAIL">
                <span id="valid_mes_emp_6" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Địa chỉ:</label>
              <div class="col-8 my-auto">
                <textarea cols="30" rows="5" class="form-control d-inline form-control-sm" id="field_emp_5"
                  (blur)="validate_emp_address()" placeholder="Địa chỉ..."
                  [(ngModel)]="employee.emP_ADDRESS"></textarea>
                <span id="valid_mes_emp_5" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Thuộc khoa:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="faculties != null">
                  <select id="field_emp_12" [(ngModel)]="employee.emP_FACID" (ngModelChange)="generateSubjects()"
                    class="form-control d-inline form-control-sm" (blur)="validate_emp_faculty()"
                    [disabled]="facultyId != null">
                    <ng-container *ngIf="emp_con == true; else employeeSpecialize2">
                      <ng-container *ngFor="let item of faculties">
                        <option value="{{item.id}}">{{item.faC_NAME}}</option>
                      </ng-container>
                    </ng-container>
                    <ng-template #employeeSpecialize2>
                      <ng-container *ngFor="let item of faculties">
                        <ng-container *ngIf="facultyConstraint != null && facultyConstraint.id == item.id">
                          <option value="{{item.id}}">{{item.faC_NAME}}</option>
                        </ng-container>
                      </ng-container>
                    </ng-template>
                  </select>
                </ng-container>
                <span id="valid_mes_emp_12" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Chuyên môn:</label>
              <div class="col-8 my-auto">
                <ng-select [(ngModel)]="list_subject" bindLabel="name" placeholder="Chọn chuyên môn..."
                  id="field_emp_13" appendTo="body" multiple="true" [searchable]="true" [clearable]="true"
                  (blur)="validate_emp_subject()" [disabled]="subjects == null">
                  <ng-container *ngFor="let item of subjects">
                    <ng-option class="form-control form-control-sm" [value]="item.id">
                      {{item.suB_NAME}}
                    </ng-option>
                  </ng-container>
                </ng-select>
                <span id="valid_mes_emp_13" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Mã nhân viên:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="autoGenCode.seT_ISACTIVE == false; else auto">
                  <input class="form-control d-inline form-control-sm" id="field_emp_7" (blur)="validate_emp_code()"
                    placeholder="Mã nhân viên..." [(ngModel)]="employee.emP_CODE">
                  <span id="valid_mes_emp_7" class="invalid-feedback"></span>
                </ng-container>
                <ng-template #auto>
                  <input class="form-control d-inline form-control-sm" id="field_emp_7" (blur)="validate_emp_code()"
                    placeholder="Mã nhân viên..." [(ngModel)]="employee.emP_CODE" disabled>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Vai trò:</label>
              <div class="col-8 my-auto">
                <ng-select [(ngModel)]="list_permission" bindLabel="name" placeholder="Chọn vai trò..."
                  id="field_emp_14" appendTo="body" multiple="true" [searchable]="true" [clearable]="true"
                  (blur)="validate_emp_permission()">
                  <ng-container *ngFor="let item of permissions">
                    <ng-container *ngIf="item.peR_NAME != 'Học viên'">
                      <ng-option class="form-control form-control-sm" [value]="item.id">
                        {{item.peR_NAME}}
                      </ng-option>
                    </ng-container>
                  </ng-container>
                </ng-select>
                <span id="valid_mes_emp_14" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-12 border-bottom mb-4 mx-3">
            <div class="row">
              <div class="col-auto bg-primary py-1 text-left">
                <span class="text-white text-uppercase align-middle h5">Thông tin tài khoản</span>
              </div>
              <div class="arrow-half-custom"></div>
              <ng-container *ngIf="employee.id == 0">
                <button style="right: 30px;" class="btn btn-primary btn-sm position-absolute" (click)="generateUser()"
                  [disabled]="employee.emP_FACID == 0 || employee.emP_DATEOFBIRTH == null || employee.emP_DATEOFBIRTH == '' || employee.emP_FIRSTNAME == null || employee.emP_LASTNAME == null"><i
                    class="fa fa-history"></i> Tạo tài khoản tự động</button>
              </ng-container>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tên tài khoản:</label>
              <div class="col-8 my-auto">
                <input type="text" class="form-control d-inline form-control-sm" id="field_emp_8"
                  [disabled]="employee.id > 0" (blur)="validate_emp_username()" placeholder="Tên tài khoản..."
                  [(ngModel)]="user.usE_USERNAME">
                <span id="valid_mes_emp_8" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Trạng thái tài khoản:</label>
              <div class="col-8 my-auto">
                <select id="field_emp_11" [(ngModel)]="user.usE_STATUS" class="form-control d-inline form-control-sm"
                  (blur)="validate_emp_status()">
                  <option value="1">Sử dụng</option>
                  <option value="2">Khóa</option>
                </select>
                <span id="valid_mes_emp_11" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Mật khẩu:</label>
              <div class="col-8 my-auto">
                <div class="input-group input-group-sm">
                  <input type="password" class="form-control d-inline form-control-sm" id="field_emp_9"
                    [disabled]="employee.id > 0" (blur)="validate_emp_password()" placeholder="Mật khẩu..."
                    [(ngModel)]="user.usE_PASSWORD">
                  <div class="input-group-append">
                    <button id="button_field_9" class="btn btn-outline-secondary" title="Hiện mật khẩu"
                      [disabled]="employee.id > 0" (click)="showPassword(9)"><i id="icon_field_9"
                        class="fa fa-eye"></i></button>
                  </div>
                </div>
                <span id="valid_mes_emp_9" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Xác nhận mật khẩu:</label>
              <div class="col-8 my-auto">
                <div class="input-group input-group-sm">
                  <input type="password" class="form-control d-inline form-control-sm" id="field_emp_10"
                    [disabled]="employee.id > 0" (blur)="validate_emp_confirmpassword()"
                    placeholder="Xác nhận mật khẩu...">
                  <div class="input-group-append">
                    <button id="button_field_10" class="btn btn-outline-secondary" title="Hiện mật khẩu"
                      [disabled]="employee.id > 0" (click)="showPassword(10)"><i id="icon_field_10"
                        class="fa fa-eye"></i></button>
                  </div>
                </div>
                <span id="valid_mes_emp_10" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <div class="form-group row">
                  <label class="col-4 col-form-label font-weight-bold">Ảnh đại diện:</label>
                  <div class="col-8 my-auto">
                    <div class="custom-file form-control-sm">
                      <input type="file" class="custom-file-input" id="field_emp_15" (change)="onSelectFile($event)"
                        accept="image/*" (blur)="validate_emp_avatar()">
                      <label class="custom-file-label" for="field_emp_15" id="label_field_emp_15">Tải tệp lên...</label>
                    </div>
                    <span id="valid_mes_emp_15" class="invalid-feedback" style="display: block;"></span>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="file != null || fileIsExist != null">
                <div class="col-auto">
                  <div class="row pt-1">
                    <a class="text-decoration-none text-danger" (click)="removeFile($event)"><i
                        class="fa fa-2x fa-times"></i></a>
                  </div>
                </div>
              </ng-container>
              <div class="w-100"></div>
              <div class="col-2 offset-2">
                <img [src]="_DomSanitizer.bypassSecurityTrustUrl(url)" class="img-fluid border">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_emp_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_addupdate"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_addupdate"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Xóa nhân viên</h5>
        <button type="button" class="close pull-right close_modal_delete" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-5">
              <p class="text-justify">Bạn có chắc chắn muốn xóa nhân viên</p>
              <!-- <p class="text-warning"><i class="fa fa-warning"></i> Xóa đoạn văn sẽ xóa toàn bộ câu hỏi của đoạn văn đó!
              </p> -->
            </div>
            <div class="col-7">
              <div class="row">
                <ng-container *ngIf="employee != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">
                              Thông tin nhân viên {{employee.emP_LASTNAME}} {{employee.emP_FIRSTNAME}}
                            </span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(employee.id)"><i id="{{'buttonicon_emp_' + employee.id}}"
                              class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <ng-container *ngIf="employee != null">
                        <div class="col-12 border-left mb-2" id="{{'detailToggle_emp_' + employee.id}}">
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Mã nhân viên: </strong>{{employee.emP_CODE}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>CMND: </strong>{{employee.emP_IDENTITY}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Họ:
                                </strong><span>{{employee.emP_LASTNAME}}</span></span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Tên: </strong>
                                {{employee.emP_FIRSTNAME}}
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Ngày sinh: </strong>{{employee.emP_DATEOFBIRTH | date: 'dd/MM/yyyy'}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Giới tính: </strong>
                                <ng-container *ngIf="employee.emP_GENDER == true;else female">
                                  Nam
                                </ng-container>
                                <ng-template #female>
                                  Nữ
                                </ng-template>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Số điện thoại: </strong>{{employee.emP_PHONE}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Email: </strong>{{employee.emP_EMAIL}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Địa chỉ: </strong>{{employee.emP_ADDRESS}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Thuộc khoa: </strong>
                                <ng-container *ngIf="employee.faculties != null">
                                  {{employee.faculties.faC_NAME}}
                                </ng-container>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Chuyên môn: </strong>
                                <ng-container *ngIf="employee.employee_Subjects != null">
                                  <ng-container *ngFor="let item of employee.employee_Subjects; let i = index">
                                    <ng-container *ngIf="i == 0; else notfirst">
                                      {{item.subjects.suB_NAME}}
                                    </ng-container>
                                    <ng-template #notfirst>
                                      , {{item.subjects.suB_NAME}}
                                    </ng-template>
                                  </ng-container>
                                </ng-container>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Tên tài khoản: </strong>
                                <ng-container *ngIf="employee.users != null">
                                  {{employee.users.usE_USERNAME}}
                                </ng-container>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Trạng thái tài khoản: </strong>
                                <ng-container *ngIf="employee.users != null">
                                  <ng-container *ngIf="employee.users.usE_STATUS == 1;else block">
                                    Sử dụng
                                  </ng-container>
                                  <ng-template #block>
                                    Khóa
                                  </ng-template>
                                </ng-container>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Vai trò: </strong>
                                <ng-container *ngIf="employee.users != null">
                                  <ng-container *ngFor="let item of employee.users.user_Permissions; let i = index">
                                    <ng-container *ngIf="i == 0; else notfirst">
                                      {{item.permissions.peR_NAME}}
                                    </ng-container>
                                    <ng-template #notfirst>
                                      , {{item.permissions.peR_NAME}}
                                    </ng-template>
                                  </ng-container>
                                </ng-container>
                              </span>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_delete"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_delete"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDeletMul="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Xóa danh sách nhân viên</h5>
        <button type="button" class="close pull-right close_modal_multidel" aria-label="Close"
          (click)="modalDeletMul.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="isListItemNull == true; else haveitem">
                <p class='text-danger'><i class='fa fa-exclamation-circle'></i> Không có nhân viên nào được
                  chọn!</p>
              </ng-container>
              <ng-template #haveitem>
                <p class="text-justify">Bạn có chắc chắn muốn xóa danh sách nhân viên:</p>
              </ng-template>
            </div>
            <div class="col-8">
              <ng-container *ngIf="isListItemNull == true; else haveitem1">
                <div class="row">
                  <div class="col-12 text-center border-left" style="height: 65vh;">
                    <img src="../assets/img/no-results.png" alt="no item found">
                  </div>
                </div>
              </ng-container>
              <ng-template #haveitem1>
                <ng-container *ngIf="employeesMultiDel != null">
                  <ng-container *ngFor="let item of employeesMultiDel; let i = index">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12 border-bottom mb-2">
                            <div class="row">
                              <div class="col-auto bg-primary py-1 text-left">
                                <span class="text-white text-uppercase align-middle">
                                  Thông tin nhân viên {{item.emP_LASTNAME}} {{item.emP_FIRSTNAME}}
                                </span>
                              </div>
                              <div class="arrow-half-custom"></div>
                              <button style="right: 0;bottom: -1px;"
                                class="btn btn-outline-secondary btn-sm position-absolute"
                                (click)="ToggleGroupMulti(item.id)"><i id="{{'buttonicon_emp_mul_' + item.id}}"
                                  class="fa fa-minus"></i></button>
                            </div>
                          </div>
                          <div class="col-12 border-left mb-2" id="{{'detailToggle_emp_mul_' + item.id}}">
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Mã nhân viên: </strong>{{item.emP_CODE}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>CMND: </strong>{{item.emP_IDENTITY}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Họ:
                                  </strong><span>{{item.emP_LASTNAME}}</span></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Tên: </strong>
                                  {{item.emP_FIRSTNAME}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Ngày sinh:
                                  </strong>{{item.emP_DATEOFBIRTH | date: 'dd/MM/yyyy'}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Giới tính: </strong>
                                  <ng-container *ngIf="item.emP_GENDER == true;else female">
                                    Nam
                                  </ng-container>
                                  <ng-template #female>
                                    Nữ
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Số điện thoại: </strong>{{item.emP_PHONE}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Email: </strong>{{item.emP_EMAIL}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Địa chỉ: </strong>{{item.emP_ADDRESS}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Thuộc khoa: </strong>
                                  <ng-container *ngIf="item.faculties != null">
                                    {{item.faculties.faC_NAME}}
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Chuyên môn: </strong>
                                  <ng-container *ngIf="item.employee_Subjects != null">
                                    <ng-container *ngFor="let item1 of employee.employee_Subjects; let j = index">
                                      <ng-container *ngIf="j == 0; else notfirst">
                                        {{item1.subjects.suB_NAME}}
                                      </ng-container>
                                      <ng-template #notfirst>
                                        , {{item1.subjects.suB_NAME}}
                                      </ng-template>
                                    </ng-container>
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Tên tài khoản: </strong>
                                  <ng-container *ngIf="item.users != null">
                                    {{item.users.usE_USERNAME}}
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Trạng thái tài khoản: </strong>
                                  <ng-container *ngIf="item.users != null">
                                    <ng-container *ngIf="item.users.usE_STATUS == 1;else block">
                                      Sử dụng
                                    </ng-container>
                                    <ng-template #block>
                                      Khóa
                                    </ng-template>
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Vai trò: </strong>
                                  <ng-container *ngIf="item.users != null">
                                    <ng-container *ngFor="let item1 of item.users.user_Permissions; let j = index">
                                      <ng-container *ngIf="j == 0; else notfirst">
                                        {{item1.permissions.peR_NAME}}
                                      </ng-container>
                                      <ng-template #notfirst>
                                        , {{item1.permissions.peR_NAME}}
                                      </ng-template>
                                    </ng-container>
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="isListItemNull == false">
          <button type="button" id="save_modal_multidel" (click)="deleteMul()" class="btn btn-success"><i
              class="fa fa-check"></i> OK</button>
        </ng-container>
        <button type="button" (click)="modalDeletMul.hide()" class="btn btn-danger close_modal_multidel"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalExport="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Xuất excel danh sách nhân viên</h5>
        <button type="button" class="close pull-right close_modal_export" aria-label="Close"
          (click)="modalExport.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-3">
              <div class="row">
                <div class="col-12 border-bottom mb-4 px-3">
                  <div class="row">
                    <div class="col-auto bg-primary py-1 text-left">
                      <span class="text-white text-uppercase align-middle h5">Tùy chọn</span>
                    </div>
                    <div class="arrow-half-custom"></div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="custom-control custom-radio">
                    <input type="radio" [(ngModel)]="exportType" [value]="1" id="exportType_1" name="exportType"
                      class="custom-control-input" (ngModelChange)="openModalExport()">
                    <label class="custom-control-label font-weight-bold" for="exportType_1">Xuất tất cả nhân
                      viên</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" [(ngModel)]="exportType" [value]="2" id="exportType_2" name="exportType"
                      class="custom-control-input" (ngModelChange)="openModalExport()">
                    <label class="custom-control-label font-weight-bold" for="exportType_2">Xuất nhân viên đã
                      chọn</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-12 border-bottom mb-4 px-3">
                  <div class="row">
                    <div class="col-auto bg-primary py-1 text-left">
                      <ng-container *ngIf="permissionId == null && facultyId == null">
                        <span class="text-white text-uppercase align-middle h5">Danh sách nhân viên</span>
                      </ng-container>
                      <ng-container *ngIf="permissionId != null">
                        <span class="text-white text-uppercase align-middle h5">Danh sách
                          <ng-container *ngIf="permission != null">
                            {{permission.peR_NAME}}
                          </ng-container>
                        </span>
                      </ng-container>
                      <ng-container *ngIf="facultyId != null">
                        <span class="text-white text-uppercase align-middle h5">Danh sách nhân viên khoa
                          <ng-container *ngIf="faculty != null">
                            {{faculty.faC_NAME}}
                          </ng-container>
                        </span>
                      </ng-container>
                    </div>
                    <div class="arrow-half-custom"></div>
                  </div>
                </div>
                <div class="col-12 mt-2" [ngClass]="{'d-none': (isListItemNull == true && exportType == 2)}">
                  <table datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1" id="tb_sub"
                    class="table table-bordered table-striped table-hover">
                    <tfoot>
                      <tr>
                        <th><input style="display: none;" type="text" placeholder="Tìm kiếm số thứ tự"
                            name="search-stt" /></th>
                        <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                            placeholder="Tìm kiếm mã" name="search-code" /></th>
                        <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                            placeholder="Tìm kiếm họ" name="search-first-name" /></th>
                        <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                            placeholder="Tìm kiếm tên" name="search-last-name" /></th>
                        <ng-container *ngIf="facultyId == null">
                          <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                              placeholder="Tìm kiếm khoa" name="search-phone" /></th>
                        </ng-container>
                        <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                            placeholder="Tìm kiếm chuyên môn" name="search-username" /></th>
                        <ng-container *ngIf="permissionId == null">
                          <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                              placeholder="Tìm kiếm vai trò" name="search-position" /></th>
                        </ng-container>
                        <!-- <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                            placeholder="Tìm kiếm trạng thái" name="search-status" /></th> -->
                      </tr>
                    </tfoot>
                    <thead class="text-white">
                      <tr class="text-center table-custom-bg">
                        <th>STT</th>
                        <th>Mã NV</th>
                        <th>Họ</th>
                        <th>Tên</th>
                        <ng-container *ngIf="facultyId == null">
                          <th>Khoa</th>
                        </ng-container>
                        <th>Chuyên môn</th>
                        <ng-container *ngIf="permissionId == null">
                          <th>Vai trò</th>
                        </ng-container>
                        <!-- <th>Trạng thái</th> -->
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <ng-container *ngFor="let item of employeesExport; let i = index">
                        <tr>
                          <td>{{i+1}}</td>
                          <td>{{item.emP_CODE}}</td>
                          <td class="text-left">{{item.emP_LASTNAME}}</td>
                          <td class="text-left">{{item.emP_FIRSTNAME}}</td>
                          <ng-container *ngIf="facultyId == null">
                            <td class="text-left">{{item.faculties.faC_NAME}}</td>
                          </ng-container>
                          <td class="text-left">
                            <ng-container *ngIf="item.employee_Subjects != null">
                              <ng-container *ngFor="let item1 of item.employee_Subjects; let j = index">
                                <ng-container *ngIf="j == 0; else multiPer">
                                  {{item1.subjects.suB_NAME}}
                                </ng-container>
                                <ng-template #multiPer>
                                  ,&nbsp;{{item1.subjects.suB_NAME}}
                                </ng-template>
                              </ng-container>
                            </ng-container>
                          </td>
                          <ng-container *ngIf="permissionId == null">
                            <td class="text-left">
                              <ng-container *ngIf="item.users.user_Permissions != null">
                                <ng-container *ngFor="let item1 of item.users.user_Permissions; let j = index">
                                  <ng-container *ngIf="j == 0; else multiPer">
                                    {{item1.permissions.peR_NAME}}
                                  </ng-container>
                                  <ng-template #multiPer>
                                    ,&nbsp;{{item1.permissions.peR_NAME}}
                                  </ng-template>
                                </ng-container>
                              </ng-container>
                            </td>
                          </ng-container>
                          <!-- <td>
                            <ng-container *ngIf="item.users.usE_STATUS == 1;else block">
                              <span class="text-success">Sử dụng</span>
                            </ng-container>
                            <ng-template #block>
                              <span class="text-danger">Khóa</span>
                            </ng-template>
                          </td> -->
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <ng-container *ngIf="isListItemNull == true && exportType == 2">
                  <div class="col-12 text-center border-left" style="height: 65vh;">
                    <img src="../assets/img/no-results.png" alt="no item found">
                    <p class="text-center mt-2">Không có nhân viên nào được chọn!</p>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="(exportType == 2 && isListItemNull == false) || (exportType == 1)">
          <button type="button" id="save_modal_export" (click)="exportExcel()" class="btn btn-success"><i
              class="fa fa-check"></i> OK</button>
        </ng-container>
        <button type="button" (click)="modalExport.hide()" class="btn btn-danger close_modal_export"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
