<div id="body">
  <div class="row">
    <div class="col-12 border-bottom mb-4">
      <div class="row">
        <div class="col-auto bg-primary py-1 text-left">
          <span class="text-white text-uppercase align-middle h5">Thông tin trang web</span>
        </div>
        <div class="arrow-half-custom"></div>
        <ng-container *ngIf="inf_add == true">
          <button style="right: 2.2rem;" class="btn btn-primary btn-sm position-absolute" (click)="openModalAdd()"><i
              class="fa fa-plus"></i></button>
        </ng-container>
        <ng-container *ngIf="inf_upd == true">
          <button style="right: 0;" class="btn btn-warning btn-sm position-absolute" (click)="openModal()"><i
              class="fa fa-pencil-square-o"></i></button>
        </ng-container>
      </div>
    </div>
    <div class="col-12">
      <ng-container *ngIf="informations != null">
        <ng-container *ngFor="let item of informations">
          <ng-container *ngIf="item.inF_KEYNAME == 'Logo'; else normalfield">
            <div class="row mb-3">
              <div class="col-12 my-auto">
                <div class="row">
                  <div class="col-2 font-weight-bold">Logo:</div>
                  <div class="col-2">
                    <img [src]="_DomSanitizer.bypassSecurityTrustUrl(url)" class="img-fluid border">
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #normalfield>
            <div class="row mb-3">
              <div class="col-12 mb-1">
                <div class="row">
                  <div class="col-2 font-weight-bold">{{item.inF_KEYNAME}}:</div>
                  <div class="col-auto">
                    {{item.inF_VALUE}}
                  </div>
                </div>
              </div>
              <ng-container *ngIf="item.informations != null">
                <ng-container *ngFor="let item1 of item.informations; let i = index">
                  <div class="col-12 mb-1">
                    <div class="row">
                      <div class="col-2 font-weight-bold my-auto">{{item1.inF_KEYNAME}} ({{i+1}}):</div>
                      <div class="col-auto my-auto">
                        {{item1.inF_VALUE}}
                      </div>
                      <div class="col-auto">
                        <ng-container *ngIf="inf_del == true">
                          <button class="btn btn-danger btn-sm" (click)="openModalDelete(item1.id)"><i
                              class="fa fa-trash"></i></button>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left"><span id="modal_title_inf"></span></h5>
        <button type="button" class="close pull-right close_modal_inf_upd" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <ng-container *ngIf="Updateinformations != null">
            <ng-container *ngFor="let item of Updateinformations">
              <ng-container *ngIf="item.inF_KEYNAME == 'Logo'">
                <div class="col-6 my-auto">
                  <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Logo:</label>
                    <div class="col-8 my-auto">
                      <div class="custom-file form-control-sm">
                        <input type="file" class="custom-file-input" id="field_inf_1" (change)="onSelectFile($event)"
                          accept="image/*" (blur)="validate_inf_logo()">
                        <label class="custom-file-label" for="field_inf_1" id="label_field_inf_1">Tải ảnh lên...</label>
                      </div>
                      <span id="valid_mes_inf_1" class="invalid-feedback" style="display: block;"></span>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <img [src]="_DomSanitizer.bypassSecurityTrustUrl(updateUrl)" class="img-fluid border">
                </div>
                <div class="w-100 mb-2"></div>
              </ng-container>
              <ng-container *ngIf="item.inF_KEYNAME == 'Tên tổ chức'">
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Tên tổ chức:</label>
                    <div class="col-8 my-auto">
                      <input type="text" id="field_inf_2" [(ngModel)]="item.inF_VALUE" placeholder="Tên tổ chức..."
                        class="form-control d-inline form-control-sm" (blur)="validate_inf_name()">
                      <span id="valid_mes_inf_2" class="invalid-feedback"></span>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="item.inF_KEYNAME == 'Số điện thoại'">
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Số điện thoại:</label>
                    <div class="col-8 my-auto">
                      <input type="text" id="field_inf_3" [(ngModel)]="item.inF_VALUE" placeholder="Số điện thoại..."
                        class="form-control d-inline form-control-sm" (blur)="validate_inf_phone()">
                      <span id="valid_mes_inf_3" class="invalid-feedback" style="display: block;"></span>
                    </div>
                  </div>
                  <ng-container *ngIf="item.informations != null">
                    <ng-container *ngFor="let item1 of item.informations; let i = index">
                      <div class="form-group row">
                        <label class="col-4 col-form-label font-weight-bold">Số điện thoại ({{i+1}}):</label>
                        <div class="col-8 my-auto">
                          <input type="text" id="{{'field_inf_' + item1.id}}" [(ngModel)]="item1.inF_VALUE"
                            placeholder="{{'Số điện thoại (' + (i+1) + ')...'}}"
                            class="form-control d-inline form-control-sm" (blur)="validate_inf_phone(item1.id)">
                          <span id="{{'valid_mes_inf_' + item1.id}}" class="invalid-feedback"
                            style="display: block;"></span>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
              <ng-container *ngIf="item.inF_KEYNAME == 'Email'">
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Email:</label>
                    <div class="col-8 my-auto">
                      <input type="text" id="field_inf_4" [(ngModel)]="item.inF_VALUE" placeholder="Email..."
                        class="form-control d-inline form-control-sm" (blur)="validate_inf_email()">
                      <span id="valid_mes_inf_4" class="invalid-feedback" style="display: block;"></span>
                    </div>
                  </div>
                  <ng-container *ngIf="item.informations != null">
                    <ng-container *ngFor="let item1 of item.informations; let i = index">
                      <div class="form-group row">
                        <label class="col-4 col-form-label font-weight-bold">Email ({{i+1}}):</label>
                        <div class="col-8 my-auto">
                          <input type="text" id="{{'field_inf_' + item1.id}}" [(ngModel)]="item1.inF_VALUE"
                            placeholder="{{'Email (' + (i+1) + ')...'}}" class="form-control d-inline form-control-sm"
                            (blur)="validate_inf_email(item1.id)">
                          <span id="{{'valid_mes_inf_' + item1.id}}" class="invalid-feedback"
                            style="display: block;"></span>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
              <ng-container *ngIf="item.inF_KEYNAME == 'Fax'">
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Fax:</label>
                    <div class="col-8 my-auto">
                      <input type="text" id="field_inf_5" [(ngModel)]="item.inF_VALUE" placeholder="Fax..."
                        class="form-control d-inline form-control-sm" (blur)="validate_inf_fax()">
                      <span id="valid_mes_inf_5" class="invalid-feedback" style="display: block;"></span>
                    </div>
                  </div>
                  <ng-container *ngIf="item.informations != null">
                    <ng-container *ngFor="let item1 of item.informations; let i = index">
                      <div class="form-group row">
                        <label class="col-4 col-form-label font-weight-bold">Fax ({{i+1}}):</label>
                        <div class="col-8 my-auto">
                          <input type="text" id="{{'field_inf_' + item1.id}}" [(ngModel)]="item1.inF_VALUE"
                            placeholder="{{'Fax (' + (i+1) + ')...'}}" class="form-control d-inline form-control-sm"
                            (blur)="validate_inf_fax(item1.id)">
                          <span id="{{'valid_mes_inf_' + item1.id}}" class="invalid-feedback"
                            style="display: block;"></span>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
              <ng-container *ngIf="item.inF_KEYNAME == 'Địa chỉ'">
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Địa chỉ:</label>
                    <div class="col-8 my-auto">
                      <input type="text" id="field_inf_6" [(ngModel)]="item.inF_VALUE" placeholder="Địa chỉ..."
                        class="form-control d-inline form-control-sm" (blur)="validate_inf_address()">
                      <span id="valid_mes_inf_6" class="invalid-feedback" style="display: block;"></span>
                    </div>
                  </div>
                  <ng-container *ngIf="item.informations != null">
                    <ng-container *ngFor="let item1 of item.informations; let i = index">
                      <div class="form-group row">
                        <label class="col-4 col-form-label font-weight-bold">Địa chỉ ({{i+1}}):</label>
                        <div class="col-8 my-auto">
                          <input type="text" id="{{'field_inf_' + item1.id}}" [(ngModel)]="item1.inF_VALUE"
                            placeholder="{{'Địa chỉ (' + (i+1) + ')...'}}" class="form-control d-inline form-control-sm"
                            (blur)="validate_inf_fax(item1.id)">
                          <span id="{{'valid_mes_inf_' + item1.id}}" class="invalid-feedback"
                            style="display: block;"></span>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
              <ng-container *ngIf="item.inF_KEYNAME == 'Website'">
                <div class="col-6">
                  <div class="form-group row">
                    <label class="col-4 col-form-label font-weight-bold">Website:</label>
                    <div class="col-8 my-auto">
                      <input type="text" id="field_inf_7" [(ngModel)]="item.inF_VALUE" placeholder="Website..."
                        class="form-control d-inline form-control-sm" (blur)="validate_inf_website()">
                      <span id="valid_mes_inf_7" class="invalid-feedback" style="display: block;"></span>
                    </div>
                  </div>
                  <ng-container *ngIf="item.informations != null">
                    <ng-container *ngFor="let item1 of item.informations; let i = index">
                      <div class="form-group row">
                        <label class="col-4 col-form-label font-weight-bold">Website ({{i+1}}):</label>
                        <div class="col-8 my-auto">
                          <input type="text" id="{{'field_inf_' + item1.id}}" [(ngModel)]="item1.inF_VALUE"
                            placeholder="{{'Website (' + (i+1) + ')...'}}" class="form-control d-inline form-control-sm"
                            (blur)="validate_inf_fax(item1.id)">
                          <span id="{{'valid_mes_inf_' + item1.id}}" class="invalid-feedback"
                            style="display: block;"></span>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_inf_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_inf_upd"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_inf_upd"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalAdd="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Thêm thông tin trang web</h5>
        <button type="button" class="close pull-right close_modal_inf_add" aria-label="Close" (click)="modalAdd.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Loại thông tin:</label>
              <div class="col-8 my-auto">
                <select id="field_inf_add_1" [(ngModel)]="information.inF_INFID"
                  class="form-control d-inline form-control-sm">
                  <option value="4" id="opt_4">Số điện thoại</option>
                  <option value="5" id="opt_5">Email</option>
                  <option value="6" id="opt_6">Fax</option>
                  <option value="7" id="opt_7">Địa chỉ</option>
                  <option value="8" id="opt_8">Website</option>
                </select>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-6">
            <div class="form-group row">
              <ng-container *ngIf="information.inF_INFID == 4">
                <label class="col-4 col-form-label font-weight-bold">Số điện thoại:</label>
                <div class="col-8 my-auto">
                  <input type="text" id="field_inf_add_2" [(ngModel)]="information.inF_VALUE"
                    placeholder="Số điện thoại..." class="form-control d-inline form-control-sm"
                    (blur)="validate_inf_phone('add_2')">
                  <span id="valid_mes_inf_add_2" class="invalid-feedback" style="display: block;"></span>
                </div>
              </ng-container>
              <ng-container *ngIf="information.inF_INFID == 5">
                <label class="col-4 col-form-label font-weight-bold">Email:</label>
                <div class="col-8 my-auto">
                  <input type="text" id="field_inf_add_2" [(ngModel)]="information.inF_VALUE" placeholder="Email..."
                    class="form-control d-inline form-control-sm" (blur)="validate_inf_email('add_2')">
                  <span id="valid_mes_inf_add_2" class="invalid-feedback" style="display: block;"></span>
                </div>
              </ng-container>
              <ng-container *ngIf="information.inF_INFID == 6">
                <label class="col-4 col-form-label font-weight-bold">Fax:</label>
                <div class="col-8 my-auto">
                  <input type="text" id="field_inf_add_2" [(ngModel)]="information.inF_VALUE" placeholder="Fax..."
                    class="form-control d-inline form-control-sm" (blur)="validate_inf_fax('add_2')">
                  <span id="valid_mes_inf_add_2" class="invalid-feedback" style="display: block;"></span>
                </div>
              </ng-container>
              <ng-container *ngIf="information.inF_INFID == 7">
                <label class="col-4 col-form-label font-weight-bold">Địa chỉ:</label>
                <div class="col-8 my-auto">
                  <input type="text" id="field_inf_add_2" [(ngModel)]="information.inF_VALUE" placeholder="Địa chỉ..."
                    class="form-control d-inline form-control-sm" (blur)="validate_inf_address('add_2')">
                  <span id="valid_mes_inf_add_2" class="invalid-feedback" style="display: block;"></span>
                </div>
              </ng-container>
              <ng-container *ngIf="information.inF_INFID == 8">
                <label class="col-4 col-form-label font-weight-bold">Website:</label>
                <div class="col-8 my-auto">
                  <input type="text" id="field_inf_add_2" [(ngModel)]="information.inF_VALUE" placeholder="Website..."
                    class="form-control d-inline form-control-sm" (blur)="validate_inf_website('add_2')">
                  <span id="valid_mes_inf_add_2" class="invalid-feedback" style="display: block;"></span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_inf_add_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="saveAdd()" class="btn btn-success" id="save_modal_inf_add"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalAdd.hide()" class="btn btn-danger close_modal_inf_add"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Xóa thông tin trang web</h5>
        <button type="button" class="close pull-right close_modal_inf_del" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-5">
              <p class="text-justify">Bạn có chắc chắn muốn xóa thông tin trang web</p>
            </div>
            <div class="col-7">
              <div class="row">
                <ng-container *ngIf="informationDelete != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">
                              Thông tin trang web
                            </span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(informationDelete.id)"><i
                              id="{{'buttonicon_inf_' + informationDelete.id}}" class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <ng-container *ngIf="informationDelete != null">
                        <div class="col-12 border-left mb-2" id="{{'detailToggle_inf_' + informationDelete.id}}">
                          <div class="row">
                            <div class="col-12">
                              <span><strong>{{informationDelete.inF_KEYNAME}}:
                                </strong><span>{{informationDelete.inF_VALUE}}</span></span>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_inf_del"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_inf_del"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
