<div id="body">
  <!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-10 text-left">
          <ng-container *ngIf="classId == null; else partial">
            <h3 class="text-center d-inline mx-auto">DANH SÁCH SINH VIÊN</h3>
          </ng-container>
          <ng-template #partial>
          </ng-template>
        </div>
        <div class="col-2 text-right">
          <ng-container *ngIf="stu_add == true">
            <button class="btn btn-primary btn-sm ml-1" (click)="openModal()">
              <i class="fa fa-plus-circle"></i>
            </button>
          </ng-container>
          <div class="btn-group ml-1" role="group" aria-label="Excel Module">
            <ng-container *ngIf="stu_add == true">
              <button class="btn btn-primary btn-sm" title="Nhập excel danh sách sinh viên" (click)=openModalImport()>
                <i class="fa fa-file-excel-o "></i>
              </button>
            </ng-container>
            <button class="btn btn-success btn-sm" title="Xuất excel danh sách sinh viên" (click)=openModalExport()>
              <i class="fa fa-file-excel-o "></i>
            </button>
          </div>
          <!-- <ng-container *ngIf="stu_del == true">
            <button class="btn btn-danger btn-sm ml-1" (click)="openModalDeleteMul()">
              <i class="fa fa-trash"></i>
            </button>
          </ng-container> -->
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tb_main"
        class="table table-bordered table-striped table-hover myTable">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" name="search-check" />
            </th>
            <th><input type="text" name="search-id" />
            </th>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm số thứ tự" name="search-stt" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm mã sv" name="search-code" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text" placeholder="Tìm kiếm họ"
                name="search-first-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text" placeholder="Tìm kiếm tên"
                name="search-last-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm niên khóa" name="search-phone" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm ngành" name="search-username" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text" placeholder="Tìm kiếm lớp"
                name="search-position" /></th>
            <!-- <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                    placeholder="Tìm kiếm trạng thái" name="search-status" /></th> -->
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm trạng thái" name="search-option" />
            </th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th class="select-checkbox toggle-stu-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
            <th></th>
            <th>STT</th>
            <th>Mã SV</th>
            <th>Họ</th>
            <th>Tên</th>
            <th>Niên khóa</th>
            <th>Ngành</th>
            <th>Lớp</th>
            <!-- <th>Trạng thái</th> -->
            <th style="min-width: 86px;"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of students; let i = index">
            <tr>
              <td></td>
              <td>{{item.id}}</td>
              <td>{{i+1}}</td>
              <td>{{item.stU_CODE}}</td>
              <td class="text-left">{{item.stU_LASTNAME}}</td>
              <td class="text-left">{{item.stU_FIRSTNAME}}</td>
              <td>{{item.schoolYears.scyE_CODE}}</td>
              <td class="text-left">{{item.branches.brA_NAME}}</td>
              <td>{{item.classes.clA_CODE}}</td>
              <!-- <td>
                    <ng-container *ngIf="item.users.usE_STATUS == 1;else block">
                      <span class="text-success">Sử dụng</span>
                    </ng-container>
                    <ng-template #block>
                      <span class="text-danger">Khóa</span>
                    </ng-template>
                  </td> -->
              <td>
                <button class="btn btn-success btn-sm" title="Chi tiết sinh viên" (click)="openModalDetail(item.id)"><i
                    class="fa fa-eye"></i></button>
                <ng-container *ngIf="stu_con == true; else studentSpecialize">
                  <ng-container *ngIf="stu_upd == true">
                    <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                        class="fa fa-pencil-square-o"></i></button>
                  </ng-container>
                </ng-container>
                <ng-template #studentSpecialize>
                  <ng-container
                    *ngIf="facultyConstraint != null && item.branches.faculties != null && facultyConstraint.id == item.branches.faculties.id">
                    <ng-container *ngIf="stu_upd == true">
                      <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                          class="fa fa-pencil-square-o"></i></button>
                    </ng-container>
                  </ng-container>
                </ng-template>
                <!-- <ng-container *ngIf="stu_del == true">
                  <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                      class="fa fa-trash"></i></button>
                </ng-container> -->
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">
          <ng-container *ngIf="employee != null">
            Thông tin sinh viên {{student.stU_LASTNAME}} {{student.stU_FIRSTNAME}}
          </ng-container>
        </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 border-bottom mb-4 mx-3">
            <div class="row">
              <div class="col-auto bg-primary py-1 text-left">
                <span class="text-white text-uppercase align-middle h5">Thông tin sinh viên</span>
              </div>
              <div class="arrow-half-custom"></div>
            </div>
          </div>
          <ng-container *ngIf="student != null">
            <div class="col-6 my-auto">
              <div class="row">
                <div class="col-6 m-auto text-center">
                  <img class="img-fluid img-thumbnail" src="{{student.fileUrl}}"
                    alt="{{student.stU_LASTNAME}} {{student.stU_FIRSTNAME}}">
                </div>
              </div>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Mã sinh viên: </span>
                {{student.stU_CODE}}
              </p>
              <p><span class="font-weight-bold">CMND: </span>
                {{student.stU_IDENTITY}}
              </p>
              <p><span class="font-weight-bold">Họ và tên: </span>
                {{student.stU_LASTNAME}} {{student.stU_FIRSTNAME}}
              </p>
              <p><span class="font-weight-bold">Ngày sinh: </span>
                {{student.stU_DATEOFBIRTH | date: 'dd/MM/yyyy' }}
              </p>
              <p><span class="font-weight-bold">Giới tính: </span>
                <ng-container *ngIf="student.stU_GENDER == true; else female">
                  Nam
                </ng-container>
                <ng-template #female>
                  Nữ
                </ng-template>
              </p>
              <p><span class="font-weight-bold">Số điện thoại: </span>
                {{student.stU_PHONE}}
              </p>
              <p><span class="font-weight-bold">Email: </span>
                <a href="{{'mailto:' + student.stU_EMAIL}}" class="text-decoration-none">{{student.stU_EMAIL}}</a>
              </p>
              <p><span class="font-weight-bold">Địa chỉ: </span>
                {{student.stU_ADDRESS}}
              </p>
              <p><span class="font-weight-bold">Niên khóa: </span>
                <ng-container *ngIf="student.schoolYears != null">
                  <a href="#" [routerLink]="['/schoolyear']" [queryParams]="{id: student.stU_SCYEID}"
                    class="text-decoration-none">{{student.schoolYears.scyE_CODE}}</a>
                </ng-container>
              </p>
              <p><span class="font-weight-bold">Ngành: </span>
                <ng-container *ngIf="student.branches != null">
                  <a href="#" [routerLink]="['/branch']" [queryParams]="{id: student.stU_BRAID}"
                    class="text-decoration-none">{{student.branches.brA_NAME}}</a>
                </ng-container>
              </p>
              <p><span class="font-weight-bold">Lớp: </span>
                <ng-container *ngIf="student.classes != null">
                  <a href="#" [routerLink]="['/class']" [queryParams]="{id: student.stU_CLAID}"
                    class="text-decoration-none">{{student.classes.clA_CODE}}</a>
                </ng-container>
              </p>
            </div>
            <div class="col-12 border-bottom mb-4 mx-3">
              <div class="row">
                <div class="col-auto bg-primary py-1 text-left">
                  <span class="text-white text-uppercase align-middle h5">Thông tin tài khoản</span>
                </div>
                <div class="arrow-half-custom"></div>
              </div>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Tên tài khoản: </span>
                <ng-container *ngIf="student.users != null">
                  {{student.users.usE_USERNAME}}
                </ng-container>
              </p>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Vai trò: </span>
                <ng-container *ngIf="student.users != null">
                  <ng-container *ngFor="let item of student.users.user_Permissions; let i = index">
                    <ng-container *ngIf="i == 0; else notfirst">
                      <a href="#" [routerLink]="['/permission']" [queryParams]="{id: item.permissions.id}"
                        class="text-decoration-none">{{item.permissions.peR_NAME}}</a>
                    </ng-container>
                    <ng-template #notfirst>
                      , <a href="#" [routerLink]="['/permission']" [queryParams]="{id: item.permissions.id}"
                        class="text-decoration-none">{{item.permissions.peR_NAME}}</a>
                    </ng-template>
                  </ng-container>
                </ng-container>
              </p>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Trạng thái tài khoản: </span>
                <ng-container *ngIf="student.users != null">
                  <ng-container *ngIf="student.users.usE_STATUS == 1; else nouse">
                    <span class="text-success">Sử dụng</span>
                  </ng-container>
                  <ng-template #nouse>
                    <span class="text-danger">Khóa</span>
                  </ng-template>
                </ng-container>
              </p>
            </div>
            <div class="w-100"></div>
            <div class="col-6 mt-3">
              <ng-container *ngIf="student.userCreated != null">
                <p class="text-secondary mb-0"><em>Tạo bởi
                    <ng-template #usercreated>
                      <div class="row mt-1">
                        <div class="col-6">
                          <img class="img-thumbnail" src="{{student.userCreated.employees[0].fileUrl}}"
                            alt="{{student.userCreated.usE_USERNAME}}">
                        </div>
                        <div class="col-6 text-left">
                          <p class="mb-0"><span class="font-weight-bold">ID:
                            </span>{{student.userCreated.employees[0].emP_CODE}}</p>
                          <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                            {{student.userCreated.employees[0].emP_LASTNAME}}
                            {{student.userCreated.employees[0].emP_FIRSTNAME}}
                          </p>
                        </div>
                        <div class="col-12 text-left mt-2">
                          <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                            </span>{{student.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                          </p>
                          <p class="mb-0"><span class="font-weight-bold">Giới tính:
                            </span>{{student.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}}</p>
                          <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                            </span>{{student.userCreated.employees[0].emP_PHONE}}
                          </p>
                          <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                            </span>{{student.userCreated.employees[0].emP_ADDRESS}}</p>
                          <p class="mb-0"><span class="font-weight-bold">Email:
                            </span>{{student.userCreated.employees[0].emP_EMAIL}}
                          </p>
                        </div>
                      </div>
                    </ng-template>
                    <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                      class="text-primary">{{student.userCreated.employees[0].emP_LASTNAME}}
                      {{student.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                    {{student.stU_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
              </ng-container>
              <ng-container *ngIf="student.userModified != null">
                <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                    <ng-template #usermodified>
                      <div class="row mt-1">
                        <div class="col-6">
                          <img class="img-thumbnail" src="{{student.userModified.employees[0].fileUrl}}"
                            alt="{{student.userModified.usE_USERNAME}}">
                        </div>
                        <div class="col-6 text-left">
                          <p class="mb-0"><span class="font-weight-bold">ID:
                            </span>{{student.userModified.employees[0].emP_CODE}}</p>
                          <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                            {{student.userModified.employees[0].emP_LASTNAME}}
                            {{student.userModified.employees[0].emP_FIRSTNAME}}
                          </p>
                        </div>
                        <div class="col-12 text-left mt-2">
                          <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                            </span>{{student.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                          </p>
                          <p class="mb-0"><span class="font-weight-bold">Giới tính:
                            </span>{{student.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                          <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                            </span>{{student.userModified.employees[0].emP_PHONE}}
                          </p>
                          <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                            </span>{{student.userModified.employees[0].emP_ADDRESS}}</p>
                          <p class="mb-0"><span class="font-weight-bold">Email:
                            </span>{{student.userModified.employees[0].emP_EMAIL}}
                          </p>
                        </div>
                      </div>
                    </ng-template>
                    <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                      class="text-primary">{{student.userModified.employees[0].emP_LASTNAME}}
                      {{student.userModified.employees[0].emP_FIRSTNAME}} </span> -
                    {{student.stU_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
              </ng-container>
            </div>
            <div class="col-6 mt-3 align-self-end text-right">
              <ng-container *ngIf="stu_con == true; else studentSpecialize1">
                <ng-container *ngIf="stu_upd == true">
                  <button class="btn btn-warning btn-sm" (click)="openModal(student.id)"><i
                      class="fa fa-pencil-square-o"></i>
                    Cập nhật</button>
                </ng-container>
              </ng-container>
              <ng-template #studentSpecialize1>
                <ng-container
                  *ngIf="facultyConstraint != null && student.branches != null && facultyConstraint.id == student.branches.faculties.id">
                  <ng-container *ngIf="stu_upd == true">
                    <button class="btn btn-warning btn-sm" (click)="openModal(student.id)"><i
                        class="fa fa-pencil-square-o"></i>
                      Cập nhật</button>
                  </ng-container>
                </ng-container>
              </ng-template>
              <!-- <ng-container *ngIf="stu_del == true">
                <button class="btn btn-danger btn-sm" (click)="openModalDelete(student.id)"><i class="fa fa-trash"></i>
                  Xóa</button>
              </ng-container> -->
            </div>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left"><span id="modal_title_stu"></span></h5>
        <button type="button" class="close pull-right close_modal_stu_addupdate" aria-label="Close"
          (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 border-bottom mb-4 mx-3">
            <div class="row">
              <div class="col-auto bg-primary py-1 text-left">
                <span class="text-white text-uppercase align-middle h5">Thông tin sinh viên</span>
              </div>
              <div class="arrow-half-custom"></div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Mã sinh viên:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="autoGenCode.seT_ISACTIVE == false; else auto">
                  <input class="form-control d-inline form-control-sm" id="field_stu_7" (blur)="validate_stu_code()"
                    placeholder="Mã nhân viên..." [(ngModel)]="student.stU_CODE">
                  <span id="valid_mes_stu_7" class="invalid-feedback"></span>
                </ng-container>
                <ng-template #auto>
                  <input class="form-control d-inline form-control-sm" id="field_stu_7" (blur)="validate_stu_code()"
                    placeholder="Mã nhân viên..." [(ngModel)]="student.stU_CODE" disabled>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">CMND:</label>
              <div class="col-8 my-auto">
                <input type="text" class="form-control d-inline form-control-sm" id="field_stu_16"
                  (blur)="validate_stu_identity()" placeholder="CMND..." [(ngModel)]="student.stU_IDENTITY">
                <span id="valid_mes_stu_16" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Họ:</label>
              <div class="col-8 my-auto">
                <input class="form-control d-inline form-control-sm" id="field_stu_1" (blur)="validate_stu_firstname()"
                  placeholder="Họ..." [(ngModel)]="student.stU_LASTNAME">
                <span id="valid_mes_stu_1" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tên:</label>
              <div class="col-8 my-auto">
                <input class="form-control d-inline form-control-sm" id="field_stu_2" (blur)="validate_stu_lastname()"
                  placeholder="Tên..." [(ngModel)]="student.stU_FIRSTNAME">
                <span id="valid_mes_stu_2" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Ngày sinh:</label>
              <div class="col-8 my-auto">
                <input type="date" class="form-control d-inline form-control-sm" id="field_stu_3"
                  (blur)="validate_stu_dateofbirth()" placeholder="Ngày sinh..." [(ngModel)]="student.stU_DATEOFBIRTH">
                <span id="valid_mes_stu_3" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Giới tính:</label>
              <div class="col-8 my-auto">
                <div class="custom-control custom-radio custom-control-inline">
                  <input [(ngModel)]="student.stU_GENDER" type="radio" id="genderTrue" name="genderRadio"
                    class="custom-control-input" [value]="true">
                  <label class="custom-control-label" for="genderTrue">Nam</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input [(ngModel)]="student.stU_GENDER" type="radio" id="genderFalse" name="genderRadio"
                    class="custom-control-input" [value]="false">
                  <label class="custom-control-label" for="genderFalse">Nữ</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Số điện thoại:</label>
              <div class="col-8 my-auto">
                <input type="text" class="form-control d-inline form-control-sm" id="field_stu_4"
                  (blur)="validate_stu_phone()" placeholder="Số điện thoại..." [(ngModel)]="student.stU_PHONE">
                <span id="valid_mes_stu_4" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Email:</label>
              <div class="col-8 my-auto">
                <input type="text" class="form-control d-inline form-control-sm" id="field_stu_6"
                  (blur)="validate_stu_email()" placeholder="Email..." [(ngModel)]="student.stU_EMAIL">
                <span id="valid_mes_stu_6" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6 offset-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Địa chỉ:</label>
              <div class="col-8 my-auto">
                <textarea cols="30" rows="5" class="form-control d-inline form-control-sm" id="field_stu_5"
                  (blur)="validate_stu_address()" placeholder="Địa chỉ..." [(ngModel)]="student.stU_ADDRESS"></textarea>
                <span id="valid_mes_stu_5" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Khoa:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="faculties != null">
                  <select id="field_stu_12" [(ngModel)]="fac_id" (ngModelChange)="generateBranches()"
                    class="form-control d-inline form-control-sm" (blur)="validate_stu_faculty()"
                    [disabled]="student.id != 0">
                    <ng-container *ngIf="stu_con == true; else studentSpecialize2">
                      <ng-container *ngFor="let item of faculties">
                        <option value="{{item.id}}">{{item.faC_NAME}}</option>
                      </ng-container>
                    </ng-container>
                    <ng-template #studentSpecialize2>
                      <ng-container *ngFor="let item of faculties">
                        <ng-container *ngIf="facultyConstraint != null && facultyConstraint.id == item.id">
                          <option value="{{item.id}}">{{item.faC_NAME}}</option>
                        </ng-container>
                      </ng-container>
                    </ng-template>
                  </select>
                </ng-container>
                <span id="warning_mes_stu_12" class="invalid-feedback text-warning" style="display: block;"><i
                    class="fa fa-warning"></i> Chọn khoa để chọn ngành học</span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Ngành học:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="isHasChild.seT_ISACTIVE == true; else nochildchoice">
                  <select id="field_stu_13" [(ngModel)]="student.stU_BRAID" (blur)="validate_stu_braid()"
                    (ngModelChange)="resetCode()" class="form-control d-inline form-control-sm"
                    [disabled]="fac_id == null || fac_id == 0 || student.id != 0">
                    <ng-container *ngFor="let item of branchParents">
                      <ng-container *ngIf="item.brA_FACID == fac_id">
                        <ng-container *ngIf="item.branches != null;else nochilddropdown">
                          <ng-container *ngIf="size >= 2;else nodropdown">
                            <option class="form-control form-control-sm" [value]="item.id">&#9207;
                              {{item.brA_NAME}}
                            </option>
                          </ng-container>
                          <ng-template #nodropdown>
                            <option class="form-control form-control-sm" [value]="item.id">&#9205;
                              {{item.brA_NAME}}
                            </option>
                          </ng-template>
                          <!-- loop1 -->
                          <ng-container *ngFor="let item1 of item.branches">
                            <ng-container *ngIf="size >= 2">
                              <ng-container *ngIf="item1.branches != null;else nochilddropdown1">
                                <ng-container *ngIf="size >= 3; else nodropdown1">
                                  <option class="form-control form-control-sm" [value]="item1.id">
                                    &emsp;&#9207;{{item1.brA_NAME}}
                                  </option>
                                </ng-container>
                                <ng-template #nodropdown1>
                                  <option class="form-control form-control-sm" [value]="item1.id">&emsp;&#9205;
                                    {{item1.brA_NAME}}
                                  </option>
                                </ng-template>
                                <!-- loop2 -->
                                <ng-container *ngFor="let item2 of item1.branches">
                                  <ng-container *ngIf="size >= 3">
                                    <ng-container *ngIf="item2.branches != null;else nochilddropdown2">
                                      <ng-container *ngIf="size >= 4; else nodropdown2">
                                        <option class="form-control form-control-sm" [value]="item2.id">
                                          &emsp;&emsp;&#9207;
                                          {{item2.brA_NAME}}
                                        </option>
                                      </ng-container>
                                      <ng-template #nodropdown2>
                                        <option class="form-control form-control-sm" [value]="item2.id">
                                          &emsp;&emsp;&#9205;
                                          {{item2.brA_NAME}}
                                        </option>
                                      </ng-template>
                                      <!-- loop3 -->
                                      <ng-container *ngFor="let item3 of item2.branches">
                                        <ng-container *ngIf="size >= 4">
                                          <option class="form-control form-control-sm" [value]="item3.id">
                                            &emsp;&emsp;&emsp;&#9205;
                                            {{item3.brA_NAME}}
                                          </option>
                                        </ng-container>
                                      </ng-container>
                                    </ng-container>
                                    <ng-template #nochilddropdown2>
                                      <option class="form-control form-control-sm" [value]="item2.id">
                                        &emsp;&emsp;&#9205;
                                        {{item2.brA_NAME}}
                                      </option>
                                    </ng-template>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                              <ng-template #nochilddropdown1>
                                <option class="form-control form-control-sm" [value]="item1.id">&emsp;&#9205;
                                  {{item1.brA_NAME}}
                                </option>
                              </ng-template>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                        <ng-template #nochilddropdown>
                          <option class="form-control form-control-sm" [value]="item.id">&#9205; {{item.brA_NAME}}
                          </option>
                        </ng-template>
                      </ng-container>
                    </ng-container>
                  </select>
                </ng-container>
                <ng-template #nochildchoice>
                  <select id="field_stu_13" [(ngModel)]="student.stU_BRAID" (blur)="validate_stu_braid()"
                    (ngModelChange)="resetCode();generateClass()" class="form-control d-inline form-control-sm"
                    [disabled]="fac_id == null || fac_id == 0 || student.id != 0">
                    <ng-container *ngFor="let item of branches">
                      <ng-container *ngIf="item.brA_FACID == fac_id">
                        <option class="form-control form-control-sm" [value]="item.id">&#9205;
                          {{item.brA_NAME}}
                        </option>
                      </ng-container>
                    </ng-container>
                  </select>
                </ng-template>
                <span id="valid_mes_stu_13" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Niên khóa:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="schoolYear != null">
                  <select id="field_stu_17" [(ngModel)]="student.stU_SCYEID"
                    (ngModelChange)="resetCode();generateClass()" class="form-control d-inline form-control-sm"
                    (blur)="validate_stu_scyeid()" [disabled]="student.id != 0">
                    <option value="{{schoolYear.id}}">{{schoolYear.scyE_CODE}}</option>
                  </select>
                </ng-container>
                <span id="valid_mes_stu_17" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Lớp:</label>
              <div class="col-8 my-auto">
                <select id="field_stu_18" [(ngModel)]="student.stU_CLAID"
                  [disabled]="student.stU_BRAID == 0 || student.stU_SCYEID == 0"
                  class="form-control d-inline form-control-sm" (blur)="validate_stu_claid()">
                  <ng-container *ngIf="classes != null">
                    <ng-container *ngFor="let item of classes">
                      <option value="{{item.id}}">{{item.clA_CODE}}</option>
                    </ng-container>
                  </ng-container>
                </select>
                <span id="valid_mes_stu_18" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Vai trò:</label>
              <div class="col-8 my-auto">
                <ng-select [(ngModel)]="list_permission" bindLabel="name" placeholder="Chọn vai trò..."
                  id="field_stu_14" appendTo="body" multiple="true" [searchable]="true" [clearable]="true"
                  (blur)="validate_stu_permission()">
                  <ng-container *ngFor="let item of permissions">
                    <ng-container *ngIf="item.peR_NAME == 'Sinh viên'">
                      <ng-option class="form-control form-control-sm" [value]="item.id">
                        {{item.peR_NAME}}
                      </ng-option>
                    </ng-container>
                  </ng-container>
                </ng-select>
                <span id="valid_mes_stu_14" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-12 border-bottom mb-4 mx-3">
            <div class="row">
              <div class="col-auto bg-primary py-1 text-left">
                <span class="text-white text-uppercase align-middle h5">Thông tin tài khoản</span>
              </div>
              <div class="arrow-half-custom"></div>
              <ng-container *ngIf="student.id == 0">
                <button style="right: 30px;" class="btn btn-primary btn-sm position-absolute" (click)="generateUser()"
                  [disabled]="student.stU_SCYEID == 0 || student.stU_BRAID == 0 || student.stU_DATEOFBIRTH == null || student.stU_DATEOFBIRTH == '' || student.stU_FIRSTNAME == null || student.stU_LASTNAME == null"><i
                    class="fa fa-history"></i> Tạo tài khoản tự động</button>
              </ng-container>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tên tài khoản:</label>
              <div class="col-8 my-auto">
                <input type="text" class="form-control d-inline form-control-sm" id="field_stu_8"
                  [disabled]="student.id != 0" (blur)="validate_stu_username()" placeholder="Tên tài khoản..."
                  [(ngModel)]="user.usE_USERNAME">
                <span id="valid_mes_stu_8" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Trạng thái tài khoản:</label>
              <div class="col-8 my-auto">
                <select id="field_stu_11" [(ngModel)]="user.usE_STATUS" class="form-control d-inline form-control-sm"
                  (blur)="validate_stu_status()">
                  <option value="1">Sử dụng</option>
                  <option value="2">Khóa</option>
                </select>
                <span id="valid_mes_stu_11" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Mật khẩu:</label>
              <div class="col-8 my-auto">
                <div class="input-group input-group-sm">
                  <input type="password" class="form-control d-inline form-control-sm" id="field_stu_9"
                    [disabled]="student.id != 0" (blur)="validate_stu_password()" placeholder="Mật khẩu..."
                    [(ngModel)]="user.usE_PASSWORD">
                  <div class="input-group-append">
                    <button id="button_field_stu_9" class="btn btn-outline-secondary" title="Hiện mật khẩu"
                      (click)="showPassword(9)" [disabled]="student.id != 0"><i id="icon_field_stu_9"
                        class="fa fa-eye"></i></button>
                  </div>
                </div>
                <span id="valid_mes_stu_9" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Xác nhận mật khẩu:</label>
              <div class="col-8 my-auto">
                <div class="input-group input-group-sm">
                  <input type="password" class="form-control d-inline form-control-sm" id="field_stu_10"
                    [disabled]="student.id != 0" (blur)="validate_stu_confirmpassword()"
                    placeholder="Xác nhận mật khẩu...">
                  <div class="input-group-append">
                    <button id="button_field_stu_10" class="btn btn-outline-secondary" title="Hiện mật khẩu"
                      [disabled]="student.id != 0" (click)="showPassword(10)"><i id="icon_field_stu_10"
                        class="fa fa-eye"></i></button>
                  </div>
                </div>
                <span id="valid_mes_stu_10" class="invalid-feedback" style="display: block;"></span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <div class="form-group row">
                  <label class="col-4 col-form-label font-weight-bold">Ảnh đại diện:</label>
                  <div class="col-8 my-auto">
                    <div class="custom-file form-control-sm">
                      <input type="file" class="custom-file-input" id="field_stu_15" (change)="onSelectFile($event)"
                        accept="image/*" (blur)="validate_stu_avatar()">
                      <label class="custom-file-label" for="field_stu_15" id="label_field_stu_15">Tải ảnh lên...</label>
                    </div>
                    <span id="valid_mes_stu_15" class="invalid-feedback" style="display: block;"></span>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="file != null || fileIsExist != null">
                <div class="col-auto">
                  <div class="row pt-1">
                    <a class="text-decoration-none text-danger" style="cursor: pointer;" (click)="removeFile($event)"><i
                        class="fa fa-2x fa-times"></i></a>
                  </div>
                </div>
              </ng-container>
              <div class="w-100"></div>
              <div class="col-2 offset-2">
                <img [src]="_DomSanitizer.bypassSecurityTrustUrl(url)" class="img-fluid border">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_stu_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_stu_addupdate"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_stu_addupdate"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Xóa sinh viên</h5>
        <button type="button" class="close pull-right close_modal_stu_delete" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-5">
              <p class="text-justify">Bạn có chắc chắn muốn xóa sinh viên</p>
            </div>
            <div class="col-7">
              <div class="row">
                <ng-container *ngIf="student != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">
                              Thông tin sinh viên {{student.stU_LASTNAME}} {{student.stU_FIRSTNAME}}
                            </span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(student.id)"><i id="{{'buttonicon_stu_' + student.id}}"
                              class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <ng-container *ngIf="student != null">
                        <div class="col-12 border-left mb-2" id="{{'detailToggle_stu_' + student.id}}">
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Mã sinh viên: </strong>{{student.stU_CODE}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>CMND: </strong>{{student.stU_IDENTITY}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Họ và tên:
                                </strong><span>{{student.stU_LASTNAME}} {{student.stU_FIRSTNAME}}</span></span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Ngày sinh: </strong>{{student.stU_DATEOFBIRTH | date: 'dd/MM/yyyy'}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Giới tính: </strong>
                                <ng-container *ngIf="student.stU_GENDER == true;else female">
                                  Nam
                                </ng-container>
                                <ng-template #female>
                                  Nữ
                                </ng-template>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Số điện thoại: </strong>{{student.stU_PHONE}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Email: </strong>{{student.stU_EMAIL}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Địa chỉ: </strong>{{student.stU_ADDRESS}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Khóa: </strong>
                                <ng-container *ngIf="student.schoolYears != null">
                                  {{student.schoolYears.scyE_CODE}}
                                </ng-container>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Ngành: </strong>
                                <ng-container *ngIf="student.branches != null">
                                  {{student.branches.brA_NAME}}
                                </ng-container>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Lớp: </strong>
                                <ng-container *ngIf="student.classes != null">
                                  {{student.classes.clA_CODE}}
                                </ng-container>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Tên tài khoản: </strong>
                                <ng-container *ngIf="student.users != null">
                                  {{student.users.usE_USERNAME}}
                                </ng-container>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Trạng thái tài khoản: </strong>
                                <ng-container *ngIf="student.users != null">
                                  <ng-container *ngIf="student.users.usE_STATUS == 1;else block">
                                    Sử dụng
                                  </ng-container>
                                  <ng-template #block>
                                    Khóa
                                  </ng-template>
                                </ng-container>
                              </span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Vai trò: </strong>
                                <ng-container *ngIf="student.users != null">
                                  <ng-container *ngFor="let item of student.users.user_Permissions; let i = index">
                                    <ng-container *ngIf="i == 0; else notfirst">
                                      {{item.permissions.peR_NAME}}
                                    </ng-container>
                                    <ng-template #notfirst>
                                      , {{item.permissions.peR_NAME}}
                                    </ng-template>
                                  </ng-container>
                                </ng-container>
                              </span>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_stu_delete"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_stu_delete"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDeletMul="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Xóa danh sách sinh viên</h5>
        <button type="button" class="close pull-right close_modal_stu_multidel" aria-label="Close"
          (click)="modalDeletMul.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="isListItemNull == true; else haveitem">
                <p class='text-danger'><i class='fa fa-exclamation-circle'></i> Không có sinh viên nào được
                  chọn!</p>
              </ng-container>
              <ng-template #haveitem>
                <p class="text-justify">Bạn có chắc chắn muốn xóa danh sách sinh viên:</p>
              </ng-template>
            </div>
            <div class="col-8">
              <ng-container *ngIf="isListItemNull == true; else haveitem1">
                <div class="row">
                  <div class="col-12 text-center border-left" style="height: 65vh;">
                    <img src="../assets/img/no-results.png" alt="no item found">
                  </div>
                </div>
              </ng-container>
              <ng-template #haveitem1>
                <ng-container *ngIf="studentsMultiDel != null">
                  <ng-container *ngFor="let item of studentsMultiDel; let i = index">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12 border-bottom mb-2">
                            <div class="row">
                              <div class="col-auto bg-primary py-1 text-left">
                                <span class="text-white text-uppercase align-middle">
                                  Thông tin sinh viên {{item.stU_LASTNAME}} {{item.stU_FIRSTNAME}}
                                </span>
                              </div>
                              <div class="arrow-half-custom"></div>
                              <button style="right: 0;bottom: -1px;"
                                class="btn btn-outline-secondary btn-sm position-absolute"
                                (click)="ToggleGroupMulti(item.id)"><i id="{{'buttonicon_stu_mul_' + item.id}}"
                                  class="fa fa-minus"></i></button>
                            </div>
                          </div>
                          <div class="col-12 border-left mb-2" id="{{'detailToggle_stu_mul_' + item.id}}">
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Mã sinh viên: </strong>{{item.stU_CODE}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>CMND: </strong>{{item.stU_IDENTITY}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Họ và tên:
                                  </strong><span>{{item.stU_LASTNAME}} {{item.stU_FIRSTNAME}}</span></span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Ngày sinh:
                                  </strong>{{item.stU_DATEOFBIRTH | date: 'dd/MM/yyyy'}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Giới tính: </strong>
                                  <ng-container *ngIf="item.stU_GENDER == true;else female">
                                    Nam
                                  </ng-container>
                                  <ng-template #female>
                                    Nữ
                                  </ng-template>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Số điện thoại: </strong>{{item.stU_PHONE}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Email: </strong>{{item.stU_EMAIL}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Địa chỉ: </strong>{{item.stU_ADDRESS}}</span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Niên khóa: </strong>
                                  <ng-container *ngIf="item.schoolYears != null">
                                    {{item.schoolYears.scyE_CODE}}
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Ngành: </strong>
                                  <ng-container *ngIf="item.branches != null">
                                    {{item.branches.brA_NAME}}
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Lớp: </strong>
                                  <ng-container *ngIf="item.classes != null">
                                    {{item.classes.clA_CODE}}
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Tên tài khoản: </strong>
                                  <ng-container *ngIf="item.users != null">
                                    {{item.users.usE_USERNAME}}
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Trạng thái tài khoản: </strong>
                                  <ng-container *ngIf="item.users != null">
                                    <ng-container *ngIf="item.users.usE_STATUS == 1;else block">
                                      Sử dụng
                                    </ng-container>
                                    <ng-template #block>
                                      Khóa
                                    </ng-template>
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Vai trò: </strong>
                                  <ng-container *ngIf="item.users != null">
                                    <ng-container *ngFor="let item1 of item.users.user_Permissions; let j = index">
                                      <ng-container *ngIf="j == 0; else notfirst">
                                        {{item1.permissions.peR_NAME}}
                                      </ng-container>
                                      <ng-template #notfirst>
                                        , {{item1.permissions.peR_NAME}}
                                      </ng-template>
                                    </ng-container>
                                  </ng-container>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="isListItemNull == false">
          <button type="button" id="save_modal_stu_multidel" (click)="deleteMul()" class="btn btn-success"><i
              class="fa fa-check"></i> OK</button>
        </ng-container>
        <button type="button" (click)="modalDeletMul.hide()" class="btn btn-danger close_modal_stu_multidel"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalExport="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Xuất excel danh sách sinh viên</h5>
        <button type="button" class="close pull-right close_modal_stu_export" aria-label="Close"
          (click)="modalExport.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-3">
              <div class="row">
                <div class="col-12 border-bottom mb-4 px-3">
                  <div class="row">
                    <div class="col-auto bg-primary py-1 text-left">
                      <span class="text-white text-uppercase align-middle h5">Tùy chọn</span>
                    </div>
                    <div class="arrow-half-custom"></div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="custom-control custom-radio">
                    <input type="radio" [(ngModel)]="exportType" [value]="1" id="exportType_1" name="exportType"
                      class="custom-control-input" (ngModelChange)="openModalExport()">
                    <label class="custom-control-label font-weight-bold" for="exportType_1">Xuất tất cả sinh
                      viên</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" [(ngModel)]="exportType" [value]="2" id="exportType_2" name="exportType"
                      class="custom-control-input" (ngModelChange)="openModalExport()">
                    <label class="custom-control-label font-weight-bold" for="exportType_2">Xuất sinh viên đã
                      chọn</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-9">
              <div class="row">
                <div class="col-12 border-bottom mb-4 px-3">
                  <div class="row">
                    <div class="col-auto bg-primary py-1 text-left">
                      <span class="text-white text-uppercase align-middle h5">Danh sách sinh viên</span>
                    </div>
                    <div class="arrow-half-custom"></div>
                  </div>
                </div>
                <div class="col-12 mt-2" [ngClass]="{'d-none': (isListItemNull == true && exportType == 2)}">
                  <table datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1" id="tb_sub"
                    class="table table-bordered table-striped table-hover">
                    <tfoot>
                      <tr>
                        <th><input style="display: none;" type="text" placeholder="Tìm kiếm số thứ tự"
                            name="search-stt" /></th>
                        <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                            placeholder="Tìm kiếm mã sv" name="search-code" /></th>
                        <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                            placeholder="Tìm kiếm họ" name="search-first-name" /></th>
                        <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                            placeholder="Tìm kiếm tên" name="search-last-name" /></th>
                        <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                            placeholder="Tìm kiếm niên khóa" name="search-phone" /></th>
                        <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                            placeholder="Tìm kiếm ngành" name="search-username" /></th>
                        <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                            placeholder="Tìm kiếm lớp" name="search-position" /></th>
                      </tr>
                    </tfoot>
                    <thead class="text-white">
                      <tr class="text-center table-custom-bg">
                        <th>STT</th>
                        <th>Mã SV</th>
                        <th>Họ</th>
                        <th>Tên</th>
                        <th>Niên khóa</th>
                        <th>Ngành</th>
                        <th>Lớp</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <ng-container *ngFor="let item of studentsExport; let i = index">
                        <tr>
                          <td>{{i+1}}</td>
                          <td>{{item.stU_CODE}}</td>
                          <td class="text-left">{{item.stU_LASTNAME}}</td>
                          <td class="text-left">{{item.stU_FIRSTNAME}}</td>
                          <td>{{item.schoolYears.scyE_CODE}}</td>
                          <td class="text-left">{{item.branches.brA_NAME}}</td>
                          <td>{{item.classes.clA_CODE}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
                <ng-container *ngIf="isListItemNull == true && exportType == 2">
                  <div class="col-12 text-center border-left" style="height: 65vh;">
                    <img src="../assets/img/no-results.png" alt="no item found">
                    <p class="text-center mt-2">Không có sinh viên nào được chọn!</p>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="(exportType == 2 && isListItemNull == false) || (exportType == 1)">
          <button type="button" id="save_modal_stu_export" (click)="exportExcel()" class="btn btn-success"><i
              class="fa fa-check"></i> OK</button>
        </ng-container>
        <button type="button" (click)="modalExport.hide()" class="btn btn-danger close_modal_stu_export"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalImport="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Nhập excel danh sách sinh viên</h5>
        <button type="button" class="close pull-right close_modal_stu_import" aria-label="Close"
          (click)="modalImport.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-12 border-bottom mb-4 px-3">
                  <div class="row">
                    <div class="col-auto bg-primary py-1 text-left">
                      <span class="text-white text-uppercase align-middle h5">File excel mẫu</span>
                    </div>
                    <div class="arrow-half-custom"></div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12">
                      <p>
                        <ng-container *ngIf="sampleFileLink != null">
                          <a href="#" class="text-decoration-none align-middle" (click)="downloadFile($event)"
                            style="cursor: pointer;">DSSV.xlsx</a>
                          <a href="#" (click)="downloadFile($event)" class="btn btn-sm btn-success ml-2"><i
                              class="fa fa-download"></i></a>
                        </ng-container>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="font-weight-bold">Chú thích:</p>
                      <p>
                        <strong>(*)</strong>: Trường dữ liệu bắt buộc<br>
                        <strong>(-)</strong>: Trường dữ liệu có thể nhập hoặc để trống khi chọn tự động khởi tạo<br>
                        <strong>(+)</strong>: Trường dữ liệu có thể nhập hoặc để trống
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-12 border-bottom mb-4 px-3">
                  <div class="row">
                    <div class="col-auto bg-primary py-1 text-left">
                      <span class="text-white text-uppercase align-middle h5">Tùy chọn</span>
                    </div>
                    <div class="arrow-half-custom"></div>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-8">
                  <div class="custom-file form-control-sm">
                    <input type="file" class="custom-file-input" id="field_stu_import"
                      (change)="onSelectFileImport($event)" accept=".xlsx, .xls, .csv"
                      (blur)="validate_stu_importfile()">
                    <label class="custom-file-label" for="field_stu_import" id="label_field_stu_import">Tải tệp
                      lên...</label>
                  </div>
                  <span id="valid_mes_stu_import" class="invalid-feedback" style="display: block;"></span>
                </div>
                <ng-container *ngIf="fileImport != null || fileImportIsExist != null">
                  <div class="col-auto my-auto">
                    <div class="row">
                      <a class="text-decoration-none text-danger" style="cursor: pointer;"
                        (click)="removeFileImport($event)"><i class="fa fa-2x fa-times"></i></a>
                    </div>
                  </div>
                </ng-container>
                <div class="w-100"></div>
                <div class="col-12">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="field_import_1">
                    <label class="custom-control-label" for="field_import_1">Tự động tạo mã SV</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="field_import_2">
                    <label class="custom-control-label" for="field_import_2">Tự động tạo tài khoản</label>
                  </div>
                </div>
                <!-- <div class="col-12">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="field_import_3">
                    <label class="custom-control-label" for="field_import_3">Cho phép lưu thông tin sinh viên hợp lệ khi xảy ra lỗi</label>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="w-100"></div>
            <ng-container *ngIf="errorImport == true">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 border-bottom mb-4 px-3">
                    <div class="row">
                      <div class="col-auto bg-danger py-1 text-left">
                        <span class="text-white text-uppercase align-middle h5">Danh sách lỗi</span>
                      </div>
                      <div class="arrow-half-custom" style="border-bottom: 35px solid #dc3545"></div>
                    </div>
                  </div>
                  <div class="col-12">
                    <p [innerHTML]="errorImportLog"></p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_stu_import"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" id="save_modal_stu_import" (click)="ImportExcel()" class="btn btn-success"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalImport.hide()" class="btn btn-danger close_modal_stu_import"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
