<div id="body">
  <!-- <div class="container-fluid px-1"> -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-10 text-left">
          <h3 class="text-center d-inline mx-auto">DANH SÁCH KHOA</h3>
        </div>
        <div class="col-2 text-right my-auto">
          <ng-container *ngIf="fac_add == true">
            <button class="btn btn-primary btn-sm ml-1" (click)="openModal()">
              <i class="fa fa-plus-circle"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="fac_del == true">
            <button class="btn btn-danger btn-sm ml-1" (click)="openModalDeleteMul()">
              <i class="fa fa-trash"></i>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped table-hover myTable">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" name="search-check" />
            </th>
            <th><input type="text" name="search-id" />
            </th>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại khóa học" name="search-stt" />
            </th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm tên khoa" name="search-first-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm mã khoa" name="search-last-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm số điện thoại" name="search-gender" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm email" name="search-credit" /></th>
            <th><input style="display: none;" type="text" placeholder="Search first name" name="search-option" /></th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th class="select-checkbox toggle-fac-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
            <th></th>
            <th>STT</th>
            <th>Tên khoa</th>
            <th>Mã khoa</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th style="min-width: 86px;"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of faculties; let i = index">
            <tr>
              <td></td>
              <td>{{item.id}}</td>
              <td class="align-middle">{{i+1}}</td>
              <td class="align-middle">{{item.faC_NAME}}</td>
              <td class="align-middle">{{item.faC_CODE}}</td>
              <td class="align-middle">{{item.faC_PHONE}}</td>
              <td class="align-middle">{{item.faC_EMAIL}}</td>
              <td>
                <button class="btn btn-success btn-sm" title="Chi tiết khoa" (click)="openModalDetail(item.id)"><i
                    class="fa fa-eye"></i></button>
                <ng-container *ngIf="fac_con == true; else facultySpecialize">
                  <ng-container *ngIf="fac_upd == true">
                    <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                        class="fa fa-pencil-square-o"></i></button>
                  </ng-container>
                  <ng-container *ngIf="fac_del == true">
                    <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                        class="fa fa-trash"></i></button>
                  </ng-container>
                </ng-container>
                <ng-template #facultySpecialize>
                  <ng-container *ngIf="facultyConstraint != null && facultyConstraint.id == item.id">
                    <ng-container *ngIf="fac_upd == true">
                      <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                          class="fa fa-pencil-square-o"></i></button>
                    </ng-container>
                    <ng-container *ngIf="fac_del == true">
                      <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                          class="fa fa-trash"></i></button>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog" (onHide)="resetDetailModal()"
  (onHidden)="resetDetailModal()" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Chi tiết thông tin khoa</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <div class="col-12 px-0">
            <ul class="d-flex nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link nav-link-custom active" (click)="loadTab(1)" id="tab_fac_1" data-toggle="tab"
                  href="#content_fac_1">Thông tin
                  chi tiết</a>
              </li>
              <span class="py-1">
                <div class="border-right">&nbsp;</div>
              </span>
              <ng-container *ngIf="fac_ref_emp == true">
                <li class="nav-item">
                  <a class="nav-link nav-link-custom" (click)="loadTab(2)" id="tab_fac_2" data-toggle="tab"
                    href="#content_fac_2">Danh sách nhân viên
                  </a>
                </li>
                <span class="py-1">
                  <div class="border-right">&nbsp;</div>
                </span>
              </ng-container>
              <ng-container *ngIf="fac_ref_bra == true">
                <li class="nav-item">
                  <a class="nav-link nav-link-custom" (click)="loadTab(3)" id="tab_fac_3" data-toggle="tab"
                    href="#content_fac_3">Danh sách ngành học
                  </a>
                </li>
                <span class="py-1">
                  <div class="border-right">&nbsp;</div>
                </span>
              </ng-container>
              <ng-container *ngIf="fac_ref_sub == true">
                <li class="nav-item">
                  <a class="nav-link nav-link-custom" (click)="loadTab(4)" id="tab_fac_4" data-toggle="tab"
                    href="#content_fac_4">Danh sách môn học
                  </a>
                </li>
                <span class="py-1">
                  <div class="border-right">&nbsp;</div>
                </span>
              </ng-container>
            </ul>
          </div>
          <div class="col-12 px-0 tab-content mt-3 border-0">
            <div class="tab-pane px-0 active" id="content_fac_1">
              <div class="row px-3">
                <ng-container *ngIf="faculty != null">
                  <div class="col-6">
                    <p><span class="font-weight-bold">Tên khoa: </span> {{faculty.faC_NAME}}</p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Mã khoa: </span> {{faculty.faC_CODE}}</p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Số điện thoại: </span> <a href="javascript:void(0);"
                        class="text-decoration-none" style="cursor: pointer;">{{faculty.faC_PHONE}}</a></p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Email: </span> <a href="{{'mailto:' + faculty.faC_EMAIL}}"
                        class="text-decoration-none">{{faculty.faC_EMAIL}}</a></p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Địa chỉ: </span> {{faculty.faC_ADDRESS}}</p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Website: </span>
                      <a class="text-decoration-none" style="cursor: pointer;" href="{{faculty.faC_WEBSITE}}"
                        target="_blank">{{faculty.faC_WEBSITE}}</a>
                    </p>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-auto">
                        <p><span class="font-weight-bold">Thông tin khoa: </span></p>
                      </div>
                      <ng-container *ngIf="faculty.faC_INFORMATION != null && faculty.faC_INFORMATION != ''">
                        <div class="col border rounded mt-2 py-2 p-style ck-content"
                          [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(faculty.faC_INFORMATION)">
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                    <ng-container *ngIf="faculty.userCreated != null">
                      <p class="text-secondary mb-0"><em>Tạo bởi
                          <ng-template #usercreated>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{faculty.userCreated.employees[0].fileUrl}}"
                                  alt="{{faculty.userCreated.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{faculty.userCreated.employees[0].emP_CODE}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{faculty.userCreated.employees[0].emP_LASTNAME}}
                                  {{faculty.userCreated.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{faculty.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{faculty.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + faculty.userCreated.employees.emP_PHONE}}">{{faculty.userCreated.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{faculty.userCreated.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + faculty.userCreated.employees.emP_EMAIL}}">{{faculty.userCreated.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{faculty.userCreated.employees[0].emP_LASTNAME}}
                            {{faculty.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                          {{faculty.faC_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                    <ng-container *ngIf="faculty.userModified != null">
                      <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                          <ng-template #usermodified>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{faculty.userModified.employees[0].fileUrl}}"
                                  alt="{{faculty.userModified.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{faculty.userModified.employees[0].emP_CODE}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{faculty.userModified.employees[0].emP_LASTNAME}}
                                  {{faculty.userModified.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{faculty.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{faculty.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + faculty.userModified.employees.emP_PHONE}}">{{faculty.userModified.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{faculty.userModified.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + faculty.userModified.employees.emP_EMAIL}}">{{faculty.userModified.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{faculty.userModified.employees[0].emP_LASTNAME}}
                            {{faculty.userModified.employees[0].emP_FIRSTNAME}} </span> -
                          {{faculty.faC_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                  </div>
                  <div class="col-6 align-self-end text-right px-0">
                    <ng-container *ngIf="fac_con == true; else facultySpecialize1">
                      <ng-container *ngIf="fac_upd == true">
                        <button class="btn btn-warning btn-sm" (click)="openModal(faculty.id)"><i
                            class="fa fa-pencil-square-o"></i> Cập nhật</button>
                      </ng-container>
                      <ng-container *ngIf="fac_del == true">
                        <button class="btn btn-danger btn-sm" (click)="openModalDelete(faculty.id)"><i
                            class="fa fa-trash"></i>
                          Xóa</button>
                      </ng-container>
                    </ng-container>
                    <ng-template #facultySpecialize1>
                      <ng-container *ngIf="facultyConstraint != null && faculty.id == facultyConstraint.id">
                        <ng-container *ngIf="fac_upd == true">
                          <button class="btn btn-warning btn-sm" (click)="openModal(faculty.id)"><i
                              class="fa fa-pencil-square-o"></i> Cập nhật</button>
                        </ng-container>
                        <ng-container *ngIf="fac_del == true">
                          <button class="btn btn-danger btn-sm" (click)="openModalDelete(faculty.id)"><i
                              class="fa fa-trash"></i>
                            Xóa</button>
                        </ng-container>
                      </ng-container>
                    </ng-template>
                  </div>
                </ng-container>
              </div>
            </div>
            <ng-container *ngIf="fac_ref_emp == true">
              <div class="tab-pane px-0 fade" id="content_fac_2">
                <ng-container *ngIf="tabControl == 2">
                  <div class="col-12">
                    <ng-container *ngIf="faculty_Id != null">
                      <app-employee facultyId="{{faculty_Id}}"></app-employee>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="fac_ref_bra == true">
              <div class="tab-pane px-0 fade" id="content_fac_3">
                <ng-container *ngIf="tabControl == 3">
                  <div class="col-12">
                    <ng-container *ngIf="faculty_Id != null">
                      <app-branch facultyId="{{faculty_Id}}"></app-branch>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="fac_ref_sub == true">
              <div class="tab-pane px-0 fade" id="content_fac_4">
                <ng-container *ngIf="tabControl == 4">
                  <div class="col-12">
                    <ng-container *ngIf="faculty_Id != null">
                      <app-subject facultyId="{{faculty_Id}}"></app-subject>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left"><span id="modal_title_fac"></span></h5>
        <button type="button" class="close pull-right close_modal_fac_addupd" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tên khoa:</label>
              <div class="col-8 my-auto">
                <input class="form-control d-inline form-control-sm" id="field_fac_1" (blur)="validate_fac_name()"
                  placeholder="Tên khoa..." [(ngModel)]="faculty.faC_NAME">
                <span id="valid_mes_fac_1" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Mã khoa:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="autoGenCode.seT_ISACTIVE == false; else auto">
                  <input class="form-control d-inline form-control-sm" id="field_fac_2" (blur)="validate_fac_code()"
                    placeholder="Mã khoa..." [(ngModel)]="faculty.faC_CODE">
                  <span id="valid_mes_fac_2" class="invalid-feedback"></span>
                </ng-container>
                <ng-template #auto>
                  <input class="form-control d-inline form-control-sm" id="field_fac_2" (blur)="validate_fac_code()"
                    placeholder="Mã khoa..." [(ngModel)]="faculty.faC_CODE" disabled>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Số điện thoại:</label>
              <div class="col-8 my-auto">
                <input type="text" class="form-control d-inline form-control-sm" id="field_fac_4"
                  (blur)="validate_fac_phone()" placeholder="Số điện thoại..." [(ngModel)]="faculty.faC_PHONE">
                <span id="valid_mes_fac_4" style="display: block;" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Địa chỉ:</label>
              <div class="col-8 my-auto">
                <textarea cols="30" rows="5" class="form-control d-inline form-control-sm" id="field_fac_3"
                  (blur)="validate_fac_address()" placeholder="Địa chỉ..." [(ngModel)]="faculty.faC_ADDRESS"></textarea>
                <span id="valid_mes_fac_3" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Email:</label>
              <div class="col-8 my-auto">
                <input type="text" class="form-control d-inline form-control-sm" id="field_fac_5"
                  (blur)="validate_fac_email()" placeholder="Email..." [(ngModel)]="faculty.faC_EMAIL">
                <span id="valid_mes_fac_5" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Website:</label>
              <div class="col-8 my-auto">
                <input type="text" class="form-control d-inline form-control-sm" id="field_fac_6"
                  (blur)="validate_fac_website()" placeholder="Website..." [(ngModel)]="faculty.faC_WEBSITE">
                <span id="valid_mes_fac_6" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group row">
              <label class="col-2 col-form-label font-weight-bold">Thông tin khoa:</label>
              <div class="col-10 my-auto">
                <ckeditor [editor]="Editor" [(ngModel)]="faculty.faC_INFORMATION" [config]="editorConfig"
                  (blur)="validate_fac_information()" id="field_fac_7"></ckeditor>
                <span id="valid_mes_fac_7" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_fac_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_fac_addupd"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_fac_addupd"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa khoa</h5>
        <button type="button" class="close pull-right close_modal_fac_del" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="faculty != null">
                <p class="text-justify">
                  Bạn có chắc chắn muốn xóa khoa <span class="text-primary">{{faculty.faC_NAME}}</span> không?
                </p>
              </ng-container>
            </div>
            <div class="col-8">
              <div class="row">
                <ng-container *ngIf="faculty != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">{{faculty.faC_NAME}}</span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(faculty.id)"><i id="{{'buttonicon_fac_' + faculty.id}}"
                              class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <div class="col-12 border-left mb-2" id="{{'detailToggle_fac_' + faculty.id}}">
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Tên khoa: </strong>
                              {{faculty.faC_NAME}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Mã khoa: </strong>
                              {{faculty.faC_CODE}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Số điện thoại: </strong>
                              {{faculty.faC_PHONE}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Email: </strong>
                              {{faculty.faC_EMAIL}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Địa chỉ: </strong>
                              {{faculty.faC_ADDRESS}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Website: </strong>
                              {{faculty.faC_WEBSITE}}
                            </span>
                          </div>
                        </div>
                        <div class="row pl-3">
                          <div class="col-auto pl-0">
                            <strong>Thông tin khoa: </strong>
                          </div>
                          <ng-container *ngIf="faculty.faC_INFORMATION != '' && faculty.faC_INFORMATION != null">
                            <div class="col border rounded mt-2 py-2 p-style ck-content"
                              [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(faculty.faC_INFORMATION)">
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_fac_del"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_fac_del"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDeletMul="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa danh sách khoa</h5>
        <button type="button" class="close pull-right close_modal_fac_muldel" aria-label="Close"
          (click)="modalDeletMul.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="isListItemNull == true; else haveitem">
                <p class='text-danger'><i class='fa fa-exclamation-circle'></i> Không có khoa nào được
                  chọn!</p>
              </ng-container>
              <ng-template #haveitem>
                <p class="text-justify">Bạn có chắc chắn muốn xóa danh sách khoa:</p>
              </ng-template>
            </div>
            <div class="col-8">
              <ng-container *ngIf="isListItemNull == true; else haveitem1">
                <div class="row">
                  <div class="col-12 text-center border-left" style="height: 65vh;">
                    <img src="../assets/img/no-results.png" alt="no item found">
                  </div>
                </div>
              </ng-container>
              <ng-template #haveitem1>
                <ng-container *ngIf="facultiesMultiDel != null">
                  <ng-container *ngFor="let item of facultiesMultiDel">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-12 border-bottom mb-2">
                            <div class="row">
                              <div class="col-auto bg-primary py-1 text-left">
                                <span class="text-white text-uppercase align-middle">{{item.faC_NAME}}</span>
                              </div>
                              <div class="arrow-half-custom"></div>
                              <button style="right: 0;bottom: -1px;"
                                class="btn btn-outline-secondary btn-sm position-absolute"
                                (click)="ToggleGroupMulti(item.id)"><i id="{{'buttonicon_fac_mul_' + item.id}}"
                                  class="fa fa-minus"></i></button>
                            </div>
                          </div>
                          <div class="col-12 border-left mb-2" id="{{'detailToggle_fac_mul_' + item.id}}">
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Tên khoa: </strong>
                                  {{item.faC_NAME}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Mã khoa: </strong>
                                  {{item.faC_CODE}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Số điện thoại: </strong>
                                  {{item.faC_PHONE}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Email: </strong>
                                  {{item.faC_EMAIL}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Địa chỉ: </strong>
                                  {{item.faC_ADDRESS}}
                                </span>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <span><strong>Website: </strong>
                                  {{item.faC_WEBSITE}}
                                </span>
                              </div>
                            </div>
                            <div class="row pl-3">
                              <div class="col-auto pl-0">
                                <strong>Thông tin khoa: </strong>
                              </div>
                              <ng-container *ngIf="item.faC_INFORMATION != '' && faculty.faC_INFORMATION != null">
                                <div class="col border rounded mt-2 py-2 p-style ck-content"
                                  [innerHTML]="_DomSanitizer.bypassSecurityTrustHtml(item.faC_INFORMATION)">
                                </div>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <ng-container *ngIf="isListItemNull == false">
          <button type="button" (click)="deleteMul()" class="btn btn-success" id="save_modal_fac_muldel"><i
              class="fa fa-check"></i> OK</button>
        </ng-container>
        <button type="button" (click)="modalDeletMul.hide()" class="btn btn-danger close_modal_fac_muldel"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
