<div id="body">
  <div class="container-fluid px-1">
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-start">
          <div class="col-10 text-left">
            <h3 class="text-center d-inline mx-auto">DANH SÁCH THÔNG BÁO</h3>
          </div>
          <!-- <div class="col-2 text-right my-auto">
            <button class="btn btn-danger btn-sm ml-1" title="Đánh dấu đã đọc tất cả" (click)="openModal()">
              <i class="fa fa-thumb-tack"></i>
            </button>
          </div> -->
        </div>
      </div>
      <div class="col-12 mt-2">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-bordered table-striped table-hover">
          <tfoot>
            <tr>
              <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại khóa học" name="search-stt" />
              </th>
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm nội dung" name="search-credit" /></th>
              <!-- <th><input style="display: none;" type="text" placeholder="Search first name" name="search-option" />
              </th> -->
            </tr>
          </tfoot>
          <thead class="text-white">
            <tr class="text-center table-custom-bg">
              <th style="width: 15px;">STT</th>
              <th>Nội dung</th>
              <th style="min-width: 97px;"></th>
              <!-- <th style="width: 86px;"></th> -->
            </tr>
          </thead>
          <tbody class="text-center">
            <ng-container *ngFor="let item of nofications; let i = index">
              <tr>
                <td class="align-middle">{{i+1}}</td>
                <td class="align-middle text-left">
                  <a class="dropdown-item text-wrap" style="pointer-events: none;">
                    <div class="message">
                      <div class="py-3 mr-3 float-left">
                        <div class="avatar">
                          <ng-container *ngIf="item.userCreated != null">
                            <img class="avatar-img border" src="{{item.userCreated.employees[0].fileUrl}}"
                              alt="{{item.userCreated.employees[0].emP_LASTNAME}} {{item.userCreated.employees[0].emP_FIRSTNAME}}">
                          </ng-container>
                          <!-- <span class="avatar-status bg-success"></span> -->
                        </div>
                      </div>
                      <div>
                        <small class="text-muted">
                          <ng-container *ngIf="item.userCreated != null">
                            {{item.userCreated.employees[0].emP_LASTNAME}}
                            {{item.userCreated.employees[0].emP_FIRSTNAME}}
                          </ng-container>
                        </small>
                        <small class="text-muted float-right mt-1">
                          {{item.timeSpan}}
                        </small>
                      </div>
                      <div class="font-weight-bold">
                        {{item.noF_TITLE}}
                      </div>
                      <div class="small text-muted"><span [innerHTML]="item.noF_CONTENT"></span></div>
                    </div>
                  </a>
                </td>
                <td class="align-middle">
                  <a href="#" [routerLink]="[item.noF_LINK]" [queryParams]="{id: item.noF_PARAM}"><small><em>Chuyển đến
                        trang &raquo;</em></small></a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Chi tiết thông báo</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <ng-container *ngIf="nofication != null">
            <div class="col-6">
              <p><span class="font-weight-bold">Thời gian: </span> {{nofication.timeSpan}}</p>
            </div>
            <div class="col-6">
              <p><span class="font-weight-bold">Người gửi: </span>
                <ng-container *ngIf="nofication.userCreated != null">
                  <ng-template #usercreated>
                    <div class="row mt-1">
                      <div class="col-6">
                        <img class="img-thumbnail" src="{{nofication.userCreated.employees[0].fileUrl}}"
                          alt="{{nofication.userCreated.usE_USERNAME}}">
                      </div>
                      <div class="col-6 text-left">
                        <p class="mb-0"><span class="font-weight-bold">ID:
                          </span>{{nofication.userCreated.employees[0].emP_CODE}}</p>
                        <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p>
                                                    <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p> -->
                        <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                          {{nofication.userCreated.employees[0].emP_LASTNAME}}
                          {{nofication.userCreated.employees[0].emP_FIRSTNAME}}
                        </p>
                      </div>
                      <div class="col-12 text-left mt-2">
                        <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                          </span>{{nofication.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                        </p>
                        <p class="mb-0"><span class="font-weight-bold">Giới tính:
                          </span>{{nofication.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                        <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                          </span><a
                            href="{{'tel:' + nofication.userCreated.employees.emP_PHONE}}">{{nofication.userCreated.employees[0].emP_PHONE}}</a>
                        </p>
                        <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                          </span>{{nofication.userCreated.employees[0].emP_ADDRESS}}</p>
                        <p class="mb-0"><span class="font-weight-bold">Email:
                          </span><a
                            href="{{'mailto:' + nofication.userCreated.employees.emP_EMAIL}}">{{nofication.userCreated.employees[0].emP_EMAIL}}</a>
                        </p>
                      </div>
                    </div>
                  </ng-template>
                  <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                    class="text-primary">{{nofication.userCreated.employees[0].emP_LASTNAME}}
                    {{nofication.userCreated.employees[0].emP_FIRSTNAME}}</span>
                </ng-container>
              </p>
            </div>
            <div class="col-12">
              <p><span class="font-weight-bold">Tiêu đề: </span> {{nofication.noF_TITLE}}</p>
            </div>
            <div class="col-12">
              <p><span class="font-weight-bold">Nội dung: </span> {{nofication.noF_CONTENT}}</p>
            </div>
            <div class="col-12">
              <p><span class="font-weight-bold">Liên kết: </span>
                <a href="{{nofication.noF_LINK}}">{{nofication.noF_LINK}}</a>
              </p>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
