<div id="body">
  <!-- <div class="container-fluid px-1"> -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-10 text-left">
          <h3 class="text-center d-inline mx-auto">DANH SÁCH LOẠI BÀI THI</h3>
        </div>
        <div class="col-2 text-right my-auto">
          <ng-container *ngIf="test_add == true">
            <button class="btn btn-primary btn-sm ml-1" (click)="openModal()">
              <i class="fa fa-plus-circle"></i>
            </button>
          </ng-container>
          <!-- <ng-container *ngIf="test_del == true">
            <button class="btn btn-danger btn-sm ml-1" (click)="openModalDeleteMul()">
              <i class="fa fa-trash"></i>
            </button>
          </ng-container> -->
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped table-hover">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại khóa học" name="search-stt" />
            </th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text" placeholder="Tìm kiếm tên"
                name="search-first-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm trạng thái" name="search-last-name" /></th>
            <th><input style="display: none;" type="text" placeholder="Search first name" name="search-option" /></th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th>STT</th>
            <th>Tên loại bài thi</th>
            <th>Trạng thái</th>
            <th style="min-width: 86px;"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of testtypes; let i = index">
            <tr>
              <td class="align-middle">{{i+1}}</td>
              <td class="align-middle">{{item.tetY_NAME}}</td>
              <td class="align-middle">
                <ng-container *ngIf="item.tetY_STATUS == 1; else nouse">
                  <span class="text-success">Sử dụng</span>
                </ng-container>
                <ng-template #nouse>
                  <span class="text-danger">Không sử dụng</span>
                </ng-template>
              </td>
              <td>
                <button class="btn btn-success btn-sm" title="Chi tiết ca thi" (click)="openModalDetail(item.id)"><i
                    class="fa fa-eye"></i></button>
                <ng-container *ngIf="test_upd == true">
                  <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                      class="fa fa-pencil-square-o"></i></button>
                </ng-container>
                <ng-container *ngIf="test_del == true">
                  <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                      class="fa fa-trash"></i></button>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog" (onHide)="resetDetailModal()"
  (onHidden)="resetDetailModal()" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Thông tin chi tiết</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <div class="col-12 px-0">
            <ul class="d-flex nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link nav-link-custom active" (click)="loadTab(1)" id="tab_tety_1" data-toggle="tab"
                  href="#content_tety_1">Thông tin
                  chi tiết</a>
              </li>
              <span class="py-1">
                <div class="border-right">&nbsp;</div>
              </span>
            </ul>
          </div>
          <div class="col-12 px-0 tab-content mt-3 border-0">
            <div class="tab-pane px-0 active" id="content_tety_1">
              <div class="row px-3">
                <ng-container *ngIf="testtype != null">
                  <div class="col-6">
                    <p><span class="font-weight-bold">Tên loại bài thi: </span> {{testtype.tetY_NAME}}</p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Trạng thái: </span>
                      <ng-container *ngIf="testtype.tetY_STATUS == 1; else nouse1">
                        <span class="text-success">Sử dụng</span>
                      </ng-container>
                      <ng-template #nouse1>
                        <span class="text-danger">Không sử dụng</span>
                      </ng-template>
                    </p>
                  </div>
                  <div class="col-6 mt-3">
                    <ng-container *ngIf="testtype.userCreated != null">
                      <p class="text-secondary mb-0"><em>Tạo bởi
                          <ng-template #usercreated>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{testtype.userCreated.employees[0].fileUrl}}"
                                  alt="{{testtype.userCreated.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{testtype.userCreated.employees[0].emP_CODE}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{testtype.userCreated.employees[0].emP_LASTNAME}}
                                  {{testtype.userCreated.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{testtype.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{testtype.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + testtype.userCreated.employees.emP_PHONE}}">{{testtype.userCreated.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{testtype.userCreated.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + testtype.userCreated.employees.emP_EMAIL}}">{{testtype.userCreated.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{testtype.userCreated.employees[0].emP_LASTNAME}}
                            {{testtype.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                          {{testtype.tetY_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                    <ng-container *ngIf="testtype.userModified != null">
                      <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                          <ng-template #usermodified>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{testtype.userModified.employees[0].fileUrl}}"
                                  alt="{{testtype.userModified.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{testtype.userModified.employees[0].emP_CODE}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{testtype.userModified.employees[0].emP_LASTNAME}}
                                  {{testtype.userModified.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{testtype.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{testtype.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + testtype.userModified.employees.emP_PHONE}}">{{testtype.userModified.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{testtype.userModified.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + testtype.userModified.employees.emP_EMAIL}}">{{testtype.userModified.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{testtype.userModified.employees[0].emP_LASTNAME}}
                            {{testtype.userModified.employees[0].emP_FIRSTNAME}} </span> -
                          {{testtype.tetY_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                  </div>
                  <div class="col-6 align-self-end text-right px-0">
                    <ng-container *ngIf="test_upd == true">
                      <button class="btn btn-warning btn-sm" (click)="openModal(testtype.id)"><i
                          class="fa fa-pencil-square-o"></i> Cập nhật</button>
                    </ng-container>
                    <ng-container *ngIf="test_del == true">
                      <button class="btn btn-danger btn-sm" (click)="openModalDelete(testtype.id)"><i
                          class="fa fa-trash"></i>
                        Xóa</button>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left"><span id="modal_title_tety"></span></h5>
        <button type="button" class="close pull-right close_modal_tety_addupd" aria-label="Close"
          (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Tên loại bài thi:</label>
              <div class="col-8 my-auto">
                <input class="form-control d-inline form-control-sm" id="field_tety_1" (blur)="validate_tety_name()"
                  placeholder="Tên loại bài thi..." [(ngModel)]="testtype.tetY_NAME">
                <span id="valid_mes_tety_1" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Trạng thái:</label>
              <div class="col-8 my-auto">
                <select id="field_tety_2" [(ngModel)]="testtype.tetY_STATUS"
                  class="form-control d-inline form-control-sm" (blur)="validate_tety_status()">
                  <option value="1">Sử dụng</option>
                  <option value="2">Không sử dụng</option>
                </select>
                <span id="valid_mes_tety_2" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_tety_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_tety_addupd"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_tety_addupd"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left text-uppercase">Xóa loại bài thi</h5>
        <button type="button" class="close pull-right close_modal_tety_del" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <ng-container *ngIf="testtype != null">
                <p class="text-justify">
                  Bạn có chắc chắn muốn xóa loại bài thi <span class="text-primary">{{testtype.tetY_NAME}}</span> không?
                </p>
              </ng-container>
            </div>
            <div class="col-8">
              <div class="row">
                <ng-container *ngIf="testtype != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">{{testtype.tetY_NAME}}</span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(testtype.id)"><i id="{{'buttonicon_tety_' + testtype.id}}"
                              class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <div class="col-12 border-left mb-2" id="{{'detailToggle_tety_' + testtype.id}}">
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Tên loại bài thi: </strong>
                              {{testtype.tetY_NAME}}
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span><strong>Trạng thái: </strong>
                              <ng-container *ngIf="testtype.tetY_STATUS == 1; else nouse2">
                                <span class="text-success">Sử dụng</span>
                              </ng-container>
                              <ng-template #nouse2>
                                <span class="text-danger">Không sử dụng</span>
                              </ng-template>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_tety_del"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_tety_del"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
