<div class="card">
  <div class="card-header text-right">
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-center ">
          <h3 class="text-center d-inline mx-auto align-middle">TỆP TIN LƯU TRỮ</h3>
        </div>
      </div>
    </div>
    <div class="row py-3 text-center justify-content-center">
      <div class="col-3"></div>
      <div class="col-6">
        <select id="field_1" class="form-control d-inline" [(ngModel)]="id_class" (blur)="validate_class()"
          (ngModelChange)="loadFile()">
          <ng-container *ngFor="let item of classes">
            <option value="{{item.id}}">{{item.clA_NAME}}</option>
          </ng-container>
        </select>
        <span id="valid_mes_1" class="invalid-feedback"></span>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  <ng-container *ngIf="show == 0">
  </ng-container>
  <ng-container *ngIf="show == 1">
    <div class="card-body">
      <div class="row">
        <div class="col-12 text-center text-uppercase">
          <div class="row justify-content-center ">
            <div class="col-6 text-left">
              <h3 class="text-center d-inline mx-auto"> FILE CỦA LỚP {{class.clA_NAME}}
              </h3>
            </div>
            <div class="col-6 text-right">
              <button class="btn btn-primary ml-1" title="Tải file lên" (click)="showModal($event)">
                <i class="fa fa-plus-circle"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-12">
          <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
            class="table table-bordered table-striped table-hover">
            <thead class="table-custom-bg text-center">
              <tr>
                <th>#</th>
                <th>Tập tin</th>
                <th>Người đăng</th>
                <th>Ngày đăng</th>
                <th>Ngày chỉnh sửa</th>
                <th>Trạng thái</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of files; let i = index">
                <tr class="text-center">
                  <td>{{i+1}}</td>
                  <td>{{item.fiL_NAME}}</td>
                  <td>{{item.user_Create.emP_LASTNAME}} {{item.user_Create.emP_FIRSTNAME}}</td>
                  <td>{{item.fiL_CREATEDATE | date: 'dd/MM/yyy'}}</td>
                  <td>{{item.fiL_MODIFIEDDATE | date: 'dd/MM/yyy'}}</td>
                  <td>
                    <ng-container *ngIf="item.clA_STATUS == 0">
                      <span class="badge badge-secondary badge-pill font-weight-bold ">Riêng
                        tư</span>
                    </ng-container>
                    <ng-container *ngIf="item.clA_STATUS == 1">
                      <span class="font-weight-bold badge badge-success badge-pill">Tất cả</span>
                    </ng-container>
                  </td>
                  <td> <button class="btn btn-warning ml-1" title="Chỉnh sửa file" (click)="showModal($event)"
                      [disabled]="item.fiL_CREATEBY != id_user">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button (click)="open_Delete($event,item.id)" title="Xóa file" class="btn btn-danger btn-sm">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table> -->
        </div>
        <!-- <div class="col-12 tab-content border-0">
          <div class="tab-pane active pr-0" id="table_vw">
            <div class="col-12 mt-2">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="table table-bordered table-striped table-hover">
                <thead class="table-custom-bg text-center">
                  <tr>
                    <th>#</th>
                    <th>Loại khóa học</th>
                    <th>Số lượt quan tâm</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of reports; let i = index">
                    <tr class="text-center">
                      <td>{{i+1}}</td>
                      <td>{{item.couT_NAME}}</td>
                      <td>{{item.quantity}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade pr-0" id="chart_vw">
            <div class="col-12 mt-2">
              <div style="display: block" class="mt-2">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                  [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </ng-container>
</div>

<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h4 class="modal-title pull-left"><span id="modal_title"></span></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label font-weight-bold">Tệp tin:</label>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-12">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="field_1" (change)="onSelectFile($event)">
                  <label class="custom-file-label" for="field_1" id="label_field_1">Tải file
                    lên...</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label font-weight-bold">Trạng thái :</label>
          <div class="col-sm-8">
            <!-- <select id="field_2" class="form-control d-inline" [(ngModel)]="fileupload.fiL_PERMISSION" (blur)="validate_stt()">
              <option value="0" aria-checked="true">Chỉ mình tôi</option>
              <option value="1">Tất cả mọi người</option>
            </select> -->
            <span id="valid_mes_2" class="invalid-feedback"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modal.hide()" class="btn btn-secondary">Thoát</button>
        <button type="button" (click)="save()" class="btn btn-warning" id="button_modal">OK</button>
      </div>
    </div>
  </div>
</div>
