<div id="body">
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-6 text-left">
          <h3 class="text-center d-inline mx-auto">DANH SÁCH PHÒNG THI {{today | date: 'dd/MM/yyyy'}}</h3>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label class="col-6 col-form-label font-weight-bold text-right">Tìm kiếm phòng thi:</label>
            <div class="col-6 my-auto">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control d-inline form-control-sm" id="field_roomview_search"
                  [(ngModel)]="searchText" (ngModelChange)="searchRoom()" placeholder="Tìm kiếm phòng thi...">
                <div class="input-group-append">
                  <button id="button_roomview_search" class="btn btn-outline-secondary" title="Tìm kiếm"
                    (click)="searchRoom()"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="isListItemNull == true">
      <div class="col-12">
        <div class="row" style="height: 65vh;">
          <div class="col-12 text-center my-auto">
            <img src="../assets/img/no-results.png" alt="no item found">
          </div>
          <div class="col-12 text-center">
            <h5 class="text-danger">Không tìm thấy phòng thi được xếp lịch hôm nay ({{today | date: 'dd/MM/yyyy'}})!
            </h5>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="col-12 mt-2 mb-4" [ngClass]="{'d-none': isListItemNull == true, 'd-block': isListItemNull == false}">
      <div class="row px-3">
        <div class="col-12">
          <ng-container *ngIf="testShifts != null">
            <ng-container *ngFor="let item1 of testShifts">
              <div class="row mb-2">
                <div class="col-12 border-bottom mt-1">
                  <div class="row">
                    <div class="col-auto bg-primary py-1 text-left">
                      <span class="text-white text-uppercase align-middle h5">{{item1.shI_NAME}}
                        ({{"2020-06-22 " + item1.shI_TIMESTART | date: 'shortTime'}})</span>
                    </div>
                    <div class="arrow-half-custom"></div>
                    <button style="right: 0px;" class="btn btn-outline-secondary btn-sm position-absolute"
                      (click)="ToggleGroup(item1.id)"><i id="{{'buttonicon_roomview_' + item1.id}}"
                        class="fa fa-minus"></i></button>
                  </div>
                </div>
              </div>
              <div class="row" id="{{'contentToggle_roomview_' + item1.id}}">
                <ng-container *ngIf="scheduleTests != null">
                  <ng-container *ngIf="searchText == '' || searchText == null; else searchResult">
                    <ng-container *ngFor="let item of scheduleTests">
                      <ng-container *ngIf="item.sctE_SHIID == item1.id">
                        <div class="col-3 my-3">
                          <div class="row px-3">
                            <div class="col-12 border rounded">
                              <div class="row py-2">
                                <div class="col-8">
                                  <h5 class="font-weight-bold mb-0">Phòng thi {{item.labs.laB_NAME}}</h5>
                                </div>
                                <div class="col text-right">
                                  <ng-container
                                    *ngIf="item.labs.labScheduleStatus == 1 || item.labs.labScheduleStatus == 4; else unlock">
                                    <span class="text-secondary"><i class="fa fa-lock"></i></span>
                                  </ng-container>
                                  <ng-template #unlock>
                                    <span class="text-success"><i class="fa fa-unlock"></i></span>
                                  </ng-template>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-12">
                                  <hr>
                                </div>
                                <div class="col-12">
                                  <span
                                    class="text-uppercase font-weight-bold">{{item.tests.test_Types.tetY_NAME}}</span>
                                </div>
                                <div class="col-12">
                                  <span><strong>Môn:</strong> {{item.tests.subjects.suB_NAME}}</span>
                                </div>
                                <div class="col-12">
                                  <span><strong>Thời gian:</strong> {{item.testShifts.shI_NAME}}
                                    ({{"2020-06-22 " + item.testShifts.shI_TIMESTART | date: 'shortTime'}} -
                                    {{item.testShifts.timeEnd}})</span>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-12">
                                  <hr>
                                </div>
                                <div class="col-12 text-right">
                                  <ng-container *ngIf="item.labs.labScheduleStatus == 1">
                                    <span class="text-secondary float-left">Đang chờ</span>
                                  </ng-container>
                                  <ng-container *ngIf="item.labs.labScheduleStatus == 2">
                                    <span class="text-success float-left">Đã mở</span>
                                  </ng-container>
                                  <ng-container *ngIf="item.labs.labScheduleStatus == 3">
                                    <span class="text-danger float-left">Đang thi</span>
                                  </ng-container>
                                  <ng-container *ngIf="item.labs.labScheduleStatus == 4">
                                    <span class="text-secondary float-left">Đã kết thúc</span>
                                  </ng-container>
                                  <button type="button" placement="auto" id="button_listStudent"
                                    title="Xem danh sách sinh viên" class="btn btn-sm btn-outline-success"
                                    [popover]="listStudent" popoverTitle="Danh sách sinh viên"
                                    (click)="loadListStudent(item.id)">
                                    <i class="fa fa-user-circle"></i>
                                  </button>
                                  <ng-template #listStudent>
                                    <div class="row" [innerHTML]="listStudentHTML"></div>
                                  </ng-template>
                                  <!-- <button class="btn btn-sm btn-primary" (click)="joinRoom(item.id)"
                                    [disabled]="item.labs.labScheduleStatus == 4 || item.labs.labScheduleStatus == 3" title="Vào phòng thi"><i
                                      class="fa fa-sign-in"></i></button> -->
                                  <button class="btn btn-sm btn-primary" (click)="joinRoom(item.id)"
                                    title="Vào phòng thi"><i class="fa fa-sign-in"></i></button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <ng-template #searchResult>
                    <ng-container *ngFor="let item of scheduleTests">
                      <ng-container *ngIf="item.sctE_SHIID == item1.id && item.labs.laB_NAME.includes(searchText)">
                        <div class="col-3 my-3">
                          <div class="row px-3">
                            <div class="col-12 border rounded">
                              <div class="row py-2">
                                <div class="col-8">
                                  <h5 class="font-weight-bold mb-0">Phòng thi {{item.labs.laB_NAME}}</h5>
                                </div>
                                <div class="col text-right">
                                  <ng-container
                                    *ngIf="item.labs.labScheduleStatus == 1 || item.labs.labScheduleStatus == 4; else unlock">
                                    <span class="text-secondary"><i class="fa fa-lock"></i></span>
                                  </ng-container>
                                  <ng-template #unlock>
                                    <span class="text-success"><i class="fa fa-unlock"></i></span>
                                  </ng-template>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-12">
                                  <hr>
                                </div>
                                <div class="col-12">
                                  <span
                                    class="text-uppercase font-weight-bold">{{item.tests.test_Types.tetY_NAME}}</span>
                                </div>
                                <div class="col-12">
                                  <span><strong>Môn:</strong> {{item.tests.subjects.suB_NAME}}</span>
                                </div>
                                <div class="col-12">
                                  <span><strong>Thời gian:</strong> {{item.testShifts.shI_NAME}}
                                    ({{"2020-06-22 " + item.testShifts.shI_TIMESTART | date: 'shortTime'}} -
                                    {{item.testShifts.timeEnd}})</span>
                                </div>
                                <div class="w-100"></div>
                                <div class="col-12">
                                  <hr>
                                </div>
                                <div class="col-12 text-right">
                                  <ng-container *ngIf="item.labs.labScheduleStatus == 1">
                                    <span class="text-secondary float-left">Đang chờ</span>
                                  </ng-container>
                                  <ng-container *ngIf="item.labs.labScheduleStatus == 2">
                                    <span class="text-success float-left">Đã mở</span>
                                  </ng-container>
                                  <ng-container *ngIf="item.labs.labScheduleStatus == 3">
                                    <span class="text-danger float-left">Đang thi</span>
                                  </ng-container>
                                  <ng-container *ngIf="item.labs.labScheduleStatus == 4">
                                    <span class="text-secondary float-left">Đã kết thúc</span>
                                  </ng-container>
                                  <button type="button" placement="auto" id="button_listStudent"
                                    title="Xem danh sách sinh viên" class="btn btn-sm btn-outline-success"
                                    [popover]="listStudent" popoverTitle="Danh sách sinh viên"
                                    (click)="loadListStudent(item.id)">
                                    <i class="fa fa-user-circle"></i>
                                  </button>
                                  <ng-template #listStudent>
                                    <div class="row" [innerHTML]="listStudentHTML"></div>
                                  </ng-template>
                                  <button class="btn btn-sm btn-primary" (click)="joinRoom(item.id)"
                                    [disabled]="item.labs.labScheduleStatus == 4" title="Vào phòng thi"><i
                                      class="fa fa-sign-in"></i></button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-template>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <ng-container *ngIf="isHaveItem == false">
          <div class="col-12 mt-3 text-center">
            <span>Không tìm thấy phòng thi <em>"{{searchText}}"</em>!</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalConfirmBox="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">Thông báo xác nhận</h5>
        <button type="button" class="close pull-right close_modal_roomview_confirm" aria-label="Close"
          (click)="modalConfirmBox.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <div class="col-12">
            <span id="confirmText" class="text-warning"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="comfirmJoinRoom()" class="btn btn-success" id="save_modal_roomview_confirm"><i
            class="fa fa-check"></i>
          Có</button>
        <button type="button" (click)="modalConfirmBox.hide()" class="btn btn-danger close_modal_roomview_confirm"><i
            class="fa fa-times"></i>
          Không</button>
      </div>
    </div>
  </div>
</div>
