<app-header [navbarBrandRouterLink]="['/info_user']" [fixed]="true"
  [navbarBrandFull]="{ width: 50, height: 50, alt: 'App Logo'}"
  [navbarBrandMinimized]="{ width: 30, height: 30, alt: 'App Logo'}" [sidebarToggler]="'lg'" [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false" style="height: auto;">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none mr-3" style="z-index: -999;">
      Xin chào, <span class="text-info" id="text_username"></span>
    </li>
    <li class="nav-item dropdown" data-toggle="dropdown" placement="bottom right">
      <a class="nav-link" href="#" (click)="toggleUserManager($event)">
        <img id="ava_icon" src="assets/img/default_avatar.png" alt="Quản lý tài khoản" width="40px" height="40px"
          class="img-fluid rounded-circle bg-white border">
      </a>

      <div class="dropdown-menu dropdown-menu-right" style="margin-top: -23px;margin-right: 5px;z-index: -998;">
        <div class="dropdown-header text-center" style="margin-top: -8px;"><strong>Tài khoản</strong></div>
        <a class="dropdown-item" href="#" [routerLink]="['/info_user']">
          <i class="fa fa-user"></i> Thông tin</a>
        <a class="dropdown-item" href="#" (click)="OpenModalChangePassword($event)">
          <i class="fa fa-key"></i> Đổi mật khẩu</a>
        <a class="dropdown-item" href="#" (click)="Logout()">
          <i class="fa fa-sign-out"></i> Đăng xuất</a>
      </div>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link nofication-style" data-toggle="dropdown" href="#" (click)="openMessageDropdown($event)">
        <i class="fa fa-bell-o"></i>
        <span class="badge badge-pill badge-danger" [ngClass]="{'d-none': nofication_count <= 0}" id="nofication_count">
          {{nofication_count}}
        </span>
      </a>

      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" style="width: 400px;">
        <ng-container *ngIf="nofications != null && nofications[0] == null">
          <div class="dropdown-header text-center" style="margin-top: -8px;"><strong>Thông báo trước đó</strong></div>
          <div class="message p-2">
            <div class="small text-muted">
              Không có thông báo nào!
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isHaveNewNof == true">
          <div class="dropdown-header text-center" style="margin-top: -8px;"><strong>Thông báo mới</strong></div>
        </ng-container>
        <ng-container *ngIf="nofications != null">
          <ng-container *ngFor="let item of nofications">
            <ng-container *ngIf="item.noF_STATUS == 1">
              <a class="dropdown-item" href="#" [routerLink]="[item.noF_LINK]" [queryParams]="{id: item.noF_PARAM}">
                <div class="message">
                  <div class="py-3 mr-3 float-left">
                    <div class="avatar">
                      <ng-container *ngIf="item.userCreated != null">
                        <img class="avatar-img border" src="{{item.userCreated.employees[0].fileUrl}}"
                          alt="{{item.userCreated.employees[0].emP_LASTNAME}} {{item.userCreated.employees[0].emP_FIRSTNAME}}">
                      </ng-container>
                      <!-- <span class="avatar-status bg-success"></span> -->
                    </div>
                  </div>
                  <div>
                    <small class="text-muted">
                      <ng-container *ngIf="item.userCreated != null">
                        {{item.userCreated.employees[0].emP_LASTNAME}}
                        {{item.userCreated.employees[0].emP_FIRSTNAME}}
                      </ng-container>
                    </small>
                    <small class="text-muted float-right mt-1">
                      {{item.timeSpan}}
                    </small>
                  </div>
                  <div class="text-truncate font-weight-bold">
                    {{item.noF_TITLE}}
                  </div>
                  <div class="small text-muted text-truncate">
                    {{item.noF_CONTENT}}
                  </div>
                </div>
              </a>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="isHaveOldNof == true">
          <div class="dropdown-header text-center mt-auto" style="margin-top: -8px;"><strong>Thông báo trước đó</strong></div>
        </ng-container>
        <ng-container *ngIf="nofications != null">
          <ng-container *ngFor="let item of nofications">
            <ng-container *ngIf="item.noF_STATUS == 0">
              <a class="dropdown-item" href="#" [routerLink]="[item.noF_LINK]" [queryParams]="{id: item.noF_PARAM}">
              <!-- <a class="dropdown-item" href="#" [routerLink]="['/test']" [queryParams]="{tesid: '15'}">-->
                <div class="message">
                  <div class="py-3 mr-3 float-left">
                    <div class="avatar">
                      <ng-container *ngIf="item.userCreated != null">
                        <img class="avatar-img border" src="{{item.userCreated.employees[0].fileUrl}}"
                          alt="{{item.userCreated.employees[0].emP_LASTNAME}} {{item.userCreated.employees[0].emP_FIRSTNAME}}">
                      </ng-container>
                      <!-- <span class="avatar-status bg-success"></span> -->
                    </div>
                  </div>
                  <div>
                    <small class="text-muted">
                      <ng-container *ngIf="item.userCreated != null">
                        {{item.userCreated.employees[0].emP_LASTNAME}}
                        {{item.userCreated.employees[0].emP_FIRSTNAME}}
                      </ng-container>
                    </small>
                    <small class="text-muted float-right mt-1">
                      {{item.timeSpan}}
                    </small>
                  </div>
                  <div class="text-truncate font-weight-bold">
                    {{item.noF_TITLE}}
                  </div>
                  <div class="small text-muted text-truncate">
                    {{item.noF_CONTENT}}
                  </div>
                </div>
              </a>
            </ng-container>
          </ng-container>
        </ng-container>
        <a class="dropdown-item text-center border-top text-black-50" href="#" [routerLink]="['/nofication']">
          <strong>Xem tất cả thông báo</strong>
        </a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body" style="margin-top: 70px;">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized" class="menu-left">
    </app-sidebar-nav>
    <app-sidebar-minimizer class="menu-left" style="flex: 0 0 65px;"></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <cui-breadcrumb class="breadcrumb-custom">
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.container-fluid -->
  </main>
</div>
<app-footer class="modal-custom-bg">
  <span class="ml-auto text-dark">Nguyễn Hoàng Tân
    <i class="fa fa-copyright"></i> 2019 - 2020</span>
</app-footer>

<div bsModal #modalChangePassword="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Đổi mật khẩu</h5>
        <button type="button" class="close pull-right close_modal_CP_upd" aria-label="Close"
          (click)="modalChangePassword.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" (keydown.enter)="ChangePassword()">
        <div class="form-group row">
          <label class="col-sm-6 col-form-label font-weight-bold">Mật khẩu cũ:</label>
          <div class="col-sm-6">
            <input [(ngModel)]="changePasswordRequest.oldPassword" id="field_CP_1" class="form-control"
              placeholder="Mật khẩu cũ..." (blur)="validate_CP_oldpassword()" type="password">
            <span id="valid_mes_CP_1" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label font-weight-bold">Mật khẩu mới:</label>
          <div class="col-sm-6">
            <input [(ngModel)]="changePasswordRequest.newPassword" id="field_CP_2" class="form-control"
              placeholder="Mật khẩu mới..." (blur)="validate_CP_newpassword()" type="password">
            <span id="valid_mes_CP_2" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label font-weight-bold">Xác nhận mật khẩu mới:</label>
          <div class="col-sm-6">
            <input id="field_CP_3" class="form-control" placeholder="Xác nhận mật khẩu mới..."
              (blur)="validate_CP_confirmnewpassword()" type="password">
            <span id="valid_mes_CP_3" class="invalid-feedback"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalChangePassword.hide()" class="btn btn-danger close_modal_CP_upd"><i
            class="fa fa-times"></i> Thoát</button>
        <button type="button" (click)="ChangePassword()" id="save_modal_CP_upd" class="btn btn-success"><i
            class="fa fa-check"></i> OK</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalConfirmLayout="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Thông báo</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalConfirmLayout.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="message_layout"></span>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalConfirmLayout.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Không</button>
        <button type="button" (click)="Logout()" class="btn btn-success"><i class="fa fa-check"></i> Có</button>
      </div>
    </div>
  </div>
</div>
