<div id="body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-center ">
          <!-- <h3 class="text-center d-inline mx-auto align-middle">DANH SÁCH NGƯỜI DÙNG</h3>
          <a href="#" class="btn btn-primary position-absolute ml-1" style="left: 0.7rem;"
            (click)="showModalemp($event)">
            <i class="fa fa-plus-circle"></i>
            Thêm nhân viên
          </a>
          <a href="#" class="btn btn-primary position-absolute ml-1" style="left: 10.7rem;"
            (click)="showModalstu($event)">
            <i class="fa fa-plus-circle"></i>
            Thêm học viên
          </a> -->
          <div class="col-6 text-left">
            <h3 class="text-center d-inline mx-auto">DANH SÁCH NGƯỜI DÙNG</h3>
          </div>
          <div class="col-6 text-right">
            <a href="#" class="btn btn-primary ml-1" (click)="showModalemp($event)">
              <i class="fa fa-plus-circle"></i>
              Thêm nhân viên
            </a>
            <a href="#" class="btn btn-primary ml-1" (click)="showModalstu($event)">
              <i class="fa fa-plus-circle"></i>
              Thêm học viên
            </a>
            <a href="#" class="btn btn-success ml-1" title="Xuất excel danh sách tài khoản" (click)="export($event)">
              <i class="fa fa-file-excel-o "></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 mt-2">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="table table-bordered table-striped table-hover myTable">
          <tfoot>
            <tr>
              <th><input style="display: none;" type="text" name="search-check" />
              </th>
              <th><input type="text" name="search-id" />
              </th>
              <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại khóa học" name="search-stt" />
              </th>
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text" placeholder="Tìm kiếm họ"
                  name="search-first-name" /></th>
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm tên" name="search-last-name" /></th>
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm giới tính" name="search-gender" /></th>
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm số điện thoại" name="search-phone" /></th>
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm tên tài khoản" name="search-username" /></th>
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm nhóm quyền" name="search-permission" /></th>
              <th><input style="display: none;" type="text" placeholder="Search first name" name="search-status" /></th>
              <th><input style="display: none;" type="text" placeholder="Search first name" name="search-option" /></th>
            </tr>
          </tfoot>
          <thead>
            <tr class="text-center table-custom-bg">
              <th class="select-checkbox toggle-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
              <th></th>
              <th>#</th>
              <th>Họ</th>
              <th style="width: 9%;">Tên</th>
              <th style="width: 11%;">Giới tính</th>
              <th style="width: 13%;">Số điện thoại</th>
              <th>Tên tài khoản</th>
              <th style="width: 13%;">Nhóm quyền</th>
              <th>Kích hoạt</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="text-center">
            <ng-container *ngFor="let item of users; let i = index">
              <tr>
                <td></td>
                <td>{{item.id}}</td>
                <td>{{i+1}}</td>
                <ng-container *ngIf="item.employee[0] != null; else student">
                  <td>{{item.employee[0].emP_LASTNAME}}</td>
                  <td>{{item.employee[0].emP_FIRSTNAME}}</td>
                  <td>
                    <ng-container *ngIf="item.employee[0].emP_GENDER; else Female">Nam</ng-container>
                    <ng-template #Female>Nữ</ng-template>
                  </td>
                  <td>{{item.employee[0].emP_PHONE}}</td>
                </ng-container>
                <ng-template #student>
                  <td>{{item.student[0].stU_LASTNAME}}</td>
                  <td>{{item.student[0].stU_FIRSTNAME}}</td>
                  <td>
                    <ng-container *ngIf="item.student[0].stU_GENDER; else Female">Nam</ng-container>
                    <ng-template #Female>Nữ</ng-template>
                  </td>
                  <td>{{item.student[0].stU_PHONE}}</td>
                </ng-template>
                <td id="{{'name_' + item.id}}">{{item.username}}</td>
                <td>
                  <ng-container *ngFor="let item1 of item.list_per; let j = index">
                    <ng-container *ngIf="j == 0; else multiPer">
                      {{item1.permissions.peR_NAME}}
                    </ng-container>
                    <ng-template #multiPer>
                      ,&nbsp;{{item1.permissions.peR_NAME}}
                    </ng-template>
                  </ng-container>
                </td>
                <ng-container *ngIf="item.status == true; else checkoff">
                  <td>
                    <!-- <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="{{'ckb_' + item.id}}" checked disabled>
                      <label class="custom-control-label" for="{{'ckb_' + item.id}}"></label>
                    </div> -->
                    <label class="switch switch-label switch-pill switch-warning">
                      <input type="checkbox" class="switch-input" checked disabled>
                      <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
                  </td>
                </ng-container>
                <ng-template #checkoff>
                  <td>
                    <!-- <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="{{'ckb_' + item.id}}" disabled>
                      <label class="custom-control-label" for="{{'ckb_' + item.id}}"></label>
                    </div> -->
                    <label class="switch switch-label switch-pill switch-warning">
                      <input type="checkbox" class="switch-input" disabled>
                      <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
                  </td>
                </ng-template>
                <td>
                  <ng-container *ngIf="item.employee[0] != null; else studentButton">
                    <a href="#" class="btn btn-success btn-sm" title="Xem thông tin nhân viên"
                      (click)="showDetailsemp($event, item.id)">
                      <i class="fa fa-eye"></i>
                    </a>
                    <a href="#" class="btn btn-warning btn-sm" title="Chỉnh sửa thông tin nhân viên"
                      (click)="showModalemp($event, item.id)">
                      <i class="fa fa-pencil-square-o"></i>
                    </a>
                  </ng-container>
                  <ng-template #studentButton>
                    <a href="#" class="btn btn-success btn-sm" title="Xem thông tin học viên"
                      (click)="showDetailsstu($event, item.id)">
                      <i class="fa fa-eye"></i>
                    </a>
                    <a href="#" class="btn btn-warning btn-sm" title="Chỉnh sửa thông tin học viên"
                      (click)="showModalstu($event, item.id)">
                      <i class="fa fa-pencil-square-o"></i>
                    </a>
                  </ng-template>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- employee -->
<div bsModal #modalemp="bs-modal" class="modal right fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h4 class="modal-title pull-left"><span id="modal_title"></span></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalemp.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Tên tài khoản:</label>
          <div class="col-sm-9">
            <input [(ngModel)]="user.usE_USERNAME" id="field_1" class="form-control" placeholder="Tên tài khoản..."
              (blur)="validate_use_username('')" [disabled]="user.id > 0">
            <span id="valid_mes_1" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Mật khẩu:</label>
          <!-- <ng-container *ngIf="user.id == 0"> -->
          <div class="col-sm-9">
            <input [(ngModel)]="user.usE_PASSWORD" id="field_2" class="form-control" placeholder="Mật khẩu..."
              (blur)="validate_use_password('')" type="password" [disabled]="user.id > 0">
            <span id="valid_mes_2" class="invalid-feedback"></span>
          </div>
          <!-- </ng-container>
          <ng-container *ngIf="user.id > 0">
            <div class="col-sm-9">
              <input [(ngModel)]="user.usE_PASSWORD" id="field_2" class="form-control" placeholder="Mật khẩu..."
                (blur)="validate_use_password('')" type="password" disabled>
              <span id="valid_mes_2" class="invalid-feedback"></span>
            </div>
          </ng-container> -->
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Xác nhận mật khẩu:</label>
          <!-- <ng-container *ngIf="user.id == 0"> -->
          <div class="col-sm-9">
            <input id="field_3" class="form-control" placeholder="Xác nhận mật khẩu..."
              (blur)="validate_use_cfpassword('')" type="password" [disabled]="user.id > 0">
            <span id="valid_mes_3" class="invalid-feedback"></span>
          </div>
          <!-- </ng-container>
          <ng-container *ngIf="user.id > 0">
            <div class="col-sm-9">
              <input id="field_3" class="form-control" placeholder="Xác nhận mật khẩu..."
                (blur)="validate_use_cfpassword('')" type="password" disabled>
              <span id="valid_mes_3" class="invalid-feedback"></span>
            </div>
          </ng-container> -->
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Họ và tên:</label>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-8">
                <input [(ngModel)]="employee.emP_LASTNAME" id="field_4" class="form-control" placeholder="Họ tên lót..."
                  (blur)="validate_use_firstname('')">
                <span id="valid_mes_4" class="invalid-feedback"></span>
              </div>
              <div class="col-4 pl-0">
                <input [(ngModel)]="employee.emP_FIRSTNAME" id="field_5" class="form-control" placeholder="Tên..."
                  (blur)="validate_use_lastname('')">
                <span id="valid_mes_5" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Giới tính:</label>
          <div class="col-sm-9">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                [(ngModel)]="employee.emP_GENDER" [value]="true">
              <label class="custom-control-label" for="customRadio1">Nam</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadio2" name="customRadio" [(ngModel)]="employee.emP_GENDER"
                class="custom-control-input" [value]="false">
              <label class="custom-control-label" for="customRadio2">Nữ</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Ngày sinh:</label>
          <div class="col-sm-9">
            <input class="form-control d-inline w-25" #dp="bsDatepicker" bsDatepicker [maxDate]="maxDate"
              [(ngModel)]="date" id="field_99" (blur)="validate_use_DOB('')" placeholder="Ngày sinh..."
              (ngModelChange)="validate_use_DOB('')" (keydown)="onKeydown($event)" (ngModelChange)="clickDOB()"
              [bsConfig]="{ adaptivePosition: true, isAnimated: true, containerClass: 'theme-orange', dateInputFormat: 'DD/MM/YYYY' }"
              (scroll)="dp_hide()">
            <span id="valid_mes_99" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Số điện thoại:</label>
          <div class="col-sm-9">
            <input id="field_6" class="form-control" [(ngModel)]="employee.emP_PHONE" placeholder="Vui lòng nhập mã vùng cho số điện thoại bàn..."
              (blur)="validate_use_phone('')">
            <span id="valid_mes_6" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Số CMND:</label>
          <div class="col-sm-9">
            <input type="text" id="field_20" class="form-control" [(ngModel)]="employee.emP_IDENTITY"
              placeholder="Số chứng minh thư..." (blur)="validate_use_identity('')">
            <span id="valid_mes_20" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Địa chỉ:</label>
          <div class="col-sm-9">
            <textarea class="form-control" [(ngModel)]="employee.emP_ADDRESS" placeholder="Địa chỉ..." cols="30"
              rows="4" style="resize: none;" id="field_98" (blur)="validate_use_address('')"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Email:</label>
          <div class="col-sm-9">
            <input id="field_7" type="email" class="form-control" [(ngModel)]="employee.emP_EMAIL"
              placeholder="Email..." (blur)="validate_use_email('')">
            <span id="valid_mes_7" class="invalid-feedback"></span>
          </div>
        </div>
        <!-- <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Kích hoạt:</label>
          <div class="col-sm-9">
            <ng-container *ngIf="user.usE_STATUS == 1">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="field_8" checked>
                <label class="custom-control-label" for="field_8"></label>
              </div>
            </ng-container>
            <ng-container *ngIf="user.usE_STATUS == 0">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="field_8">
                <label class="custom-control-label" for="field_8"></label>
              </div>
            </ng-container>
          </div>
        </div> -->
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Chức vụ:</label>
          <div class="col-sm-9">
            <!-- <ng-select bindLabel="name" placeholder="Chọn chức vụ" appendTo="body" multiple="true" [searchable]="true"
              [clearable]="true" [(ngModel)]="list_pos" (blur)="validate_emp_pos('')" id="field_000">
              <ng-container *ngFor="let item1 of positions">
                <ng-container *ngIf="item1.poS_ISALLOWUSER == true">
                  <ng-option [value]="item1.id">
                    {{item1.poS_NAME}}
                  </ng-option>
                </ng-container>
              </ng-container>
            </ng-select> -->
            <ng-select bindLabel="name" placeholder="Chọn chức vụ" [(ngModel)]="list_pos[0]"
              (blur)="validate_emp_pos('')" id="field_000">
              <ng-container *ngFor="let item1 of positions">
                <ng-container *ngIf="item1.poS_ISALLOWUSER == true && item1.poS_STATUS == true">
                  <ng-option [value]="item1.id">
                    {{item1.poS_NAME}}
                  </ng-option>
                </ng-container>
              </ng-container>
            </ng-select>
            <span id="valid_mes_000" class="invalid-feedback" style="display: block;"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Trạng thái:</label>
          <div class="col-sm-9">
            <select id="field_77" class="form-control" [(ngModel)]="employee.emP_STATUS"
              (blur)="validate_emp_status('')">
              <option value="1" class="text-success">Đang làm việc</option>
              <option value="0" class="text-danger">Đã nghỉ việc</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Nhóm quyền:</label>
          <div class="col-sm-9">
            <!-- <select [(ngModel)]="list_per" class="form-control d-inline" (blur)="validate_use_per('')" id="field_9">
              <ng-container *ngFor="let item1 of permissions">
                <ng-container *ngIf="item1.id != 4">
                  <option [value]="item1.id">
                    {{item1.peR_NAME}}
                  </option>
                </ng-container>
              </ng-container>
            </select> -->
            <!-- <ng-select bindLabel="name" placeholder="Chọn nhóm quyền" appendTo="body" multiple="true"
              [searchable]="true" [clearable]="true" [(ngModel)]="list_per" (blur)="validate_use_per('')" id="field_9">
              <ng-container *ngFor="let item1 of permissions">
                <ng-container *ngIf="item1.id != 4">
                  <ng-option [value]="item1.id">
                    {{item1.peR_NAME}}
                  </ng-option>
                </ng-container>
              </ng-container>
            </ng-select> -->
            <ng-select bindLabel="name" placeholder="Chọn nhóm quyền" [(ngModel)]="list_per[0]" [disabled]="disabled"
              (blur)="validate_use_per('')" id="field_9">
              <ng-container *ngFor="let item1 of permissions">
                <ng-container *ngIf="item1.id != 4">
                  <ng-option [value]="item1.id">
                    {{item1.peR_NAME}}
                  </ng-option>
                </ng-container>
              </ng-container>
            </ng-select>
            <span id="valid_mes_9" class="invalid-feedback" style="display: block;"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Ảnh đại diện:</label>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-6">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="field_10" (change)="onSelectFile($event,'')">
                  <label class="custom-file-label" for="field_10" id="label_field_10">Tải ảnh lên</label>
                </div>
              </div>
              <div class="col-6">
                <img [src]="_DomSanitizer.bypassSecurityTrustUrl(url)" class="img-fluid border">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalemp.hide()" class="btn btn-secondary">Thoát</button>
        <button type="button" (click)="saveemp()" class="btn btn-warning" id="button_modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalViewemp="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h4 class="modal-title pull-left">Thông tin nhân viên</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalViewemp.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row" id="course_box">
            <div class="col-3">
              <div class="row">
                <div class="col-12 border rounded bg-light px-0">
                  <img [src]="_DomSanitizer.bypassSecurityTrustUrl(employee.emP_IMAGE)" alt=""
                    class="img-fluid rounded-top bg-white">
                  <div class="row px-2">
                    <div class="col-12">
                      <div class="border-top px-3"></div>
                      <h5 class="font-weight-bold text-danger mt-2">Tài khoản {{user.usE_USERNAME}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-9">
              <div class="row pl-2">
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-3 offset-1 font-weight-bold">Họ và tên:</div>
                    <div class="col-8">{{employee.emP_LASTNAME}} {{employee.emP_FIRSTNAME}}</div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-3 offset-1 font-weight-bold">Ngày sinh:</div>
                    <div class="col-8">{{employee.emP_DATEOFBIRTH | date:'dd/MM/yyyy'}}</div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-3 offset-1 font-weight-bold">Giới tính:</div>
                    <div class="col-8">
                      <ng-container *ngIf="employee.emP_GENDER == true; else Female">
                        Nam
                      </ng-container>
                      <ng-template #Female>
                        Nữ
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-3 offset-1 font-weight-bold">Số điện thoại:</div>
                    <div class="col-8"><a href="{{'tel:' + employee.emP_PHONE}}">{{employee.emP_PHONE}}</a></div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-3 offset-1 font-weight-bold">Số CMND:</div>
                    <div class="col-8">{{employee.emP_IDENTITY}}</div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-3 offset-1 font-weight-bold">Địa chỉ:</div>
                    <div class="col-8">{{employee.emP_ADDRESS}}</div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-3 offset-1 font-weight-bold">Email:</div>
                    <div class="col-8"><a href="{{'mailto:' + employee.emP_EMAIL}}">{{employee.emP_EMAIL}}</a></div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-3 offset-1 font-weight-bold">Chức vụ:</div>
                    <div class="col-8">
                      <ng-container *ngFor="let item of employee_positions; let i = index">
                        <ng-container *ngIf="i == 0; else Child">
                          {{item.positions.poS_NAME}}
                        </ng-container>
                        <ng-template #Child>
                          , {{item.positions.poS_NAME}}
                        </ng-template>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-3 offset-1 font-weight-bold">Trạng thái:</div>
                    <div class="col-8">
                      <ng-container *ngIf="employee.emP_STATUS == 1;else quit">
                        <span class="text-success font-weight-bold">Đang làm việc</span>
                      </ng-container>
                      <ng-template #quit>
                        <span class="text-danger font-weight-bold">Đã nghỉ việc</span>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-3 offset-1 font-weight-bold">Trạng thái tài khoản:</div>
                    <div class="col-8">
                      <ng-container *ngIf="user.usE_STATUS == 1; else Block">
                        <span class="text-success font-weight-bold">Đang hoạt động</span>
                      </ng-container>
                      <ng-template #Block>
                        <span class="text-danger font-weight-bold">Khóa</span>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-3 offset-1 font-weight-bold">Nhóm quyền:</div>
                    <div class="col-8">
                      <ng-container *ngFor="let item of user_permissions; let i = index">
                        <ng-container *ngIf="i == 0; else Child">
                          {{item.permissions.peR_NAME}}
                        </ng-container>
                        <ng-template #Child>
                          , {{item.permissions.peR_NAME}}
                        </ng-template>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="offset-1 col-11 px-3 mt-2">
                  <p class="text-secondary mb-0" id="create_box" style="display: none;"><em>Tạo bởi <span
                        class="text-danger" id="emp_create"></span> -
                      {{user.usE_CREATEDATE | date:'dd/MM/yyyy'}}</em></p>
                  <p id="modified_box" style="display: none;"><em>Chỉnh sửa lần cuối bởi <span class="text-danger"
                        id="emp_modified"></span> - {{employee.emP_MODIFIEDDATE | date:'dd/MM/yyyy'}}</em></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer mt-3">
          <button type="button" (click)="modalViewemp.hide()" class="btn btn-secondary">Thoát</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- student -->
<div bsModal #modalstu="bs-modal" class="modal right fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h4 class="modal-title pull-left"><span id="modal_title_stu"></span></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalstu.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Tên tài khoản:</label>
          <div class="col-sm-9">
            <input [(ngModel)]="user.usE_USERNAME" id="field_11" class="form-control" placeholder="Tên tài khoản..."
              (blur)="validate_use_username('1')" [disabled]="user.id > 0">
            <span id="valid_mes_11" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Mật khẩu:</label>
          <!-- <ng-container *ngIf="user.id == 0"> -->
          <div class="col-sm-9">
            <input [(ngModel)]="user.usE_PASSWORD" id="field_21" class="form-control" placeholder="Mật khẩu..."
              (blur)="validate_use_password('1')" type="password" [disabled]="user.id > 0">
            <span id="valid_mes_21" class="invalid-feedback"></span>
          </div>
          <!-- </ng-container>
          <ng-container *ngIf="user.id > 0">
            <div class="col-sm-9">
              <input [(ngModel)]="user.usE_PASSWORD" id="field_21" class="form-control" placeholder="Mật khẩu..."
                (blur)="validate_use_password('1')" type="password" disabled>
              <span id="valid_mes_21" class="invalid-feedback"></span>
            </div>
          </ng-container> -->
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Xác nhận mật khẩu:</label>
          <!-- <ng-container *ngIf="user.id == 0"> -->
          <div class="col-sm-9">
            <input id="field_31" class="form-control" placeholder="Xác nhận mật khẩu..."
              (blur)="validate_use_cfpassword('1')" type="password" [disabled]="user.id > 0">
            <span id="valid_mes_31" class="invalid-feedback"></span>
          </div>
          <!-- </ng-container>
          <ng-container *ngIf="user.id > 0">
            <div class="col-sm-9">
              <input id="field_31" class="form-control" placeholder="Xác nhận mật khẩu..."
                (blur)="validate_use_cfpassword('1')" type="password" disabled>
              <span id="valid_mes_31" class="invalid-feedback"></span>
            </div>
          </ng-container> -->
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Họ và tên:</label>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-8">
                <input [(ngModel)]="student.stU_LASTNAME" id="field_41" class="form-control" placeholder="Họ tên lót..."
                  (blur)="validate_use_firstname('1')">
                <span id="valid_mes_41" class="invalid-feedback"></span>
              </div>
              <div class="col-4 pl-0">
                <input [(ngModel)]="student.stU_FIRSTNAME" id="field_51" class="form-control" placeholder="Tên..."
                  (blur)="validate_use_lastname('1')">
                <span id="valid_mes_51" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Giới tính:</label>
          <div class="col-sm-9">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadio3" name="customRadio1" class="custom-control-input"
                [(ngModel)]="student.stU_GENDER" [value]="true">
              <label class="custom-control-label" for="customRadio3">Nam</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadio4" name="customRadio1" [(ngModel)]="student.stU_GENDER"
                class="custom-control-input" [value]="false">
              <label class="custom-control-label" for="customRadio4">Nữ</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Ngày sinh:</label>
          <div class="col-sm-9">
            <input class="form-control d-inline w-25" #dp="bsDatepicker" bsDatepicker [maxDate]="maxDate"
              [(ngModel)]="date" id="field_991" (blur)="validate_use_DOB('1')" placeholder="Ngày sinh..."
              (ngModelChange)="clickDOB2()" (ngModelChange)="validate_use_DOB('1')" (keydown)="onKeydown($event)"
              [bsConfig]="{ adaptivePosition: true, isAnimated: true, containerClass: 'theme-orange', dateInputFormat: 'DD/MM/YYYY' }"
              (scroll)="dp_hide()">
            <span id="valid_mes_991" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Số điện thoại:</label>
          <div class="col-sm-9">
            <input id="field_61" class="form-control" [(ngModel)]="student.stU_PHONE" placeholder="Vui lòng nhập mã vùng cho số điện thoại bàn..."
              (blur)="validate_use_phone('1')">
            <span id="valid_mes_61" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Địa chỉ:</label>
          <div class="col-sm-9">
            <textarea class="form-control" [(ngModel)]="student.stU_ADDRESS" placeholder="Địa chỉ..." cols="30" rows="4"
              style="resize: none;" id="field_981" (blur)="validate_use_address('1')"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Email:</label>
          <div class="col-sm-9">
            <input id="field_71" type="email" class="form-control" [(ngModel)]="student.stU_EMAIL"
              placeholder="Email..." (blur)="validate_use_email('1')">
            <span id="valid_mes_71" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Kích hoạt:</label>
          <div class="col-sm-9">
            <ng-container *ngIf="user.usE_STATUS == 1">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="field_81" checked>
                <label class="custom-control-label" for="field_81"></label>
              </div>
            </ng-container>
            <ng-container *ngIf="user.usE_STATUS == 0">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="field_81">
                <label class="custom-control-label" for="field_81"></label>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Nhóm quyền:</label>
          <div class="col-sm-9">
            <ng-select bindLabel="name" placeholder="Chọn nhóm quyền" appendTo="body" multiple="true"
              [searchable]="true" [clearable]="true" [(ngModel)]="list_per" (blur)="validate_use_per('1')"
              id="field_91">
              <ng-container *ngFor="let item1 of permissions">
                <ng-container *ngIf="item1.id == 4">
                  <ng-option [value]="item1.id">
                    {{item1.peR_NAME}}
                  </ng-option>
                </ng-container>
              </ng-container>
            </ng-select>
            <!-- <select [(ngModel)]="list_per" class="form-control d-inline" (blur)="validate_use_per('1')" id="field_91">
              <ng-container *ngFor="let item1 of permissions">
                <ng-container *ngIf="item1.id == 4">
                  <option [value]="item1.id">
                    {{item1.peR_NAME}}
                  </option>
                </ng-container>
              </ng-container>
            </select> -->
            <span id="valid_mes_91" class="invalid-feedback" style="display: block;"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label font-weight-bold">Ảnh đại diện:</label>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-6">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="field_101" (change)="onSelectFile($event,'1')">
                  <label class="custom-file-label" for="field_101" id="label_field_7">Tải ảnh lên</label>
                </div>
              </div>
              <div class="col-6">
                <img [src]="_DomSanitizer.bypassSecurityTrustUrl(url)" class="img-fluid border">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalstu.hide()" class="btn btn-secondary">Thoát</button>
        <button type="button" (click)="savestu()" class="btn btn-warning" id="button_modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalViewstu="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h4 class="modal-title pull-left">Thông tin học viên</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalViewstu.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row" id="course_box">
            <div class="col-3">
              <div class="row">
                <div class="col-12 border rounded bg-light px-0">
                  <img [src]="_DomSanitizer.bypassSecurityTrustUrl(student.stU_IMAGE)" alt=""
                    class="img-fluid rounded-top bg-white">
                  <div class="row px-2">
                    <div class="col-12">
                      <div class="border-top px-3"></div>
                      <h5 class="font-weight-bold text-danger mt-2">Tài khoản {{user.usE_USERNAME}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-9">
              <div class="row pl-2">
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-2 offset-1 font-weight-bold">Họ và tên:</div>
                    <div class="col-9">{{student.stU_LASTNAME}} {{student.stU_FIRSTNAME}}</div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-2 offset-1 font-weight-bold">Ngày sinh:</div>
                    <div class="col-9">{{student.stU_DATEOFBIRTH | date:'dd/MM/yyyy'}}</div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-2 offset-1 font-weight-bold">Giới tính:</div>
                    <div class="col-9">
                      <ng-container *ngIf="student.stU_GENDER == true; else Female">
                        Nam
                      </ng-container>
                      <ng-template #Female>
                        Nữ
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-2 offset-1 font-weight-bold">Số điện thoại:</div>
                    <div class="col-9"><a href="{{'tel:' + student.stU_PHONE}}">{{student.stU_PHONE}}</a></div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-2 offset-1 font-weight-bold">Địa chỉ:</div>
                    <div class="col-9">{{student.stU_ADDRESS}}</div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-2 offset-1 font-weight-bold">Email:</div>
                    <div class="col-9"><a href="{{'mailto:' + student.stU_EMAIL}}">{{student.stU_EMAIL}}</a></div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-2 offset-1 font-weight-bold">Trạng thái:</div>
                    <div class="col-9">
                      <ng-container *ngIf="user.usE_STATUS == 1; else Block">
                        <span class="text-success font-weight-bold">Đang hoạt động</span>
                      </ng-container>
                      <ng-template #Block>
                        <span class="text-danger font-weight-bold">Khóa</span>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="col-2 offset-1 font-weight-bold">Nhóm quyền:</div>
                    <div class="col-9">
                      <ng-container *ngFor="let item of user_permissions; let i = index">
                        <ng-container *ngIf="i == 0; else Child">
                          {{item.permissions.peR_NAME}}
                        </ng-container>
                        <ng-template #Child>
                          , {{item.permissions.peR_NAME}}
                        </ng-template>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="offset-1 col-11 px-3 mt-2">
                  <p class="text-secondary mb-0" id="create_box1" style="display: none;"><em>Tạo bởi <span
                        class="text-danger" id="emp_create1"></span> -
                      {{user.usE_CREATEDATE | date:'dd/MM/yyyy'}}</em></p>
                  <p class="text-secondary" id="modified_box1" style="display: none;"><em>Chỉnh sửa lần cuối bởi <span
                        class="text-danger" id="emp_modified1"></span> -
                      {{student.stU_MODIFIEDDATE | date:'dd/MM/yyyy'}}</em></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer mt-3">
          <button type="button" (click)="modalViewstu.hide()" class="btn btn-secondary">Thoát</button>
        </div>
      </div>
    </div>
  </div>
</div>
