<div id="body">
  <!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-10 text-left">
          <h3 class="text-center d-inline mx-auto">DANH SÁCH NIÊN KHÓA</h3>
        </div>
        <div class="col-2 text-right">
          <ng-container *ngIf="scye_add == true">
            <button class="btn btn-primary btn-sm ml-1" (click)="openModal()">
              <i class="fa fa-plus-circle"></i>
            </button>
          </ng-container>
          <!-- <button class="btn btn-danger btn-sm ml-1" (click)="openModalDeleteMul()">
              <i class="fa fa-trash"></i>
            </button> -->
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped table-hover">
        <tfoot>
          <tr>
            <!-- <th><input style="display: none;" type="text" name="search-check" />
            </th>
            <th><input type="text" name="search-id" />
            </th> -->
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm số thứ tự" name="search-stt" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm mã niên khóa" name="search-code" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm năm bắt đầu" name="search-first-name" /></th>
            <!-- <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm trạng thái" name="search-status" /></th> -->
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm trạng thái" name="search-option" />
            </th>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <!-- <th class="select-checkbox toggle-emp-all" (click)="Select_Clear_All()" style="width: 4%;"></th>
            <th></th> -->
            <th>STT</th>
            <th>Mã niên khóa</th>
            <th>Năm bắt đầu</th>
            <th style="min-width: 86px;"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of schoolyears; let i = index">
            <tr>
              <!-- <td></td>
              <td>{{item.id}}</td> -->
              <td>{{i+1}}</td>
              <td>{{item.scyE_CODE}}</td>
              <td>{{item.scyE_STARTYEAR}}</td>
              <td>
                <button class="btn btn-success btn-sm" title="Chi tiết nhân viên" (click)="openModalDetail(item.id)"><i
                    class="fa fa-eye"></i></button>
                <ng-container *ngIf="scye_upd == true">
                  <button class="btn btn-warning btn-sm" title="Cập nhật" (click)="openModal(item.id)"><i
                      class="fa fa-pencil-square-o"></i></button>
                </ng-container>
                <ng-container *ngIf="scye_del == true">
                  <button class="btn btn-danger btn-sm" title="Xóa" (click)="openModalDelete(item.id)"><i
                      class="fa fa-trash"></i></button>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>

<div bsModal #modalDetail="bs-modal" class="modal right fade" tabindex="-1" role="dialog" (onHide)="resetDetailModal()"
  (onHidden)="resetDetailModal()" [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title text-uppercase pull-left">Chi tiết niên khóa</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDetail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row px-3">
          <div class="col-12 px-0">
            <ul class="d-flex nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link nav-link-custom active" (click)="loadTab(1)" id="tab_scye_1" data-toggle="tab"
                  href="#content_scye_1">Thông tin
                  chi tiết</a>
              </li>
              <span class="py-1">
                <div class="border-right">&nbsp;</div>
              </span>
              <ng-container *ngIf="scye_ref == true">
                <li class="nav-item">
                  <a class="nav-link nav-link-custom" (click)="loadTab(2)" id="tab_scye_2" data-toggle="tab"
                    href="#content_scye_2">Danh sách sinh viên
                  </a>
                </li>
                <span class="py-1">
                  <div class="border-right">&nbsp;</div>
                </span>
              </ng-container>
            </ul>
          </div>
          <div class="col-12 px-0 tab-content mt-3 border-0">
            <div class="tab-pane px-0 active" id="content_scye_1">
              <div class="row px-3">
                <ng-container *ngIf="schoolyear != null">
                  <div class="col-6">
                    <p><span class="font-weight-bold">Mã niên khóa: </span> {{schoolyear.scyE_CODE}}</p>
                  </div>
                  <div class="col-6">
                    <p><span class="font-weight-bold">Năm bắt đầu: </span> {{schoolyear.scyE_STARTYEAR}}</p>
                  </div>
                  <!-- </ng-container> -->
                  <div class="col-6 mt-4">
                    <ng-container *ngIf="schoolyear.userCreated != null">
                      <p class="text-secondary mb-0"><em>Tạo bởi
                          <ng-template #usercreated>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{schoolyear.userCreated.employees[0].fileUrl}}"
                                  alt="{{schoolyear.userCreated.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{schoolyear.userCreated.employees[0].emP_CODE}}</p>
                                <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p>
                                                      <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p> -->
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{schoolyear.userCreated.employees[0].emP_LASTNAME}}
                                  {{schoolyear.userCreated.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{schoolyear.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{schoolyear.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + schoolyear.userCreated.employees.emP_PHONE}}">{{schoolyear.userCreated.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{schoolyear.userCreated.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + schoolyear.userCreated.employees.emP_EMAIL}}">{{schoolyear.userCreated.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{schoolyear.userCreated.employees[0].emP_LASTNAME}}
                            {{schoolyear.userCreated.employees[0].emP_FIRSTNAME}}</span> -
                          {{schoolyear.scyE_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                    <ng-container *ngIf="schoolyear.userModified != null">
                      <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
                          <ng-template #usermodified>
                            <div class="row mt-1">
                              <div class="col-6">
                                <img class="img-thumbnail" src="{{schoolyear.userModified.employees[0].fileUrl}}"
                                  alt="{{schoolyear.userModified.usE_USERNAME}}">
                              </div>
                              <div class="col-6 text-left">
                                <p class="mb-0"><span class="font-weight-bold">ID:
                                  </span>{{schoolyear.userModified.employees[0].emP_CODE}}</p>
                                <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userModified.employees.emP_CODE}}</p>
                                                      <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userModified.employees.emP_CODE}}</p> -->
                                <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                                  {{schoolyear.userModified.employees[0].emP_LASTNAME}}
                                  {{schoolyear.userModified.employees[0].emP_FIRSTNAME}}
                                </p>
                              </div>
                              <div class="col-12 text-left mt-2">
                                <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                                  </span>{{schoolyear.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Giới tính:
                                  </span>{{schoolyear.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                                <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                                  </span><a
                                    href="{{'tel:' + schoolyear.userModified.employees.emP_PHONE}}">{{schoolyear.userModified.employees[0].emP_PHONE}}</a>
                                </p>
                                <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                                  </span>{{schoolyear.userModified.employees[0].emP_ADDRESS}}</p>
                                <p class="mb-0"><span class="font-weight-bold">Email:
                                  </span><a
                                    href="{{'mailto:' + schoolyear.userModified.employees.emP_EMAIL}}">{{schoolyear.userModified.employees[0].emP_EMAIL}}</a>
                                </p>
                              </div>
                            </div>
                          </ng-template>
                          <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
                            class="text-primary">{{schoolyear.userModified.employees[0].emP_LASTNAME}}
                            {{schoolyear.userModified.employees[0].emP_FIRSTNAME}} </span> -
                          {{schoolyear.scyE_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
                    </ng-container>
                  </div>
                  <div class="col-6 mt-4 align-self-end text-right">
                    <ng-container *ngIf="scye_upd == true">
                      <button class="btn btn-warning btn-sm" (click)="openModal(schoolyear.id)"><i
                          class="fa fa-pencil-square-o"></i>
                        Cập nhật</button>
                    </ng-container>
                    <ng-container *ngIf="scye_del == true">
                      <button class="btn btn-danger btn-sm" (click)="openModalDelete(schoolyear.id)"><i
                          class="fa fa-trash"></i>
                        Xóa</button>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
            <ng-container *ngIf="scye_ref == true">
              <div class="tab-pane px-0 fade" id="content_scye_2">
                <ng-container *ngIf="tabControl == 2">
                  <div class="col-12">
                    <ng-container *ngIf="schoolyear_Id != null">
                      <app-student schoolyearId="{{schoolyear_Id}}"></app-student>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalDetail.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left"><span id="modal_title_sch"></span></h5>
        <button type="button" class="close pull-right close_modal_sch_addupdate" aria-label="Close"
          (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Mã niên khóa:</label>
              <div class="col-8 my-auto">
                <ng-container *ngIf="autoGenCode.seT_ISACTIVE == false; else auto">
                  <input class="form-control d-inline form-control-sm" id="field_sch_1" (blur)="validate_sch_code()"
                    placeholder="Mã niên khóa..." [(ngModel)]="schoolyear.scyE_CODE">
                  <span id="valid_mes_sch_1" class="invalid-feedback"></span>
                </ng-container>
                <ng-template #auto>
                  <input class="form-control d-inline form-control-sm" id="field_sch_1" (blur)="validate_sch_code()"
                    placeholder="Mã niên khóa..." [(ngModel)]="schoolyear.scyE_CODE" disabled>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <label class="col-4 col-form-label font-weight-bold">Năm bắt đầu:</label>
              <div class="col-8 my-auto">
                <input type="number" class="form-control d-inline form-control-sm" min="{{currentYear}}"
                  max="{{currentYear + 5}}" id="field_sch_2" (blur)="validate_sch_startyear()" placeholder="Năm bắt đầu"
                  [(ngModel)]="schoolyear.scyE_STARTYEAR">
                <span id="valid_mes_sch_2" class="invalid-feedback"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="text-danger position-absolute" style="left: 1rem;display: none;" id="valid_sch_all"><i
            class='fa fa-exclamation-circle'></i> Vui lòng kiểm tra bản mẫu!</span>
        <button type="button" (click)="autoGenData()" class="btn btn-info close_modal_sch_addupdate"><i
            class="fa fa-magic"></i> Tự động tạo dữ liệu</button>
        <button type="button" (click)="save()" class="btn btn-success" id="save_modal_sch_addupdate"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modal.hide()" class="btn btn-danger close_modal_sch_addupdate"><i
            class="fa fa-times"></i> Thoát</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDelete="bs-modal" class="modal fade right" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Xóa niên khóa</h5>
        <button type="button" class="close pull-right close_modal_sch_delete" aria-label="Close"
          (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-12">
          <div class="row">
            <div class="col-5">
              <p class="text-justify">Bạn có chắc chắn muốn xóa niên khóa</p>
              <!-- <p class="text-warning"><i class="fa fa-warning"></i> Xóa đoạn văn sẽ xóa toàn bộ câu hỏi của đoạn văn đó!
              </p> -->
            </div>
            <div class="col-7">
              <div class="row">
                <ng-container *ngIf="schoolyear != null">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 border-bottom mb-2">
                        <div class="row">
                          <div class="col-auto bg-primary py-1 text-left">
                            <span class="text-white text-uppercase align-middle">
                              Niên khóa {{schoolyear.scyE_CODE}}
                            </span>
                          </div>
                          <div class="arrow-half-custom"></div>
                          <button style="right: 0;bottom: -1px;"
                            class="btn btn-outline-secondary btn-sm position-absolute"
                            (click)="ToggleGroup(schoolyear.id)"><i id="{{'buttonicon_sch_' + schoolyear.id}}"
                              class="fa fa-minus"></i></button>
                        </div>
                      </div>
                      <ng-container *ngIf="schoolyear != null">
                        <div class="col-12 border-left mb-2" id="{{'detailToggle_sch_' + schoolyear.id}}">
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Mã niên khóa: </strong>{{schoolyear.scyE_CODE}}</span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span><strong>Năm bắt đầu: </strong>{{schoolyear.scyE_STARTYEAR}}</span>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-success" id="save_modal_sch_delete"><i
            class="fa fa-check"></i> OK</button>
        <button type="button" (click)="modalDelete.hide()" class="btn btn-danger close_modal_sch_delete"><i
            class="fa fa-times"></i>
          Thoát</button>
      </div>
    </div>
  </div>
</div>
