body {
  --ck-z-default: 100;
  --ck-z-modal: calc(var(--ck-z-default) + 999);
}

.ck.ck-button {
  -webkit-appearance: none;
}

.ck-editor__editable_inline {
  min-height: 150px;
}

/* ck font */
.ck-content .text-tiny {
  font-size: 0.7em;
}

.ck-content .text-small {
  font-size: 0.85em;
}

.ck-content .text-big {
  font-size: 1.4em;
}

.ck-content .text-huge {
  font-size: 1.8em;
}

/* toolbar */
.document-editor__toolbar {
  /* Make sure the toolbar container is always above the editable. */
  z-index: 1;

  /* Create the illusion of the toolbar floating over the editable. */
  box-shadow: 0 0 5px hsla(0, 0%, 0%, .2);

  /* Use the CKEditor CSS variables to keep the UI consistent. */
  border-bottom: 1px solid var(--ck-color-toolbar-border);
}

/* Adjust the look of the toolbar inside the container. */
.document-editor__toolbar .ck-toolbar {
  border: 0;
  border-radius: 0;
}

/* popover */
.popover {
  max-width: 600px !important;
}

/* countdown */
.count-down span {
  color: #dc3545;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
}

/* ckeditor {
  -webkit-user-select: text;
  user-select: text
} */

.tooltip-inner {
  max-width: 300px;
  /* min-width: 300px; */
}

.tooltip.in {
  opacity: 1 !important;
}

.image img {
  max-width: 100%;
}

.p-style p {
  margin: 0 !important;
}

.p-inline p:first-of-type {
  display: inline;
}

/* level color */
.very-easy-color {
  color: #21b04b;
}

.easy-color {
  color: #b4e51c;
}

.medium-color {
  color: #FEF100;
}

.hard-color {
  color: #FE7E26;
}

.very-hard-color {
  color: #EC1B23;
}

.todo-list {
  list-style: none;
}

.option .ck-editor__main .ck-editor__editable_inline {
  min-height: 100px;
}

.ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_sw {
  right: -6px !important;
}

.optioncenter .ck-editor__main .ck.ck-toolbar .ck-dropdown__panel.ck-dropdown__panel_sw {
  right: -128px !important;
}

.optionleft .ck-editor__main .ck.ck-toolbar .ck-dropdown__panel.ck-dropdown__panel_sw {
  right: -154px !important;
}

.optionleft3 .ck-editor__main .ck.ck-toolbar .ck-dropdown__panel.ck-dropdown__panel_sw {
  right: -251px !important;
}

.optionleft4 .ck-editor__main .ck.ck-toolbar .ck-dropdown__panel.ck-dropdown__panel_sw {
  right: -486px !important;
}

/* .image img {
  width: 100% !important;
} */

.inner_tooltip {
  padding: 1rem !important;
}

/* ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
} */

.ng-select.ng-select-multiple .ng-select-container {
  height: calc(1.5em + .75rem + 2px);
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  color: #495057;
  font-size: 1rem;
  line-height: 1.5;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  font-size: 1rem;
}

/* custom modal */
.modal.right .modal-xl {
  max-width: 87vw;
  margin: 71px;
  margin-left: auto;
  margin-right: 0px;
  width: 100%;
  position: fixed;
  height: 91vh;
}

.modal-content {
  border-radius: 0px !important;
  height: 100%;
  overflow-y: auto;
}

/* .modal.left .modal-xl,
.modal.right .modal-xl {
  position: fixed;
  margin: auto;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
} */

/* .modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
} */

/* right */
.modal.right.fade .modal-xl {
  right: -1320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-xl {
  right: 0px;
}

/* left */
.modal.left.fade .modal-xl {
  left: -1320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-xl {
  left: 0;
}

/* custom tab */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link-custom.active {
  color: #0a5a99;
  font-weight: bold;
  border-bottom: #0a5a99 solid 2px !important;
  position: relative;
}

.nav-tabs .nav-link-custom {
  border: none;
  text-transform: uppercase;
  color: #444;
  text-align: center;
}

/* arrow */
.arrow-custom {
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;

  border-left: 22px solid #007bff;
}

.arrow-half-custom {
  width: 0;
  height: 0;
  border-right: 25px solid transparent;
  border-bottom: 35px solid #007bff;
}

/* div hover */
.button-choose:hover {
  background: #007bff;
  color: white;
  cursor: pointer;
  opacity: 0.7;
}

.button-choose.active {
  background: #007bff;
  color: white;
  opacity: 0.7;
}

.button-choose.disabled {
  cursor: default;
  background: gray;
  color: white;
  opacity: 0.7;
}

tfoot {
  display: table-row-group;
}

/* .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: crimson;
}

.custom-control-input:focus~.custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px crimson;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px crimson;
} */

/*	Accept Class
---------------------------------------------------------------------- */
.tile {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 3px -1px rgba(151, 171, 187, 0.7);
  float: left;
  transform-style: preserve-3d;
  margin: 10px 5px;

}

.header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 19px 0;
  text-align: center;
  color: #59687f;
  font-size: 600;
  font-size: 19px;
  position: relative;
}

.banner-img {
  padding: 5px 5px 0;
}

.banner-img img {
  width: 100%;
  border-radius: 5px;
}

.dates {
  border: 1px solid #ebeff2;
  border-radius: 5px;
  padding: 20px 0px;
  margin: 10px 20px;
  font-size: 16px;
  color: #5aadef;
  font-weight: 600;
  overflow: auto;
}

.dates div {
  float: left;
  width: 50%;
  text-align: center;
  position: relative;
}

.dates strong,
.stats strong {
  display: block;
  font-size: 11px;
  font-weight: 700;
}

.dates span {
  width: 1px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  background: #ebeff2;
}

.stats {
  border-top: 1px solid #ebeff2;
  background: #f7f8fa;
  overflow: auto;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0 0 5px 5px;
}

.stats div {
  border-right: 1px solid #ebeff2;
  width: 33.33333%;
  float: left;
  text-align: center
}

.stats div:nth-of-type(3) {
  border: none;
}

div.footer {
  text-align: right;
  position: relative;
  margin: 20px 5px;
}

div.footer a.Cbtn {
  padding: 10px 25px;
  background-color: #DADADA;
  color: #666;
  margin: 10px 2px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;
}

div.footer a.Cbtn-primary {
  background-color: #5AADF2;
  color: #FFF;
}

div.footer a.Cbtn-primary:hover {
  background-color: #7dbef5;
}

div.footer a.Cbtn-danger {
  background-color: #fc5a5a;
  color: #FFF;
}

div.footer a.Cbtn-danger:hover {
  background-color: #fd7676;
}

/*	Accept Class
---------------------------------------------------------------------- */

.login {
  background: #faaca8;
  background: -webkit-linear-gradient(top, #eeaeca, #94bbe9);
  background: -o-linear-gradient(top, #eeaeca, #94bbe9);
  background: -moz-linear-gradient(top, #eeaeca, #94bbe9);
  background: linear-gradient(top, #eeaeca, #94bbe9);
  background-image: linear-gradient(#eeaeca, #94bbe9);
}


/* MENU LEFT */

.menu-left {
  background-image: linear-gradient(120deg, #eeaeca 0%, #94bbe9 100%);
  color: black;
  font-weight: 400;
}

.menu-left .nav-link:hover {
  background-color: #79a1d1;
  color: white;
}

.menu-left .nav-link {
  color: black;
}

.menu-left .nav-link.active {
  color: white;
  background-color: #79a1d1;
}

.menu-left .nav-link .nav-dropdown-toggle {
  color: white;
  background-color: #79a1d1;
}

.app-sidebar-nav-link-content {
  color: white;
  background-color: #79a1d1;
}

.sidebar-minimized .sidebar .nav-link:active {
  color: white;
  background-color: #79a1d1;
}

.sidebar-minimized .sidebar .nav-link .nav-dropdown-toggle {
  color: white;
  background-color: #79a1d1;
}

.sidebar .nav-link.active {
  background-color: #79a1d1;
  color: white;
}

.sidebar .nav-link.active .nav-icon {
  color: white;
}

.sidebar-minimized .sidebar {
  background-image: linear-gradient(120deg, #eeaeca 0%, #94bbe9 100%);
  color: black;
  font-weight: 400;
}

.sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link {
  background-image: linear-gradient(120deg, #eeaeca 0%, #94bbe9 100%);
  color: black;
  font-weight: 400;
}

.sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link:hover {
  background: #79a1d1;
  color: white;
}

.sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link.active {
  color: white;
  background: #79a1d1;
  background-color: #79a1d1;
}

.sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link.active .nav-icon {
  color: white;
}

.sidebar-minimized .sidebar .nav-item:hover>.nav-link {
  color: white;
  background: #79a1d1;
  background-color: #79a1d1;
}

.sidebar-minimized .sidebar .nav-item:hover {
  color: white;
  background: #79a1d1;
  background-color: #79a1d1;
}

.table-custom-bg {
  background-color: #79a1d1;
}

.modal-custom-bg {
  background-color: #94bbe9;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.modal-header {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/* .breadcrumb-custom .ol .breadcrumb{
  background-color: lightsalmon;
} */

.button-pill-custom {
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
}

.button-custom {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background: #f72359; */
  padding: 1em 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
}

.button-custom span {
  position: relative;
  pointer-events: none;
}

.button-custom::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}

.button-custom:hover::before {
  --size: 400px;
}

.chart-custom :hover {
  background-color: #f7f8fa;
  cursor: pointer;
}

.myTable tr td:nth-child(2),
.myTable th:nth-child(2) {
  display: none;
}

.nofication-style {
  cursor: pointer;
}

.nofication-style:hover>i {
  color: royalblue;
}

/* tree view */
.tree,
.tree ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.tree ul {
  margin-left: 1em;
  position: relative
}

.tree ul ul {
  margin-left: .5em
}

.tree ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid
}

.tree li {
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  color: #369;
  font-weight: 700;
  position: relative
}

.tree ul li:before {
  content: "";
  display: block;
  width: 10px;
  height: 0;
  border-top: 1px solid;
  margin-top: -1px;
  position: absolute;
  top: 1em;
  left: 0
}

.tree ul li:last-child:before {
  background: #fff;
  height: auto;
  top: 1em;
  bottom: 0
}

.indicator {
  margin-right: 5px;
}

.tree li a {
  text-decoration: none;
  color: #369;
}

.tree li button,
.tree li button:active,
.tree li button:focus {
  text-decoration: none;
  color: #369;
  border: none;
  background: transparent;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  outline: 0;
}

/* button */
.button_update {
  cursor: pointer;
}

.button_update:hover {
  background: #ffc107;
  color: black !important;
}

.button_delete {
  cursor: pointer;
}

.button_delete:hover {
  background: #dc3545;
  color: white !important;
}

.ng-select.ng-select-multiple .ng-select-container {
  height: auto;
}

/* scroll bar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #eeaeca;
  background-image: -webkit-linear-gradient(45deg, #94bbe9, transparent, transparent, #94bbe9, #94bbe9, transparent, transparent);
}

/* mathtype */
@namespace "http://www.w3.org/1998/Math/MathML";

/* math */
math {
  display: inline;
  text-indent: 0;
}

math[display="block"] {
  display: block;
  text-align: center;
}

/* fraction */
mfrac {
  display: inline-table;
  vertical-align: middle;
  border-collapse: collapse;
}

mfrac>* {
  display: table-row;
}

mfrac:not([linethickness="0"])>*:first-child {
  border-bottom: solid thin;
}

/* sub/sup scripts */
msub>*:nth-child(2),
msubsup>*:nth-child(2),
mmultiscripts>*:nth-child(2n+2),
mmultiscripts>mprescripts~*:nth-child(2n+3) {
  font-size: 0.8em;
  vertical-align: sub;
}

msup>*:nth-child(2),
msubsup>*:nth-child(3),
mmultiscripts>*:nth-child(2n+3),
mmultiscripts>mprescripts~*:nth-child(2n+2) {
  font-size: 0.8em;
  vertical-align: super;
}

mprescripts:after {
  content: ";";
}

/* under/over scripts */
munder,
mover,
munderover {
  display: inline-flex;
  flex-direction: column;
}

munder>*:nth-child(2),
munderover>*:nth-child(2) {
  font-size: 0.8em;
  order: +1;
}

mover>*:nth-child(2),
munderover>*:nth-child(3) {
  font-size: 0.8em;
  order: -1;
}

munder {
  vertical-align: text-top;
}

mover {
  vertical-align: text-bottom;
}

munderover {
  vertical-align: middle;
}

/* roots */
msqrt,
mroot {
  display: inline-flex;
  margin-left: .5em;
  vertical-align: middle;
  border-top: solid thin;
}

msqrt:before,
mroot:before {
  margin-left: -.5em;
  content: "\221A";
}

mroot>*:nth-child(2) {
  margin-right: .25em;
  margin-left: -.75em;
  font-size: 0.8em;
  order: -1;
}

/* menclose */
menclose {
  display: inline-table;
  border-collapse: separate;
  border-spacing: 0.4ex 0;
}

menclose[notation*="top"],
menclose[notation*="actuarial"] {
  border-top: solid thin;
}

menclose[notation*="bottom"],
menclose[notation*="madruwb"] {
  border-bottom: solid thin;
}

menclose[notation*="right"],
menclose[notation*="actuarial"],
menclose[notation*="madruwb"] {
  border-right: solid thin;
}

menclose[notation*="left"] {
  border-left: solid thin;
}

menclose[notation*="box"],
menclose[notation*="roundedbox"],
menclose[notation*="circle"] {
  border: solid thin;
}

menclose[notation*="roundedbox"] {
  border-radius: 15%;
}

menclose[notation*="circle"] {
  border-radius: 50%;
}

menclose[notation*="horizontalstrike"] {
  text-decoration: line-through;
}

/* table */
mtable {
  display: inline-table;
  vertical-align: middle;
}

mtr {
  display: table-row;
}

mtd {
  display: table-cell;
  padding: 0 0.5ex;
}

/* token elements */
mspace {
  margin: .2em;
}

mi {
  font-style: italic;
}

mo {
  margin-right: .2em;
  margin-left: .2em;
}

ms:before,
ms:after {
  content: "\0022";
}

ms[lquote]:before {
  content: attr(lquote);
}

ms[rquote]:after {
  content: attr(rquote);
}

/* mathvariants */
[mathvariant="bold"],
[mathvariant="bold-italic"],
[mathvariant="bold-sans-serif"],
[mathvariant="sans-serif-bold-italic"] {
  font-weight: bold;
  font-style: normal;
}

[mathvariant="monospace"] {
  font-family: monospace;
  font-style: normal;
}

[mathvariant="sans-serif"],
[mathvariant="bold-sans-serif"],
[mathvariant="sans-serif-italic"],
[mathvariant="sans-serif-bold-italic"] {
  font-family: sans-serif;
  font-style: normal;
}

[mathvariant="italic"],
[mathvariant="bold-italic"],
[mathvariant="sans-serif-italic"],
[mathvariant="sans-serif-bold-italic"] {
  font-style: italic;
}

[mathvariant="normal"] {
  font-style: normal;
}

/* mphantom */
mphantom {
  visibility: hidden;
}

/* merror */
merror {
  outline: solid thin red;
}

merror:before {
  content: "Error: ";
}

/* annotations */
annotation,
annotation-xml {
  font-family: monospace;
  display: none;
}

math:hover>semantics>*:first-child,
math:hover>semantics>*:first-child {
  display: none;
}

math:hover annotation {
  display: inline;
}

/* ng2-select custom */
.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding-top: 0px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  font-size: 0.85rem;
  color: #495057;
}

.ng-select .ng-select-container {
  min-height: 32px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  margin-bottom: 2px;
  margin-top: 2px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 6px 10px;
}

/* background */
.nav-title{
  background: #626466;
  color: white !important;
  font-size: 85% !important;
  padding: 0.5rem 1rem !important;
}
