<ng-container *ngIf="employee != null">
  <div class="row mb-3">
    <div class="col-12 border-bottom mb-4 px-3">
      <div class="row">
        <div class="col-auto bg-primary py-1 text-left">
          <span class="text-white text-uppercase align-middle h5">Thông tin nhân viên</span>
        </div>
        <div class="arrow-half-custom"></div>
      </div>
    </div>
    <div class="col-6 my-auto">
      <div class="row">
        <div class="col-6 m-auto text-center">
          <img class="img-fluid img-thumbnail" src="{{employee.fileUrl}}"
            alt="{{employee.emP_LASTNAME}} {{employee.emP_FIRSTNAME}}">
        </div>
      </div>
    </div>
    <div class="col-6">
      <p><span class="font-weight-bold">Mã nhân viên: </span>
        {{employee.emP_CODE}}
      </p>
      <p><span class="font-weight-bold">CMND: </span>
        {{employee.emP_IDENTITY}}
      </p>
      <p><span class="font-weight-bold">Họ và tên: </span>
        {{employee.emP_LASTNAME}} {{employee.emP_FIRSTNAME}}
      </p>
      <p><span class="font-weight-bold">Ngày sinh: </span>
        {{employee.emP_DATEOFBIRTH | date: 'dd/MM/yyyy' }}
      </p>
      <p><span class="font-weight-bold">Giới tính: </span>
        <ng-container *ngIf="employee.emP_GENDER == true; else female">
          Nam
        </ng-container>
        <ng-template #female>
          Nữ
        </ng-template>
      </p>
      <p><span class="font-weight-bold">Số điện thoại: </span>
        {{employee.emP_PHONE}}
      </p>
      <p><span class="font-weight-bold">Email: </span>
        <a href="{{'mailto:' + employee.emP_EMAIL}}" class="text-decoration-none">{{employee.emP_EMAIL}}</a>
      </p>
      <p><span class="font-weight-bold">Địa chỉ: </span>
        {{employee.emP_ADDRESS}}
      </p>
      <p><span class="font-weight-bold">Thuộc khoa: </span>
        <ng-container *ngIf="employee.faculties != null">
          <a href="{{'/faculty?facid=' + employee.emP_FACID}}"
            class="text-decoration-none">{{employee.faculties.faC_NAME}}</a>
        </ng-container>
      </p>
      <p><span class="font-weight-bold">Chuyên môn: </span>
        <ng-container *ngIf="employee.employee_Subjects != null">
          <ng-container *ngFor="let item of employee.employee_Subjects; let i = index">
            <ng-container *ngIf="i == 0; else notfirst">
              <a href="{{'/subject?subid=' + item.subjects.id}}"
                class="text-decoration-none">{{item.subjects.suB_NAME}}</a>
            </ng-container>
            <ng-template #notfirst>
              , <a href="{{'/subject?subid=' + item.subjects.id}}"
                class="text-decoration-none">{{item.subjects.suB_NAME}}</a>
            </ng-template>
          </ng-container>
        </ng-container>
      </p>
    </div>
    <div class="col-12 border-bottom mb-4 px-3">
      <div class="row">
        <div class="col-auto bg-primary py-1 text-left">
          <span class="text-white text-uppercase align-middle h5">Thông tin tài khoản</span>
        </div>
        <div class="arrow-half-custom"></div>
      </div>
    </div>
    <div class="col-6">
      <p><span class="font-weight-bold">Tên tài khoản: </span>
        <ng-container *ngIf="employee.users != null">
          {{employee.users.usE_USERNAME}}
        </ng-container>
      </p>
    </div>
    <div class="col-6">
      <p><span class="font-weight-bold">Vai trò: </span>
        <ng-container *ngIf="employee.users != null">
          <ng-container *ngFor="let item of employee.users.user_Permissions; let i = index">
            <ng-container *ngIf="i == 0; else notfirst">
              <a href="{{'/permission?perid=' + item.permissions.id}}"
                class="text-decoration-none">{{item.permissions.peR_NAME}}</a>
            </ng-container>
            <ng-template #notfirst>
              , <a href="{{'/permission?perid=' + item.permissions.id}}"
                class="text-decoration-none">{{item.permissions.peR_NAME}}</a>
            </ng-template>
          </ng-container>
        </ng-container>
      </p>
    </div>
    <div class="col-6">
      <p><span class="font-weight-bold">Trạng thái tài khoản: </span>
        <ng-container *ngIf="employee.users != null">
          <ng-container *ngIf="employee.users.usE_STATUS == 1; else nouse">
            <span class="text-success">Sử dụng</span>
          </ng-container>
          <ng-template #nouse>
            <span class="text-danger">Lược bỏ</span>
          </ng-template>
        </ng-container>
      </p>
    </div>
    <div class="w-100"></div>
    <div class="col-6 mt-3">
      <ng-container *ngIf="employee.userCreated != null">
        <p class="text-secondary mb-0"><em>Tạo bởi
            <ng-template #usercreated>
              <div class="row mt-1">
                <div class="col-6">
                  <img class="img-thumbnail" src="{{employee.userCreated.employees[0].fileUrl}}"
                    alt="{{employee.userCreated.usE_USERNAME}}">
                </div>
                <div class="col-6 text-left">
                  <p class="mb-0"><span class="font-weight-bold">ID:
                    </span>{{employee.userCreated.employees[0].emP_CODE}}</p>
                  <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p>
                                        <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p> -->
                  <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                    {{employee.userCreated.employees[0].emP_LASTNAME}}
                    {{employee.userCreated.employees[0].emP_FIRSTNAME}}
                  </p>
                </div>
                <div class="col-12 text-left mt-2">
                  <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                    </span>{{employee.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                  </p>
                  <p class="mb-0"><span class="font-weight-bold">Giới tính:
                    </span>{{employee.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                  <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                    </span><a
                      href="{{'tel:' + employee.userCreated.employees.emP_PHONE}}">{{employee.userCreated.employees[0].emP_PHONE}}</a>
                  </p>
                  <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                    </span>{{employee.userCreated.employees[0].emP_ADDRESS}}</p>
                  <p class="mb-0"><span class="font-weight-bold">Email:
                    </span><a
                      href="{{'mailto:' + employee.userCreated.employees.emP_EMAIL}}">{{employee.userCreated.employees[0].emP_EMAIL}}</a>
                  </p>
                </div>
              </div>
            </ng-template>
            <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
              class="text-primary">{{employee.userCreated.employees[0].emP_LASTNAME}}
              {{employee.userCreated.employees[0].emP_FIRSTNAME}}</span> -
            {{employee.emP_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
      </ng-container>
      <ng-container *ngIf="employee.userModified != null">
        <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
            <ng-template #usermodified>
              <div class="row mt-1">
                <div class="col-6">
                  <img class="img-thumbnail" src="{{employee.userModified.employees[0].fileUrl}}"
                    alt="{{employee.userModified.usE_USERNAME}}">
                </div>
                <div class="col-6 text-left">
                  <p class="mb-0"><span class="font-weight-bold">ID:
                    </span>{{employee.userModified.employees[0].emP_CODE}}</p>
                  <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userModified.employees.emP_CODE}}</p>
                                        <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userModified.employees.emP_CODE}}</p> -->
                  <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                    {{employee.userModified.employees[0].emP_LASTNAME}}
                    {{employee.userModified.employees[0].emP_FIRSTNAME}}
                  </p>
                </div>
                <div class="col-12 text-left mt-2">
                  <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                    </span>{{employee.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                  </p>
                  <p class="mb-0"><span class="font-weight-bold">Giới tính:
                    </span>{{employee.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                  <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                    </span><a
                      href="{{'tel:' + employee.userModified.employees.emP_PHONE}}">{{employee.userModified.employees[0].emP_PHONE}}</a>
                  </p>
                  <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                    </span>{{employee.userModified.employees[0].emP_ADDRESS}}</p>
                  <p class="mb-0"><span class="font-weight-bold">Email:
                    </span><a
                      href="{{'mailto:' + employee.userModified.employees.emP_EMAIL}}">{{employee.userModified.employees[0].emP_EMAIL}}</a>
                  </p>
                </div>
              </div>
            </ng-template>
            <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
              class="text-primary">{{employee.userModified.employees[0].emP_LASTNAME}}
              {{employee.userModified.employees[0].emP_FIRSTNAME}} </span> -
            {{employee.emP_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
      </ng-container>
    </div>
    <div class="col-6 mt-3 align-self-end text-right">
      <button class="btn btn-warning btn-sm" (click)="OpenModalChangePassword()"><i class="fa fa-key"></i> Đổi mật
        khẩu</button>
      <button class="btn btn-danger btn-sm" (click)="Logout()"><i class="fa fa-sign-out"></i> Đăng
        xuất</button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="student != null">
  <div class="row mb-3">
    <div class="col-12 border-bottom mb-4 px-3">
      <div class="row">
        <div class="col-auto bg-primary py-1 text-left">
          <span class="text-white text-uppercase align-middle h5">Thông tin sinh viên</span>
        </div>
        <div class="arrow-half-custom"></div>
      </div>
    </div>
    <div class="col-6 my-auto">
      <div class="row">
        <div class="col-6 m-auto text-center">
          <img class="img-fluid img-thumbnail" src="{{student.fileUrl}}"
            alt="{{student.stU_LASTNAME}} {{student.stU_FIRSTNAME}}">
        </div>
      </div>
    </div>
    <div class="col-6">
      <p><span class="font-weight-bold">Mã nhân viên: </span>
        {{student.stU_CODE}}
      </p>
      <p><span class="font-weight-bold">CMND: </span>
        {{student.stU_IDENTITY}}
      </p>
      <p><span class="font-weight-bold">Họ và tên: </span>
        {{student.stU_LASTNAME}} {{student.stU_FIRSTNAME}}
      </p>
      <p><span class="font-weight-bold">Ngày sinh: </span>
        {{student.stU_DATEOFBIRTH | date: 'dd/MM/yyyy' }}
      </p>
      <p><span class="font-weight-bold">Giới tính: </span>
        <ng-container *ngIf="student.stU_GENDER == true; else female">
          Nam
        </ng-container>
        <ng-template #female>
          Nữ
        </ng-template>
      </p>
      <p><span class="font-weight-bold">Số điện thoại: </span>
        {{student.stU_PHONE}}
      </p>
      <p><span class="font-weight-bold">Email: </span>
        <a href="{{'mailto:' + student.stU_EMAIL}}" class="text-decoration-none">{{student.stU_EMAIL}}</a>
      </p>
      <p><span class="font-weight-bold">Địa chỉ: </span>
        {{student.stU_ADDRESS}}
      </p>
      <p><span class="font-weight-bold">Thuộc khoa: </span>
        <ng-container *ngIf="student.branches != null">
          <a href="{{'/faculty?facid=' + student.branches.faculties.id}}"
            class="text-decoration-none">{{student.branches.faculties.faC_NAME}}</a>
        </ng-container>
      </p>
      <p><span class="font-weight-bold">Ngành: </span>
        <ng-container *ngIf="student.branches != null">
          {{student.branches.brA_NAME}}
        </ng-container>
      </p>
      <p><span class="font-weight-bold">Niên khóa: </span>
        <ng-container *ngIf="student.schoolYears != null">
          {{student.schoolYears.scyE_CODE}}
        </ng-container>
      </p>
      <p><span class="font-weight-bold">Lớp: </span>
        <ng-container *ngIf="student.classes != null">
          {{student.classes.clA_CODE}}
        </ng-container>
      </p>
    </div>
    <div class="col-12 border-bottom mb-4 px-3">
      <div class="row">
        <div class="col-auto bg-primary py-1 text-left">
          <span class="text-white text-uppercase align-middle h5">Thông tin tài khoản</span>
        </div>
        <div class="arrow-half-custom"></div>
      </div>
    </div>
    <div class="col-6">
      <p><span class="font-weight-bold">Tên tài khoản: </span>
        <ng-container *ngIf="student.users != null">
          {{student.users.usE_USERNAME}}
        </ng-container>
      </p>
    </div>
    <div class="col-6">
      <p><span class="font-weight-bold">Vai trò: </span>
        <ng-container *ngIf="student.users != null">
          <ng-container *ngFor="let item of student.users.user_Permissions; let i = index">
            <ng-container *ngIf="i == 0; else notfirst">
              <a href="{{'/permission?perid=' + item.permissions.id}}"
                class="text-decoration-none">{{item.permissions.peR_NAME}}</a>
            </ng-container>
            <ng-template #notfirst>
              , <a href="{{'/permission?perid=' + item.permissions.id}}"
                class="text-decoration-none">{{item.permissions.peR_NAME}}</a>
            </ng-template>
          </ng-container>
        </ng-container>
      </p>
    </div>
    <div class="col-6">
      <p><span class="font-weight-bold">Trạng thái tài khoản: </span>
        <ng-container *ngIf="student.users != null">
          <ng-container *ngIf="student.users.usE_STATUS == 1; else nouse">
            <span class="text-success">Sử dụng</span>
          </ng-container>
          <ng-template #nouse>
            <span class="text-danger">Lược bỏ</span>
          </ng-template>
        </ng-container>
      </p>
    </div>
    <div class="w-100"></div>
    <div class="col-6 mt-3">
      <ng-container *ngIf="student.userCreated != null">
        <p class="text-secondary mb-0"><em>Tạo bởi
            <ng-template #usercreated>
              <div class="row mt-1">
                <div class="col-6">
                  <img class="img-thumbnail" src="{{student.userCreated.employees[0].fileUrl}}"
                    alt="{{student.userCreated.usE_USERNAME}}">
                </div>
                <div class="col-6 text-left">
                  <p class="mb-0"><span class="font-weight-bold">ID:
                    </span>{{student.userCreated.employees[0].emP_CODE}}</p>
                  <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p>
                                        <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userCreated.employees.emP_CODE}}</p> -->
                  <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                    {{student.userCreated.employees[0].emP_LASTNAME}}
                    {{student.userCreated.employees[0].emP_FIRSTNAME}}
                  </p>
                </div>
                <div class="col-12 text-left mt-2">
                  <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                    </span>{{student.userCreated.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                  </p>
                  <p class="mb-0"><span class="font-weight-bold">Giới tính:
                    </span>{{student.userCreated.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                  <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                    </span><a
                      href="{{'tel:' + student.userCreated.employees.emP_PHONE}}">{{student.userCreated.employees[0].emP_PHONE}}</a>
                  </p>
                  <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                    </span>{{student.userCreated.employees[0].emP_ADDRESS}}</p>
                  <p class="mb-0"><span class="font-weight-bold">Email:
                    </span><a
                      href="{{'mailto:' + student.userCreated.employees.emP_EMAIL}}">{{student.userCreated.employees[0].emP_EMAIL}}</a>
                  </p>
                </div>
              </div>
            </ng-template>
            <span [tooltip]="usercreated" placement="auto" style="cursor: pointer;"
              class="text-primary">{{student.userCreated.employees[0].emP_LASTNAME}}
              {{student.userCreated.employees[0].emP_FIRSTNAME}}</span> -
            {{student.stU_CREATEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
      </ng-container>
      <ng-container *ngIf="student.userModified != null">
        <p class="text-secondary mb-0"><em>Chỉnh sửa lần cuối bởi
            <ng-template #usermodified>
              <div class="row mt-1">
                <div class="col-6">
                  <img class="img-thumbnail" src="{{student.userModified.employees[0].fileUrl}}"
                    alt="{{student.userModified.usE_USERNAME}}">
                </div>
                <div class="col-6 text-left">
                  <p class="mb-0"><span class="font-weight-bold">ID:
                    </span>{{student.userModified.employees[0].emP_CODE}}</p>
                  <!-- <p><span class="font-weight-bold">Ngành: </span>{{branchDetail.userModified.employees.emP_CODE}}</p>
                                        <p><span class="font-weight-bold">Quyền: </span>{{branchDetail.userModified.employees.emP_CODE}}</p> -->
                  <p class="mb-0"><span class="font-weight-bold">Họ và tên: </span>
                    {{student.userModified.employees[0].emP_LASTNAME}}
                    {{student.userModified.employees[0].emP_FIRSTNAME}}
                  </p>
                </div>
                <div class="col-12 text-left mt-2">
                  <p class="mb-0"><span class="font-weight-bold">Ngày sinh:
                    </span>{{student.userModified.employees[0].emP_DATEOFBIRTH | date : 'dd/MM/yyyy'}}
                  </p>
                  <p class="mb-0"><span class="font-weight-bold">Giới tính:
                    </span>{{student.userModified.employees[0].emP_GENDER == true ? 'Nam' : 'Nữ'}} </p>
                  <p class="mb-0"><span class="font-weight-bold">Số điện thoại:
                    </span><a
                      href="{{'tel:' + student.userModified.employees.emP_PHONE}}">{{student.userModified.employees[0].emP_PHONE}}</a>
                  </p>
                  <p class="mb-0"><span class="font-weight-bold">Địa chỉ:
                    </span>{{student.userModified.employees[0].emP_ADDRESS}}</p>
                  <p class="mb-0"><span class="font-weight-bold">Email:
                    </span><a
                      href="{{'mailto:' + student.userModified.employees.emP_EMAIL}}">{{student.userModified.employees[0].emP_EMAIL}}</a>
                  </p>
                </div>
              </div>
            </ng-template>
            <span [tooltip]="usermodified" placement="auto" style="cursor: pointer;"
              class="text-primary">{{student.userModified.employees[0].emP_LASTNAME}}
              {{student.userModified.employees[0].emP_FIRSTNAME}} </span> -
            {{student.stU_MODIFIEDDATE | date:'dd/MM/yyyy HH:ss a'}}</em></p>
      </ng-container>
    </div>
    <div class="col-6 mt-3 align-self-end text-right">
      <button class="btn btn-warning btn-sm" (click)="OpenModalChangePassword()"><i class="fa fa-key"></i> Đổi mật
        khẩu</button>
      <button class="btn btn-danger btn-sm" (click)="Logout()"><i class="fa fa-sign-out"></i> Đăng
        xuất</button>
    </div>
  </div>
</ng-container>

<div bsModal #modalChangePassword="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  [config]="{backdrop: 'static',  keyboard: false}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Đổi mật khẩu</h5>
        <button type="button" class="close pull-right close_modal_CP_info_upd" aria-label="Close"
          (click)="modalChangePassword.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" (keydown.enter)="ChangePassword()">
        <div class="form-group row">
          <label class="col-sm-6 col-form-label font-weight-bold">Mật khẩu cũ:</label>
          <div class="col-sm-6">
            <input [(ngModel)]="changePasswordRequest.oldPassword" id="field_CP_info_1" class="form-control"
              placeholder="Mật khẩu cũ..." (blur)="validate_CP_info_oldpassword()" type="password">
            <span id="valid_mes_CP_info_1" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label font-weight-bold">Mật khẩu mới:</label>
          <div class="col-sm-6">
            <input [(ngModel)]="changePasswordRequest.newPassword" id="field_CP_info_2" class="form-control"
              placeholder="Mật khẩu mới..." (blur)="validate_CP_info_newpassword()" type="password">
            <span id="valid_mes_CP_info_2" class="invalid-feedback"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label font-weight-bold">Xác nhận mật khẩu mới:</label>
          <div class="col-sm-6">
            <input id="field_CP_info_3" class="form-control" placeholder="Xác nhận mật khẩu mới..."
              (blur)="validate_CP_info_confirmnewpassword()" type="password">
            <span id="valid_mes_CP_info_3" class="invalid-feedback"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalChangePassword.hide()" class="btn btn-danger close_modal_CP_info_upd"><i
            class="fa fa-times"></i> Thoát</button>
        <button type="button" (click)="ChangePassword()" id="save_modal_CP_info_upd" class="btn btn-success"><i
            class="fa fa-check"></i> OK</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalConfirmLayout="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-custom-bg">
        <h5 class="modal-title pull-left">Thông báo</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalConfirmLayout.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="message_layout_info"></span>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modalConfirmLayout.hide()" class="btn btn-danger"><i class="fa fa-times"></i>
          Không</button>
        <button type="button" (click)="Logout()" class="btn btn-success"><i class="fa fa-check"></i> Có</button>
      </div>
    </div>
  </div>
</div>
