<div class="row" style="background: #d9d5d5;margin-top: -16px;margin-left: -30px;margin-right: -30px;">
  <div class="col-6 offset-6 my-3">
    <div class="form-group row mb-0">
      <div class="col-6 offset-6 my-auto">
        <div class="input-group input-group-sm" (keydown.enter)="searchResult()">
          <input type="text" class="form-control d-inline form-control-sm" id="field_res_1" [(ngModel)]="studentCode"
            placeholder="Mã sinh viên...">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" title="Tra cứu" (click)="searchResult()"><i
                class="fa fa-search"></i></button>
          </div>
        </div>
        <span id="valid_mes_res_1" style="display: block;" class="invalid-feedback"></span>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="isWrong == true">
  <div class="row">
    <div class="col-12 text-center" style="margin-top: 10rem;">
      <p><i class="fa fa-times-circle fa-5x text-danger"></i></p>
      <p class="text-danger">Không tìm thấy mã sinh viên!</p>
    </div>
  </div>
</ng-container>
<div id="body" [ngClass]="{'d-none': isExist == false || isExist == null, 'd-block': isExist == true}">
  <!-- <div class="container-fluid px-1"> -->
  <div class="row">
    <div class="col-12 mt-3">
      <div class="row justify-content-center">
        <div class="col-12 text-left">
          <h3 class="text-center d-inline mx-auto">DANH SÁCH ĐIỂM</h3>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="table table-bordered table-striped table-hover">
        <tfoot>
          <tr>
            <th><input style="display: none;" type="text" placeholder="Tìm kiếm loại bài thi" name="search-stt" />
            </th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm loại bài thi" name="search-testtype" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm môn học" name="search-first-name" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm ngày thi" name="search-time" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm phòng thi" name="search-lab" /></th>
            <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                placeholder="Tìm kiếm điểm thi hệ 10" name="search-last-name" /></th>
            <ng-container *ngIf="isAllow4 == true">
              <th><input style="width: 100%;" class="form-control form-control-sm" type="text"
                  placeholder="Tìm kiếm điểm thi hệ 4" name="search-last-name" /></th>
            </ng-container>
          </tr>
        </tfoot>
        <thead class="text-white">
          <tr class="text-center table-custom-bg">
            <th>STT</th>
            <th>Loại bài thi</th>
            <th>Môn học</th>
            <th>Ngày thi</th>
            <th>Phòng thi</th>
            <th>Điểm thi hệ 10</th>
            <ng-container *ngIf="isAllow4 == true">
              <th>Điểm thi hệ 4</th>
            </ng-container>
          </tr>
        </thead>
        <tbody class="text-center">
          <ng-container *ngFor="let item of studentTests; let i = index">
            <tr>
              <td class="align-middle">{{i+1}}</td>
              <td class="align-middle">
                <ng-container *ngIf="item.schedule_Tests != null">
                  {{item.schedule_Tests.tests.test_Types.tetY_NAME}}
                </ng-container>
              </td>
              <td class="align-middle">
                <ng-container *ngIf="item.schedule_Tests != null">
                  {{item.schedule_Tests.tests.subjects.suB_NAME}}
                </ng-container>
              </td>
              <td class="align-middle">
                <ng-container *ngIf="item.schedule_Tests != null">
                  {{item.schedule_Tests.sctE_DATE | date: 'dd/MM/yyyy'}}
                </ng-container>
              </td>
              <td class="align-middle">
                <ng-container *ngIf="item.schedule_Tests != null">
                  {{item.schedule_Tests.labs.laB_NAME}}
                </ng-container>
              </td>
              <td>
                {{item.sttE_SCORE}}
              </td>
              <ng-container *ngIf="isAllow4 == true">
                <td class="align-middle">
                  <ng-container *ngIf="item.sttE_SCORE < 4">
                    <span class="text-danger">F</span>
                  </ng-container>
                  <ng-container *ngIf="item.sttE_SCORE >= 4 && item.sttE_SCORE <= 4.9">
                    <span>D</span>
                  </ng-container>
                  <ng-container *ngIf="item.sttE_SCORE >= 5 && item.sttE_SCORE <= 5.4">
                    <span>D+</span>
                  </ng-container>
                  <ng-container *ngIf="item.sttE_SCORE >= 5.5 && item.sttE_SCORE <= 6.4">
                    <span>C</span>
                  </ng-container>
                  <ng-container *ngIf="item.sttE_SCORE >= 6.5 && item.sttE_SCORE <= 6.9">
                    <span>C+</span>
                  </ng-container>
                  <ng-container *ngIf="item.sttE_SCORE >= 7 && item.sttE_SCORE <= 7.9">
                    <span>B</span>
                  </ng-container>
                  <ng-container *ngIf="item.sttE_SCORE >= 8 && item.sttE_SCORE <= 8.4">
                    <span>B+</span>
                  </ng-container>
                  <ng-container *ngIf="item.sttE_SCORE >= 8.5">
                    <span>A</span>
                  </ng-container>
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>
